[2018-03-30 14:32] sigmavirus24 commented on #1352
Without knowing how you're using retries with Requests, it's hard to say what's going wrong. And it doesn't seem you're running into this using urllib3 alone, although Requests does use urllib3 differently than most people use urllib3.

[2018-03-30 14:32] #1352 closed

[2018-03-30 15:02] corehack commented on #1352
Yeah I created an issue there

[2018-03-30 17:14] jonparrott commented on #1347
@shazow post-thursday ping about org stuff.

[2018-03-30 17:46] jonparrott commented on #1323
I've been thinking a lot about this proposal and the overall state of urllib3 over the last week. There's a couple of things we need to keep in mind here:

1. urllib3 has a lot of downstream users (both via Requests and otherwise).
2. urllib3 has a really good track record of stability.

Unfortunately, because we've been stable for so long we've sort of ossified. This project is legitimately not u

[2018-03-30 18:04] shazow commented on #1347
Let's do it. https://github.com/python-urllib3 sound good? Any better suggestions?

[2018-03-30 18:07] SethMichaelLarson commented on #1347
Sounds good to me, the only other alternative IMO is moving under python-hyper?

[2018-03-30 18:07] jonparrott commented on #1347
@shazow SGTM. plain o' `urllib3/urllib3` would've been fine as well.

[2018-03-30 18:08] SethMichaelLarson commented on #1347
If @jonparrott's suggestion is available use urllib3/urllib3

[2018-03-30 18:24] shazow commented on #1347
TIL I already have urllib3/urllib3, off we go.

[2018-03-30 18:35] shazow commented on #1347
It is done. @jonparrott is an owner of the org, so should be able to do all the necessary remaining configuration. Let me know if you need me for anything!

[2018-03-30 19:37] jonparrott commented on #1347
\o/ Thanks, @shazow!

[2018-03-30 19:42] jonparrott commented on #1347
Waiting on Travis and AppVeyor to catch up to github, then I'll enable both services on the new org.

[2018-03-30 19:46] jonparrott commented on #1347
@shazow can you also make me an admin on ReadTheDocs?

[2018-03-30 20:15] jonparrott commented on #1347
FYI I have removed all users except @shazow from having direct access to this project, instead, y'all have been added to teams under the urllib3 organization.

[2018-03-30 20:32] #1344 closed

[2018-03-30 20:34] #1271 closed

[2018-03-31 00:45] shazow commented on #1347
@jonparrott You're already in the maintainers list for ReadTheDocs. I don't see any options for making someone more admin-ier than that. Could you share instructions?

[2018-04-02 08:38] njsmith commented on #1323
Thanks for your thoughtful comments!

Definitely there's a big question about whether urllib3 feature development is possible (or a good idea). But... weirdly, I actually don't think it's the first question. I think we agree that:

1. Python should and will have some kind of next-generation mid-level HTTP client library, that can solve the kinds of problems people expect urllib3 to solve, that isn

[2018-04-02 16:06] jonparrott commented on #1323
Cool. Seems we're mostly in agreement- we gotta figure out how to move forward before we do anything with this code. I call on the wisdom of past maintainers to help with that (@shazow, @haikuginger, @Lukasa).

---

I do want to respond to some specifics things to help make things a little clearer:

I do believe it *is* possible. It's certainly difficult, but I hope that I can convince you that it

[2018-04-02 16:07] jonparrott commented on #1347
Oh no I'm just dumb, I'm sorry. Thanks @shazow!

[2018-04-03 02:28] shazow commented on #1323
Sounds like it would be a good idea to start with migrating urllib3 to pytest, as a separate PR. That should help clear out some breathing room.

Personally, I would lean on the side of simplifying and breaking compatibility in urllib3 v2.0 (super-major version bump and all!). I imagine the biggest effect here would be focusing on just a recent Python 3. _After_ that is done, it might make sense t

[2018-04-03 02:33] shazow commented on #1347
No worries!

[2018-04-03 17:01] #1087 closed

[2018-04-03 18:03] pquentin commented on #1323
So the good news here is that urllib3 [migrated to pytest last year](https://github.com/urllib3/urllib3/pulls?utf8=%E2%9C%93&q=is%3Apr+pytest), and we reused that work in this branch as well!

It allows to skip some tests that timeout and mark others as failing in order to track regressions and keep the continuous integration green.

[2018-04-03 18:07] shazow commented on #1323
Okay, let's replace Step 1 with "Rebase the PR so that it's actually representative of what it's doing compared to where master is currently."

[2018-04-03 21:16] njsmith commented on #1323
The branch is reasonably up to date with master. I think what happened is that we did some of the pytest conversion work in parallel, and our version went further in converting some individual tests from `assertEqual` style to `assert` style. So those parts indeed can be broken off and submitted back to master to reduce the diff.

[2018-04-04 05:04] njsmith commented on #1323
@jonparrott

Oh sure, but I think that's the moral equivalent of my "thematic chunks"? What I mean by a "self-contained" PR is that you can review it and decide it makes sense *without* needing to think about the overall plan or future PRs. A PR that adds h11 as a bunch of unused and untested code is not "self-contained" in that sense, but as long as we can agree on an overall plan then that shoul

[2018-04-04 13:36] shazow commented on #1323
@njsmith

If the API was async-only, then we wouldn't need code gen? I presume we need a sync API to support Python 2 and earlier versions of Python 3?

Historically, we supported whatever we could until there was a reason to drop it (ie. the additional code/bugs/limitations/maintaining effort was exceeding the value it was providing).

My suggestions stem from these priorities:

1. Reduce the bur

[2018-04-05 02:54] njsmith commented on #1341
This was fixed in #1342.

[2018-04-05 02:54] #1341 closed

[2018-04-05 02:57] njsmith commented on #1334
This is actually impossible to fix in any popular OS :-(. The best you can do is to run the `getaddrinfo` in a thread, and then if the timeout occurs, abandon that thread to keep running in the background while your main thread goes back to doing useful work (and hope you don't accumulate too many of these dangling background threads).

[2018-04-05 02:59] cancan101 commented on #1334
Agree that might be best solution. That being said, docs should be updated to reflect this as the current explanation for timeout doesn't capture it.

[2018-04-05 03:17] njsmith commented on #1323
Correct.

And, like.... all your existing users :-). Even if people are using a version of Python that supports async/await, it doesn't mean that they're going to immediately port all their code to using it. My guess is *most* users will continue to use the sync API even on 3.7, 3.8, ...

I had the impression that in this case, the rationale was more specifically that pip needs urllib3, so as long

[2018-04-05 17:02] dstufft commented on #1323
This is quite a thread!

Pip doesn't generally care about when Python EOL's a language (except that we try not to drop support for a language previous to it being end of life'd). Beyond the stipulation that if CPython X.Y is still supported, we support it, we generally choose when to drop a version based mostly on usage, with a side helping of "how painful is it keeping this". Last I looked Python

[2018-04-05 19:57] smurfix commented on #1323
@shazow I know about that entry. However, I do not know that pypi will find the latest (i.e. highest-versioned) version of a library that satisfies this constraint.

Put differently: when I upload mylib 1.2 with a `python_requires='>=2.6'` restriction and mylib 1.3 with `python_requires='>=3.5'`, will somebody who simply requires `mylib` (no version constraint) with Python 2.7 or 3.4 get version 1

[2018-04-05 20:09] dstufft commented on #1323
It's not up to PyPI, PyPI just presents a list of files and related information about them and the installer picks which one it installs. For modern versions of pip, it would get the most recent version whose ``python_requires`` matched.

Although I feel like this is a bit of a digression, because @njsmith has already stated that maintaining Python 2.x support isn't particularly hard *if* you have

[2018-04-06 06:49] njsmith commented on #1323
@dstufft

The way you wrote this makes me uncertain whether you understood the trick that we're using here :-). There are no sync wrappers; instead, we basically treat the *async* code as a DSL for generating the *sync* code. This is really easy, because for everything except the lowest-level I/O functions, the async code is already just the sync code + async/await annotations; stripping out those

[2018-04-06 12:27] dstufft commented on #1323
Nah I grok'd it, I just worded it poorly since I don't have a word to describe what it is.

Possibly!

[2018-04-06 15:26] ncoghlan commented on #1323
While I suspect you're not going to need it (given the way the rest of the discussion is going), I'll note that https://packaging.python.org/guides/dropping-older-python-versions/ exists now to cover the ins-and-outs of using Python-Requires to deliver older maintenance releases to users on older Python versions.

As far as what to call the synthetic synchronous API in Nathaniel's proposal goes, p

[2018-04-06 22:29] crwilcox commented on #1272
I was investigating this and have a possible solution, but it may make more sense to have this as a utility than to put it off of urlopen.  HttpResponse, which is returned by `urllib3.PoolManager().request` and `urllib3.PoolManager().urlopen`, doesn't seem to have the url that the data came from. However, HttpResponse does have retry history which, in the case there was a redirect, the url can be

[2018-04-13 17:17] jonparrott commented on #1347
I would just like to call out that @SethMichaelLarson has been doing a great job. Seth, please let me know if you need my attention on anything or if you need me to cut a release.

I'm going to schedule some time for myself to go through and clean-up some pending pull requests and older issues at some point.

[2018-04-13 17:34] shazow commented on #1347
Indeed, big thank you to @SethMichaelLarson!

[2018-04-13 18:12] SethMichaelLarson commented on #1347
The one thing I really want in the next release is #1359 so that Pip 9 can package urllib3 and be on it's merry way with stopping TLS1.0/1.1 on PyPI and still supporting Python 2.9 on macOS. :)

[2018-04-13 18:25] jonparrott commented on #1347
Cool, I can struggle through the release process when that's merged.

[2018-04-13 18:32] SethMichaelLarson commented on #1347
Good luck! :) The PR should be in a semi-ready state but it seems @wbond is doing some debugging?

[2018-04-17 22:31] paultiplady opened #1362 "Malformed `Set-Cookie` header containing CRLF is ignored"
Raising here after reporting in `requests`: https://github.com/requests/requests/issues/4592#issuecomment-382004884

When receiving a malformed Set-Cookie header containing a CRLF, the `\r\n` character is incorrectly included in the header value, causing `requests` to include it in the generated `Cookie` header.

# Expected Result

Per RFC https://tools.ietf.org/html/rfc7230#section-3.2.4, "A user

[2018-04-18 05:12] njsmith commented on #1362
I'm surprised this wasn't fixed by https://github.com/urllib3/urllib3/pull/1318. Or was it, but requests is using an older version?

[2018-04-18 05:59] nateprewitt commented on #1362
That's a good callout @njsmith, it looks like this may be fixed, but urllib3 hasn't cut a release in almost a year. I don't have time to move the original repro to urllib3 tonight but can take a look tomorrow.

[2018-04-18 09:39] JoveYu commented on #1306
i get the problem, i test many request to this server, and find it's keep-alive timeout is too short

for example:
it's keep-alive timeout is 10s
i send first request, and sleep 15s, then send another request, the socket read empty string, so raise this exception

but it is strange, because the server received the second request.
i can not resolve this problem, so i use urllib2 without connection

[2018-04-18 13:35] SethMichaelLarson commented on #1362
Thanks all for the investigation! Can someone confirm whether this still occurs on master? If it's already fixed I'll close this issue as duplicate. :tada:

[2018-04-18 14:20] SethMichaelLarson opened #1364 "Fix AppVeyor CI builds for Organization repository"
As can be seen in this [AppVeyor build](https://ci.appveyor.com/project/urllib3/urllib3/build/1.0.57/job/j9ja509fylh2c7cy#L29) the latest major release of pip breaks in AppVeyor. This should be fixed along with getting AppVeyor reporting working.

[2018-04-18 15:11] nateprewitt commented on #1362
Went ahead and tested. I can't get this to work in Requests with the current urllib3 master, but that wasn't making sense. I made a [urllib3-only repro](https://gist.github.com/nateprewitt/d4df91be2f24cec7d7d531a82f7aa019) and it appears to be fixed for the newline case. I'll dig into it on the Requests end and see if we're botching something.

urllib3 doesn't however handle the other case I posed

[2018-04-18 15:28] SethMichaelLarson commented on #1362
We can track that here, thanks for the repro!

[2018-04-18 15:59] SethMichaelLarson opened #1365 "Fix CI failures for macOS and Python 3.7"
Before we know it Python 3.7 will be upon us so we should work towards fixing some of these failures and moving `py37` out of the `allow_failures` list within Travis.

[2018-04-18 16:10] jonparrott commented on #1364
I'll be investigating this on Friday. It's likely I did something dumb when setting up appveyor for the urllib3 org.

[2018-04-18 20:27] njsmith commented on #1362
For the record since it came up in gitter: h11 does remove the `\r\n` when folding the lines in the original case, and does reject headers with stray whitespace before the colon. (It also refuses to send outgoing headers with `\r` or `\n` in them, but unfortunately does not currently validate the location field to prevent sending paths containing `\r` or `\n`. That has a bug here: https://github.c

[2018-04-18 20:46] nateprewitt commented on #1362
@njsmith, just to clarify, does h11 only reject sending headers with white space between the name and colon or receiving as well? I’m not sure if we want to hard-fail on receipt but rather handle it by stripping it as per the proxy specification.

Making content unreachable from the library is likely going to create a negative user experience given how many bad servers are out there.

[2018-04-18 21:50] njsmith commented on #1362
h11 errors out if it gets whitespace before the colon. If this ends up causing interop problems we can revisit it (and we should expect that we will have to handle some interop problems during the h11 rollout and budget for it, because no one actually knows how http works). But I would strongly prefer to wait until we see this in the wild, because as the spec notes, being too accepting here has le

[2018-04-19 02:53] JoveYu commented on #1306
@sigmavirus24

[2018-04-19 09:35] metheoryt opened #1366 "Low-level ssl handshake timeout exception treats as ReadTimeoutError"
First I've post the issue in the requests requests/requests#4590 project, but then found out that this is only urllib3's feature.
In short, urllib3 treats ssl handshake timeout as ReadTimeoutError, what can be little unexpected.
System information and stack trace you can find in requests/requests#4590

[2018-04-19 10:40] sigmavirus24 commented on #1366
See the discussion on Requests. I'm not convinced that urllib3 can distinguish these cases or that it should.

[2018-04-19 16:24] jonparrott commented on #1366
I'm also not convinced. I'll let some other chime in before closing or moving forward with this.

[2018-04-19 19:19] wbond opened #1368 "Missing License text on securetransport.py"
One thing that should happen is adding the license text from https://github.com/urllib3/urllib3/blob/master/urllib3/contrib/_securetransport/bindings.py#L12-L30 to https://github.com/urllib3/urllib3/blob/master/urllib3/contrib/securetransport.py. `securetransport.py` seems to have chunks taken verbatim from https://github.com/wbond/oscrypto/blob/master/oscrypto/_osx/tls.py, along with sections ins

[2018-04-19 20:12] jonparrott commented on #1368
HI @wbond, feel free to send a PR to include the exact text you want to be displayed. Thankfully, both projects are MIT-licensed.

[2018-04-19 20:16] nateprewitt commented on #1368
It looks like Lukasa put the licensing info in urllib3/contrib/_securetransport/bindings.py in #1122.

[2018-04-19 20:18] wbond commented on #1368
Well, my point is that not just bindings.py is derived, securetransport.py appears to be derived too, so either a `LICENSE` file listing which files are derived should be present, or both individual files should include the copyright notice.

[2018-04-20 13:50] SethMichaelLarson commented on #1368
Putting licensing information into `urllib3/contrib/securetransport.py` sounds reasonable to me. cc: @Lukasa

[2018-04-20 13:55] SethMichaelLarson commented on #1364
@pquentin fixed the Pip 10 issue but the reporting issue still is a thing. We can track that whole activity here. :)

[2018-04-20 16:26] jonparrott opened #1370 "PR bankruptcy"
@urllib3/maintainers this project has 46 open pull requests, some of which are several years old.

I am planning on "PR bankruptcy" to bring us back to a reasonable state. I am going to close old/stale PRs and leave a nice message indicating that we are happy to reconsider if the authors still consider them important.

My tentative cutoff is for all PRs older than 6 months.

Does anyone have any c

[2018-04-20 16:28] SethMichaelLarson commented on #1370
No problems here. :)

[2018-04-20 16:42] jonparrott commented on #1364
AppVeyor reporting is back up and running. Also, Python 3.4 build are failing/flaky.

![screen shot 2018-04-20 at 9 41 06 am](https://user-images.githubusercontent.com/250995/39063202-05eb20dc-447f-11e8-98c9-02652e79d8bc.png)

[2018-04-20 16:42] #1364 closed

[2018-04-20 18:03] theacodes opened #1372 "Address flaky macOS tests"
From @wbond at https://github.com/urllib3/urllib3/pull/1358#issuecomment-383175550

This seems reasonable for now until we can figure out a proper fix

[2018-04-20 18:07] wbond opened #1373 "securetransport.py Memory Corruption?"
From #1359:

Periodically the contents of data_buffer param to _write_callback has junk in the TLS record payload for a handshake message. The TLS record type is correct, the TLS version field and the length field is correct, but the first byte of the payload is not a valid Handshake record type. See https://tools.ietf.org/html/rfc5246#section-7.4. It should be 0, 1, 2, 11, 12, 13, 14, 15, 16, or

[2018-04-20 22:04] crwilcox commented on #1372
I am submitting a PR that will patch the tests to not fail for now. The underlying issue is still there. These two tests fail because mac reports 'Import/Export format unsupported' under the `test_client_intermediate` and `test_client_no_intermediate` tests.

[2018-04-20 22:54] crwilcox commented on #1365
There was a single test failing on macOS. We were doing hard equal and failing because of `('value',) != 'value'`.

I can't identify where tests are being skipped for failure. I presume that `test_securetransport` is skipping because Secure Transport could not be imported and `test_https` was showing skipped when run with tox, but I ran though pytest directly and they all pass.

[2018-04-20 22:57] SethMichaelLarson commented on #1365
Oh okay! Would you be up to submitting a PR to take 3.7 out of the allow_failures list and fixing that test?

[2018-04-20 23:00] crwilcox commented on #1365
Sure. test fix is in PR. I just found the allow_failures setting (apparently my editor doesn't search dot-files :)). Will add a commit to the PR for that.

[2018-04-23 17:38] #1365 closed

[2018-04-23 20:14] SethMichaelLarson commented on #1272
Hey @crwilcox could you turn that into a PR with some tests? I'd gladly accept that change. :)

[2018-04-23 21:41] crwilcox commented on #1272
@SethMichaelLarson sure. feel free to assign this to me and I can probably do it Friday :)

[2018-04-24 17:30] SethMichaelLarson commented on #1373
Pardon me if I'm understanding this incorrectly but isn't [this section](https://github.com/urllib3/urllib3/blob/master/urllib3/contrib/_securetransport/low_level.py#L344) releasing the objects we just returned before they're used? The finally block runs before the value is returned.

[2018-04-24 19:57] SethMichaelLarson commented on #1272
If you've got time I'd still like to see a PR for this functionality even if it adds a field to response objects. It's genuinely useful functionality we're missing compared to httplib.

[2018-04-25 11:28] wbond commented on #1373
Since #1379 has landed, let's see how the tests go. Perhaps that issue was the root cause? It may have been that null pointers were being passed around and random junk was being loaded.

[2018-04-26 10:29] IcyNoctiluca commented on #810
I've had the same problem. Although it appears this only happens very rarely and not during every web request.

Here is the full output:

`Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/response.py", line 226, in _error_catcher
    yield
  File "/usr/lib/python3/dist-packages/urllib3/response.py", line 297, in read
    data = self._fp.read()
  File "/usr/lib/pyth

[2018-04-26 21:06] SethMichaelLarson commented on #810
Hey @IcyNoctiluca, can you open a new issue as this one is closed. Please provide urllib3 version, Python version, platform, and what code you're running to be able to reproduce this issue.

[2018-04-27 11:28] IcyNoctiluca opened #1381 "AttributeError: 'bool' object has no attribute 'close'"
I get the following error very infrequently when sending network requests:

[code]

Where the underlying code involving the library simply is:

[code]

In a while loop (paused by a second each iteration), this executed perfectly 15128 times and then threw the above error.

Using Python 3.5.2 and Urllib3 version 1.13.1 on Ubuntu 1604.

Any idea?

Thanks

[2018-04-27 17:05] jonparrott commented on #1370
This is done. Sorry for the email spam, but we now only have 2 (!) open PRs. Next, issue bankruptcy.

@njsmith this also makes it much easier to do the v1/v2 split. :)

[2018-04-27 17:05] #1370 closed

[2018-04-27 17:07] jonparrott commented on #1370
For my own reference in the future, this is the script I used to do this: https://gist.github.com/jonparrott/59445db2c1ad3a5e0cd47bfef9138120

[2018-04-30 17:08] SethMichaelLarson commented on #1272
Closed by #1382

[2018-04-30 17:08] #1272 closed

[2018-05-04 11:48] micafer opened #1384 "Error reading Proxy certificates. (tlsv1 alert unknown ca)"
I create an issue on the requests library:
https://github.com/requests/requests/issues/4630
They think that the problem is related with urllib3.

[2018-05-04 13:44] SethMichaelLarson commented on #1384
Thanks for opening this! I'm going to port some information over from the Requests issue to our issue tracker.

[2018-05-04 15:51] sigmavirus24 commented on #1384
@SethMichaelLarson it's the same code-path even in master, FYI

[2018-05-07 06:17] micafer commented on #1384
FYI: In Requests version 2.11.1 (where the code works as expected) the urllib3 version is 1.16. Then in the version 2.12.0 (where error is raised) version is 1.19 as @SethMichaelLarson commented.

[2018-05-11 16:35] theacodes commented on #1347
Nope, I need to do that. @SethMichaelLarson would you have some time next friday to walk through a release together?

[2018-05-11 17:09] SethMichaelLarson commented on #1347
Definitely! Whatever time works for you I should be able to muscle some timein if it's during the day otherwise any time after work is good for me too.

Do we want to release on a Friday and set off everyone's pagers? ;) Maybe a Monday/Tuesday is better for such a large release.

[2018-05-11 18:11] theacodes commented on #1347
Maybe - let's see then.

[2018-05-13 18:52] crwilcox commented on #1372
@SethMichaelLarson , did your fix take hold for this? I think this can be closed now.

[2018-05-13 19:11] SethMichaelLarson commented on #1372
I think so! There's still one flaky macOS socket level test but it's unrelated to my issue. I'll close for now!

[2018-05-13 19:11] #1372 closed

[2018-05-14 13:06] SethMichaelLarson commented on #1381
I'm going to close this as resolved. :) If this problem arises again in the latest version of urllib3 feel free to reopen.

[2018-05-14 13:06] #1381 closed

[2018-05-14 13:09] #1262 closed

[2018-05-14 15:19] SteveMcGrath commented on #1172
I'd also like to see something here.  As the API that I'm interfacing to has a specification that an extra header be added to Retries for the purposes of tracking those retries.

[2018-05-14 17:04] #1267 closed

[2018-05-17 21:38] wenbochang opened #1385 "Retry method usage is different from definition"
Is there any reason `HTTPConnectionPool.urlopen`'s recursive calls don't use the initially defined interface?

For example in retry, urlopen is called with positional args:

[code]

Instead of key word args:

[code]

This makes patching a bit trickier, instead of this:

[code]

I think the more verbose way is required:
[code]

[2018-05-17 22:56] sigmavirus24 commented on #1385
Can you share what you mean by "initially defined interface"?

[2018-05-17 23:12] wenbochang commented on #1385
The method definition is 2 positional args (excluding self) and rest key word args, but the retry usage is setting the key ward args as 7 positional args.

[2018-05-18 10:43] sigmavirus24 commented on #1385
Ah, so I think the confusion here stems from conventions that you may be familiar with @wenbochang versus what urllib3 does. When we wrote that method definition, we weren't thinking of positional versus keyword. We wrote that before keyword-only parameters were a thing. As far as urllib3 is concerned they're defaulted parameters that do not need to always be passed. That is, more literally speaki

[2018-05-18 12:26] tiran opened #1386 "Remove TLS13-* suites from DEFAULT_CIPHERS"
OpenSSL 1.1.1 changed the name of the TLS 1.3 cipher suites and added a new API to configure them. ``SSL_CTX_set_cipher_list()`` no longer affects TLS 1.3 suites. Therefore the ``TLS13`` suites can be removed from ``DEFAULT_CIPHERS``. The suites are now configured with ``SSL_CTX_set_ciphersuites()``. Neither CPython nor PyOpenSSL expose the feature yet.

https://github.com/openssl/openssl/pull/539

[2018-05-19 01:01] wenbochang commented on #1385
Ah okay, thanks for taking the time to explain!

[2018-05-19 01:01] #1385 closed

[2018-05-21 15:43] SethMichaelLarson commented on #1386
Should we defer removing the TLS 1.3 cipher suites until the `SSL_CTX_set_ciphersuites()` feature is exposed in PyOpenSSL or CPython? Would love your recommendation on how to proceed here. :)

[2018-05-21 16:40] theacodes commented on #1347
I apologize for not getting to this on Friday. @SethMichaelLarson what does your week look like?

[2018-05-21 16:43] SethMichaelLarson commented on #1347
Don't worry about it! I'm every night at 4PM Central this week. Might be able to put in a an hour or so this week during the workday.

[2018-05-21 17:28] nateprewitt commented on #1347
Hey @theacodes, @SethMichaelLarson!

I’m looking at cutting a new release of Requests in the near future and was going to start testing against the current urllib3 master branch. Do you foresee any other features being merged before the release or is master about ready?

[2018-05-21 17:32] theacodes commented on #1347
Should be ready as far as I know.

On Mon, May 21, 2018, 10:28 AM Nate Prewitt <notifications@github.com>
wrote:

[2018-05-21 17:34] SethMichaelLarson commented on #1347
I've stopped adding new features until the new release. There are enough changes already! :)
Speaking of testing Requests, I've been thinking about adding integration tests against pip and requests within our own CI as an `allow_failure` option and then setting `fast_fail: true` too. Would make me feel better for these types of releases. :)

[2018-05-21 17:50] theacodes commented on #1347
That's a great idea.

On Mon, May 21, 2018, 10:34 AM Seth M. Larson <notifications@github.com>
wrote:

[2018-05-21 17:50] nateprewitt commented on #1347
@SethMichaelLarson I actually started putting something similar together for Requests to automatically test against urllib3 over the weekend. I’m all for more testing, so let me know if I can help at all! I think fortunately pip vendors urllib3 still, so you can rest a bit easier about that.

[2018-05-22 07:54] danieldaeschle opened #1387 "SSL Error - certificate verify failed (Proxy)"
Ref: https://github.com/pypa/pipenv/issues/2216

Please help!

[2018-05-22 12:56] SethMichaelLarson commented on #1387
You're going to need to provide more information for us to help you. Python version, Operating System and version, and what is installed in your current environment (`python -m pip freeze`).

[2018-05-22 13:19] danieldaeschle commented on #1387
Pip freeze:
[code]

OS: Windows 10 1703
Python: 3.6.5

[2018-05-22 13:30] danieldaeschle commented on #1387
Now it works....O.o nvm

[2018-05-22 13:30] #1387 closed

[2018-05-26 22:59] GHXST01 commented on #1321
Hey, wondering if anyone has made progress on this. I've been using PycURL for now but would obviously like this implemented into urllib3.

What dependency does urllib3 use that implements the default header values? I'll be up to take a look this coming week.

[2018-05-26 23:04] SethMichaelLarson commented on #1321
Default headers values are decided in part by urllib unfortunately (Including the `Accept` header). It'd be a lot of piping work to get this feature working in v1. See my above comment for a place to start!

[2018-05-30 11:22] hugovk commented on #883
By the way, here's the pip installs for urllib3 from PyPI for April 2018:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7            |  56.40% |      3,326,214 |
| 3.6            |  27.50% |      1,621,613 |
| 3.5            |   9.88% |        582,880 |
| 3.4            |   5.33% |        314,044 |
| 2.6            |   0.55% |         32,311 |
| 3

[2018-06-05 03:26] theacodes commented on #1347
Okay, I just made my first release and all seems well in the world (fingers crossed). I'm closing this as there's no need to keep this open as I've now *completely taken over the project* (muhahaha).

[2018-06-05 03:26] #1347 closed

[2018-06-05 03:33] theacodes opened #1392 "New release process?"
Having just gone through the release process the first time myself I found that I wasn't a huge fan of it.

I propose we do the following for releases, but I can be convinced otherwise:

1. Create a new branch, `release-MAJOR.MINOR.PATCH`.
1. Add a single commit to that branch that updates the version in `urllib3/__init__.py` and `CHANGES.rst`.
1. Send a PR to merge that branch into `master`. Some

[2018-06-05 03:36] theacodes commented on #1392
Oh I forgot to justify this, here's some benefits:

1. Requires a set of eyeballs *and* CI to pass before a release is cut.
2. Allows non-maintainers to initiate a release. Maintainers can approve the release.

[2018-06-05 03:45] SethMichaelLarson commented on #1392
What if we did away with release branches entirely and just stuck with master? Like you said, any branch can be a release branch as long as on of us reviews it and it passes CI. Is tagging not sufficient?

[2018-06-05 03:57] theacodes commented on #1392
That's exactly what I'm proposing. I updated my comment to be a little more explicit on that. The `release-MAJOR.MINOR.PATCH` branch is just short-lived branch to initiate the Pull Request.

[2018-06-05 04:00] SethMichaelLarson commented on #1392
Sorry I misunderstood from the formatting of the release branches! I'm 100% on board having our release process be automated with this model. Eager to hear from others.

[2018-06-05 14:41] shazow commented on #1347
@theacodes Grats! In the past, I kept these announcement threads open for as long as the fact remained, but closing is fine too. :) Probably less confusion now that the library is not under my personal namespace.

[2018-06-05 14:51] shazow commented on #1392
The thought behind the master/release dichotomy was for people who wanted to pull the library straight from git (as opposed to pypi), "master" would always point to the latest cutting edge work (which might be broken sometimes as things happen, but that's what you'd base your new patches onto) and "release" would always point to the last release (considered to be more "stable", safe to use in prod

[2018-06-05 19:11] theacodes commented on #1392
I think so. At least, no one has complained in the other libraries I maintain.

Nope but avoids confusion and silly errors like #1393.

We can still make this manual, and should probably at least start with it being manual.

Since the release commit would be the product of merging a PR, GitHub would make it a verified commit.

[2018-06-05 19:32] shazow commented on #1392
Hmmm not sure how that would be different, we're still relying on reviewing a diff to catch it either way?

On the other hand, adding a check to the release script would definitely help. :)

Is a verified commit different from a signed commit? Or do you mean we'd expect the PR to include a signed commit?

Honestly I'm not sure how important this is in practice. I know of at least one person who ca

[2018-06-05 19:34] theacodes commented on #1392
We absolutely can and should continue to script as much as we can, I just am not currently seeing the benefit of the underlying git manipulations of the present model, and I think this model would make it a bit more transparent and clear.

[2018-06-05 19:41] shazow commented on #1392
By git manipulation, you mean re-using the release branch instead of making a fresh one every time?

[2018-06-05 19:42] shazow commented on #1392
One other fun side effect of re-using the release branch (aside from always having a stable branch for consumers to pull from): If you render the git graph for the `release` branch, you get to see all the releases getting merged into it. :)

[2018-06-05 19:57] sigmavirus24 commented on #1392
So it seems like the problem is that git doesn't list tags in chronological order by default. There is a way to do that:`git tag --sort "-*authordate"` will list the most recent tag first, so someone could do `git checkout -b stable $(git tag --sort '-*authordate' | head -1)`. It's also not been entirely clear to me who the target audience is for the `release` branch. I think I must be missing som

[2018-06-05 21:06] shazow commented on #1392
We have all kinds of tags, and backported fix tags are a thing too--sorting by authordate does not solve the problem unfortunately. (For more fun about extracting semantic versions from tags, tune in to the vgo debates in the Go community.)

Maintainers should definitely not use something that feels onerous.

**To me,** it was more of a matter of reusing a branch (and getting the side effect benef

[2018-06-06 14:37] sigmavirus24 commented on #1392
That makes sense. I can't remember, personally, the last time we backported a fix from one release to another older release version and released the backported version after the newer version. (I'm not doubting this has happened before, I just don't remember the project doing it.) That's why I suggested authordate.

[2018-06-08 08:01] micafer commented on #1384
Are there any news on this issue?

[2018-06-08 11:43] SethMichaelLarson commented on #1384
Doesn't appear so. If you'd like to take this issue it'd be a great help. Historically none of the maintainers use proxies and therefore your experience would prove invaluable for this issue.

[2018-06-10 15:15] ivknv opened #1394 "Slow upload on Windows when setting connect timeout"
Normally, when I upload files using the `PUT` request I get upload speed of about `100 Mb/s`.
But as soon as I set the connect timeout (read timeout appears to have no effect on the speed), the speed drops to about `4 Mb/s` (can vary depending on the server):

[code]

The problem disappears if I send the request again using the same pool manager, even with the same timeout:

[code]

I tried using

[2018-06-11 06:21] micafer commented on #1384
OK, I will try to take a look on it.

[2018-06-11 06:50] micafer commented on #1384
I have made some tests and in last version 1.23 the issue disappears.
It also seems that last requests version will enable urllib 1.23 so it problem should disappear.

[2018-06-11 06:50] #1384 closed

[2018-06-11 16:28] theacodes commented on #1394
That is pretty weird! I'm not sure how to debug this. I wonder if the lower-level urllib objects exhibit the same behavior.

[2018-06-11 17:12] ivknv commented on #1394
I did some more testing. This time I tried to do the same thing with `http.client`, got the same behavior.

[code]

So I guess it's something in `http.client`, not `urllib3` specifically.

But using the same pool manager twice removes the problem, maybe there's something relevant in the pool manager class? Perhaps there's a workaround.

[2018-06-11 17:17] theacodes commented on #1394
Beats me, it seems worthwhile to check bugs.python.org to see if there's an existing one, and if there isn't, file one.

[2018-06-11 17:46] ivknv commented on #1394
Guess I'll do that.

[2018-06-11 19:59] jmehnle commented on #1323
Given how hard it is to make substantial changes to `urllib3` and given that (a) the current `urllib3` and (b) an async-enabled version of it would be targeting two almost completely disjoint audiences, I'd consider any solution that involves DSLs or automatic code generation solely to support old Python versions a path into a decade of pain and suffering. As a complete outsider to `urllib3` devel

[2018-06-11 20:05] jvanasco commented on #1071
Given:

1. People are generally supportive of a debug object with the remote IP Address and Certificate
2. The issue moving forward is the future library changes

Perhaps it would make sense to simply define and scope a "DebugObject" API now.

That would allow some of us to generate PR's that implement the API requirements now, and then worry about the future versions of the library later (as ther

[2018-06-11 20:18] pquentin commented on #1323
@jmehnle The trivial event loop would look like [run_secretly_sync_async_fn](https://github.com/python-trio/urllib3/issues/1#issuecomment-322028457), right? As discussed a few comments later in that link, doing this for the whole urllib3 API is quite a lot of work, and we already get this for free if we want Python 2 support. But if you drop Python 2 support, then it's certainly an option. As note

[2018-06-14 13:31] bmerry opened #1396 "Interrupted system call while profiling with plop"
Using Python 2.7.12, requests 2.19.0, urllib3 1.23 and using [plop](https://github.com/bdarnell/plop) for profiling, I'm intermittently hitting this stack trace in long-running code:
[code]

Looking at the implementation of `_retry_on_intr` for older Pythons, it has this special case:
[code]
which in turn seems to apply to the call stack above (see is_connection_dropped, which passes a timeout of

[2018-06-15 12:01] nebul4ck commented on #1319
Hi, in my case it seems is not resolved:

**Code**:
send_post = requests.post(runner_command, verify=buanaCA, headers=headers, data=data, auth=basic_auth)

**Ouput**:
/usr/lib/python2.7/dist-packages/requests/packages/urllib3/connection.py:340: SubjectAltNameWarning: Certificate for buanarepo-lab.wtelecom.es has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is

[2018-06-15 14:19] AlKult opened #1398 "Version registers as 'dev' in install from source"
Hi,

I have no root, no internet and no proxy. Therefore, trying to install urllib3 in venv from source (downloaded as urllib3-master.zip from GitHub).
When I do that, urllib3's version registers to be 'dev', which makes it impossible to intall some packages, plus ones that install complain that urllib3's version is not valid (but work anyway).

Could you please help me make it register with its a

[2018-06-15 14:32] nateprewitt commented on #1398
Hi @AlKult, if your zip file contains urllib3 as a git repository, you should be able to navigate to any tag via `git checkout <tag>` (e.g. `git checkout 1.23`). This will have a `__version__` assigned in `__init__.py`.

If you do not have a copy of the git repository, you'll want to download a copy of a released version. You can do this similarly by navigating to "tags" tab under the "branch" dro

[2018-06-15 14:49] AlKult commented on #1398
Hi @nateprewitt! Thanks for the prompt response!
I don't have git on this machine either. I'm on a server wherein almost nothing is installed, therefore I have to operate in this unusual circumstances.
I downloaded the master zip just this morning, therefore I'd think it's 1.23 that I have here.
I've just manually modified urllib3/__init__.py and re-installed the package. It seems to have register

[2018-06-15 16:14] theacodes commented on #1398
It's a pretty niche issue, in my opinion. There are *several* ways to get what you want here:

1. Use git and checkout a specific tag.
2. Use github and download a specific release that corresponds to a tag.
3. Use PyPI and download a `tar.gz` or `whl` that corresponds to a release.

`HEAD` on `master` will always be `dev` and that's intentional. It prevents users actually installing urllib3 from

[2018-06-15 16:14] #1398 closed

[2018-06-18 03:51] SethMichaelLarson commented on #1319
@nebul4ck Have you read #1351? If the certificate doesn't provide the field then we're unable to verify against it. Otherwise issue #497 has a lot of discussion about potential issues that may trigger this warning. If neither of those resolve the issue you can open up a new issue.

[2018-06-18 03:53] SethMichaelLarson commented on #1396
I thought our select code handled `EINTR`, I know there's been changes to that code recently.

[2018-06-18 05:51] bmerry commented on #1396
It does... except in the case of a zero timeout, where the code I quoted above bypasses the EINTR handling. Here's the [context](https://github.com/urllib3/urllib3/blob/6be637268931e100b0d2d15cecd5524323fd4f36/urllib3/util/wait.py#L46-L47) of that code. I presume it's special-cased to avoid the cost of calling `monotonic()`, but the same effect could probably be achieved by setting `deadline` to 0

[2018-06-18 06:11] nebul4ck commented on #1319
Hi, in my case it seems is not resolved:

**Code**:
send_post = requests.post(runner_command, verify=buanaCA, headers=headers, data=data, auth=basic_auth)

**Ouput**:
/usr/lib/python2.7/dist-packages/requests/packages/urllib3/connection.py:340: SubjectAltNameWarning: Certificate for buanarepo-lab.wtelecom.es has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is

[2018-06-18 07:07] bmerry commented on #1396
Ok, I've managed to reproduce the problem. My first attempt was run against a Python SimpleHTTPServer, which only implements HTTP 1.0 and hence there is no keep-alive and no connection reuse. When run against an HTTP 1.1 server (I used the local CUPS server on my machine just because that's what was running) this crashes within seconds using urllib3 1.23:

[code]

If I get time I'll write a PR to

[2018-06-18 16:46] SethMichaelLarson opened #1400 "Google App Engine tests not working on CI"
Saw this in a different PR with unrelated changes: https://travis-ci.org/urllib3/urllib3/jobs/393557123#L552
Has GAE testbed changed, maybe we need to update our scripts.

Assigning this to you Thea as our GAE champion.

[2018-06-18 16:48] sigmavirus24 commented on #1319
This issue and the warning above are two separate warnings. This issue is about a failure to properly handle the text in the subjectAltName by underlying libraries. The warnings you're seeing are related to the #497 which means that the certificate of the website you're talking to is old, antiquated, improperly configured, and may in the future stop workin

[2018-06-19 18:50] railocius commented on #242
If anybody wants to test HTTPS CONNECT with your own NTLM proxy server, you can just set-up an Apache web server: https://stackoverflow.com/a/48238953

[2018-06-21 23:21] jfindlay opened #1402 "review request data"
I propose a feature that allows the user to retrieve/review a request object before it is sent similar to [this](https://stackoverflow.com/questions/20658572/python-requests-print-entire-http-request-raw) requests [feature](http://docs.python-requests.org/en/v1.2.3/user/advanced/#prepared-requests).  I have spent some time trying to find a way to do this by:
- reading the documentation
- inspectin

[2018-06-27 23:01] ashwiniramamurthy commented on #1331
I am seeing a similar issue. Were you able to resolve this?
Also, why does this issue occur : OSError: (104, 'ECONNRESET') ?

[2018-06-28 15:44] mcslr opened #1404 "Feature proposal - shuffle DNS response returned by getaddrinfo() before establishing connection"
Hi folks,

I was trying to find if the issue was already discussed and I could not find anything so here it goes.

What do you think about adding feature allowing to shuffle list of DNS responses returned by socket.getaddrino before trying to establish connection.

Similar solution was recently added to curl:
[https://github.com/curl/curl/pull/1694](https://github.com/curl/curl/pull/1694
)

Though

[2018-06-28 17:10] SethMichaelLarson commented on #1404
This feature would affect `urllib3/utils/connection.create_connection()` which is basically as low as you can go when it comes to API so I'm curious how we'd make this configurable from any high-level interface.

[2018-06-28 21:17] fxcoudert opened #1405 "idna.core.InvalidCodepoint and idna.core.IDNAError errors"
This URL loads with any browser, with cURL and wget, without error: https://earthlingsoft.net/UnicodeChecker/appcast.xml

But trying to reach it with Python requests leads to an error in urllib3:

[code]

I originally filed it with pyopenssl: https://github.com/pyca/pyopenssl/issues/771

[2018-06-30 01:02] SethMichaelLarson commented on #1405
I've got a patch that fixes the issue in #1406. Pending review from others. :)

[2018-06-30 19:12] SethMichaelLarson commented on #1405
That patch landed. Closing this issue.

[2018-06-30 19:12] #1405 closed

[2018-07-01 17:49] fxcoudert commented on #1405
Thanks @SethMichaelLarson!

[2018-07-01 22:14] Hopper262 opened #1408 "Requests sometimes block until timeout is reached"
On my Fedora 28 box (urllib3 1.22, Python 2.7.15), I'm running into a problem where urllib3 requests to googleapis.com hang until the timeout value is reached. With timeout=None, the requests can hang for ~130 seconds, probably when the server closes the connection. After the timeout, I do get a successful response (not exhibited in my test case).

Unfortunately, this problem only occurs around 50

[2018-07-02 06:05] #1400 closed

[2018-07-03 17:46] eliasbrange opened #1410 "wait_for_read and wait_for_write no longer accepts lists of sockets"
We noticed that we could no longer send in a list of sockets to `util.wait_for_read` and `util.wait_for_write`.

The docs still show the following behaviour:

`urllib3.util.wait_for_read(socks, timeout=None)`

`urllib3.util.wait_for_write(socks, timeout=None)`

The change introduced by 9782e1f866aa6d0d176dce8678aee448aeb492dd seems to have removed the possibility of sending in a list of sockets. I

[2018-07-04 00:16] SethMichaelLarson commented on #1410
Looks like a regression to me. cc: @njsmith

[2018-07-04 00:23] njsmith commented on #1410
I actually didn't realize that these were documented as a public API. (Which was silly of me, because most of urllib3's internals are documented as public APIs, but there you are.)

My inclination would be to leave the change alone and update the docs, or remove the docs entirely, because urllib3 is not really in the business of providing `select` wrappers and this shouldn't be a public API in the

[2018-07-04 00:30] SethMichaelLarson commented on #1410
I'd say they seem like part of our interface since we're importing them in `urllib3/utils/__init__.py` and we're also doing things in that same file in order to preserve backwards compatibility it seems. I'd rather it not be a part of the public API preferably though.

[2018-07-04 00:33] SethMichaelLarson commented on #1410
Also makes me wonder if we can't optimize to always use `select` when `socket.fileno < 1024` for faster responses.

[2018-07-04 06:02] Hernrup commented on #1410
We (same organization as @eliasbrange) uses a forked version of botocore to fix for a issue were filedescriptors could get exhausted until it gets fixed upstream. In that version the select logic on line https://github.com/boto/botocore/blob/develop/botocore/awsrequest.py#L163 is replaced by something like

[code]

So we can surely adapt to the change as long as its clear how its suppose to behave

[2018-07-04 13:30] sigmavirus24 commented on #1410
I agree that I really don't want things like this to be part of the public API. That said, we can't really reasonably restrict what people use from `urllib3.util` when `Retry` is in there and the `Retry` is a publicly documented part of our API.

[2018-07-05 00:38] njsmith commented on #1410
@Hernrup So to make sure I understand, you're saying that you're fine switching to the new behavior, you just want to make sure that you know what the final state will be so you don't end up switching to one thing and then switching back?

@sigmavirus24 So we can certainly move it somewhere else, but that is also a potential backwards compatibility break :-). Of course, we've already released a ve

[2018-07-05 05:52] pquentin commented on #872
Does that mean that this issue should be closed?

[2018-07-05 05:58] pquentin commented on #1210
As far as I understand, this issue is only an interesting discussion, but there's nothing actionable here that should be done, so I guess it can be closed?

[2018-07-05 06:16] Hernrup commented on #1410
Yes, @njsmith. That is correct.

I would urge you to fix the semantic versioning chain when resolving this to keep dependency and build systems happy.

My suggestion would be to:
- make a patch release on the 1.23.x feature set restoring the functionality(maybe just rollback?)
- make a breaking release 2.xx to indicate the breaking change, however you choose to implement it.

I think one in genera

[2018-07-05 14:19] SethMichaelLarson commented on #1210
I'll close this, if needed it can be reopened.

[2018-07-05 14:19] #1210 closed

[2018-07-05 14:43] SethMichaelLarson commented on #872
Probably. Will reopen if necessary.

[2018-07-05 14:43] #872 closed

[2018-07-06 05:37] pquentin commented on #878
I believe this bug got fixed in #1246 and can now be closed.

[2018-07-06 11:31] pquentin commented on #878
Or maybe there's something else to do here?

[2018-07-06 13:54] JohnOmernik opened #1411 "assert_hostname with non-standard ports is problematic"
When using assert_hostname to pass a hostname for SSL verification, if the initial URL containers a non-standard port, there is not a sane way keep connecting to that port and get SSL verification. There is a detailed outline below, however, the TL;DR summary is I am working with a a DNS load balanced server farm, and am trying to "pin" connects to IP in connection. I.e. do a DNS lookup and then c

[2018-07-07 18:17] Hopper262 commented on #1408
I can no longer replicate this issue after disabling IPv6 on the affected machine. The reported issues may be outside urllib3's control.

For reference, I was seeing multiple SYN packets transmitted, with the SYN+ACK not received until the timeout value was reached. Researching that led me to disable window scaling and syncookies, which resolved most issues. On some IPv6 hosts, I saw TCP retransmi

[2018-07-07 18:17] #1408 closed

[2018-07-07 20:09] SethMichaelLarson commented on #1411
Could you post a minimum-verifiable example using only urllib3 as well as a traceback and the HTTP redirect you're receiving when connecting to `myname.domain` to help us diagnose this issue?

Thanks!

[2018-07-07 20:16] SethMichaelLarson commented on #878
This looks closable from that PR, if more needs to be done we'll reopen. Thanks @pquentin!

[2018-07-07 20:16] #878 closed

[2018-07-09 14:35] JohnOmernik commented on #1411
So, let me first say that Python at the level of urllib3 is over my head.  Part of the reason I use requests is how much it simplifies things. But in the spirit of open source, I tried to dig into this problem.   I used the test scripts for the asset_hostname, and found that everything, from a test perspective worked as expected.

My challenge is this:  I tried to follow what requests is doing fro

[2018-07-09 21:38] SethMichaelLarson commented on #1411
So I may have figured out what your problem is? You're passing the hostname + port combination to the `Host` header but that passes that whole thing to the `assert_hostname` parameter.  You probably shouldn't pass a hostname+port combo to `assert_hostname`, should only be the hostname.

The port needs to be a part of the `url` being used within [`session.post()`](https://github.com/JohnOmernik/jup

[2018-07-09 21:45] JohnOmernik commented on #1411
In one test, I did that, because when I only pass the hostname to port, and
the url has IP:port, then the port some how reverts to 443.

On Mon, Jul 9, 2018 at 4:38 PM, Seth M. Larson <notifications@github.com>
wrote:

[2018-07-09 21:48] SethMichaelLarson commented on #1411
Could you provide the code doing that along with the HTTP responses you're getting from your server so I can reproduce with httpbin?

[2018-07-09 22:29] JohnOmernik commented on #1411
Every thing I was able to reproduce is in the issue.md link above.  I tried
to do it with just urllib3 but struggled to replicate exactly what requests
was doing.   Let me know if the issues.md provides enough info ,.if not I
am happy to dig in a different direction but I may need some coaching a
spent hours trying to trace from requests, to urllib3

On Mon, Jul 9, 2018, 4:48 PM Seth M. Larson <no

[2018-07-09 22:36] SethMichaelLarson commented on #1411
I'm not going to run or read that large amount of code. The most important things that I need to reproduce your issue aren't included in that write-up which are all the HTTP responses (headers and status codes) from your website. Without those I won't be able to help you. You don't need to use urllib3, I just need those responses and the places in your code where you use requests or requests-toolb

[2018-07-10 09:02] sivang commented on #383
Connection pooling hurts me when using requests under Celery (I guess this is the multiprocessing issue that was left to be decided by the application developer) as it is not reentrant safe. So is there or not a way to disable it? :)

[2018-07-10 20:30] JohnOmernik commented on #1411
@SethMichaelLarson

Thanks for your insight and prodding.  I tried with just URLLIB3 and couldn't reproduce. I tried with requests and couldn't reproduce.  I was stumped. I was hoping to give a nice chunk of requests only code that showed the problem.

This made me dig further.  I realized my mistake, I was providing dummy authentication information thinking it didn't matter. However by default, r

[2018-07-10 20:36] SethMichaelLarson commented on #1411
I had a feeling it had to do with the redirect. :) If your server returned a port number in it's `Location` header it would work properly. Without that port number we assume the standardized HTTPS port number which is 443.

[2018-07-10 20:41] JohnOmernik commented on #1411
Yep, and I just got word from requests group that they have absolved
urllib3 (as they implement their own redirect logic).  So this one can be
closed  Sorry for the crazy cross posting and I really appreciate the
gentle nudges in the right direction for troubleshooting. I learned tons
here!

On Tue, Jul 10, 2018 at 3:37 PM, Seth M. Larson <notifications@github.com>
wrote:

[2018-07-10 20:43] SethMichaelLarson commented on #1411
I'm glad to hear that! :) Good luck with your issue, thanks!

[2018-07-10 20:43] #1411 closed

[2018-07-18 14:00] abioneperhobby commented on #1071
Hi,

i read the thead, and i'm not sure that my question is lecit, but i'll try to explain the use case ( maybe is equal to the use case of @jvanasco )

for testing purpose,

i need to know what is the ip address of who is answering my call and maybe the ip address of who is making the call (the machine that runs the python script).

i understand that

* these features now are not avaialbe
* the r

[2018-07-18 14:33] jvanasco commented on #1071
oh!

the above `get_peername` function caches the peername value onto `response._mp_peername` (mp stands for 'metadata_parser` the library's name) on first run.  subsequent runs return that cached value.

so using it in the above example would be:

    response = requests_session.get('https://example.com')
    peername = get_peername(response)  # the value was already cached

    response = reques

[2018-07-18 18:32] GHXST01 commented on #1321
Thanks for your suggestion @SethMichaelLarson .
I'll have a look when I have more time.

Issues like these (imo) go against everything python stands for and definitely trigger me 😅 ..

Perhaps we can do something fancy as operator overloading and provide a patch meanwhile?

[2018-07-19 08:07] minrk opened #1415 "sdist has world-writable permissions"
The sdist for urllib3 1.23 on PyPI has some surprising world-writable permissions on a number of files:

[code]

Installing this with the old `python setup.py install --single-version-externally-managed` command results in world-writable metadata files being installed with the package (in .egg-info). Installing with pip does not appear to have this issue.

I ran the release.sh script on my system

[2018-07-20 19:34] wooty13 commented on #715
On some sites:
import urllib3
http = urllib3.PoolManager()
response = http.request('GET', 'http://python.org', decode_content=True)
reply = response.data
print(reply.decode('utf-8'))

[2018-07-20 19:49] wooty13 commented on #715
On some sites:
import urllib3
http = urllib3.PoolManager()
response = http.request('GET', 'http://python.org', decode_content=True)
reply = response.data
print(reply.decode('utf-8'))

[2018-07-20 20:48] tbsf commented on #1366
I am seeing this issue as well. You can tell in the requests library if you use a different timeout value for connect timeout and read timeout. For instance if you pass in (10, 1000), you will see a read timeout after 10 seconds even though the connect timeout is 10 seconds. Observed in requests 2.19.1

[2018-07-28 12:58] scccboom opened #1416 "Why the response headers encoding is inconsistent?"
* Server
  - Response headers add Content-Disposition=attachment;filename=xxx
  - xxx is not ASCII code, response encoding is utf-8.
* Client:
  - Use urllib response headers Content-Disposition value is base64 string. Decode base64 value is utf-8 encoding bytes, xxx is messy code.
  - Use urllib3 Content-Disposition value is utf-8 string, but xxx is raw_unicode_escape string encode to utf-8.

[2018-07-31 14:17] sicklife opened #1417 "logging KeyError: '<key>'"
Actually, I reproduce an error in the same with [this one](https://github.com/requests/requests/issues/1889), which I think maybe a bug of urllib3.

[2018-07-31 15:17] SethMichaelLarson commented on #1417
Thanks for submitting this, do you think you'd be able to submit a patch to fix the issue?

[2018-08-01 13:09] sicklife commented on #1417
I traceback this bug today, and find it a little tricky.

1. It's not a fatal error. It can be handled by the [logging.Handler.handleError](https://github.com/python/cpython/blob/3.7/Lib/logging/__init__.py#L891) of logging module.

1.  when you do `logger = logging.getLogger()
logStdOut = logging.StreamHandler()
LOGFORMATCNSL=logging.Formatter("%(asctime)s %(message)s %(aVar)s %(bVar)s")
logStdOu

[2018-08-01 13:16] SethMichaelLarson commented on #1417
I'm wondering if this is actually a bug or if we should recommend users not use the `RootLogger`? Using the `RootLogger` while expecting non-standard keys within the handler you attach seems like a risky idea, unless I'm reading that wrong?

[2018-08-01 13:27] sicklife commented on #1417
No, you understand what I means exactly. I'm not a native english speaker, forgive me, if there is any odd expression.

Infact, if you don't use `RootLogger`, by passing a name to the `logging.getLogger()` function, which will create a child of the `RootLogger`, and leave the `RootLogger` untouched,  will avoid this trouble.

the code is as follow

`import requests
import logging

# code with out

[2018-08-01 16:13] SethMichaelLarson commented on #1417
So I don't think this is a urllib3 issue because I can reproduce it without urllib3:

[code]

[2018-08-01 23:59] sicklife commented on #1417
OK. Then I'll close the issue.

[2018-08-01 23:59] #1417 closed

[2018-08-06 14:48] SethMichaelLarson commented on #1416
Could you give some more information, specifically code and raw response bytes that you're seeing from the server?

[2018-08-06 14:52] SethMichaelLarson commented on #1402
Unfortunately urllib3's interface is very much married to Pythons urllib interface which doesn't have an idea of a Request "object" which makes it tough to be able to do this without substantial changes.

[2018-08-06 14:52] #1402 closed

[2018-08-06 14:56] #1252 closed

[2018-08-06 18:25] #1149 closed

[2018-08-06 18:28] SethMichaelLarson commented on #1133
Closing as cffi is not supported on Jython and I don't think our current selector model is either. If Jython starts supporting these things we can reconsider official support for Jython.

[2018-08-06 18:28] #1133 closed

[2018-08-06 18:31] #1065 closed

[2018-08-06 19:43] pquentin opened #1419 "Fix test_client_intermediate and test_client_no_intermediate on macOS 10.13+ SecureTransport"
This will allow to enable them again on CI. See https://github.com/urllib3/urllib3/pull/1418 and https://github.com/urllib3/urllib3/pull/1412 for more background.

[2018-08-07 06:50] bharathkallurs opened #1421 ""idna.core.IDNAError: Empty domain" occurring in getting values for x509.DNSName"
In the function call _dnsname_to_stdlib we use name for getting the idna_encoded string. The call happens for name in ext.get_values_for_type(x509.DNSName) in line 228 under the function get_subj_alt_name. If we do not have any X509.DNSName, we hit idna.core.IDNAError.

I guess it is good to check if name is not None and then pass it to _dnsname_to_stdlib. I tried with this fix and it seems to be

[2018-08-07 12:46] SethMichaelLarson commented on #1421
That sounds like a pretty reasonable enhancement, would you be comfortable submitting a PR along with a test to fix this issue?

[2018-08-09 04:58] bharathkallurs commented on #1421
I can do that. Sorry for the delay but caught up with some other issue on a different library.
Will be sending the PR max by this weekend.

[2018-08-09 05:12] bharathkallurs commented on #1421
Seth, I see the fix is already in. I just pulled the repo and found it to be fixed. May I know when the version will be upgraded? Any cadence doc that I can refer to?

[2018-08-09 05:12] #1421 closed

[2018-08-09 13:50] SethMichaelLarson commented on #1421
There's been some discussion about revising our release process in issue 1392 to allow for more frequent releases. I might have to take up that issue so we can get towards releasing our nice fixes more often. :)

[2018-08-09 19:42] SethMichaelLarson commented on #1416
I'm guessing that because the filename is UTF-8 and not encoded we're unable to decode it. The filename should not be UTF-8 for highest inter-operability.

[2018-08-09 19:43] SethMichaelLarson commented on #1415
I'll check this out, we definitely should ensure that world-writeable is not the default for our sdist in our new release protocol.

[2018-08-09 20:29] #312 closed

[2018-08-09 20:33] pquentin opened #1422 "Fix test_client_no_intermediate flakiness"
There are two issues with test_client_no_intermediate: first, the certificates involved here are refused by SecureTransport in macOS 10.13+, and second, the test_client_no_intermediate test is flaky. https://github.com/urllib3/urllib3/issues/1419 was filed for the first problem, and this one is about the flakiness. Here is what test_client_no_intermediate and test_client_intermediate do.

In the t

[2018-08-09 20:58] SethMichaelLarson commented on #1422
The reason I'm not a fan of patching the test to accept any failure is that the test is supposed to be testing a very exact code path (The one you described) and by making the test less specific about the error message we're allowing other code paths to be marked as a "pass" potentially leaving the code path we really care about behind.

However, if you can find something that indicates that `errS

[2018-08-10 02:35] njsmith commented on #1422
Isn't the only purpose of this test to double-check that Tornado is actually validating client certificates, so that when `test_client_intermediate` passes we can be confident that it's because we actually sent a valid cert chain, rather than some other fluke? Getting too hung up on the details of exactly how Tornado reports this error seems unnecessary given that this isn't the Tornado project te

[2018-08-10 02:51] SethMichaelLarson commented on #1422
That sounds like a good enough justification! I'd welcome a pull request that patches test_client_no_intermediate for errSSLClosedAbort :)

[2018-08-10 12:59] scccboom commented on #1416
Yes, you're right. I urlencode filename on the server. thx!

[2018-08-10 13:03] #1416 closed

[2018-08-13 20:10] rayluo commented on #1065
Considering that the latest activity in this issue happened just 7 days ago, I think I'm technically still not too late to join the conversation. :-)

I am one of the happy user of the requests lib and I don't normally even pay attention to urllib3, so its naming would otherwise be irrelevant to me. Yet today I feel a need to study the relationship between Requests/urllib3 and the standard urllib/

[2018-08-14 14:51] #1419 closed

[2018-08-14 14:51] #1422 closed

[2018-08-15 19:09] nikan1996 commented on #1087
Hello, I think there is no need to change LifoQueue backend to `deque`.
[code]
Here is output in my machine:
[code]
I use python 3.6.5 and macOS 10.12.6, there is no obvious difference between deque or list backend in `append` and `pop` operation.
`deque` is efficient in appending element to left or popping element from left.
From [https://docs.python.org/2/library/collections.html#collections.deq

[2018-08-16 09:57] pquentin commented on #1422
An exception that Windows can raise in test_client_no_intermediate is `urllib3.exceptions.SSLError: ("bad handshake: SysCallError(10054, 'WSAECONNRESET')",)`: see https://ci.appveyor.com/project/pquentin/urllib3/build/1.0.115/job/0080swjpfmr96oxv. Just like errSSLClosedAbort, WSAECONNRESET appears to be a catchall for transport-level issues and [can be raised when the certificate is invalid](https

[2018-08-16 10:00] pquentin commented on #1422
Another one is `ProtocolError: ('Connection aborted.', error(10054, 'An existing connection was forcibly closed by the remote host'))`: https://ci.appveyor.com/project/urllib3/urllib3/build/1.0.199/job/2cb6nfpv8up7t2ah

[2018-08-16 18:45] jhawkinson opened #1426 "Timeout isinstance check fails if multiple higher level libs have a different class path"
Hello,  I'm not sure if this is the right place for this or not, As this is a little bit out of my expertise.  So I have an application I'm developing which makes use of both the jira and docker libraries.  Both use requests which both call in to connectionpool.

The problem I keep running into is that there are isinstance() checks for the Timeout object and if this check fails, the code assumes t

[2018-08-16 19:12] pquentin commented on #1426
@jhawkinson Thanks for the detailed bug report!

See https://github.com/urllib3/urllib3/pull/1391 for a related discussion.

What version of pip and urllib3 are you using?

[2018-08-16 19:28] jhawkinson commented on #1426
@pquentin Thanks for the additional reading,  Does this mean I should just uninstall all other versions of urllib and requests, update them to the latest and try again?

I don't mind managing packages if that's what's required here.

[2018-08-16 19:35] pquentin commented on #1426
I honestly don't know, sorry! @sigmavirus24 should be able to help here.

[2018-08-16 19:39] jhawkinson commented on #1426
@pquentin At least I'm not the only one :)

I'll give it a shot anyways, I'll uninstall all jira, docker, requests, and urllib3 packages, install them at the latest version in order of dependency and see if that helps.  I have a feeling it's the way these things are imported in the children libraries is to blame though.

[2018-08-16 21:59] jhawkinson commented on #1426
@pquentin Deleting the wheels and upgrading/reinstalling everything worked out in this case :)

[2018-08-20 14:59] SethMichaelLarson commented on #1426
I'll close this issue for now. If you have additional troubles we can reopen

[2018-08-20 14:59] #1426 closed

[2018-08-21 08:14] koolb commented on #383
A connection pool is very old feature deemed usable in all senarios. To force someone to use a pre-optimization because "you personally cant think of a valid reason not to" is an anti-pattern. Make the connection pool object optionally=None with default internal implementation at construction of the request object. Is this really that hard?

[2018-08-22 07:41] hugovk commented on #883
I see Requests 2.19 (2018-06-12) has now officially dropped support for Python 2.6 (https://github.com/requests/requests/pull/4672) (and will remove the 2.6 code in Requests 3.0).

Any thoughts on dropping 2.6 in urllib3, before the full Python 2 removal?

---

Here's urllib3's July numbers:

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 2.7

[2018-08-22 09:33] pquentin commented on #883
Yes, the maintainers would be happy to remove Python 2.6 now that pip dropped support. Is this something you'd like to work on?

[2018-08-22 11:02] hugovk commented on #883
Yes, I can make a PR for it.

[2018-08-22 13:36] SethMichaelLarson commented on #883
I'm +1 to dropping 2.6 support. Our last release included features specifically for pip 9.x with the intent of dropping 2.6 after pip had done so.

[2018-08-23 11:39] hugovk commented on #883
Please see PR https://github.com/urllib3/urllib3/pull/1429.

[2018-08-23 17:37] SethMichaelLarson commented on #883
Python 2.6 support has been dropped for the next release via #1429. Thanks @hugovk! Now to wait for another few years to drop Python 2.7.

[2018-08-27 00:41] ghostku opened #1433 "Any way to skip HeaderParsingError?"
Hi
I'm trying to create a request to one site.

    AUTH_URL = 'https://api.seller.rozetka.com.ua/sites'
    http = urllib3.PoolManager()
    r = http.request('GET', AUTH_URL)

But I get:

`DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): api.seller.rozetka.com.ua
C:\Users\ghost\Envs\priceman\lib\site-packages\urllib3\connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS r

[2018-08-29 00:48] SethMichaelLarson commented on #1433
Historically there have been many security issues with accepting HTTP headers that have spaces in non-standard places so I think us parsing headers to spec is the proper thing to do. To allow this we'd have to replace httplib which is something a ways off for this project (I'll note the current candidate for replacing httplib is h11 which would also error on this header).

Unfortunately I'd say yo

[2018-08-29 00:48] #1433 closed

[2018-08-29 07:29] pquentin commented on #1433
@SethMichaelLarson 👍

@ghostku You might find this related requests issue interesting: https://github.com/requests/requests/issues/3098

[2018-09-03 10:56] techtonik commented on #1003
The PR is closed automatically, because I am MIA, but if anyone wants to continue fixing this issue, the code is still here - https://github.com/urllib3/urllib3/pull/1008

I came here, because I got another upvote on Stack Overflow.

[2018-09-04 20:43] SethMichaelLarson commented on #1301
Closing this issue as it's gone stale. Comment within if you'd like to reopen or continue discussion.

[2018-09-04 20:43] #1301 closed

[2018-09-05 08:48] iyanmv opened #1434 "Differences between Windows and Linux when handling HTTPS requests through HTTP proxy"
Hi,

Let me explain the problem I was facing and how I end up here. I'll try to do a brief summary.

I work in a company that protects access to the Internet through a **proxy that uses NTLMv2 for authentication**. This is not a problem for Windows computers but it is a pain when working with GNU/Linux machines. Anyway, there is a great solution for that: [**CNTLM**](http://cntlm.sourceforge.net/)

[2018-09-05 15:51] SethMichaelLarson commented on #1434
Thanks for filing this issue. Unfortunately, a majority of the maintainers of urllib3 do not use proxies in our workflow and thus aren't familiar with the ecosystem or issues that are commonly faced by proxy users.
It would be of great benefit to many if you could look into solving this issue in urllib3. :)

[2018-09-11 20:26] mewalig opened #1437 "un-read POST data causes intermittent failure"
I have two web components, call them SENDER and RECIPIENT.

SENDER uses urllib3 to send a POST to RECIPIENT. RECIPIENT sends a response.

The problem is, if RECIPIENT does not bother to read the POST data from SENDER, then SENDER call will hang either on the first call, or if not, on a subsequent call if consecutive calls are made reasonably quickly (and hangs eventually fail via timeout, which is

[2018-09-12 03:47] timb07 opened #1438 "'Failed to parse headers' warning logged when getting message/rfc822 content"
I've been investigating an [issue](https://github.com/boto/botocore/issues/1551) I've recently discovered when retrieving objects from S3. I've now tracked it to `urllib3`; this test case (which I've added to `urllib3/test/with_dummyserver/test_socketlevel.py`) demonstrates it:

[code]

The test with `text/plain` passes, while the test with `message/rfc822` fails, and this is logged:

[code]

Whil

[2018-09-12 13:06] SethMichaelLarson commented on #1438
Thanks for opening this issue. I'm able to reproduce on Python 3.7.0 and this does look like a bug.

[2018-09-12 13:44] SethMichaelLarson commented on #1438
Maybe we need to change the `if get_payload:` branch into something like:

[code]

With this change the above unit test passes.

[2018-09-12 17:10] timb07 commented on #1438
Yes, I believe it is.

In `http.client.parse_headers`, it instantiates `email.parser.Parser` to parse the HTTP headers. Then in `email.feedparser.FeedParser` in the `_parsegen()` method, there's this line:

[code]

It's in the following code-block that the extra `HTTPMessage` object is generated.

[2018-09-12 17:17] SethMichaelLarson commented on #1438
Yeah this is definitely a change we need to make then. I can open a PR and create tests later tonight. :)

[2018-09-12 17:33] SethMichaelLarson commented on #1438
Oh I wasn't going to put in the fix that's in the issue, that's just what I dreamt up to be able to see the unit test pass. :) I want to bring full coverage to this function for sure so I'll have to explore that further and research why this code branch was added in the first place.

[2018-09-17 11:52] McVillano commented on #800
Hello, I see some fixes, but in 0.77.3 I´m still having this issue, can you please say which files I must change and what to apply the fix?
Kind regards

[2018-09-17 19:07] jbramleycl opened #1441 "Content-Encoding with multiple encodings not supported"
It is possible for a server to respond with a Content-Encoding header like:
`Content-Encoding: deflate, deflate`

From RFC7231:

This can be tested with:

[code]

Would it make sense to do something like:
[code]
where MultiDecoder just iterates through the list applying standard decoders?

[2018-09-17 19:11] SethMichaelLarson commented on #1441
TIL that `Content-Encoding` allows for nested encodings. Do you have an example site that does this? We haven't hit this problem until now.

I'm open to a PR that implements this behavior.

[2018-09-17 22:59] #1441 closed

[2018-09-19 19:02] Mr0grog opened #1445 "Feature Request: Pass Response to `Retry.is_retry()`"
I’m working on some tools for using the [Internet Archive’s Wayback](https://web.archive.org) Machine APIs and it’d be really helpful if I could write a custom `Retry` class that can look at the the response headers to determine whether a retry is warranted. In particular, when requesting the snapshot of a URL, it’s possible to get an error code that might be coming from the wayback machine or mig

[2018-09-19 20:41] SethMichaelLarson commented on #1445
Unfortunately I'm doubtful we'll be able to change that method to remove the `status_code` in the signature. Adding `response` is more likely but it would break users that subclass the `Retry` object, I'm unsure of how often that occurs.

An easier way to accomplish this for you may be to use the Requests library along with some request-toolbelt code to handle a custom retry/redirect?

[2018-09-19 22:10] Mr0grog commented on #1445
Hmmm, it doesn’t seem like there’s anything in toolbelt for retrying or that would cover a case like this. It also feels a bit hacky to wrap my retry/backoff logic *around* `urlopen()` (or `requests.Session.send()`) when it feels like this *ought* to fit neatly in the scope of the `Retry` class. I do understand the need not to make a breaking change to public API, though.

Would it be reasonable t

[2018-09-20 13:11] sigmavirus24 commented on #1445
Yeah, there’s nothing in the tool belt for retry logic. We could add something but I have no clue what that would look like

[2018-09-20 13:12] SethMichaelLarson commented on #1445
At a minimum I'll mark this as something for 2.0.0 because I agree that we should be passing the whole response into the `Retry` object to allow for better subclassing potential.

[2018-09-20 15:54] Mr0grog commented on #1445
@SethMichaelLarson Great, thanks! I’ve put a little note in my source about 2.0 as a reminder :)

@sigmavirus24 I think if I were trying to make a nice, abstract version of this, my first thought would be a `requests.adapters.HTTPAdapter` subclass that someone could use or subclass; then they can mount that in a session as needed. It would wrap the `send()` method with retry logic.

[2018-09-21 22:32] jvanasco commented on #1404
this feature would underscore the importance of making a debug object #1071 to cache the upstream IP address.

[2018-09-22 12:54] sigmavirus24 commented on #1404
@jvanasco note that there's no actual decision to do this. In fact, there's no good way to provide a way of doing this.

[2018-09-22 13:30] jvanasco commented on #1404
@sigmavirus24 i know the first part, did not know the second. i really want to move forward with some agreement on a debug object so i can start a PR for #1071 though ;)

[2018-09-23 17:12] jvanasco commented on #1404
I'm sorry you thought this was a bad faith intent - it was intended as a a legitimate cross reference against 1071 as a potentially blocking related issue.  The eventual concept of a "Debug" object in 1071 was coalescing my original request to track the IP address and glyph's need to access the active certificate.  Early feedback in that ticket (and some related ones in other projects), and existi

[2018-09-28 10:58] JanZerebecki commented on #1269
Until https://bugs.python.org/issue23239 is fixed correct certificates with SAN IP Addresses won't work on Python 2.7.

[2018-10-02 12:15] apietrzak opened #1446 "Creating socket to check if IPv6 is enabled on AppEngine"
Module `urlib3/util/connection.py` executes `_has_ipv6` function while being imported. For checking if IPv6 is enabled this function is creating socket:

            sock = socket.socket(socket.AF_INET6)
            sock.bind((host, 0))
            has_ipv6 = True

From documentation: https://urllib3.readthedocs.io/en/latest/reference/urllib3.contrib.html using socket should be enabled only if `GA

[2018-10-03 05:56] swg0101 opened #1447 "PoolManager does not allow custom server_hostname"
I am trying to pass a custom SNI string on the Python requests module, but it doesn't look like I can create a PoolManager with a custom server_hostname via **pool_kw because it's not defined inside _key_fields in PoolManager.

Is this intended behavior?

[2018-10-03 16:29] theacodes commented on #1446
@apietrzak I'm not sure I understand. Can you give me a bit more details? Does this cause failures? Does it incorrectly detect ipv6 support?

[2018-10-04 12:36] apietrzak commented on #1446
@theacodes
On appengine you have a daily quota on creating sockets: https://cloud.google.com/appengine/quotas#Sockets

As you can see in this documentation page:
https://urllib3.readthedocs.io/en/latest/reference/urllib3.contrib.html
there is a way to use urllib3 without sockets. For this purpose  an additional "pool manager" was created which is using URLfetch api:
[code]

The code above always c

[2018-10-04 17:03] theacodes commented on #1446
Gotcha, that makes sense. Thank you for clarifying.

[2018-10-05 20:12] #1438 closed

[2018-10-05 21:17] theacodes commented on #1446
I'm not sure if I can do anything here. We make a bit of a mistake in the interface here.

`HAS_IPV6` is a global constant in a public module that has existed for years. We can't make it lazy (because it's a global constant) and we can't really do anything in `contrib.appengine` to interrupt it, as the import for that module happens way before `contrib.appengine` has any say in the process.

We co

[2018-10-05 23:11] #1446 closed

[2018-10-05 23:12] SethMichaelLarson commented on #1446
Now if only we could have module-level `@property`s :)

[2018-10-07 19:55] #672 closed

[2018-10-08 02:16] pquentin commented on #1410
@SethMichaelLarson Can you please clarify what the accepted solution is? Thanks!

[2018-10-08 02:40] njsmith commented on #1410
@SethMichaelLarson this has been "broken" for almost 6 months now... would switching it back at this point actually help anyone, or would it just re-break everyone who already adapted to the new interface?

...Oh nice, apparently boto is using this now (the new API): https://github.com/boto/botocore/blob/001d16b028910fa55ef1e132e367b3cb18bbba49/botocore/awsrequest.py#L158
:man_facepalming:

[2018-10-08 03:17] SethMichaelLarson commented on #1410
That's true. I guess I'm open to leaving it as single socket because we've only had one report and it seems like we'd actually break more people by changing it back. I guess it stays the way it is.

[2018-10-08 03:17] #1410 closed

[2018-10-08 21:58] sethmlarson opened #1451 "Remove/fix all deprecated features in the ssl module"
Python 3.6.x/3.7.x deprecated a lot of features in the ssl module. We should upgrade to using the latest ones that aren't deprecated and provide a proper fallback.

[2018-10-09 13:03] KonMann opened #1452 "Error decoding chunked response in _update_chunk_length"
Error decoding chunked response in _update_chunk_length: ValueError: invalid literal for int() with base 16: b'HTTP/1.1 200 OK\r\n'
Originally a [Requests-Issue](https://github.com/requests/requests/issues/4248)
Does the suggested fix, to check for the length, sound okay to you?
If so, I could just create a PR.

[2018-10-09 16:14] SethMichaelLarson commented on #1452
With proper unit tests I'd accept a PR with those changes.

[2018-10-10 14:53] KonMann commented on #1452
Actually on second thought, I think it is legit to throw an exception in this situation

[2018-10-10 14:53] #1452 closed

[2018-10-12 02:49] hixss commented on #1452
We temporarily repaired it in this way. I wonder if there will be any problem.

  def _update_chunk_length(self):
        # First, we'll figure out length of a chunk and then
        # we'll try to read it from socket.
        if self.chunk_left is not None:
            return
        line = self._fp.fp.readline()
        line = line.split(b';', 1)[0]
        try:
            self.chunk_left = int

[2018-10-12 03:00] hixss commented on #1452
We temporarily repaired it in this way. I wonder if there will be any problem.

    def _update_chunk_length(self):
        # First, we'll figure out length of a chunk and then
        # we'll try to read it from socket.
        if self.chunk_left is not None:
            return
        line = self._fp.fp.readline()
        line = line.split(b';', 1)[0]
        try:
            if len(line) == 0:

[2018-10-12 05:50] swg0101 commented on #1447
PR here: https://github.com/urllib3/urllib3/pull/1449

[2018-10-12 10:19] KonMann commented on #1452
I just thought it was fine to throw that exception when the connection was just closed and not data is left available. So this would need to be dealt with on a higher level (In this case requests).

[2018-10-12 20:51] swg0101 commented on #1447
Thanks Seth!

[2018-10-12 20:51] #1447 closed

[2018-10-14 20:32] SethMichaelLarson commented on #1392
Hi Daniele, thanks for bringing this to our attention! I wasn't even aware we did signed releases. Will have to investigate that more and bake it into our new release process.

[2018-10-14 20:54] eriol commented on #1392
Hello Seth, many thanks for the quick reply and for taking care of this! For the 1.23 release I will change the Debian packaging to don't check the signature.
I don't know if this can be useful to you, last release was signed by @Lukasa, I have his key in the Debian package repository:
https://salsa.debian.org/python-team/modules/python-urllib3/blob/debian/master/debian/upstream/signing-key.asc

T

[2018-10-16 00:16] jerome-nexedi opened #1454 "Shouldn't urllib3 verify SSL/TLS certificates by default ?"
The README says:

and only in https://urllib3.readthedocs.io/en/latest/user-guide.html#certificate-verification it's explained that

Because since [pep-0476](https://www.python.org/dev/peps/pep-0476) (ie python >= 2.7.9 or > 3.4 ) standard libraries verifies SSL certificates by default, nowadays projects switching from urllib2 or httplib to urllib3 without explicitly enabling certificate validatio

[2018-10-16 01:16] SethMichaelLarson commented on #1454
I think if we were to "do-it-all-over" we'd have TLS verification on by default but to preserve backwards compatibility we'll probably keep the current behavior until v2. Currently a warning is emitted when using an `HTTPSConnection` without TLS verification.

[2018-10-16 01:43] jerome-nexedi commented on #1454
For the records, see https://github.com/SeleniumHQ/selenium/issues/6534 for a case where switching from httplib to urllib3 accidentally disabled certificate validation ( the change introducing the issue https://github.com/SeleniumHQ/selenium/commit/8d98f3223c3757bac24f779f5d8c1e9e1e8edcfb )

[2018-10-16 13:07] sigmavirus24 commented on #1392
@eriol well Cory won't be releasing things anymore. And this is the fundamental problem with people relying on that. Many projects have several people who can release and add more people as the need arises. If @theacodes or @SethMichaelLarson or I had signed it, it would have appeared to be broken or potentially hacked. I don't urllib3 (or really any PyPI uploaded project) should be signing releas

[2018-10-16 13:08] sigmavirus24 commented on #1392
Also worth noting that Warehouse/PyPI is working towards obsoleting gpg signatures like this

[2018-10-16 13:39] pquentin commented on #1392
The relevant Warehouse/PyPI issue: https://github.com/pypa/warehouse/issues/3810

[2018-10-16 15:32] YuMan-Tam commented on #1434
I found a hack.

The source of this issue lies in ```http.client```. When an ```https``` request is made via a proxy, the function ```_tunnel()``` in the ```HTTPconnection``` class is called. The original code proceeds if the return code is 200. For NTLM proxy, the return code is 407 so the following code is called.

[code]

The code would work if you perform the NTLM dances prior to the above blo

[2018-10-16 15:59] sigmavirus24 commented on #1392
TUF will provide a way for Warehouse to sign artifacts so people can verify aspects of the package. That is the way forward, but it's presently not being actively worked on. This is why GPG signatures haven't been actively removed. Still, I agree with everything that was said in the linked issue from the Warehouse developers.

TUF, however, if it were alive today would not require us to do anythin

[2018-10-16 16:34] theacodes commented on #1454
I would personally be totally okay with us changing this behavior in a minor release (Python did it in a patch release, hilariously). I would want some level of consensus with the maintainers of this library and Requests.

[2018-10-16 16:40] SethMichaelLarson commented on #1454
Knowing Python did this change in a patch makes me feel more comfortable upgrading to verify by default. I have a feeling many of our downstreams already implement this anyways.

[2018-10-16 16:41] nateprewitt commented on #1454
@theacodes, I believe Requests already has verifying on by default, so I’m fully in support of this. I’m assuming this isn’t an api change beyond changing the default value for the function signature?

[2018-10-16 16:41] theacodes commented on #1454
Correct.

On Tue, Oct 16, 2018 at 9:41 AM Nate Prewitt <notifications@github.com>
wrote:

[2018-10-16 16:59] SethMichaelLarson commented on #1454
I'd say this is probably ready to go then :)

[2018-10-16 17:45] caboteria opened #1455 "problems testing with pluggy 0.8.0"
Pluggy 0.8.0 was released today and it is causing my tox runs to fail.  I get:

[code]

Looks like maybe pluggy 0.8.0 conflicts with timeout somehow?  If I pin pluggy<0.8.0 in dev-requirements.txt (and delete my .tox directory) then pluggy 0.7.1 gets installed and the tests proceed.

[2018-10-16 18:53] caboteria commented on #1455
The travis builds are now failing with the same error that I got: https://travis-ci.org/urllib3/urllib3/jobs/442302590

[2018-10-16 19:09] eriol commented on #1392
@sigmavirus24 thanks for pointing that, I was aware of it, and sorry if my comment was too strong, take it more as «we rely on it if upstream provide it» :smile: Unfortunately is a very busy moment for me, and I was in a hurry...
Mine was more a question since urllib3 releases was almost always signed[¹] and other project like Django continue doing so[²].
That said, I already removed the sign veri

[2018-10-16 19:46] eriol commented on #1392
@theacodes it seems that latest release of requests requires `urllib3 < 1.24`. As far I remember both urllib3 and requests were updated always together. Maybe it's something to take in consideration while discussing the release process:
[code]

[2018-10-16 19:47] theacodes commented on #1392
This is intentional. We release about a week before requests to give them
time to test and such.

On Tue, Oct 16, 2018, 12:46 PM Daniele Tricoli <notifications@github.com>
wrote:

[2018-10-16 19:52] eriol commented on #1392
Good point! I will package urllib3 1.24 then, but I will wait next week to upload both urllib3 and requests in Debian. Thanks

[2018-10-16 19:54] SethMichaelLarson commented on #1455
Maybe a regression on 0.7.1, would require some more investigation to see what changed.

[2018-10-16 20:06] theacodes commented on #1392
Sounds good. Thank you!

On Tue, Oct 16, 2018, 12:52 PM Daniele Tricoli <notifications@github.com>
wrote:

[2018-10-16 20:21] caboteria commented on #1455
Looking a little deeper, urllib3's dev-requirements.txt requires pytest==3.6.4 and pytest 3.6.4's setup.py requires pluggy>=0.5,<0.8.  The most current version of pytest, 3.8.2, requires pluggy>=0.7 which would work with the new pluggy.  So you could either add pluggy<0.8 or allow a newer pytest in urllib3's dev-requirements.txt.

I tried pytest=3.8.2 and it worked at least as well as 3.6.4 for me

[2018-10-16 20:28] theacodes commented on #1455
I'm +1 on updating pytest.

On Tue, Oct 16, 2018, 1:21 PM toby cabot <notifications@github.com> wrote:

[2018-10-16 20:45] william-silversmith opened #1456 "ImportError: No module named ordered_dict"
Hi urllib3 team!

I was testing a release of my code on Python 2.7 and I got the following error with urllib3==1.24. It worked on 1.23. I saw that Python 2.6 is EOL, but I figure that means you're still supporting 2.7 for now. Here's my stack trace:

[code]

Thanks! I'm working around this by using 1.23 for now so no big deal on my end.

[2018-10-16 20:48] nateprewitt commented on #1456
Hi @william-silversmith, I believe we have specific warnings in Requests stating that urllib3 is only supported up to 1.23.x and that’s also codified in our requirements for the 2.19.1 installer.

We’ll be doing a release within the next week that will resolve these kinds of issues, but until then Requests may not be compatible.

[2018-10-16 20:49] william-silversmith commented on #1456
Ah sorry for the false alarm then. Thanks for the tip!

[2018-10-16 21:13] caboteria commented on #1455
PR 1457 fixes the build, at least for me: https://travis-ci.org/Affectiva/urllib3/builds/442374641

[2018-10-16 21:13] #1455 closed

[2018-10-16 21:17] salvador-bynd commented on #1456
Having the same kind of issue.

[2018-10-16 22:16] oPromessa commented on #1456
* Yup. Here to. Suddenly my travis-ci.org test environment with python 2.7.14 importing flickrapi 2.4.0 is facing this issue.
* With python 3.6.3 and  3.7.0a4+ problem seems not to occur.

[2018-10-16 22:48] HadiCS commented on #1456
Experiencing the same issue with google-endpoints.

[2018-10-17 02:01] asottile commented on #1456
pip doesn't have proper dependency resolution so if you have a diamond dependency on `urllib3` then `requests`'s restriction will not be honored.  See (for example https://github.com/pypa/pip/issues/4391 https://github.com/pypa/pip/issues/988).  The workaround is to pin `urllib==...` or (more likely) wait for `requests` to follow suit and also drop python2.6

[2018-10-17 15:43] jacksonKhUA opened #1459 "Failure: ImportError (cannot import name certs) ... ERROR"
Hi Team,

I faced today with problem where on CI build was failed for my app
I have investigated problem a part of the day and found that new version urlib3 doesn't supports by requests module = 2.19.1.
So, some log for it:
requests 2.19.1 has requirement urllib3<1.24,>=1.21.1, but you'll have urllib3 1.24 which is incompatible.

So, pip has installed new version but, it doesn't supported, unfortu

[2018-10-17 15:44] jacksonKhUA commented on #1459
I think need to request support your new version from team who provided 'requests' lib

[2018-10-17 15:54] nateprewitt commented on #1459
requests/requests#4830

[2018-10-17 23:00] colemickens opened #1460 "setup.py lacks appropriate metadata for differing python versions"
Please see this issue for the full context: https://github.com/NixOS/nixpkgs/issues/46318

Basically, it appears the METADATA in the resulting installation differs depending on the installation method.

I've done some minimal patching to `setup.py` to include the same `python_version` constraints that appear in `setup.cfg` and it appears to fix the issues with regards to METADATA.

However, I'm no

[2018-10-18 15:52] nateprewitt commented on #1456
Requests v2.20.0 has been released with support for urllib3 1.24

[2018-10-18 16:05] SethMichaelLarson commented on #1456
Thanks @nateprewitt :tada:

[2018-10-18 16:13] SethMichaelLarson commented on #1460
There definitely looks to be a discrepency between `setup.cfg` and `setup.py`. I will look into this more, thanks for reporting this.

[2018-10-18 17:14] #1459 closed

[2018-10-18 17:14] #1456 closed

[2018-10-22 23:06] typenil opened #1461 "HTTPConnection pool connect timeouts throw read timeout exceptions"
The `HTTPConnectionPool` method `_raise_timeout` only raises a `ReadTimeoutError`, but gets reused during the connection validation phase:

https://github.com/urllib3/urllib3/blob/cd7cfa613b2678e700597d098ce9bbdc934863e6/src/urllib3/connectionpool.py#L346

I could be misunderstanding this, but it seems like a `SocketTimeout` thrown from `_validate_conn` should result in a `ConnectTimeoutError`.

I

[2018-10-23 06:08] pquentin commented on #1461
Nice catch! I guess that `_raise_timeout` could accept an exception class, which would be either ReadTimeoutError or ConnectTimeoutError. That way, the correct exception would be raised.

@SethMichaelLarson What do you think?

[2018-10-23 13:14] SethMichaelLarson commented on #1461
I'm pretty sure this is duplicate of #1366 and requests/requests#4590, see discussion there as to why this exception is raised as opposed to `ConnectionTimeoutError`.

[2018-10-23 13:14] #1461 closed

[2018-10-23 16:43] typenil commented on #1461
It is a duplicate. Though I don't think that discussion adequately explains why it's a `ReadTimeoutError`. Seems like the arguments made support the opposite moreso.

But supposing that `ReadTimeoutError` is more appropriate, that discussion doesn't address why the connect timeout is labeled as a read timeout in the exception. If `ReadTimeoutError` is still appropriate, it would be less confusing

[2018-10-23 17:05] typenil commented on #1366
If `ReadTimeoutError` is still appropriate, it would be less confusing if the timeout value wasn't misidentified as a the read timeout, specifically, since both read and connect timeouts get sent to the same exception.
https://github.com/urllib3/urllib3/blob/cd7cfa613b2678e700597d098ce9bbdc934863e6/src/urllib3/connectionpool.py#L306

I am a bit confused as to why the connect timeout is used in a c

[2018-10-23 17:53] nick-garcia opened #1462 "Can no longer create a context with specific ciphers"
The recent change to remove support for Python 2.6 has made it so that the "ciphers" parameter of the create_urllib3_context function in ssl_.py no longer has any effect.  The parameter is unused for the rest of the function.

This was working properly in Python 3.6, so I don't know why it was tagged as being Python 2.6 specific.

[2018-10-23 18:13] SethMichaelLarson commented on #1462
I see what happened here, the branch for that piece of code was incorrectly marked as being for Python 2.6 only but actually was for Python 2.6+. See: https://github.com/urllib3/urllib3/commit/cb2159878f8b47c5b4bc6d159ae2857b85c0a197#diff-7c9a38cd64066636d0e73a2449a28640L294

[2018-10-23 20:40] colemickens commented on #1460
Any update? I can try my hand at a patch...

[2018-10-23 20:52] SethMichaelLarson commented on #1460
You're free to do so if you'd like. I'm saving this issue as part of a larger set of packaging updates I'm going to be working on.

[2018-10-25 00:54] mattrobenolt opened #1465 "Any interest in an UnixHTTPConnectionPool?"
I'm happy to create a PR, but it seems like a pretty common use case to want to establish an HTTP connection over a unix socket.

I see this abstraction happening more commonly through `requests`, but was a little surprised that this doesn't just exist as a connection within urllib3.

The code I've thrown together (not yet battle tested) is pretty trivial to do when you get rid of the `requests` b

[2018-10-26 20:34] mattrobenolt commented on #1465
That's fine with me. Like I said, was just curious if there was interest in having support for this in core. :)

Thanks for the attention @sigmavirus24! <3

[2018-10-27 17:32] mattrobenolt commented on #1465
From my perspective, people are more frequently doing this by writing an adapter for `requests`, which, is obviously using urllib3. I personally prefer to just use urllib3 when I can.

Within Sentry, we try to leverage Unix sockets whenever we can for various reasons. This includes internal HTTP services. We directly use urllib3 for these situations, and I wanted to see how much work it’s be to ju

[2018-10-27 17:33] mattrobenolt commented on #1465
And lastly for reference, we are going to be shipping this and adopting it internally for a while in production.

https://github.com/getsentry/sentry/pull/10295

[2018-10-27 18:44] sigmavirus24 commented on #1465
Also worth noting that unix socket URIs have different semantics. Requests has had several issues over URL handling, much of which is rooted in urllib3's Url class so we probably want to switch to a different way of parsing URIs (there are a few options in the python-hyper org)

[2018-10-27 18:51] mattrobenolt commented on #1465
Maybe I’m missing some context here. But if I initialize the connection pool explicitly, where does URI parsing come into play?

The usage here is something like:

[code]

[2018-10-29 12:57] sigmavirus24 commented on #1465
Ah, if you're doing that instead of using a PoolManager (which is how I think most people use urllib3) then you're probably in the clear.

[2018-10-29 13:51] SethMichaelLarson commented on #1465
+1 to only implementing Connection and ConnectionPool, allows us to skip the URI handling for paths until later (if ever).

[2018-10-29 14:38] mattrobenolt commented on #1465
Oh, I see. Yeah, if we wanted this, we'd have to invent some URI pattern like:  `unix:/var/run/docker.sock/foo` or something. I have no real interest in doing this, and I don't think it makes a ton of sense here.

[2018-10-29 15:12] sigmavirus24 commented on #1465
The reason I was assuming the URI parsing problems was because I think main-stream support of a UnixHTTPConnection will mean that people assume they can use it from PoolManager. I suspect as soon as we release this that we'll get bug reports that PoolManager doesn't Just Work™ with it.

[2018-10-29 15:19] mattrobenolt commented on #1465
PoolManager only supports http and https. There are a few other connectionpool types under urllib3.contrib that all exist without going through PoolManager.

I don’t think this would be a barrier for adoption, since as I said, most are using requests anyways, and these underlying requests adapters would leverage the connectionpool directly and don’t use PoolManager.

[2018-10-29 15:20] mattrobenolt commented on #1465
Either way, I think working with PoolManager would be nice, but agree that opens up a can of worms for URIs.

[2018-10-29 15:35] shazow commented on #1465
The `SessionManager` which might someday supersede the `PoolManager` as the default high-level entry point would be a better fit for it anyways. :)

I don't think it semantically makes sense to pool unix sockets anyways, so PoolManager is probably the wrong place for it (except that redirect logic lives here for now--though it probably ultimately belongs at the Session layer). Even ConnectionPool

[2018-10-29 17:32] sigmavirus24 commented on #1465
Interesting that nginx does it that way. Requests seems to support `http+unix` as the scheme iirc (in so much as we support it so third-party adapters can support it). Maybe we should just pick a third syntax just because this entire concept isn't specified in any reliable way. (just a bit of snark)

[2018-10-29 20:04] mattrobenolt commented on #1465
+1 to inventing a new method. :)

[2018-10-30 02:40] globau opened #1466 "urllib3 incorrectly folds/concatenates all HTTP headers (except for `set-cookie`), causing issues with HSTS in particular"
If a site returns multiple HSTS heads:

[code]

urllib3 folds these into a single header:

[code]

http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 has:

Since the field-value for HSTS is not defined as a comma-separated list and since doing this does change the semantics of the message (by resulting in an invalid HSTS header), this concatenation shouldn't be happening.

https://github

[2018-10-31 03:15] globau commented on #1466
that's my understanding too.  unfortunately handling of spec-violating servers is the nature of the beast.

both chrome and firefox honour only the first header:

https://hg.mozilla.org/integration/autoland/rev/0f8ae1c5e282

this behaviour isn't possible to implement with urllib3.

[2018-10-31 06:29] theacodes commented on #1465
since requests is our primary downstream user, let's match their scheme. It's also a scheme that makes sense, nginx's just looks.. weird.

I'm fine with UnixHTTPConnection being in contrib.

[2018-10-31 13:01] sigmavirus24 commented on #1466
Yes it is. Headers in urllib3 can return the values as a list or as a comma separated string. The behaviour you're seeing is an artefact of old behaviour that was kept for backwards-compatibility. You likely want `headers.getall('strict-transport-security')` which should return a list that looks like `[max-"age=31536000", "max-age=31536000; includeSubDomains"]

[2018-10-31 13:02] sigmavirus24 commented on #1466
Sorry, the method is actually `getlist` (see also: https://github.com/urllib3/urllib3/blob/f8d1c787d9b02a70d66ddbde9c99061d9073d54a/src/urllib3/_collections.py#L251)

[2018-10-31 13:03] sigmavirus24 commented on #1466
Oh and there are other backwards-compatible shims too: https://github.com/urllib3/urllib3/blob/f8d1c787d9b02a70d66ddbde9c99061d9073d54a/src/urllib3/_collections.py#L263..L269

[2018-10-31 15:19] mattrobenolt commented on #1465
Cool. I’ll take the time after we ship this into production to put together a PR in here and try to figure out some tests.

I’ll focus on the connectionpool bits as we have it, then we can see about addressing the generic PoolManager and URI stuff.

Thanks everyone!

[2018-11-01 00:57] njsmith opened #1467 "urllib3.response.GzipDecoder is accidentally quadratic, which allows a malicious server to DoS urllib3 clients"
Here's a <100 KB file that the `gzip` module decompresses in ~200 ms. But if we use `urllib3.request.GzipDecoder` to decompress it, then it burns CPU for >10 seconds.

[code]

Since urllib3 attempts to decode gzip files by default, this means a malicious server can easily cause urllib3-based clients to waste tons of CPU time.

The problem is that this is a gzip file with lots and lots of members c

[2018-11-01 01:38] theacodes commented on #1467
Cool, do you wanna send a PR to fix this or just let me or @SethMichaelLarson pick it up?

[2018-11-01 05:05] njsmith commented on #1467
If you could pick it up that would be great

[2018-11-01 14:41] SethMichaelLarson commented on #1466
I'm going to mark this as closed as there are methods of getting header values without the folding.

[2018-11-01 14:41] #1466 closed

[2018-11-01 15:47] #1467 closed

[2018-11-01 16:05] globau commented on #1466
thanks for your time and for pointing me in the right direction.

[2018-11-02 09:23] wittfabian opened #1470 "contrib/_appengine_environ.py KeyError SERVER_SOFTWARE"
https://github.com/urllib3/urllib3/blob/master/src/urllib3/contrib/_appengine_environ.py

In the development environment, the variable SERVER_SOFTWARE is sometimes not set, so the query should read as follows:

`os.environ.get('SERVER_SOFTWARE', '').startswith('Development')`

[code]

[2018-11-02 13:13] SethMichaelLarson commented on #1470
I would accept a PR that makes this change. cc: @theacodes

[2018-11-02 17:56] theacodes commented on #1470
Yeah, fine with me. I'd be curious to know when the local server doesn't set the `SERVER_SOFTWARE` and what effect that has on detection.

[2018-11-04 14:51] mjpieters commented on #1065
@rayluo: Both `urllib` and `urllib3` depend on `httplib` (Py2) / `http.client` (Py3), which in turn builds on the standard library [`ssl` module](https://docs.python.org/3/library/ssl.html) for TLS support.  `urllib`'s contribution is limited to an `if _has_ssl:` test to pull in the HTTPS support from `http.client`.

So to see if you have TLS support, *focus on `http.client`, not `urllib`.

[2018-11-04 22:46] opoplawski commented on #1160
Seems like this can be closed now?

[2018-11-05 00:01] SethMichaelLarson commented on #1160
Yeah I think this has been completed. Thanks @alexwlchan!

[2018-11-05 00:01] #1160 closed

[2018-11-09 14:43] jakegt1 opened #1473 "Using HTTPResponse as an iterator can result in an infinite loop"

[2018-11-09 14:43] #1473 closed

[2018-11-09 14:47] jakegt1 opened #1474 "Using HTTPResponse as an iterator can cause an infinite loop"
Hello, sorry if this isn't particularly easy to understand (I don't know how to reproduce it but do know that it happens)

When using a response as an iterator or generator, the file may infinitely loop and never finish. This does NOT happen when using HTTPResponse.stream (which seems to be the correct way of iterating over the content).

I'm guessing this has something to do with how a HTTPRespon

[2018-11-09 14:58] SethMichaelLarson commented on #1474
When you're using it as an iterator what sort of data do you get infinitely? Empty strings?

[2018-11-09 15:10] jakegt1 commented on #1474
Alright, I was wrong - the difference is that it's just very slow in comparison to `stream()`. We just had files that looked like they were inifinitely looping because they were just taking very, very long.

Sorry about this, you can close the ticket if you like. I do wonder if `stream()` should be the default iterator for `HTTPResponse` though.

[2018-11-13 20:12] Madpentiste commented on #1456
I had the same issue, that prevented the menu item "Printers" (System>Administration>Printers) to launch. In a terminal, the command
_$ printer-config-system_
would throw an error similar as above.

The problem was completely solved by issuing in a terminal
_$ sudo pip install -U requests_

[2018-11-16 23:06] ZeldaZach opened #1476 "Session Passing Issues"
Hi urllib team!

I seem to have come across a weird race time condition error with your library. I am using the `requests` library to initiate downloads in several processes, but they all state my urllib3 fails in some capacity after a short period of time. Running it in singleton mode, I experience no issue.

Steps I took:
Create a session
Use the session to do some downloads
Call multiprocess.Po

[2018-11-17 08:50] wittfabian commented on #1470
The Travis CI build could not complete ...

[2018-11-22 20:31] SethMichaelLarson commented on #1437
`encode_multipart_formdata` function uses twice as much memory as the amount of data being sent and doesn't perform well on streams of data as you'd expect. Could this be the root of the issue?

[2018-11-22 20:36] SethMichaelLarson commented on #1100
I think this issue is mostly finished. Closing for now. Thanks @alexwlchan!

[2018-11-22 20:36] #1100 closed

[2018-11-23 19:31] mewalig commented on #1437
I would not expect this to be related, though I haven't reviewed all of the related code enough to rule out that possibility. The reason I would not expect this to be related is that `encode_multipart_formdata` finishes, and yields `encoded_body`, before the request is made, so it should not impact the request. Furthermore, the resulting `encoded_body` doesn't even get read by the other side, so i

[2018-11-27 07:24] 1oglop1 opened #1482 "Standard library"
I wonder why `urllib` always increment versions as a package instead of contributing to the standard library?

One day we end up with `urllib20` and N other dependencies in requirements file
`urlib`
`urllib2`
`urllib3`
`urllib3.5`
`urlib17.3`

as and example I'm not the only one who think about it:
https://pypi.org/project/urllib5/

[code]

So it made me wondering just why?

[2018-11-27 14:00] SethMichaelLarson commented on #1482
- urllib - Standard library module for opening and handling URLs in Python 3
- urllib2 - Standard library module for opening and handling URLs in Python 2
- urllib3 - Packaged library on PyPI that provides a urllib2/urllib interface for Python 2 and 3 and adds additional functionality found within most HTTP libraries such as Connection pooling, TLS, HTTP redirects, etc
- urllibN - Unrelated to thi

[2018-11-27 14:00] #1482 closed

[2018-11-27 15:21] pquentin commented on #1482
Related: https://github.com/urllib3/urllib3/issues/1065#issuecomment-265191841

[2018-11-27 20:03] tzickel opened #1483 "Maybe it should be explicitly documented that iterating over an HTTPResponse is bad"
HTTPResponse inherits from io.IOBase, meaning it's iterable. By python's documentation this means it iterates over lines in the response.

The problem is that it calls IOBase's readline, which in turn **calls the object's read method with size of 1, until it gets a newline.**

While discovering this when sending a huge payload and figuring out why its slow, this might not be obvious to people usin

[2018-11-28 05:15] tzickel commented on #1483
If we are inheriting from io.IOBase one might expect to use it's functionality which includes stuff such as .readline() which will still call that. Maybe since HTTP sockets are re-usable, we simply should not inherit from IOBase ?

[2018-11-28 09:35] ArnoCan opened #1486 "urllib3 fails with type error exception, when cannot reach PyPI - urllib3.util.retry"
Hi,
I hope this is the right place for the issue - see https://bugs.python.org/issue35334.

I am using the installation script *adafruit-pitft.sh* which tries to apply *urllib3* which itself tries to install nested dependencies, here *evdev* from PyPI.

When the installation is offline - e.g. by internal mirror of debian/raspbian - PyPI is not accessible. The code fails than by an type error
excep

[2018-11-28 15:07] SethMichaelLarson commented on #1486
Per the Python issue tracker comment by Christian Heimes:

I'd recommend creating an issue with Debian or determining how others on the platform are solving this issue. (Usually by not using the system Python or pip). This isn't a bug urllib3 is able to solve.

[2018-11-28 15:07] #1486 closed

[2018-11-30 08:49] BeyondEvil opened #1488 "Retry doesn't kick in for DNS errors"
I'm not sure if I'm doing something wrong or if I've misinterpreted the documentation.

But I'm trying to handle intermittent issues that I have with AWS and domain failing to resolve.

I'm running a suite of selenium tests, 30 tests to be exact, with lots of moving parts: app hosted on AWS, tests executed by Bitbucket CI (aka pipelines) using docker-in-docker and docker-to-docker.

Intermittently

[2018-11-30 14:37] SethMichaelLarson commented on #1488
DNS resolution occurs from [here](https://github.com/urllib3/urllib3/blob/master/src/urllib3/connection.py#L157) within `create_connection()`. From what I'm reading it looks like the `Retry` class checks to see if the exception is a subclass of `ConnectTimeoutError` which `NewConnectionError` is subclassed from so in theory it's accepting that the `NewConnectionError` is retry-able. There may be a

[2018-11-30 14:40] SethMichaelLarson commented on #1488
This could also be the problem:

[code]

Maybe we should be catching `SocketError` and `socket.gaierror` within `HTTPConnection._new_conn` and transforming both into `NewConnectionError`?

[2018-11-30 14:51] BeyondEvil commented on #1488
Thanks @SethMichaelLarson !

Any idea how I can test this?

Maybe patch my docker image with a branch of urllib3 that contains changes reflecting catching socket.gaierror as well?

[2018-11-30 14:53] SethMichaelLarson commented on #1488
Change [this line](https://github.com/urllib3/urllib3/blob/master/src/urllib3/connection.py#L166) to `except (SocketError, socket.gaierror) as e:` and import `socket` up top?

[2018-11-30 14:55] BeyondEvil commented on #1488
Will do!

And I'm I correct in assuming that if Retry is happening, my errors/exceptions should be wrapped by MaxRetryError?

Any other ways of verfiying retry is actually happening?

Is my code correct, btw?

Thanks @SethMichaelLarson

[2018-11-30 14:55] SethMichaelLarson commented on #1488
Yeah they should be wrapped by that exception. Your code looks correct on first glance.

[2018-11-30 14:56] BeyondEvil commented on #1488
Cool, thanks!

Quick Q re. `mount()` can the prefix be an empty string? Will that cause the Retry to retry on all URLs?

[2018-11-30 16:05] BeyondEvil commented on #1488
Changed the except to also catch socket.gaierror (socket was already imported).

No dice. :(

Here's the test-report: https://dporganizer-test-results.s3.amazonaws.com/e2e/pr_test_report_2018-11-30_15-51-32_firefox.html

Same error, no wrap. :(

Since I'm patching my image, where is a good place to add some debugging?

@SethMichaelLarson

[2018-11-30 16:07] SethMichaelLarson commented on #1488
I'm going to look at this more closely when I get time. Thanks for trying and providing a result.

[2018-11-30 16:08] SethMichaelLarson commented on #1488
Also related: #1003, #1008

[2018-11-30 16:12] BeyondEvil commented on #1488
Thanks! Appreciate it.

I noticed in this run that it looks like Requests might be swallowing the MaxRetryError:

`/usr/local/lib/python3.7/site-packages/requests/adapters.py:513: in send
raise ConnectionError(e, request=request)`

https://github.com/requests/requests/blob/v2.20.1/requests/adapters.py#L500

[2018-11-30 16:22] SethMichaelLarson commented on #1488
I don't know if you've got time to try but it'd be nice if you could implement what you're attempting to do in a urllib3 `PoolManager`, then we wouldn't get the extra layer or requests obfuscating our exceptions.

[2018-11-30 16:38] iyanmv commented on #1434
Thanks @YuMan-Tam! Unfortunately, I cannot test your solution, I'm not working with NTLM proxies anymore (thank god! :pray:)

[2018-11-30 20:19] BeyondEvil commented on #1488
I might not have time to do it during the weekend, but I can probably give it a try early next week.

[2018-12-01 21:04] sethmlarson opened #1490 "Add support for client key passphrase for SecureTransportContext"
Currently we don't use the `_client_key_passphrase` parameter on `SecurityTransportContext` object within `contrib/securetransport`. Currently this would require the following:

- Would probably be best if you have access to a macOS system (Currently I don't have access to one).
- Add support for bindings for the `SecItemImportExportKeyParameters` struct within the @wbond's [`oscrypto`](https://gi

[2018-12-01 22:49] SethMichaelLarson commented on #1490
Pinging @Lukasa as our SecureTransport champion in case you have some additional insights that are missing here.

[2018-12-03 12:10] theodesp commented on #1214
So basically we go through the https://codecov.io/gh/urllib3/urllib3/tree/master/src/urllib3 reports and check where the raise statements are not covered and provide test cases for that? If that's OK  I will try to push some PRs.

[2018-12-03 13:16] brad-anton opened #1491 "HTTP CONNECT request sent in different packets while using an HTTPS Proxy"
*Note* At the [request of the requests team](https://github.com/requests/requests/issues/4884), I've opened a ticket here.

When using an HTTPS proxy, HTTP headers (and other parts of the request) are sent at different times then the initial HTTP `CONNECT` method, causing _some_ proxy services to abort the connection.

## Expected Result

The entire HTTP request should be sent in the same packet a

[2018-12-03 13:31] SethMichaelLarson commented on #1214
Yeah that's the idea! :) Don't feel like you have to cover them all in one PR either. Committing a few at a time is totally fine.

[2018-12-03 13:52] SethMichaelLarson commented on #1491
Would you be willing to submit a PR for this change?

[2018-12-03 16:13] BeyondEvil commented on #1488
Ok, I'm up and running with a pure urllib3 solution @SethMichaelLarson

I have a question tho: How can I verify that the retry is actually happening? Logging or is there anything in the retry object I can check? `self.history`?

[2018-12-03 16:23] BeyondEvil commented on #1488
Thanks for the fast response! @SethMichaelLarson

I also noticed that whenever a retry is happening, a logging warning is issued.

So, I'm guessing the problem lies with `Requests` and not with urllib3, right?

Here's a test report: https://dporganizer-test-results.s3.amazonaws.com/e2e/pr_test_report_2018-12-03_15-49-05_firefox.html

Check `tests/data_flow_test.py::test_create_data_flow`

There on

[2018-12-03 16:32] SethMichaelLarson commented on #1488
Could be! Was this test run with the above patch to that `except` block with `socket.gaierror`? That is the expected warning we'd receive if we couldn't resolve a connection. I'd like to add a test case to our unit tests to ensure the proper code path is being followed as I'm expecting here.

[2018-12-03 17:44] brad-anton commented on #1491
@SethMichaelLarson Do you think this is by design in httplib?

[2018-12-03 18:11] SethMichaelLarson commented on #1491
I don't think so, probably only there due to not having to allocate a buffer for all headers instead just send them as they're encoded.  There (should be) no difference between sending all at once versus sending headers one by one but if some proxies don't implement that properly it'd be nice to support them as well.

There shouldn't be an issue of buffering too much data as I can't imagine the nu

[2018-12-03 18:21] BeyondEvil commented on #1488
@SethMichaelLarson No, actually it wasn't. This was run using the unpatched version. 🤔

[2018-12-04 23:00] lexugax opened #1493 "Client certificate password?"
I am trying to pass a client certificate to my request, but the documentation says nothing about specifying the password for an encrypted certificate:

">>> http = urllib3.PoolManager(
...     cert_file='/path/to/your/client_cert.pem',
...     cert_reqs='CERT_REQUIRED',
...     ca_certs='/path/to/your/certificate_bundle')"

Does this mean that the client cert cannot be encrypted?

[2018-12-05 10:01] ret2libc commented on #1316
Are you ok asking MITRE for a CVE for this? It would be a flaw similar to the python-requests one (https://bugzilla.redhat.com/show_bug.cgi?id=1643829). Something like "A credentials-exposure flaw was found in python-urllib3, where if a request with authentication is redirected from an HTTPS endpoint to an HTTP endpoint on the same host, the Authorization header is not stripped by default and the

[2018-12-05 14:40] SethMichaelLarson commented on #1316
Of course! Make sure you get the affected versions correct.

[2018-12-05 18:19] lexugax commented on #1493
Yes, this is what I was looking for. Thanks!

[2018-12-05 18:19] #1493 closed

[2018-12-07 16:19] #466 closed

[2018-12-07 16:19] #859 closed

[2018-12-07 16:19] #952 closed

[2018-12-07 16:19] #1096 closed

[2018-12-09 02:59] SethMichaelLarson commented on #1392
Alright everyone I took a first stab at this by toying around with Travis a lot.
Here's the example repository I built: https://github.com/SethMichaelLarson/python-travis-deploy

The workflow for a release is:
- Any user creates a branch named `release-x.x.x`, commits `CHANGES.rst` and `urllib3/__init__.py`, and opens a PR to our master branch.
- Unit tests run as usual but integration tests also

[2018-12-09 07:43] theacodes commented on #1392
Sounds great to me. This is very similar to what we do for the
google-cloud-* libraries (automated through gcp-releasetool), so I'm on
board.

On Sat, Dec 8, 2018, 6:59 PM Seth M. Larson <notifications@github.com>
wrote:

[2018-12-10 18:23] #1460 closed

[2018-12-10 18:33] SethMichaelLarson commented on #1282
Hey @leesdolphin, I'd like to fix this issue but I'm having trouble determining what's exactly wrong in those files. Could you provide some more details and help me understand what's going on? Thanks!

[2018-12-10 22:14] brad-anton commented on #1491
One other thing @SethMichaelLarson - wouldnt the fix be in here rather then in urllib?
* https://github.com/python/cpython/blob/master/Lib/http/client.py#L895-L898

[2018-12-11 18:53] BeyondEvil commented on #1488
I finally had some time to look into this again @SethMichaelLarson

It now works as expected. I'm not entirely sure why, but I think it might have to do with the `prefix` argument to the `mount` function of Requests `Session` class. I made sure to set it to the full protocol/scheme `http://` or `https://`.

Thanks for all your help!

[2018-12-11 18:53] #1488 closed

[2018-12-12 06:01] carnil commented on #1316
[CVE-2018-20060](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-20060) was assigned for this issue.

[2018-12-14 21:08] sethmlarson opened #1498 "Create an integration testbed"
This issue is being used as a brain dump for me until I create the new repository for this work. This work would be done as part of #1392.

- [ ] Allow testing against versions of Python before and after significant changes were introduced:
  - Python 2.7.8 / 2.7.9 for SSLContext
  - Python 3.4, 3.5, 3.6, 3.7
  - PyPy and PyPy3
  - Dev / RC Python builds
- [ ] Allow testing with a subset of depend

[2018-12-16 04:58] navneethnarendra opened #1499 "run-time issue while running fbchat via Java/Jython"
import java.util.Properties;
import javax.script.ScriptException;
import org.python.util.PythonInterpreter;

public class PythonInJava {

	@SuppressWarnings("resource")
	public static void main(final String[] args) throws ScriptException {
		System.setProperty("python.cachedir.skip", "true");
		Properties p = new Properties();
		p.setProperty("python.path",
				"/Users/<user>/.m2/repository/org/py

[2018-12-16 05:40] pquentin commented on #1499
This appears to be a Jython issue, maybe http://bugs.jython.org/issue2618? I don't think urllib3 can do anything about it. :(

Maybe Jython support could be tested as part of #1498?

[2018-12-17 04:35] SethMichaelLarson commented on #1498
FYI currently the repo can be found at https://github.com/SethMichaelLarson/urllib3_test_tool

[2018-12-17 22:03] sethmlarson opened #1500 "Add support for TLS 1.3 for pyOpenSSL when cryptography 2.5 is released"
Leaving this for myself in the future when cryptography 2.5 is released as a part of the work in #1496.

[2018-12-19 08:04] speedplane opened #1501 "App Engine Warning: TypeError: expected httplib.Message, got <type 'instance'>"
While running on App Engine, I received the following error message in the logs when making HTTP requests: `TypeError: expected httplib.Message, got <type 'instance'>`. I believe this is because App Engine uses a different HTTP lib with it's own specially named instances. These instances *should* be compatible with `httplib.Message`, so the rest of the function can proceed, but the initial check w

[2018-12-19 08:10] speedplane commented on #1501
Provided a quick fix in PR #1502.

[2018-12-19 11:13] speedplane opened #1503 "App Engine Error with HTTPS"
I believe the change in PR #1430 broke urllib3 on Google App Engine, which doesn't have `_tunnel_host` in its implementation of httplib. Not sure why this wasn't picked up by tests, but the fix is easy, simply adding `if getattr(self, '_tunnel_host', None)` part should go back in.

Below is a stacktrace of the error. Note that this is pure urllib3, no requests are being used.

[code]

[2018-12-19 11:21] speedplane commented on #1503
See PR #1504 for the related PR.

[2018-12-20 02:45] liujie-gd commented on #855
看 `gdpy/auth.py` 中替换 `compat.to_bytes()` 之前，都是 `.encode('utf-8')`。两者效果是一样的？（在 `py2` 中得到一个 `str` 对象，在 `py3` 中得到一个 `bytes` 对象）

那 `ssl3_write_pending` 问题是哪导致的呢？

[2018-12-25 14:35] ddugovic commented on #1452
Can a more meaningful exception/error be raised than `Error decoding chunked response in _update_chunk_length: ValueError: invalid literal for int() with base 16: b'HTTP/1.1 200 OK\r\n'`?

[2018-12-25 14:57] sethmlarson commented on #1452
So is this issue a bug or not? If it's a bug instead of changing the error message I'd rather fix the issue.

Are there any public facing websites that always trigger this issue or do you have an example chunked body that causes it?

[2018-12-25 15:08] careless25 commented on #1452
We use this on Lichess (https://lichess.org/) and all Lichess Bots go down due to this: https://github.com/careless25/lichess-bot/issues/163

[2018-12-29 01:37] kyoshidajp opened #1510 "authorization header be forwarded to cross-site when redirecting"
#1346 fixes only "Authorization" header. "authorization" header isn't supported.

RFC7230 section 3.2 "Header Fields" (https://tools.ietf.org/html/rfc7230#section-3.2) says the following.

   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.

[2018-12-29 22:41] #1510 closed

[2019-01-04 19:22] crwilcox commented on #1415
@sethmlarson is this resolved now or will be by your modifications to releasing (https://github.com/urllib3/urllib3/pull/1508)?

[2019-01-04 19:45] sethmlarson commented on #1415
This will in theory fix that issue by removing the human element of releases unless there's some special transformation we need to do to the tarball after building it. Does the default sdist build have world-writable perms?

[2019-01-07 19:51] sethmlarson commented on #1491
@gleopoldo There's no patch open for this issue yet but you could be the first to provide one!

[2019-01-07 19:58] gleopoldo commented on #1491
Okay. I thought that they might be related, but I'm going to open a separated one for this, so. Tks!

[2019-01-07 20:17] gleopoldo opened #1513 "Can't connect through HTTPS via Proxy"
Hello!

I have an python 2.7.3 application running with urllib3 1.24.1 and I'm getting an error when attempting to send a request through a proxy. Here is my example:

[code]

By running the code above, I get:

[code]

However, if I change the destination address to HTTP instead, I can perform the request successfully.

I've tried different versions of urllib3, from 1.6.0 up to 1.24.1, running int

[2019-01-07 20:31] shazow commented on #1513
Is it possible that your proxy is not working with HTTPS connections? Does it work with something like `curl --proxy="<the same proxy>" "https://google.com/"`?

[2019-01-07 20:41] gleopoldo commented on #1513
Yeah. Nice one! Testing with curl, seems that there is a problem with proxy not accepting requests from my machine :thinking: ...

[code]

I'm going to look into this.

Also, I've tried to send a request to google without the HTTPS and, although the request didn't raised an exception, it returned the same 403. Is there any reason to this behavior be so different from the one I've got when sending

[2019-01-07 20:44] shazow commented on #1513
Sounds like it's something related to your proxy configuration--maybe it doesn't like Google's HTTPS certificate for some reason?

Or maybe Google has identified your proxy IP as harbourer of bots (common for shared proxy IPs) and is presenting it with somekind of challenge that the proxy is failing to complete?

Closing this for now, since it's not urllib3's fault, but you're welcome to share the

[2019-01-07 20:44] #1513 closed

[2019-01-07 20:44] MinasA1 commented on #1491
Sorry but above @brad-anton have provided you with a workaround and also have pointed out the issue and it's solution.

https://gist.github.com/brad-anton/ff517025a86754793b680b3c5cfc9797

[2019-01-07 20:53] gleopoldo commented on #1491
Didn't saw above. Tks @MinasA1.
Also, deeping into my problem, maybe it's related to the proxy itself, and not with urllib. I'm going to check out it's configurations to find the root cause for that one...

[2019-01-07 20:56] gleopoldo commented on #1513
@shazow That seems strange for me, since the response that came back was the same in both cases.... The only difference was that the SSL version raised an exception. Shouldn't the urllib API be consistent in this point and either raising an exception, or returning the error content directly in both scenarios?

[2019-01-07 21:05] shazow commented on #1513
@gleopoldo Hmm, so are you proposing that a different kind of error should be raised? IIRC this is tricky because ultimately if retries are enabled, `MaxRetryError` is the error you'll get unless it's a whitelisted subset of errors, but it should contain the underlying cause.

Sorry I kinda tried to helicopter help in here without being up to date with the other issues that you're referring to whe

[2019-01-08 11:15] kadircet opened #1514 "Possible memory leak"
Hello everyone, thanks for the great work!

I was trying to update our internal version of urllib3 from 1.15.1 to 1.24.1 when running regression tests I've noticed there was an increase in memory usage for [apache/beam](https://github.com/apache/beam/blob/109eeb81535a1fd4f5d8cc724f3ddbddab326c3d/sdks/python/apache_beam/pipeline_test.py#L264) project. The memory usage for the test was increasing fr

[2019-01-08 15:06] gleopoldo commented on #1513
@shazow I'm don't think that `MaxRetryError` is the problem here... I'm referring to `ProxyError` that is raised when the `403` response returned. It is only raised when I used the HTTPS connection. The HTTP attempt returned the response object correctly.

Since the HTTP request didn't failed at first time, it's never retried and so it never raises the `MaxRetryError`. The other version (using HTT

[2019-01-08 15:53] shazow commented on #1513
@gleopoldo Could you please open another issue specifically for what you just described?

[2019-01-08 16:45] gleopoldo commented on #1513
Yeah. Sure. Tks!

[2019-01-08 16:51] gleopoldo opened #1515 "Request raising exception only for HTTPS requests"
Hello!

I have an python 2.7.3 application running with urllib3 1.24.1 and I'm getting an error when attempting to send a request through a proxy. Here is my example:
[code]

I got this issue when running the request above on a misconfigured proxy: assuming that I'm making a request to google.com using HTTPS, I get a `ProxyError`:

[code]

However, by issuing a request to **http**://google.com, I

[2019-01-09 11:38] shivam05011996 opened #1516 "Getting exception in _update_chunk_length"
Hi,
While requesting a particular URL, I came across this error
[code]

This was reported in requests module [here](https://github.com/requests/requests/issues/4248)

I fixed it as -
[code]
or a one liner as
[code]
Is it worth giving a PR regarding this??

[2019-01-09 19:52] sethmlarson commented on #1516
Is this URL publicly available? I'd like to see the exact HTTP response.

[2019-01-09 20:20] sethmlarson commented on #1515
Thanks for opening this issue. I agree this is a little confusing from an API perspective but I think we're doing the right thing here.

When using HTTPS over a proxy there's an additional request that is done to create an HTTPS tunnel through the proxy and we're receiving a non-2XX response from the proxy when setting up that tunnel we raise a `ProxyError` because a tunnel couldn't be established

[2019-01-09 20:20] #1515 closed

[2019-01-09 20:40] sethmlarson commented on #1514
Thanks for opening this. Could you point to where you're looking at in your CI to make the determination about the amount of tuples being used?

[2019-01-10 06:09] shivam05011996 commented on #1516
Yes, I faced this issue while requesting an URL for wikidata entry, not sure what's the exact URL because this happened after ~94000th iteration.

[2019-01-10 14:59] gleopoldo commented on #1515
Nice! Thanks for the reply, @sethmlarson!

[2019-01-10 17:43] kadircet commented on #1514
Unfortunately I don't have any public links that I can provide since all tests are run in an internal system with authentication. But the process I followed is like this:

I've added two objgraph.show_growth() calls to the above mentioned test, one just before [pipeline.run()](https://github.com/apache/beam/blob/109eeb81535a1fd4f5d8cc724f3ddbddab326c3d/sdks/python/apache_beam/pipeline_test.py#L308

[2019-01-10 21:47] sethmlarson commented on #1516
If you could get the exact URL where this happens that'd be great. The URL you've given as an example doesn't use `Transfer-Encoding: chunked` so it shouldn't hit this logic. Below is what I'm seeing when hitting this URL:

[code]

[2019-01-11 06:51] Qoyyuum opened #1518 "No module named 'urllib3.packages.six'"
[code]

I checked that I have already installed `urllib3` and `six`.

[code]
[code]

What am I missing?

[2019-01-11 12:24] averri opened #1519 "Cannot connect using HTTPS (not fully secure)"
The `urllib3` is not connecting to a HTTPS url. It's possible to open the url in any browser, although there is a message saying "You connection to this site is not fully secure" when we click in the browser security icon.

This is the code:
[code]

And the error message:
[code]

[2019-01-11 14:20] glaukon-ariston opened #1520 "Accessing HTTPS sites through proxy"
Why is it that urllib3 doesn't allow proxy access to HTTPS sites? See [poolmanager.py#L416](https://github.com/urllib3/urllib3/blob/master/src/urllib3/poolmanager.py#L416). This limitation seems to be also reflected in the [requests](https://github.com/requests/requests/blob/master/requests/adapters.py#L346) library as well.

[poolmanager.py#L416](https://github.com/urllib3/urllib3/blob/master/src

[2019-01-11 16:06] sigmavirus24 commented on #1519
[code]

This points to this not being a problem with HTTPS in this situation but in how your server is actually behaving.

[2019-01-11 16:21] sigmavirus24 commented on #1520
It's a limitation of the fact that urllib3 uses httplib/http.request under the covers and the standard library is terrible at supporting this particular use-case. Luckily urllib3 is being slowly rewritten.

[2019-01-11 17:22] averri commented on #1519
Hi @sigmavirus24 , thanks for informing that. If that is the case, this bug can be closed.

[2019-01-11 19:38] glaukon-ariston commented on #1520
Is there a roadmap of what needs to be done to support HTTPS over proxy in urllib3? How much work is it? What has already been done so far? Is there a single point in the httplib/http.request that is the root of the problem? Is there a reference implementation you can recommend. I would appreciate any specific details you can provide.

[2019-01-11 20:04] sethmlarson commented on #1519
I think this can be closed, thanks for handling this @sigmavirus24!

[2019-01-11 20:04] #1519 closed

[2019-01-11 20:06] sethmlarson commented on #1518
Do you by chance have a module or file locally called `urllib3`? I'm unable to reproduce this on a clean install in a virtualenv.

[2019-01-11 20:47] theacodes opened #1522 "Create a dedicated urllib3 PyPI account."

[2019-01-11 20:50] theacodes opened #1523 "Decide on plan for dropping App Engine standard support"

[2019-01-14 13:46] Qoyyuum commented on #1518
I installed it without a `virtualenv`. I've tested with a `pipenv` which is a better version of `virtualenv`, IMO and it does work.

[code]
I thought that this might solve for [Variety's issue](https://github.com/varietywalls/variety/issues/124)

**Why is this any different between both Virtualenv and installed globally in pip install?**

[2019-01-14 13:52] sigmavirus24 commented on #1518
A few things:

`Requirement already up-to-date: urllib3 in /usr/lib/python3.6/site-packages (1.24.1)` shows that you're using Linux and on many Linux distros, `pip` is broken (by the distro packagers) even when using `--user` to prefer the globally installed version installed by the distro package manager.

In many such cases, they also break packages because the package manager provided packages

[2019-01-20 18:54] nartes commented on #517
Looks like the problem is like:
1. ssl_context supports check_hostname to be set to False. As a result match_hostname from ssl module will not be called upon a handshake stage.
2. But urllib3 has built in a repetitive logic, which relies on its own parameters to control hostname checking.
3. The behaviour is usefull when we are not relying on hostname verification, but only ensure the certified ke

[2019-01-21 00:50] sethmlarson opened #1526 "Should using server_hostname imply assert_hostname?"
Currently passing in `server_hostname` doesn't automatically enable hostname verification via `assert_hostname` despite `server_hostname` modifying the behavior of hostname verification if used. What are everyone's thoughts on this? cc @urllib3/maintainers

[2019-01-21 09:38] nartes commented on #517
@sethmlarson, yeah seems like assert_hostname is what needed!
1. Is it uncommon practice to ignore hostname verification for self-signed certificates?
I though it is unnecessary, since relying on DNS resolution, or doing IP pinning, won't give more security.
2. It is still like:
[code]
3. Probably it's better to switch to urllib3 only. I'm looking at the problem from the requests library point of

[2019-01-21 14:33] sethmlarson commented on #517
1. I'm not sure! I'd say that keeping things in development environments as close to production environments as possible is preferable. So if you do hostname verification in production you should strive to do it in development too.

2+3. This is up to you, you've got your adapter written already and now you can just use and extend it if you want. urllib3 is intended to be a low-level interface and

[2019-01-21 14:34] #1392 closed

[2019-01-21 14:34] #1498 closed

[2019-01-21 17:35] shazow commented on #1522
Some questions:

- Do we have a strategy in place for sharing logins/secrets between maintainers? (Should we setup a Keybase group or something?)
- What do we want to do in terms of the email address for shared accounts? (Doesn't look like PyPi has a notion of shared orgs? Should we setup a shared gmail or just use the lead maintainer's email or mine?)

[2019-01-21 17:58] theacodes commented on #1522
These are all questions I wanted to answer in the process of setting this
up. I'm good with taking this on next week.

On Mon, Jan 21, 2019, 9:35 AM Andrey Petrov <notifications@github.com>
wrote:

[2019-01-21 19:22] haikuginger commented on #1526
I think it's a close call. Is `server_hostname` the only path to use SNI when the network host is specified with an IP address? If so, then we definitely want to at least ensure that hostname verification can be disabled so that SNI-based routing can work when the destination server has a bad cert (which, to be clear, is Not Good, but I think our general philosophy in the past has been that we don

[2019-01-22 03:12] sethmlarson commented on #1526
That's true, I think I misunderstood the conditional within `VerifiedHTTPSConnection.connect` for choosing whether we do hostname verification or not (Didn't notice that the default `assert_hostname=None` does hostname verification). Thanks for the explanation!

[2019-01-22 03:12] #1526 closed

[2019-01-22 13:17] #1275 closed

[2019-01-24 18:16] #1503 closed

[2019-01-25 18:42] theacodes commented on #1522
I'm going to use [git-secret](https://git-secret.io/) which is just a fancy wrapper on top of `gpg` to store the secret here and share with other maintainers.

[2019-01-25 18:42] theacodes commented on #1522
@shazow @sethmlarson can y'all share your GPG public keys with me at your convenience?

[2019-01-25 18:47] shazow commented on #1522
https://keybase.io/shazow/pgp_keys.asc is mine.

[2019-01-25 19:04] sethmlarson commented on #1522
Just created a keybase. Here's mine: https://keybase.io/sethmlarson/pgp_keys.asc

[2019-01-25 19:15] #1454 closed

[2019-01-25 19:19] theacodes commented on #1522
Ah since we all have keybase I'll just use that. :)

On Fri, Jan 25, 2019 at 11:04 AM Seth Michael Larson <
notifications@github.com> wrote:

[2019-01-25 20:47] theacodes commented on #1522
Account created and password is now in Keybase.

@shazow can you add https://pypi.org/user/urllib3/ as a maintainer for urllib3 on PyPI (I don't have the ability).

[2019-01-25 21:07] #1522 closed

[2019-01-25 22:29] sethmlarson opened #1529 "URLs without // don't parse correctly"
URLs like: `mailto:johndoe@example.com` don't parse correctly due to our logic on when to add a scheme delimeter to a URL.

[2019-01-26 02:29] Windsooon opened #1530 "Ignore userinfo in request"
I found in the [connection_from_host function](https://github.com/urllib3/urllib3/blob/master/src/urllib3/poolmanager.py#L210), we didn't use userinfo in `request_context`, so

    r = http.request('GET', 'http://user:1234@httpbin.org/robots.txt')
would be just as same as

    r = http.request('GET', 'http://httpbin.org/robots.txt')

I wonder why we ignore the userinfo part?

[2019-01-26 21:05] shazow commented on #1522
@theacodes Done

[2019-01-26 21:07] shazow commented on #1529
Hm, what _should_ that parse to?

[2019-01-26 22:37] sethmlarson commented on #1530
Currently we expect our users to handle authentication headers themselves. It's unfortunate that we silently strip this information though. What's the behavior of the standard library for these types of URLs?

[2019-01-27 03:50] Windsooon commented on #1530
I came from [cpython issue-34628](https://bugs.python.org/issue34628), the standard library didn't handle it correctly. I think we may raise an error there and ignore what RFC standard said right now.

[2019-01-27 18:34] sethmlarson commented on #1415
Closed via #1508

[2019-01-27 18:34] #1415 closed

[2019-01-28 00:18] sigmavirus24 commented on #1529
It's unfortunate that I know the RFC as well as I do, but I guess also inevitable.

[2019-01-28 19:32] sethmlarson commented on #842
I believe this issue should be closed already. `SSLContext.load_default_certs()` is good at finding system cert bundles now.

[2019-01-28 19:32] #842 closed

[2019-01-28 19:37] sethmlarson commented on #1158
I'm going to close this as out of scope.

[2019-01-28 19:37] #1158 closed

[2019-02-01 00:14] greatvovan opened #1535 "The library gets stuck on "Starting new HTTPS connection...""
I am using a couple of Python packages (`wikipedia` and `mwviews` if this is important) that use `requests` package, which in turn is known to use `urllib3` under the hood. My service is issuing many requests to Wikimedia public APIs and sometimes gets stuck on getting data from the API. Enabling DEBUG logs shows the last message to be `Starting new HTTPS connection (1): en.wikipedia.org:443` whic

[2019-02-01 00:53] haikuginger commented on #1535
This seems the likely culprit. If the caller doesn't set a timeout, after which either our connection-establishing SYN packet or the responsive SYN-ACK is dropped, then we will wait indefinitely to establish a TCP connection. This is expected behavior.

Additionally, I see from a quick perusal of the `wikipedia` code that it doesn't appear to be doing things optimally from a performance perspectiv

[2019-02-01 00:53] #1535 closed

[2019-02-01 01:12] greatvovan commented on #1535
@haikuginger I understand that `wikipedia` lib is not the state of the art and thankful for the suggestion, but this issue is more about `urllib3`. If setting of timeout helps it will be just a workaround and mean that the bug is still here. I don't see any reasons for Wikimedia servers to establish connections and keep them indefinitely long. If it was true they would get all connections exhauste

[2019-02-01 02:00] greatvovan commented on #1535
The benefit of reusing connection is pretty clear. My point is that they will not delay writing the response to my socket by a couple of days. Because "what for?" Requests of my type usually take several milliseconds, they cannot be legitimately handled for hours on the server.

To my understanding, the nature of TCP protocol guaranties delivery of all sent packets. If something was lost in betwee

[2019-02-01 13:14] sigmavirus24 commented on #1535
@greatvovan it's unlikely that urllib3 is getting stuck after opening the connection. If anything, I'd imagine that trying to start it is being hung up on finding DNS, or trying to open connections, or something going sideways in your OS while we try to create the connection. In short, there's only so much urllib3 can do and there's barely any information in here to actually point to a problem wit

[2019-02-02 14:37] dulitz commented on #1516
I'm having this problem as well, but my webpage isn't public and its contents are sensitive. On a request that succeeds (e.g. from Chrome), the response headers look like this:

but unfortunately I can't see the chunks in Chrome and it's a TLS request so sniffing on the wire is hard.

Not being able to see the chunks, I won't opine on whether this is "really a bug."

[2019-02-02 14:53] sethmlarson commented on #1516
Is there a way you can get curl to show the chunks?  You can remove all the content we just need the boundaries and how much data is between them. If you've got a reliable reproducer we would love to see it. :)

[2019-02-02 16:16] dulitz commented on #1516
Strange bespoke authentication makes curl difficult to use here, but it would have been possible.

I stepped through urllib3 during the read. The server was returning a 500. The response headers said it was chunked but it wasn't -- I believe the body was empty.

So in my case this wasn't a bug in urllib3; the server definitely sent a spec-violating response. I'm just going to leave this here to re

[2019-02-04 12:11] dulitz commented on #1516
Could this be caught in urrllib3 and re-raised with a "The server indicated a chunked response. Did the server send a non-chunked response or no chunks at all?" wrapper exception?

In my case and issue 4248 above, I'm going to guess that the body was empty; 4248 had another response on the connection while @shivam05011996 and I did not.

I'd suggest that the wrapper exception contain the HTTP resp

[2019-02-04 12:46] sigmavirus24 commented on #1516
I was thinking about this as well. In the original post, we clearly have a response we could attach. Perhaps `read_chunked` could include `self` in the exception to make it easier?

[2019-02-05 21:53] jaraco opened #1537 "OpenSSL.SSL.Error raised with invalid client cert and cryptography 2.5"
In requests/requests#4961, I stumbled onto an issue where it appears that in the right scenario, OpenSSL errors are raised from `urllib.connectionpool.HTTPConnectionPool._make_request`. It happens with these deps

[code]

[among others](https://github.com/cherrypy/cheroot/issues/173#issuecomment-460411259) on multiple Pythons and operating systems including Python 3.7.2 on macOS or Python 3.7 on L

[2019-02-05 22:36] jaraco commented on #1537
[This script](https://gist.github.com/a648d793c847aa3be2ff5186bb8c1dc7) replicates the issue. Download and run with `pip-run -- -m pytest test-ssl.py` (or create an env and install the dependencies manually). This test is a distilled version of the test that cheroot runs. It still relies on cheroot to set up the verifying HTTPS server.

I can distill this more later, but I need to break for now.

[2019-02-06 02:35] sethmlarson commented on #1537
I'm almost positive this is [post-handshake authentication](https://tools.ietf.org/html/rfc8446#section-4.2.6) of client certificates.

[2019-02-12 22:41] cyberfox1 commented on #1321
What a joke.

[2019-02-14 19:06] Ch3ck commented on #1324
@haikuginger has this issue been fixed yet? I still get the same errors for Python 3.7 or is there a getaround for this in Py3

[2019-02-15 14:45] hannob opened #1538 "Poolmanager leaves sockets open, causing debug warnings, documentation does not mention clear() function"
I noticed that python scripts using poolmanager will show warnings when run with PYTHONWARNINGS=d.

Take a simple example (from the docs):
[code]

Save it as example.py, run:
[code]
It will cause warnings like this:
[code]

By looking at what functions the poolmanager object has I found that it supports a clear() function that will close all sockets. However that's not mentioned in the official do

[2019-02-15 16:24] sethmlarson commented on #1538
The link to documentation you gave it out of date (1.2.1), [this is where our docs are on `PoolManager`](https://urllib3.readthedocs.io/en/latest/reference/index.html#module-urllib3.poolmanager) which mentions `clear()`.

[2019-02-15 16:44] hannob commented on #1538
It seems the new doc has pretty bad google ranks, the old one is what one always finds. I haven't found that searching for it. But I guess it's okay then. (Not sure if there's a way to do this on readthedocs, but maybe it'd be an idea to have a link on all the old docs "This doc is outdated, go here for the current one".)

[2019-02-20 07:11] appunni-dishq opened #1539 "util.parse_url doesnt parse path when schema https: or http: etc is missing"
//chuaochocolatier.com/chocolate-bars/types-of-chocolate/milk-chocolate.html

Example urllib parsing:

[code]

Example urllib3 parsing:

[code]

I suppose this is a bug. Please let me know how I can help.

[2019-02-20 12:35] bmerry opened #1540 "[Performance] wrap http.client's readinto"
I've been trying to optimise some code that fetches 4-10MB objects over HTTP on a high-speed network (25Gb/s). I found that the best performance comes from pre-allocating a buffer from Content-Length and using `http.client.HTTPResponse.readinto`; `http.client.HTTPResponse.read` is slow for >1MB objects because it reads 1MB chunks then joins them together.

Unfortunately when using urllib3 I couldn

[2019-02-20 13:05] bmerry commented on #1540
Purely for interest, https://bugs.python.org/issue36050 and https://bugs.python.org/issue36051 describe the bottlenecks I ran into with `http.client.HTTPResponse.read`.

[2019-02-20 19:21] sethmlarson commented on #1539
Is this against master or the latest released version? If not against master could you try again using the latest URL parsing code?

[2019-02-24 04:07] user234683 commented on #1296
I'd like to mention that there are use cases where it is undesirable to state the library version being used (since this can vary per user). I'm making [a project](https://github.com/user234683/youtube-local) where anonymity is important, and the fact that urllib sends the python version if no user agent is set caught me off guard a bit, and I had to manually set my own default in the wrapper func

[2019-02-24 04:34] user234683 opened #1542 "Ability to use proxies in ConnectionPool objects"
Currently, it's only possible to use a SOCKS or HTTPS proxy as part of a PoolManager. If you want to [manage your own pools by using ConnectionPool objects](https://urllib3.readthedocs.io/en/latest/advanced-usage.html#customizing-pool-behavior), there's no built in way to do it as far as I can tell.

Looking at the documentation, I'm not sure if the HTTPConnection instances are meant to be used di

[2019-02-25 01:25] jMyles commented on #1500
Hey friends.  Has this landed yet?  Anything we can do to help?

[2019-02-25 01:32] sethmlarson commented on #1500
Upstream Requests tests are failing, I haven't had the time to setup a requests environment lately. If you'd like to do some debugging of that or the best way to setup an OpenSSL 1.1.1 env on Travis it'd be appreciated.

[2019-02-26 05:15] user234683 opened #1543 "HTTPResponse.getheaders() is not backwards compatible"
The `getheaders()` method of the `HTTPResponse` class returns the dict-like `HTTPHeaderDict`, while the httplib version of that method returns a list of (header, value) tuples. This means that code iterating over the response as in `for header, value in response.getheaders()` will not work with urllib3 response objects unless `.items()` is called on the returned `HTTPHeaderDict` object. A comment

[2019-02-27 20:43] Yomguithereal commented on #951
Hitting the same issue while using a bunch of threads to mass download html content. Is there anything I could do to help you fix this or do you reckon I should handle redirects on my own as @shazow says:

[2019-02-27 20:54] #1368 closed

[2019-02-27 20:54] #1269 closed

[2019-02-27 20:54] #1386 closed

[2019-02-27 20:54] #1451 closed

[2019-02-27 20:54] #1500 closed

[2019-02-27 20:54] #1537 closed

[2019-03-01 03:16] caoli5288 opened #1544 "CA exception if use shadowsocks-windows PAC mode"
Works well only in global mode.

[2019-03-05 01:07] sethmlarson commented on #1543
You're right, this comment and interface aren't correct. If we were to change this behavior I'm not sure how many people would be impacted but at a minimum that comment either needs to be removed or this interface fixed.

I think the safest bet is to just remove the comment about compatibility, but it still feels kinda bad to pretend to be the same as an `HTTPResponse` object. Thoughts from other

[2019-03-05 01:42] squarelover commented on #950
What if you can't use Python3?

[2019-03-05 16:32] sethmlarson commented on #950
Maybe we should pick up that PR and try to get this implemented again.

[2019-03-06 03:50] rexwangcc commented on #1516
We ran into a similar issue, it turned out to be an issue on the server side that it cannot properly compress and chunk. We got a workaround that passing `Accept-Encoding: identity` with the request headers. For those who have the same issue and what to bypass the error.

[2019-03-06 06:56] mku92 opened #1545 "google geocode reqeust error"
While practicing Python coding, I used Google API and wrote some codes as below.

import requests
import pprint
location = '서현동'
URL = 'http ~~  ,,,,  '.format(location)
URL = 'https ~~ ,,,, ?key = <google api key inputing>'.format(location)  # I enrolled my account to google service and get google api
response = requests.get(URL)

and I got many error messages as below.
--------------------------

[2019-03-06 13:16] #1545 closed

[2019-03-06 13:16] sigmavirus24 commented on #1545
Hi there! Thanks for opening this issue. Unfortunately, it seems this is a request for help instead of a report of a defect in the project. Please use [StackOverflow](https://stackoverflow.com) for general usage questions instead and only report defects here.

[2019-03-06 19:37] sethmlarson commented on #1544
Can you give some more information about your setup and the code you're using to get this error? `pip freeze` would also be useful.

[2019-03-06 21:06] damian-sublime opened #1546 "invalid escape sequence \*"
This error is a result of the following comment lines:

connectionpool.py, line 150

Error thrown:

Peralink: https://github.com/urllib3/urllib3/blob/1e9ab5aee042ff0158d0f443bc600ef3a2e7bf9a/src/urllib3/connectionpool.py#L150

[2019-03-06 22:08] sethmlarson commented on #1546
Where are you seeing this error?

[2019-03-06 23:08] damian-sublime commented on #1546
AWS Lambda

[2019-03-07 00:28] sethmlarson commented on #1546
What version of Python is this? We test Python 2.7 to 3.8 and we're not seeing that error. I need to know what you're doing to get to the bottom of this error.

[2019-03-07 00:41] damian-sublime commented on #1546
Python 3.6.4
The library simply fails to import at app load

[2019-03-07 03:34] #1538 closed

[2019-03-10 14:51] hugovk commented on #883
The general plan in 2016 was, hopefully sometime before 2020, for urllib3 v2.0 to drop Python 2 (along with a big backwards-compat breaking set of changes), and provide extended maintenance support for 1.x as long as pip needs it.

Is this still the plan?

Nine months out from Python 2's EOL (2020-01-01), is now a good time to make firmer plans?

---

PS pip is now warning (https://github.com/pypa

[2019-03-10 19:01] theacodes commented on #883
I *think* the general approach has been to wait until pip doesn't need it anymore. There's an active discussion going on here: https://discuss.python.org/t/packaging-and-python-2/662/95

[2019-03-11 13:22] sethmlarson commented on #1546
I can't reproduce this what you're seeing here so I need as much information about this as you can give me. What's the full output of the error? What version of urllib3 are you using? Are you installing it via pip or vendoring it yourself? Is this code you're using available on GitHub?

[2019-03-11 19:53] damian-sublime commented on #1546
The deployment is being pushed using AWS Chalice
The code is not available here, our code is privately hosted on BitBucket

The issue can be replicated using both local and BitBucket Pipelines deployment.
Local deploy is being done using virtualenv
Pipelines is using the standard Python image

Both produce the same output when trying to load the library.

[2019-03-11 20:02] sethmlarson commented on #1546
I just don't know why others aren't seeing this issue, you're definitely not the only one using urllib3 on AWS and we're not seeing a swarm of users opening issues like we would be if this issue impacted everyone.

[2019-03-11 20:06] damian-sublime commented on #1546
Totally agree.
I don't understand why this is happening.
But given it does and it's only related to a couple of characters in a comment not sure why it's become such a big issue to amend.

[2019-03-11 20:06] sethmlarson commented on #1546
@damian-sublime Sorry I edited my above comment, can you reply to it?

[2019-03-11 20:09] damian-sublime commented on #1546
It's 1.24.1

[2019-03-11 20:09] sethmlarson commented on #1546
What version of pip, requests?

[2019-03-11 20:09] damian-sublime commented on #1546
19.0.3

[2019-03-11 20:11] sethmlarson commented on #1546
What version of urllib3? And these are the versions of the libraries that are getting deployed, not the ones in your local virtualenv, correct?

[2019-03-11 20:16] damian-sublime commented on #1546
The deployment uses a requirements file to pull in latest version of any of the libraries.
So latest version is the one deployed.
As part of the deployment I cache the deployment package for verification.
The deployment indicates correct latest version of the library
![Screen Shot 2019-03-12 at 9 15 18 AM](https://user-images.githubusercontent.com/6157074/54154720-73878800-44a7-11e9-94a8-5e9951e51

[2019-03-11 20:19] sethmlarson commented on #1546
Then I'm all out of ideas unfortunately. :( The escape sequence in the current version is correct, this issue [was fixed over two years ago already](https://github.com/urllib3/urllib3/commit/d9a4d4bc1f900f260dc5dca3a7deda05c2670ec9).

The most help I can give you is that this sounds like somewhere in your dependencies there is a vendored old version of urllib3 (boto, requests, pip, ...).  Try look

[2019-03-11 20:23] damian-sublime commented on #1546
Hmm
Thanks for looking in this anyway.
I will reply further is I find any resolution or have further findings.

[2019-03-11 20:35] #1546 closed

[2019-03-12 08:29] wittfabian commented on #1470
Any innovations here? @pquentin @theacodes

[2019-03-14 19:48] ealashwali opened #1550 "Incorrect ciphersuites order"
I am using `requests ` library. I need  a custom list of ciphersuites in my requests. So I use the following:

[code]

However, by checking the actual ciphersuites list that is sent in my request using packet analyser it appears in a different order from this order I specify in the code. A correct implementation should respect the order. I have faced similar problem with another SW. It turned to b

[2019-03-14 21:39] sethmlarson commented on #1550
Python does not provide us with a method to reorder or configure TLSv1.3 ciphersuites.  You could try setting `ssl_version = ssl.PROTOCOL_TLSv1_2` to disable TLSv1.3 ciphersuites I believe?

[2019-03-14 22:10] ealashwali commented on #1550
I need TLSv1.3 ciphersuites in a specific order that's why I create an `adapter` in the code above with `requests` for an experiment.  In python there is  `SSLContext.set_ciphers(ciphers)` See this [link](https://docs.python.org/2/library/ssl.html). I am not sure if this can be of use? But it takes the ciphers in the order the argument `cipher` has.

[2019-03-15 02:47] ealashwali commented on #1550
Can you please check this post: https://lukasa.co.uk/2017/02/Configuring_TLS_With_Requests/
I have seen it and many other posts that suggest configuring the ciphersuites with requests. using `create_urllib3_context`. Can you clarify please @Lukasa ?

[2019-03-15 03:10] sethmlarson commented on #1550
Sorry for misunderstanding your original request. If you look at what I mentioned earlier:

Meaning currently this is not possible for Python, [we don't have access to the required function to configure the order](https://docs.python.org/3/library/ssl.html#ssl.SSLContext.set_ciphers). Basically TLS 1.3 is all-or-nothing in Python until that interface is exposed.

If you don't mind me asking, why a

[2019-03-15 03:10] #1550 closed

[2019-03-15 03:43] ealashwali commented on #1550
Here is a full example @sethmlarson  @Lukasa :
[code]

Generates this error:```

Traceback (most recent call last):
  File "test_redirection_scanner.py", line 31, in <module>
    s.mount("https://",TlsAdapter())
  File "/home/e/.local/lib/python3.6/site-packages/requests/adapters.py", line 129, in __init__
    self.init_poolmanager(pool_connections, pool_maxsize, block=pool_block)
  File "test_red

[2019-03-15 03:49] sethmlarson commented on #1550
I'm aware of all the information you're giving me. What you're trying to accomplish is not possible currently in Python. Please read my above responses.

[2019-03-15 03:52] ealashwali commented on #1550
@sethmlarson Thanks. I read your comment and I am a bit surprised. The reason I need this is to do an experiment. I have done this before with another [tool](https://github.com/prbinu/tls-scan/issues/21).

So for example, I want to experiment a client with this exact order of ciphersuites:  "TLS_AES_128_GCM_SHA256"+":"+"TLS_AES_256_GCM_SHA384"+":"+"TLS_CHACHA20_POLY1305_SHA256"+":"+"ECDHE-ECDSA-AE

[2019-03-15 04:11] sethmlarson commented on #1550
Unless you're evaluating requests/urllib3 specifically I'd suggest using a different client that has access to the specific required C-level API.

Maybe curl has support? Not sure.

[2019-03-15 04:38] ealashwali commented on #1550
Thanks. So the bottom line is that if my pyhton utilizes TLS 1.3, it has no control whatsover on the list or order of TLS 1.3 ciphersuites? But does this mean I still can customise the order of TLS 1.2 ciphersuites?

[2019-03-15 13:32] sethmlarson commented on #1550
You can customize the order of all non-TLSv1.3 ciphersuites (except if you're using SecureTransport on macOS I believe)

[2019-03-18 17:17] hannob opened #1553 "CRLF injection vulnerability"
At https://bugs.python.org/issue36276 there's an issue in Python's urllib that an attacker controlling the request parameter can inject headers by injecting CR/LF chars.

A commenter mentions that the same bug is present in urllib3:
https://bugs.python.org/issue36276#msg337837

So reporting it here to make sure it gets attention.

[2019-03-18 17:42] haikuginger commented on #1553
I confirmed that I was not able to reproduce as of the current master. Will investigate to see what the bisection point was.

[2019-03-18 17:48] haikuginger commented on #1553
Verified as fixed in #1487, but that change has not been released. I recommend we release 1.24.2 with that change as soon as possible, @sethmlarson @theacodes.

[2019-03-18 17:58] theacodes commented on #1553
I will try to cut a release soon, unless Seth wants to beat me to it. Thank
you, Jess.

On Mon, Mar 18, 2019, 10:48 AM Jess Shapiro <notifications@github.com>
wrote:

[2019-03-18 18:33] sethmlarson commented on #1553
Without #1531 or IRI support in rfc3986 releasing master in it's current state will break backwards compatibility with international URLs.

[2019-03-18 18:35] haikuginger commented on #1553
I've done some checking and `requests` appears to have handling so indirect consumers via requests should not be vulnerable through us, if that's a useful datum to have.

[2019-03-19 19:39] impredicative opened #1555 "Flawed redirect handling"
I'm unable to read https://www.annemergmed.com/article/S0196-0644(99)70271-4/abstract

It's evidently not because of cookies. It's because of issues with URL parsing and/or redirect handling.

[code]

[2019-03-19 21:42] sethmlarson commented on #1555
Looks like this website sends you in a redirect loop if you're not doing something that a browser would normally do? (Cookies, authenticating?)

[code]

This is expected behavior based on what the server is doing, urllib3 can't do anything about this unfortunately. Closing for now.

[2019-03-19 21:42] #1555 closed

[2019-03-19 21:47] impredicative commented on #1555
How is it that `requests` works fine?

[code]
I think this bug exists even if cookies are accepted.

[2019-03-19 22:29] sethmlarson commented on #1555
The reason that requests works is because there's no limit on the number of redirects by default which is unhelpfully a few more than our default.
[code]

So doing the following works:

[code]

[2019-03-23 03:52] #303 closed

[2019-03-23 13:30] lorien opened #1556 "Handling "Location: http:///" header"
urllib version: 1.24.1

Code
[code]
raises
[code]

Reason is invalid location header: `Location: https:///`
Header is not correct but is it OK to rase AttributerError? Maybe should be something more user-friendly, some urllib3 error?

In my web crawler I want to handle network errors and raise any other errors. In case of AttributeError I can't say is it urllib3 (network) error or some error in my

[2019-03-23 14:08] sethmlarson commented on #1556
Our URL parser is getting overhauled as a part of the 1.25.x release. Likely this behavior will change to raise a `LocationParseError`. If you'd like to verify you can try parsing that URL against #1531.

[2019-03-26 17:58] tab1tha opened #1557 "Outdated documentation in https://urllib3.readthedocs.io/en/latest/user-guide.html"
On the page linked here: https://urllib3.readthedocs.io/en/latest/user-guide.html, there are a few outdated expected outputs that needs to be updated. Below are a few cases cited;

1. Section [Response content](https://urllib3.readthedocs.io/en/latest/user-guide.html#response-content) output displays `HTTPHeaderDict({'Content-Length': '33', ...})` but in reality as at now, the out of that statemen

[2019-03-26 18:24] shazow commented on #1557
@tab1tha Thank you! Would you be up for opening a pull request with your edits please? :)

[2019-03-26 18:26] shazow commented on #1557
Keep in mind, the examples using httpbin, the output is specific to the user who is running them (e.g. one of them is "get my IP" which will be different for each person).

For cases like that, we use generic results like 127.0.0.1 (which is a special reserved IP for your own computer).

[2019-03-26 18:56] sethmlarson commented on #1557
I'm not sure if either of the examples given should be updated, but you're free to check out the rest of our documentation for inconsistencies. The values from those two examples are liable to change any time and aren't really the "point" of that docs section.

[2019-03-27 03:40] tab1tha commented on #1557
Okay.

[2019-03-27 18:51] kaylangan opened #1559 "Use Azure Pipelines"
I saw that Azure Pipelines was mentioned in #1554 and was wondering if there's any interest in setting it up for CI and PR builds? If so, I'd be happy to submit a PR.

Azure Pipelines offers 10 free pipelines with unlimited minutes for open source projects and supports macOS, Linux, and Windows. Several Python projects are using Azure Pipelines including [cpython](https://dev.azure.com/python/cpyt

[2019-03-27 19:45] sethmlarson commented on #1559
cc: @urllib3/maintainers

I'm interested only if macOS builds are faster than Travis and we have access to macOS 10.13+ and sudo access to turn on SecureTransport support by default. Are these features available in Azure?

IMO our biggest issues for CI right now are spin-up and install time of macOS builders and AppVeyor only having 1 concurrent build for free projects.

[2019-03-27 21:23] kaylangan commented on #1559
@sethmlarson We will be [releasing support for Mojave](https://devblogs.microsoft.com/devops/hosted-pipelines-announcements-vs-2019-mojave-and-more/) _very_ shortly (next week or two) and also have sudo access. Let me get the Mac builds going on Azure Pipelines so we can compare the build times and go from there. We're still working on caching, so we may be slower.

On the Windows side, I think we

[2019-03-30 11:50] willianantunes commented on #951
Hitting the same issue as well here. If you guys need any input to resolve this TSHOOT, just reach me out.

[2019-03-30 15:17] willianantunes commented on #951
One possible way to circumvent this, is to create a code like:
[code]
Then you can use it like this:
[code]
For those who is facing the same problem.

[2019-04-04 14:22] sethmlarson commented on #1557
I'm going to close this issue for now.

[2019-04-04 14:22] #1557 closed

[2019-04-05 18:38] demiurg commented on #383
Another thumbs up for this, as pool is making it hard to performance profile an app.

[2019-04-09 01:24] gavindsouza opened #1560 "Exception on uninstall"
## Description of the issue
I tried running ``` pip uninstall urllib3``` but got the error mentioned in this issue.

### Observed result
Exceptions occur

### Expected result
urllib3 uninstalls successfully

### Stacktrace / full error message
[code]

## Additional information
urllib3 version: 1.24.1
OS version: 5.0.6-arch1-1-ARCH
Distribution: Arch Linux
Install method: Using pip; by running ```p

[2019-04-09 03:20] sethmlarson commented on #1560
You shouldn't be using pip to manage your system-level packages, you should be using your package manager for that purpose.  Use `pacman` to manage your system Python packages.

[2019-04-09 03:20] #1560 closed

[2019-04-09 07:21] gavindsouza commented on #1560
@sethmlarson thanks but my initial goal was to re-install ```urllib3``` because of the issue i was facing with [docker-compose](https://github.com/docker/compose/issues/6634)

So, as per what you said, I tried reinstalling with ```pacman -S python-urllib3``` but the error still persists.

[2019-04-09 07:28] gavindsouza commented on #1560
So I checked under ```site-packages``` and found a sub directory under the same name under

`$ls ~/.local/lib/python3.7/site-packages/urllib3-1.22.dist-info `

and inside it

`$ls ~/.local/lib/python3.7/site-packages/urllib3-1.22.dist-info/urllib3-1.22.dist-info `

So as a work around, I moved the files in ..

This fixes my issue but I'm unable to understand why the exception occurred in the first

[2019-04-10 12:34] vstinner commented on #1553
CVE-2016-5699, CVE-2019-9740 and CVE-2019-9947 have been assigned to HTTP Header Injection vulnerabilities in Python: see https://bugs.python.org/issue30458 for more information.

[2019-04-12 00:20] hashbackup opened #1561 "SNIMissingWarning with Python 2.7.15 and Openssl 1.0.2r"
HashBackup uses requests and so urllib3 also.  I just upgraded requests to 2.21.0 and urllib3 to 1.24.1, and now am getting this warning:

<frozen>:354: SNIMissingWarning: An HTTPS request has been made, but the SNI (Server Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation failures. You

[2019-04-12 00:25] hashbackup commented on #1561
I should have mentioned, this is a "frozen" Python build that uses static libraries.  The system it is running on is indeed old - CentOS 5.5, with an old version of Python and OpenSSL 0.9.8e, but I'm not using those for the build.

[2019-04-12 13:38] sethmlarson commented on #1561
Are you installing `requests[security]` or just `requests`?

When you run this what do you see?
[code]

[2019-04-12 14:18] hashbackup commented on #1561
Only requests.
[code]
Just to make sure this is the version in the executable, I added the OpenSSL version string to the HB version string:
[code]
The SNIMissingWarning message said "frozen" in angle brackets, but that got eaten by GitHub.  Not sure if that matters...

[2019-04-12 15:26] sethmlarson commented on #1561
It matters, could you post it again or update your comments with the exact message? Maybe put it in a code block. Also is this system installed Python or a virtual environment? If it's system Python can you try making a venv and trying again from there?

[2019-04-12 16:09] hashbackup commented on #1561
Thanks for taking time to look at this.  The problem happens in the frozen executable and when running from source with the interpreter (2.7.15).  It's easier to manage the interpreter, so I added some prints of the relevant variables in urllib3/.../_ssl.py.  Here's a run of the program to clear backups from Backblaze B2:
[code]
py -m said "No module named pip", same for freeze.  I don't use pip o

[2019-04-12 16:19] sethmlarson commented on #1561
So from your above comments it looks like `HAS_SNI` is `False`? Is that correct? If that's the case it's out of our hands, your Python is compiled without SNI. If you're rebuilding Python maybe you need to add a flag or something to get SNI support?

[2019-04-12 16:21] hashbackup commented on #1561
I built OpenSSL 1.0.2r from source and used the default configuration.  Maybe SNI doesn't get built by default, but is needed?  Here is some info from my OpenSSL build:
[code]

[2019-04-12 16:26] sethmlarson commented on #1561
Unfortunately I'm not going to be of much use with compiling Python or OpenSSL. Try googling around? If there's anything else that urllib3 maintainers can do for you either reopen this issue or a new one.

[2019-04-12 16:26] #1561 closed

[2019-04-12 17:20] hashbackup commented on #1561
It turns out that when I used a cp command to copy the openssl include directory somewhere, it is full of symlinks and didn't actually copy the files.  Then cc saw a bunch of broken links and decided to use the system include directory instead and got the old 0.9.8 OpenSSL include, which doesn't have SNI.  Adding -L to the cp command fixed everything.

Thanks again for your help, for steering me,

[2019-04-12 17:36] sethmlarson commented on #1561
@hashbackup Glad you were able to figure out the issue! :)

[2019-04-15 15:23] mjb-v9-5-2 opened #1563 "segmentation fault when executing urllib3 request from inside a PyQt5 QApplication event loop"
PyQt5 is causing a segmention fault when a urllib3 request to read a webpage is made from inside a QApplication event loop.

The error occurs if, for example, a PyQt5 button-click is used to execute the urllib3 request.

The same error occurs if the urllib3 request is run inside the loop without any PyQt5 form being opened.

The urllib3 request executes successfully if it is run before entering th

[2019-04-15 16:29] Plazmaz commented on #1553
I was able to reproduce this with `requests.get` using urllib, haven't tested with urllib3 though.

[2019-04-15 19:20] haikuginger commented on #1563
Before I attempt to replicate, just on a hunch, can you attempt to replicate with a connection to a non-SSL site, such as `neverssl.com`?

Please also go through your issue filing to make sure relevant areas are code-blocked and indented correctly using the triple-backtick format Github supports.

[2019-04-15 20:23] carnil commented on #1553
CVE-2019-11236 was assigned for this issue.

[2019-04-15 23:46] mjb-v9-5-2 commented on #1563
(Ah I see - the code hasn't displayed as code. Thanks for pointing it out. I thought I had blocked the code out using github's own block-the-code-out button. So what can you do? (Well, perhaps check afterwards).

Re. SSL. The same fault occurs when using plain old urllib in the same way, without any certificate.

I.e. (but with the requests executed inside a pyqt5 event loop):

[code]

[2019-04-16 00:00] mjb-v9-5-2 commented on #1563
I tidied my crappy test code up as well, and removed the scruffy attachments. you don't need to see my working out._.

[2019-04-17 14:26] rschultheis commented on #1553
👋  Hi!  I've noticed that CVE-2019-11236 has been assigned to the CRLF injection issue described here.  It seems that the library has been patched in GitHub, but no new release has been made to pypi.  Will a new release containing the fix be made to pypi soon?    Based on @theacodes  [comment](https://github.com/urllib3/urllib3/issues/1553#issuecomment-474032699) it seems like a release was going

[2019-04-17 15:05] sethmlarson commented on #1553
@rschultheis [Per my comment](https://github.com/urllib3/urllib3/issues/1553#issuecomment-474046652) we cannot cut a release until IRI support is fixed in rfc3986.

[2019-04-17 15:24] rschultheis commented on #1553
Thank you @sethmlarson ,  I will watch that PR 🙇

[2019-04-17 15:32] vstinner commented on #1553
"It seems that the library has been patched in GitHub"

Do you have a reference to the change?

[2019-04-17 15:33] sethmlarson commented on #1553
@vstinner 0aa3e24fcd75f1bb59ab159e9f8adb44055b2271

[2019-04-17 17:08] haikuginger commented on #1563
Quick update: I'm setting up a Xubuntu VM to debug this. I do suspect that you'll need to eventually go to the pyqt5 people for assistance; since this is happening with the stdlib `urllib` as well, it sounds like some underlying system resources may be getting patched when a pyqt5 application gets initialized. I'll do my best to isolate what specifically might be getting manipulated though.

[2019-04-17 17:54] haikuginger commented on #1563
Repro build steps:
1. Install Xubuntu 18.04.2
2. `sudo apt install build-essential`
3. `sudo apt install curl`
4. `sudo apt install git`
5. `curl https://pyenv.run | bash`
6. Install pyenv shims in `~/.bashrc`
7. `sudo apt install zlib1g-dev libffi-dev libssl-dev libsqlite3-dev libbz2-dev libreadline-dev`
8. `pyenv install 3.7.3`
9. `pyenv global 3.7.3`
10. `pip install pyqt5==5.12.1 pyqt5-sip==4.

[2019-04-17 17:54] #1563 closed

[2019-04-17 18:42] luigino commented on #1553
Is the problem fixed in 1.24.2? I couldn't find any reference to it in the changelog.

[2019-04-17 18:43] sethmlarson commented on #1553
No it is not, this change will be fixed in 1.25 and is next on my list of work.

[2019-04-18 08:29] mjb-v9-5-2 commented on #1563
Well I am glad at least that I might have come near to the possibility of being some use.

FYI, pyqt5 was installed with pip in a conda base environment. I don't know if that makes any difference to your reckonings. In case it does:

[code]

[2019-04-18 17:45] sethmlarson opened #1565 "Update our SOCKS documentation"
- `socks4a://` is useless, all DNS queries are resolved client-side for SOCKS4.
- `socks5://` should have a warning about DNS queries being resolved client-side and that `socks5h://` is recommended for secure use (Should have been the default on our end).
- PySocks supports IPv6 connections to the SOCKS proxy.
- Need to check all our other assumptions in those docs.

[2019-04-19 20:31] #1565 closed

[2019-04-21 01:43] #1529 closed

[2019-04-21 01:45] sethmlarson commented on #1556
Closed by #1531

[2019-04-21 01:45] #1556 closed

[2019-04-21 01:45] sethmlarson commented on #1553
Closed by #1531. Will be released in 1.25

[2019-04-21 01:45] #1553 closed

[2019-04-21 01:54] sethmlarson commented on #1539
This is closed via #1531

[2019-04-21 01:54] #1539 closed

[2019-04-21 10:41] lorien commented on #1556
Yeah. It works:
[code]

[2019-04-22 14:45] nsperic opened #1571 "requestsdepenencywarning: urllib3 (1.24.2) or chardet (3.0.4) doesn't match a supported version!"
I am using a scrip python on ubuntu 18.04.2 LTS, python version 3.6.5.

When I run my script a message of warning is shown for me, but I am not using in my script the urllib3 or others like this.

I try to use **`apt-get install urllib3`** - **`apt-get install -f `** - **`apt-get install urllib3 --upgrade`** and and none solved this problem.

[2019-04-23 02:49] opoplawski opened #1575 "New test error with urllib3 1.25"
I'm looking at updating urllib3 to 1.25 in Fedora EPEL7.  I'm getting the following test errors:
[code]
Not sure if these are new tests with 1.25, or just an issue with older support libraries, or ?

[2019-04-23 02:49] opoplawski commented on #1575
In particular we are stuck with an older pytest.

[2019-04-23 11:51] sethmlarson commented on #1575
I don't think it's pytest that's causing that failure and I'm unable to reproduce it locally. I'm not familiar with how Fedora EPEL packages urllib3, do you debundle libraries?

[2019-04-23 12:28] sethmlarson commented on #1575
Found an issue in rfc3986 and how we bundle. Will resolve those issues.

[2019-04-23 17:36] r1b commented on #1553
I contacted NVD to recommend that they update the CVE to reflect the fact that versions up to and including 1.24.2 are vulnerable - currently they only indicate that 1.24.1 is vulnerable.

See https://nvd.nist.gov/vuln/detail/CVE-2019-11236

[2019-04-24 18:55] h3llrais3r opened #1582 "SSLV3_ALERT_HANDSHAKE_FAILURE after upgrading to v1.25.x"
SSL handshake failure after upgrading from 1.24.2 to 1.25 or 1.25.1.
Travis link: https://travis-ci.org/h3llrais3r/Auto-Subliminal/jobs/524114951
Downgrading to version 1.24.2 fixes the problem.
Travis link: https://travis-ci.org/h3llrais3r/Auto-Subliminal/builds/524029312

[code]

[2019-04-24 19:18] sethmlarson commented on #1582
Are you providing a proper CA cert for that ConnectionPool? One of the changes in 1.25 is that `cert_reqs` defaults to `CERT_REQUIRED`.

[2019-04-24 19:29] h3llrais3r commented on #1582
I'm not using a CA cert. I'm using your `urllib3` lib via the `requests` lib and up until now I didn't had to provide any certificate at all. Any idea on how to fix this without a CA cert except reverting to previous release?

[2019-04-24 20:08] sethmlarson commented on #1582
I figured out this issue. It's detecting the hostname `v2.sg.media-imdb.com` as an "IP address" due to the hostname matching the IPvFuture specification in RFC 3986. That hostname is technically a valid IPvFuture address and we don't send SNI for IP addresses. Maybe we need to change that behavior to only include IPv4 and IPv6 addresses.

In the past we would have used SNI for this hostname becaus

[2019-04-24 21:07] h3llrais3r commented on #1582
Thanks for investigation. Let me know if I need to test something. :wink:

[2019-04-25 01:13] sethmlarson commented on #1575
This issue is fixed in 1.25.1.

[2019-04-25 01:13] #1575 closed

[2019-04-25 01:14] sethmlarson commented on #1571
Where are you seeing this error? Could you give all your currently installed packages via `python -m pip freeze`?

[2019-04-25 17:04] bertjwregeer opened #1585 "parse_url no longer accepts [] in the URL"
With urllib3 1.25.1:

[code]

Using 1.24.2:

[code]

[code]

This is used by various bits of software (ElasticSearch for instance):

[code]

[2019-04-25 17:15] sethmlarson commented on #1585
Per [RFC 3986 Appendix A](https://tools.ietf.org/html/rfc3986) the only valid characters in the path component are `unreserved`, `pct-encoded`, `sub-delims`, `:`, and `@` which doesn't include `[` or `]`. Can you see if percent-encoding the square braces works as you expect? Maybe we need to do this as a part of normalization?

[2019-04-25 17:30] bertjwregeer commented on #1585
Okay, this time not in the path:

[code]

You'll find plenty of PHP sites out there that use:

[code]

This creates an array in `$_GET` in PHP for instance.

I understand that this may not be valid as a URL to enter directly, but it is data we have to parse and `parse_url` usually works wonders for that.

How would you recommend I take a user provided string, pull apart the pieces to URL encode th

[2019-04-25 17:37] sethmlarson commented on #1585
If you're looking for an alternative to `parse_url` you can checkout the library we're using for URL parsing ([`rfc3986`](https://github.com/python-hyper/rfc3986)) and then not do any validation on the path or query components?

[2019-04-25 17:44] sethmlarson commented on #1585
I think we should consider percent-encoding invalid characters in the path, query, and fragment components automatically as a part of normalization though.  Thoughts @urllib3/maintainers?

[2019-04-25 17:46] theacodes commented on #1585
Do we automatically percent encode any other stuff?

On Thu, Apr 25, 2019, 10:44 AM Seth Michael Larson <notifications@github.com>
wrote:

[2019-04-25 17:52] sethmlarson commented on #1585
No we don't currently. But previously we just passed through whatever the user gave us in the path and query components into the target. We want to do validation at least for control characters at a minimum but I don't know if anything else can hurt us here.

[2019-04-25 17:54] bertjwregeer commented on #1585
I would like to point out that we found the issue in urllib3 because it was accidentally upgraded by pip and requests just passes the URL through unmodified.

So we would potentially have to intercept the URL before passing it to requests (as well as deal with any `Location` headers/redirects ourselves) just to modify it before passing it to requests which passes it to `urllib3`.

[2019-04-25 17:55] theacodes commented on #1585
Hrm. I'm okay with being a little lax on path and query validation.
Ultimately it's up to the server to decide if a request is valid or not.

On Thu, Apr 25, 2019, 10:52 AM Seth Michael Larson <notifications@github.com>
wrote:

[2019-04-25 17:55] sethmlarson commented on #1585
Actually scratch that we totally do inside of `IRIReference.from_string(). The path, query and fragment components all receive some percent encoding just not for `[` or `]`.

[2019-04-25 18:24] ryanpetrello commented on #1553
Hello!

Is there any chance of this landing in a 1.24.3?  It would be nice to have a resolution to this CVE without necessarily having to inherit this change in 1.25.x:

https://github.com/urllib3/urllib3/pull/1507

[2019-04-25 18:59] sigmavirus24 commented on #1585
I think this falls into the "Be conservative in what you send and liberal in what you receive camp".

In other words, let's liberally accept URLs, and then percent-encode (normalize) them before sending them to servers

[2019-04-25 19:06] sethmlarson commented on #1585
@sigmavirus24 So you're suggesting we should be percent encoding these characters in the path/query before sending them?

[2019-04-25 19:08] sethmlarson commented on #1553
If that's the only change you're trying to circumvent and are willing to accept not verifying certificates you can still pass `cert_reqs="NONE"` into your `PoolManager` / `ConnectionPool`.

[2019-04-25 19:27] ryanpetrello commented on #1553
@sethmlarson that works so long as _your code_ is creating the manager/pool and you have direct influence over it (and your library isn't using some third-party dependency that imports `urllib3`.

[2019-04-25 19:31] sigmavirus24 commented on #1585
Yes

[2019-04-25 19:56] #1582 closed

[2019-04-25 19:57] ryanpetrello commented on #1553
@haikuginger I've also done some digging, and I don't see a way that requests' interfaces themselves are vulnerable to this exploit:

It looks like this specific code in `requests` foils the exploit by quoting the full URI:

[code]

Specifically:

[code]

https://github.com/kennethreitz/requests/blob/v2.21.0/requests/utils.py#L603

[2019-04-25 20:01] sethmlarson commented on #1553
If we released a change that only checked the authority, path, and query for unquoted control characters would that be sufficient? The problem is is that pre-1.25 the `parse_url` function is really dumb, basically just splits on delimiters and goes with whatever.

[2019-04-25 20:03] ryanpetrello commented on #1553
@sethmlarson if something like that prevented the exploit described in `CVE-2019-11236`, it would be very much appreciated.

[2019-04-25 20:03] bertjwregeer commented on #1585
Thanks for getting on this so quickly!

@sigmavirus24 the tables have turned... I'm reporting issues in your project now ;-)

[2019-04-25 20:06] sethmlarson commented on #1553
I'm pretty sure that's what h11 did for their fix. I'll look at what they did and put a patch together.

[2019-04-26 13:46] ryanpetrello commented on #1553
Thanks @sethmlarson!

[2019-04-28 19:19] #1585 closed

[2019-04-29 00:49] simplynail opened #1589 "import error http_client"
Hi,
I'm having an issue importing urllib3, namely with `http_client` from `six` module
my code:
[code]

results in:
[code]
I'm using IronPython 2.7.4 (bare with me here please, I have no choice :) ) and urllib3 1.12.

[2019-04-29 02:20] sethmlarson commented on #1589
Unfortunately as I'm sure you're already aware urllib3 1.12 isn't supported any longer. My best guess is that six doesn't support IronPython. [Maybe looking at Google / StackOverflow will help resolve this issue?](https://stackoverflow.com/q/35162177/5763213)

Good luck!

[2019-04-29 02:20] #1589 closed

[2019-04-29 17:18] h3llrais3r commented on #1582
Thanks. Latest release solved the issue. :+1:

[2019-04-29 21:08] peno64 opened #1590 "update of urllib3 makes kodi start up much slower"
Is it normal that the update to version 1.25 makes kodi start up much slower? With version 1.22 it takes about 20 seconds to start up my rpi with kodi and all the add-ons. After the latest update of a couple of says ago to 1.25.1 and also with 1.25.2 which I installed from zip it takes about 45 seconds to start up with all the add-ons.
Is this to be expected and if so will the slow down only in th

[2019-04-29 21:17] sethmlarson commented on #1590
The only things I can think of that would take time to install would be `idna` and `brotli` but urllib3 doesn't specify either of those as mandatory requirements. When you say "start up" do you mean time to import? I'm not familiar with Kodi or how it uses urllib3.

[2019-04-29 22:05] peno64 commented on #1590
In fact 1.24.1 is also still fast (about 25 seconds to startup everything) and from 1.25.1 on it is much slower (about 45 seconds to startup everything).
I don't how this new version makes it slower. When kodi starts up it also starts some addons automatically and they probably use urllib3. If it is the import of it or its usage, I don't know.
Was there some big change between 1.24.1 and 1.25.1 th

[2019-04-30 09:07] chekroA commented on #1571
Hi, I have the same issue on my Django project.

I work on macOS Mojave 10.14.4 and running Homebrew Python 3.7.3.

I am using a virtualenv, so I deleted it et reinstalled the required packages but still the same warning: `venv/lib/python3.7/site-packages/requests/__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version! RequestsDependencyWar

[2019-04-30 12:15] sethmlarson commented on #1571
@chekroA Your issue is because requests 1.21.X doesn't support urllib3 1.25.X. Try downgrading urllib3 via `python -m pip install "urllib3<1.25"`.

[2019-04-30 12:15] #1571 closed

[2019-04-30 15:46] ryanpetrello commented on #1553
@sethmlarson do you have a link to said h11 fix?  I'd be glad to take a look and adapt a PR for `urllib3`.

[2019-04-30 15:50] sethmlarson commented on #1553
@ryanpetrello python-hyper/h11#69. I'll have to create a branch for `1.24-series` as the fix doesn't make sense to apply to `master`.

[2019-04-30 16:40] ryanpetrello commented on #1553
@sethmlarson I'm not sure which branch I'd want to submit a PR to, but how do you feel about this in general?

https://github.com/ryanpetrello/urllib3/commit/baf067b652a0e59a14c401edf5e59bfe39531424

[2019-04-30 16:57] sethmlarson commented on #1553
I would raise a `LocationParseError` instead of raising a `ValueError` but besides that it looks fine. Maybe we'd want to put a note that this is taken from cpython as well.  We'd also need some test cases for each control character.

[2019-04-30 16:57] ryanpetrello commented on #1553
@sethmlarson if you'll create 1.24 series branch, I'll open a PR based on this (with some tests).

[2019-04-30 17:21] sethmlarson commented on #1553
[I created the branch](https://github.com/urllib3/urllib3/tree/1.24-series).

[2019-04-30 19:34] peno64 commented on #1590
I did a fresh install of kodi on a RPI. Without any addons it starts quickly. From the moment an addon is installed which uses urllib3 it slows down with the newest version. After installing an older version of urllib3 it goes fast again. I don't know if it is just referencing  urllib3 or also using it. Therefore my knowledge of addons is not enough.
Maybe some small python script that can be run

[2019-04-30 19:38] mikf commented on #1590
Regardless its use in Kodi, there is a huge import-time difference (maybe run-time as well) between urllib3 version 1.24 and 1.25, which is largely caused by the `rfc3986` module.

To demonstrate:
[code]

Taking a look at import-time profiling data shows that basically all the extra time is spent importing `rfc3986.misc`. It should also be noted that the total cumulative import-time for urllib3 in

[2019-04-30 19:51] sethmlarson commented on #1590
It's almost certainly all of the regular expressions being compiled then. I wonder if we can delay their compilation until they're used for the first time? Hmm

[2019-04-30 20:10] sigmavirus24 commented on #1590
I have no idea what Kodi is but that sounds like a different kind of misery

[2019-04-30 20:17] sethmlarson commented on #1590
@sigmavirus24 Might be worse for RPI because of how small the memory is?

[2019-05-01 13:26] sigmavirus24 commented on #1590
Less memory + slower processor makes sense. Either way it's going to slow something down and I'm not confident that start-up time is the right thing to optimize for in this case. If we defer the import, it'll manifest as a new issue where "My first request is super slooow and then everything else is fast, why does urllib3 suck so much?!"

[2019-05-01 14:03] haikuginger commented on #1590
I agree with @sigmavirus24; -1 on deferring the compilation.

[2019-05-01 14:04] sethmlarson commented on #1590
Alright, we'll mark this as a no-fix then.

[2019-05-01 14:44] shazow commented on #1590
I wonder if it's somehow possible to precompile the regexps during the install step and save it. :thinking:

[2019-05-01 15:29] sigmavirus24 commented on #1590
That would be amazing but I don't think Python is nearly that smart :/

[2019-05-01 15:30] shazow commented on #1590
Yea I was trying to figure out if there's a way to serialize the compiled re object and load it after, but didn't find any prior work. :|

[2019-05-01 15:32] sethmlarson commented on #1590
Probably a great opportunity for a pre-compile regex module to appear. One that will load the precompiled C regexes when packaged as a wheel. :)

[2019-05-01 18:48] sigmavirus24 commented on #1590
I'd be curious to see if there's a way to improve the performance of the rfc3986 library without losing the correctness we have right now. Without something like Go's RangeTables to do effective lookups I'm not sure we have a better option plus I've never liked using the regular expressions for this

[2019-05-01 18:52] sethmlarson commented on #1590
Almost certainly. The regular expressions are needed primarily for validation. Codifying the ABNF validation rules into subroutines instead of regular expressions should be possible.

[2019-05-01 18:53] sethmlarson commented on #1590
The `URI_MATCHER` pattern is certainly not breaking anyone's CPU. It's the IP literals and subauthority matcher I'm sure that are hurting the most.

[2019-05-01 19:45] mikf commented on #1590
I've written a small script that measures the regular expression compile times in `rfc3986.misc`:
https://gist.github.com/mikf/fc29e3e461ddd74e30a9d33fcd01d4ee

`RELATIVE_IRI_MATCHER`, `ABSOLUTE_IRI_MATCHER`, and `IPATH_MATCHER` appear to be the 3 worst offenders here and take over 60% of the total time.

[2019-05-01 20:56] peno64 commented on #1590
The results of this small script on the RPI:

TOTAL                   :  3547.403 ms  100.00 %
RELATIVE_IRI_MATCHER    :  924.956 ms   26.07 %
IPATH_MATCHER           :  915.648 ms   25.81 %
ABSOLUTE_IRI_MATCHER    :  767.717 ms   21.64 %
ISUBAUTHORITY_MATCHER   :  301.554 ms    8.50 %
IHOST_MATCHER           :  167.904 ms    4.73 %
IQUERY_MATCHER          :  144.590 ms    4.08 %
IFRAGMENT_MATCHER

[2019-05-01 21:09] peno64 commented on #1590
But surely, the kodi addons don't do
import urllib3.packages.rfc3986.misc
Because everything still works with version 1.22 of urllib3 and there is no rfc3986 in there.
Or is it so that importing something else from urllib3 also automatically imports urllib3.packages.rfc3986.misc?
Only then it can be that rfc3986 is the issue. Correct?