[2017-01-02 15:10] Lukasa commented on #1080
Does URT46 normalisation apply to ASCII characters, both for the idna module and in the abstract? If it does we may be able to handle this that way instead.

[2017-01-03 13:22] tiran commented on #1080
Cory and I discuss the matter on IRC. For the record, the idna package performs both case normalization and NFC normalization for ASCII and non-ASCII chars

[code]

[2017-01-03 13:24] Lukasa commented on #1080
So this would mean that our ideal policy would be:

1. If the URI has a scheme that is not http/https, leave it alone.
2. Otherwise, apply IDNA.
3. If that fails, and the hostname is entirely ASCII, then lowercase the hostname.

Unfortunately, that is moderately annoying, because urllib3 does not rely on having the idna module present. If we come to depend on it, then requests needs to start rewri

[2017-01-03 13:28] tiran commented on #1080
I agree, it would be nice to have IDNA 2008 / UTS46 in Python's standard library *wink wink nudge nudge*.

[2017-01-04 23:18] nateprewitt commented on #1080
So I think we're in agreement that, for now, we only need to bound the host check with an additional `and scheme in ('http', 'https')` and a test for a scheme(s) outside of that set.

It looks like the state of IDNA in urllib3 is currently in limbo for v2, so we can probably address that later if needed.

[2017-01-05 08:13] Lukasa commented on #1080
Yeah, urllib3 doesn't really do IDNA very much but it often kinda sorta worked because httplib kinda sorta did IDNA but not very well.

We really need to reconcile that behaviour inside urllib3: specifically, we need to decide either that we think that all hostnames are ASCII and its the user's responsibility to handle IDNA, or we need to decide to plumb IDNA support into the codebase in a sensibl

[2017-01-06 15:46] Kronuz opened #1087 "Custom LifoQueue"
During some profiling, I found out one slow operation is `self.pool.get()` in `_get_conn()`.

In urllib3, in `connectionpool.ConnectionPool`, it uses `LifoQueue`:
https://github.com/shazow/urllib3/blob/master/urllib3/connectionpool.py#L65

Which uses a list instead of a much faster deque:
https://github.com/python/cpython/blob/master/Lib/queue.py#L237

My suggestion is one could use a custom LifoQ

[2017-01-06 15:47] Lukasa commented on #1087
Can you provide a benchmark of the two implementations side-by-side to demonstrate the performance difference, please?

[2017-01-06 15:49] Lukasa commented on #1087
As a further suggestion, there doesn't seem to be any reason the standard library can't use a deque instead of a list. I suggest if there is a performance advantage in this change that you propose the change upstream as well.

[2017-01-07 01:51] AdamWill commented on #236
I actually just ran into this with the test suite for https://github.com/gabrielfalcao/HTTPretty/ , which has a test that expects to find a header called 'Server' in a urllib3 response. It works with urllib3 1.19.1; it does *not* work (because the header name is changed to 'server') with urllib3 1.10.2 . I realize that's quite a wide range, but it's the delta I have right now :P

[2017-01-07 11:14] Lukasa commented on #236
Cool, I'm calling this fixed then. 😁

[2017-01-07 11:14] #236 closed

[2017-01-09 13:49] deter3 commented on #855
for my case , the main reason is  I have over 2000 tags for 90 tweets uploaded to elasticsearch with chunk_size default 500 , then error SSL3_WRITE_PENDING  .   if 1000 tags   for 90 tweets being uploaded with chunk_size default 500  , no problem .

I changed chunk_size to 30 when total tags count more than 1000 like below 👍

`if tag_total_count > 1000 :
                        chunk_size = 30

[2017-01-10 17:26] lslebodn commented on #1080
Is there any PR open for this issue?

[2017-01-10 17:27] nateprewitt commented on #1080
Not currently @Islebodn, I think it's fair game if you'd like to pick it up. Otherwise, I'll throw something together later this week.

[2017-01-11 17:29] Lukasa opened #1088 "If the response is complete, stream/read_chunked should short-circuit return the empty string."
Originally seen in kennethreitz/requests#3807.

Basically, read_chunked should check whether `_fp` is `None`. If it is, it should immediately return the empty byte string rather than do any processing.

Put another way, this shouldn't blow up:

[code]

I recommend someone who wants to help out pick this issue up, it should be easily fixed and tested.

[2017-01-11 17:33] nateprewitt commented on #1088
I believe we already check that `_fp` isn't None [here](https://github.com/shazow/urllib3/blob/master/urllib3/response.py#L518-L525), right? I think the actual issue is we're not checking that `_fp.fp` isn't None which signals the connection has been closed (and hopefully read).

[2017-01-11 20:38] Lukasa commented on #1088
Can we not just ask the fp directly whether it's closed?

[2017-01-11 21:17] nateprewitt commented on #1088
@Lukasa, yeah, it looks like `closed` on the Response object will correctly check this for us.

[2017-01-12 03:53] lorien opened #1090 "Running urllib3 tests on windows platform"
Hello Andrey,
Recently I have been working on integration tests of one of my projects with appveyor service (windows-based continuous integration service).
I can write and debug appveyor.yml config file so you be able to run tests on appveyor service.
Let me know if you are interested. Thanks.

[2017-01-12 08:57] Lukasa commented on #1090
@lorien Thanks for the suggestion! However, we have an open PR to do just that: see #1006.

[2017-01-12 08:57] #1090 closed

[2017-01-14 22:43] tsnoam commented on #857
@Lukasa
I fixed the code which now passes unitests (besides the GAE build, which I guess from your other builds is an expected failure).
Now, if you have more unitests in mind, I'd be happy to add them.

[2017-01-17 08:14] #1035 closed

[2017-01-17 12:54] lslebodn commented on #1080
Just a tiny question. Is there a plan to release new version of the package or should I ask to backport the patch to debian

[2017-01-17 12:59] Lukasa commented on #1080
urllib3 and requests will ship new versions, but I wasn't planning to shove a new release out in the near future, so feel free to get debian to backport if you'd like.

[2017-01-17 13:38] lslebodn commented on #1080
Thank you very much for info.

[2017-01-17 16:25] SethMichaelLarson commented on #1007
This still needs to be done, now that a PR has been received it should show up in the Branch Protection section as an option. `Options -> Branches -> master [Edit] -> codecov (project) [Required]`

[2017-01-17 17:04] Lukasa commented on #1007
@shazow ^

[2017-01-18 10:32] Lukasa opened #1096 "Improve support for path-only URLs."
Encountered while doing a substantial backend rewrite for v2.

Currently, `parse_url` doesn't do well with non-urlencoded URLs that are intended to have no host portion, as frequently used by HTTP Location headers:

[code]

As you can see here, the `://` in the URL confuses urllib3's URL handling logic, which means it ends up incorrectly assuming that the scheme is `/redirect?target=http`. This is

[2017-01-20 16:52] SethMichaelLarson opened #1100 "Tests leak FDs which leads to test failures on machines with low ulimits."
As was discussed a lot in #1098 many tests open sockets and don't provide a proper clean-up which results in many leaking FDs during a test execution. This leads to problems on machines with low soft ulimits such as Mac OS.

I'll be making an effort to change these tests to not leak FDs such as unclosed connections, pools, etc.

[2017-01-20 17:28] csala opened #1101 "Add pool_timeout as a parameter in HTTPConnectionPool"
This issue is a follow up of [this issue](https://github.com/kennethreitz/requests/issues/3825#issuecomment-274070742) opened in the [requests repository](https://github.com/kennethreitz/requests)

As indicated in the file [requests/packages/README.rst](https://github.com/kennethreitz/requests/blob/master/requests/packages/README.rst), if this is accepted, the changes will be first implemented and

[2017-01-20 17:29] Lukasa commented on #1101
Is there a reason we need to do this? Requests can simply pass the appropriate option to urlopen or `new_conn`.

[2017-01-20 17:37] csala commented on #1101
@Lukasa You are right, strictly speaking there is no need to put it here and requests can pass it to urlopen.

But since this parameter controls the connection pool behaviour exactly as `block` and `maxsize` do, I think it's better to follow the same approach.

[2017-01-20 18:55] Lukasa commented on #1101
Yeah, I think that makes some sense.

[2017-01-23 12:51] sigmavirus24 commented on #1096
The reason urlparse handles this correctly is also the reason why `rfc3986` gets it right:

[code]

Our API is just slightly incompatible with the way `parse_url` in urllib3 already works. If we're comfortable breaking that for v2, we can just switch over to a more robust implementation. We still need support for a few things that `parse_url` has grown support for but those should be pretty easy a

[2017-01-23 13:04] Lukasa commented on #1096
I certainly have no problem with swapping to a more robust implementation. If you're open to making a patch against the v2 branch that swaps that in, that'd be really cool.

[2017-01-23 14:55] mrmcmuffinz commented on #836
Hi,

Just wondering when we can some hopes on http/2 support?

Thanks,

-Abe.

[2017-01-23 15:19] Lukasa commented on #836
@mrmcmuffinz The answer is very much "someday". HTTP/2 in synchronous code is a freaking nightmare, so adding HTTP/2 really relies on being able to obtain some useful asynchrony, either by hiding threads in the background (difficult in Python) or by opting in to a concurrency model.

So, definitely not before v2 lands: see #1068.

[2017-01-25 17:54] neiljerram opened #1104 "AttributeError: 'module' object has no attribute 'epoll'"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/eventlet/hubs/poll.py", line 115, in wait
    listener.cb(fileno)
  File "/usr/local/lib/python2.7/dist-packages/eventlet/greenthread.py", line 214, in main
    result = function(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/networking_calico/agent/dhcp_agent.py", line 553, in loop
    super(SubnetW

[2017-01-25 17:58] neiljerram commented on #1104
Hi urllib3 wranglers!  I'm seeing the traceback above in an OpenStack application that uses urllib3.  I found my way to #1001, which feels relevant, and have checked that the OpenStack install is using urllib3 1.20, whose release notes say that it includes that PR.

So I think what I'm seeing is: new version of urllib3 tries to use select.epoll, but for some reason select.epoll is not available.

[2017-01-25 18:00] haikuginger commented on #1104
Hi @neiljerram! `select` can behave differently on different platforms, so can we get some more details about your particular environment? Specific OS and Python versions would be great.

[2017-01-25 18:02] neiljerram commented on #1104
Thanks @haikuginger.  I believe Python is 2.7 (from the paths above - but will double check).  OS should be Ubuntu Xenial, but again I will double check and confirm shortly.

[2017-01-25 18:03] neiljerram commented on #1104
Also I should say that I believe the same combo (app + Python + OS) was working with urllib3 <1.20 - but I will double check that too.

[2017-01-25 18:04] nateprewitt commented on #1104
I haven't verified this, but a quick hunch is this is purely an issue with eventlet. They have a module named [select.py](https://github.com/eventlet/eventlet/blob/master/eventlet/green/select.py), which does not have a poll method. That's probably causing issues because it has higher precedence on the path.

[2017-01-25 18:07] neiljerram commented on #1104
@nateprewitt Ah, yes, the app is using eventlet too.

@haikuginger Definitely Python 2.7, definitely Ubuntu Xenial.

[2017-01-25 18:12] neiljerram commented on #1104
@haikuginger Also confirmed that my last two successful runs were using urllib3 1.19.1

[2017-01-25 18:19] SethMichaelLarson commented on #1104
If there's a module called `select.py` in the path higher than the stdlib that would definitely cause an issue. It's strange that it's not erroring out by saying there's no selector available though. Somehow it's detecting that you have `select.epoll` available and then the path is changed before using.

I think I've already got a patch in my head about how to fix this.

[2017-01-25 18:26] neiljerram commented on #1104
@SethMichaelLarson I'm afraid I'm not following the exact module path issues, but I would be happy to try out your patch...  (I thought Python modules were namespaced, so it would be eventlet.select, urllib3.select, and there would be no ambiguity.)

[2017-01-25 18:29] SethMichaelLarson commented on #1104
@neiljerram They are, but eventlet does something a little naughty by adding itself ahead of the standard library in the `sys.path` which makes our code which runs `import select` choose eventlet's `select.py` over the standard library. It's what makes it so you can run eventlet without needing to write `from eventlet.green import os` instead you just write `import os`.

I believe this is what is

[2017-01-25 18:37] SethMichaelLarson commented on #1104
@neiljerram Are you by-chance calling `eventlet.monkey_patch()` in your project?

[2017-01-25 18:39] Lukasa commented on #1104
I guarantee that this is identical to kennethreitz/requests#3831.

[2017-01-25 18:40] SethMichaelLarson commented on #1104
@Lukasa Looks identical to me! I'll make a patch to make `selectors` behave better if we can detect that `select` is monkey patched.

[2017-01-25 18:41] Lukasa commented on #1104
Specifically, you must monkey patch before you import urllib3. urllib3 does import-time feature detection of selectors, and I bet that eventlet does what gevent does and deletes objects from the select module. That therefore must be done first.

[2017-01-25 18:42] Lukasa commented on #1104
I don't know that we need to consider this a urllib3 bug. I think that this is the rule of monkey patching: if you're going to delete things from modules, then you need to do that before you do literally anything else.

[2017-01-25 18:43] SethMichaelLarson commented on #1104
@Lukasa Doesn't have to be considered a bug, just quality of life fix?

[2017-01-25 18:49] SethMichaelLarson commented on #1104
@Lukasa Could this not be a one-time check on the first call to `DefaultSelector`? After that first call replaces itself with the actual selector implementation?

[2017-01-25 18:53] Lukasa commented on #1104
@SethMichaelLarson So we can delay like that, yeah, but that only moves the window of failure. *In general* we cannot be resilient against a monkeypatch after import time. I'm certainly ok with a patch that does lazy selection of the default selector, but if we didn't do that I also wouldn't lose any sleep over it. 😉

[2017-01-25 18:55] SethMichaelLarson commented on #1104
@Lukasa Of course! I'm just thinking that with the amount of issues that have been raised already this blind monkey patching issue probably isn't going to go away. I'll write up a patch tonight if I have time and see how it performs. :)

[2017-01-25 19:03] neiljerram commented on #1104
Thanks everyone, I'll see if I can establish if and when eventlet monkey patching is occurring, and move it earlier.

[2017-01-25 23:53] neiljerram commented on #1104
FYI, the change that I've tried to my app at [1] seems to be effective.  As you suggested above, it simply ensures that eventlet monkey patching is done before the first urllib3 import.

[1] https://review.openstack.org/#/c/425351/

[2017-01-30 20:44] lukas-gitl commented on #367
Any progress on this?

[2017-01-30 20:47] SethMichaelLarson commented on #367
@lukas-gitl Considering it's been 3 years since this was originally reported it may be useful to open up a new issue and then link to this issue if you're experiencing this. :)

[2017-01-31 08:22] Lukasa commented on #497
Common names are really going away in browsers. [Ryan Sleevi](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/4v82AueNjaQ/loIaBsXIBQAJ) has just proposed actually removing support for them, after their nearly two-decade deprecation period. Their policy may end up being more subtle than we can replicate (we can't draw the public/private certificate distinction Chrome does), in which

[2017-01-31 10:52] jingweiz opened #1106 "ImportError for python but not for python3"
Hi,
when I try to do ```conda``` on my machine Ubuntu14.04, I get the following error:
[code]

When I run ```pip install urllib3``` I get the following:
[code]
However,
[code]

[code]
How should I resolve this issue? Thanks in advance!

[2017-01-31 10:55] Lukasa commented on #1106
This looks like you're mixing packages provided by your distribution with packages provided by `pip`/`conda`. You *must* keep those separate: distributions edit packages in surprising ways you may fail to keep track of. In this case, you have a `requests` that is expecting to look for an unvendored urllib3, but no urllib3 in your envionment.

I don't know how conda manages this, but for `pip` you

[2017-01-31 10:55] #1106 closed

[2017-02-04 20:22] gboudreau opened #1110 "Missing response headers when malformed header is part of the response"
Python 3.5, urllib3 1.20

[code]

I'm pretty sure the problem is caused by an invalid HTTP header returned by the server:

    HTTP/1.1 200 OK
    Date: Sat, 04 Feb 2017 19:16:34 GMT
    My Param: None
    [...]

It directly follows the Date response header, which is returned fine, but since no other response headers is returned, I think this broken header is breaking the HTTP response headers par

[2017-02-04 20:41] SethMichaelLarson commented on #1110
Pretty sure that spaces aren't allowed in HTTP header field names. Whatever server they're using it's not compliant. :/

[2017-02-04 21:00] sigmavirus24 commented on #1110
So this is a problem with `http.client` and the object it uses to parse headers. Instead of skipping invalid headers (@SethMichaelLarson is correct that the `My Param:` header is invalid) it stops parsing all headers. There's also little urllib3 can do except move off of `http.client`, which, is underway for urllib3 2.0.

[2017-02-04 21:00] #1110 closed

[2017-02-05 00:12] gboudreau commented on #1110
I filed an issue in the Python tracker (http://bugs.python.org/issue29445), and was pointed to a possible duplicate (http://bugs.python.org/issue24363).
Testing the latest patch attached to 24363, I can confirm this resolves my issue. Hopefully, this gets  merged soon, but until then, I least I can manually apply the patch where I need it.

[2017-02-07 03:05] thinkerou opened #1111 "Error: ConnectionError: HTTPConnectionPool: Max retries exceeded with url"
I have the following code(part):

    class Test(threading.Thread):

        # other more codes

        def _send_request(self, url):
            s = requests.Session()
            s.keep_alive = False
            resp = None
            try:
                resp = s.get(urls)
                data = resp.json()
            except:
                if resp is not None:
                    resp.conn

[2017-02-07 08:22] Lukasa commented on #1111
Hi there! This error is caused by the remote peer forcibly closing the connection on us unexpectedly, usually instead of sending a response. I can't very helpfully tell you what to do differently without some kind of packet capture so I can see both the request and response.

I should also note that you aren't running a recent Requests build. Old versions of Requests are likely to have bugs, and y

[2017-02-07 08:28] #1111 closed

[2017-02-07 08:28] Lukasa commented on #1111
Apropos of nothing, this is also not a urllib3 bug: it's a Requests issue. You'd need to open this issue on the appropriate repository.

[2017-02-07 08:59] haikuginger commented on #1111
As an extra note, I've seen servers configured to drop requests from Python user agents, so it might be worth setting an alternate User-Agent header.

[2017-02-07 10:20] s251251251 commented on #1104
Hello all
recently I install Swift (Openstack swift object storage) and it seems I have same problem. I install Swift with Keystone authentication on Ubuntu. TempAuth is working but when try to authenticate by keystone swift send back internal server error as follow:

Feb  7 13:43:36 shard1 proxy-server: Error: An error occurred: #012Traceback (most recent call last):#012  File "/usr/local/lib/pyt

[2017-02-07 11:46] Lukasa commented on #1104
@s251251251 The solution to your problem is likely identical to the solution that we gave the earlier poster in this issue (I'm avoiding tagging them to avoid email spam). Have you attempted that solution?

[2017-02-07 12:11] s251251251 commented on #1104
I just confused about exactly what I must do in which file.
as I got I must add this line after import
import eventlet
eventlet.monkey_patch()
as I see in this https://review.openstack.org/#/c/425351/4/networking_calico/agent/dhcp_agent.py
But in my case I can not undrestand where I must put this line.

[2017-02-07 12:21] Lukasa commented on #1104
That understanding is not right. That line already exists. It must be *moved* to be before urllib3 is ever imported. [This patch](https://review.openstack.org/#/c/425351/) should be all you need to apply.

[2017-02-07 12:22] sigmavirus24 commented on #1111
I've found those typically drop just any *non-Web browser* UA

[2017-02-07 12:32] s251251251 commented on #1104
Thanks.
This patch is for other openstack service(Networking) I am working on swift so I think I need other patch

[2017-02-07 12:33] Lukasa commented on #1104
Ok, the premise remains the same. Eventlet monkeypatching must *always* come before doing anything else, including importing other modules. If anywhere is doing eventlet monkeypatching, that needs to be hoisted all the way to the top of the execution tree, so that urllib3 is not imported before the monkeypatch is applied.

[2017-02-07 12:37] sigmavirus24 commented on #1104
@s251251251 you should absolutely file a bug in LaunchPad with the swift team. They are *paid* to fix these issues for you.

[2017-02-07 14:33] s251251251 commented on #1104
@neiljerram Would please let me know how you to find where must be placed monkey patching. Why you are putting it in dhcp_agent.py?? in swift cods i can not find any import eventlet. would please check my log and help me. Thanks

[2017-02-07 14:43] sigmavirus24 commented on #1104
@s251251251 No one on this thread is paid to work on Swift. To contact the Swift developers you have three options:

1. [OpenStack Development Mailing List](http://lists.openstack.org/pipermail/openstack-dev/)
2. [Swift Bug Tracker](https://bugs.launchpad.net/swift)
3. `#openstack-swift` IRC Channel on Freenode IRC.

They are the people best suited to helping you determine how to fix this for Swif

[2017-02-08 23:08] lukas-gitl opened #1112 "Bug: No Retry for SSL Error"
That following code should fire off a `MaxRetryError`, but instead doen't retry and throws an `SSLError`.

**Test case:**
_server.py_
[code]
_client.py_
[code]

<sup>*Disclaimer:* Test case was created by [**Lukasa**](https://github.com/kennethreitz/requests/issues/3845#issuecomment-278273421)</sup>

[2017-02-09 00:25] SethMichaelLarson commented on #1112
Doesn't look like you're setting up HTTPS on your server. It's just a regular non-SSL socket.

[2017-02-09 09:43] Lukasa commented on #1112
Ok, so my analysis of this bug is just that we do not retry on `SSLError`, and we probably should. The code block in `ConnectionPool.urlopen` is the one that makes this call, and I think it's just not right. I'm inclined to say that the blocks for `BaseSSLError`, `CertificateError`, and `SSLError` should all be rolled down into the block below.

Thoughts? This is something that would be good for o

[2017-02-11 01:48] mrobbetts opened #1113 "urllib3 cannot build against LibreSSL"
I'm using NixOS, and having the following issue:
https://github.com/NixOS/nixpkgs/issues/22616

It seems that, at least in its default configuration, urllib3 requires SSLv3 -- but libreSSL doesn't provide it. Is there a way to use urllib3 with libreSSL?

[2017-02-11 08:23] Lukasa commented on #1113
Your test failures are benign: they just test a few weird functions. They're a pain though: they do require certain OpenSSL configurations that aren't guaranteed.

So there is no particular issue here: you should find that the actual code runs ok, and just those tests misbehave. I'll open a new issue to track that problem, and please reopen this if you find there are other ongoin issues.

[2017-02-11 08:23] #1113 closed

[2017-02-11 08:26] Lukasa opened #1114 "Reduce reliance on specific TLS/SSL constants"
There are a bunch of tests in `test.with_dummyserver.with_https` that rely on having specific OpenSSL constants present (e.g. Some of the ones in TestHTTPS_TLSv1. Ideally these tests would be refactored to be more tolerant of not having some constants around by picking the ones they can get, rather than being specific.

Related: #1113

[2017-02-11 12:40] s251251251 commented on #1104
Hi
The problem solved by putting following lines in  /usr/local/lib/python2.7/dist-packages/swift/proxy/server.py, However I do not know is it good place or not.

from gevent import monkey
monkey.patch_all()

I have reported this bug.
https://bugs.launchpad.net/swift/+bug/1662473

[2017-02-13 09:03] Lukasa commented on #1114
The relevant output data:

[code]

[2017-02-13 12:32] #1114 closed

[2017-02-13 14:52] nateprewitt commented on #1080
Resolved with #1089.

[2017-02-13 14:52] #1080 closed

[2017-02-14 07:01] mrobbetts opened #1117 "ERROR: Ensure that urllib3 can validate SANs with IP addresses in them."
I get this error when trying to build urllib3-1.20

(This is in connection with https://github.com/NixOS/nixpkgs/issues/22616)

[code]

Is this user error? I can't really understand the error:
`SSLError: hostname '127.0.0.1' doesn't match either of 'localhost', '127.0.0.1'` (!)

[2017-02-14 08:14] Lukasa commented on #1117
This definitely is not user error: it's a dependency problem. =) urllib3 can only validate IP addresses with SANs in them on platforms where the `ipaddress` module is present: either in third-party code, or in the standard library.

In the short term I'd suggest that the easiest way to fix this is to make the `ipaddress` backport module a required dependency of urllib3. This is the most secure way

[2017-02-14 16:38] mrobbetts commented on #1117
Great, thanks for that. I would likely have never figured that out :)

Adding `ipaddress` fixes it for me

[2017-02-14 16:38] #1117 closed

[2017-02-16 08:47] wizeman opened #1120 "urllib3 1.20 test failures in test/contrib/test_socks.py"
Hi,

When trying to upgrade urllib3 to version 1.20, I'm getting a bunch of test failures in `test.contrib.test_socks.TestSOCKS4Proxy` and `test.contrib.test_socks.TestSocks5Proxy`. The full log is here: https://gist.github.com/wizeman/a362f0f1e1c9364e1197801ca6c70326

As you can see, I'm using python 2.7.

What could be the cause?
I'm surprised you aren't getting these test errors, as it doesn't

[2017-02-16 08:48] Lukasa commented on #1120
Looks like your pysocks module is old. What version do you have installed?

[2017-02-16 08:51] wizeman commented on #1120
I'm using pysocks 1.5.0.

[2017-02-16 08:52] Lukasa commented on #1120
Our setup.py requires at least pysocks version 1.5.6.

[2017-02-16 09:04] wizeman commented on #1120
Indeed, after updating pysocks to version 1.6.6, the mentioned tests passed.

Thanks for such a quick response!

[2017-02-16 09:04] #1120 closed

[2017-02-16 09:12] Lukasa commented on #1120
No problem at all. =)

[2017-02-16 16:00] phuslu commented on #476
Hi @bninja @Lukasa

I tried fix requests/urllib3 https-proxy by https://github.com/shazow/urllib3/pull/1121

Alough it's a very draftly patch, but it really make requests/urllib3 works with https-proxy now 😄
Would you please have a look https://github.com/shazow/urllib3/pull/1121 ?

[2017-02-18 07:38] chrisspen opened #1123 "Fails with Python 3.4"
If I attempt to use requests with caching enabled in Python 3.4, I get this traceback:

        return requests.get(url).text
      File "/myproject/.tox/py34/lib/python3.4/site-packages/requests/api.py", line 70, in get
        return request('get', url, params=params, **kwargs)
      File "/myproject/.tox/py34/lib/python3.4/site-packages/requests/api.py", line 56, in request
        return sessi

[2017-02-18 08:11] Lukasa commented on #1123
That's correct. However, this bug is with requests_cache, not urllib3. It seems that requests_cache is using urllib3's backport of the OrderedDict on all Python versions, which is not what urllib3 does: urllib3 only uses it when the collections module doesn't have one.

They should fix that issue.

[2017-02-18 08:11] #1123 closed

[2017-02-24 14:15] alex opened #1124 "Distrust cert chains using legacy signature algorithms"
I think at a start, md5 should be blacklisted, and sha-1 generate a warning, with blacklisting in the coming months.

@Lukasa suggested that urllib3 was the correct place in the http-stack to do this.

[2017-02-24 14:18] SethMichaelLarson commented on #1124
I'm not a practicing security guy but I think this seems sensible. :)

[2017-02-24 14:23] Lukasa commented on #1124
So, here's some extra notes.

1. We can only do this with PyOpenSSL right now, because only PyOpenSSL gives us access to the verify callback. The standard library does not allow us to to see the certs as they come up in the verify callback, so we can't bar any. It also doesn't let us get the whole peer cert chain, so we can't warn on chains that we'd like to make invalid. This would only work in c

[2017-02-24 15:15] sigmavirus24 commented on #1124
I suspect @reaperhulk has an idea about this answer. That said, didn't newer ones already default to shortest path verification? Isn't that how they fixed the certificates being signed by 1024 and 2048 bit keys? IOW, I would *guess* that something similar should work in this case.

[2017-02-28 00:10] kbkaiser commented on #1065
It should be noted that the current docs for urllib.request says:

"See also: The Requests package is recommended for a higher-level HTTP client interface."

[2017-03-01 02:17] chet commented on #1060
Hey @SethMichaelLarson! Just wanted to drop a note that I ran across this problem recently in my development efforts, and was eventually led to this issue, which the above one liner fixed. :)

In my case, I was using `requests` w/ a client certificate, and everything worked fine, but once I installed `pyopenssl`, kaboom, it all broke. It took a while for me to track it down, but I was excited when

[2017-03-01 10:11] Lukasa commented on #1060
I mean, in general we don't need any of those things. We already have a CA floating around in `dummyserver/certs`, all we need is to create an intermediate CA and then a leaf that it has signed. Shouldn't be too hard for those who are comfortable with OpenSSL.

[2017-03-06 14:48] Akdora commented on #717
I had the same problem. I was doing fn_some_replacements(unicode(data)) before sending the data.
After I commented this row, (not doing unicode process) it worked. thanks for the idea. unicoding the data causes some internal problems.

[2017-03-07 22:53] mansweet commented on #39
I'm still hitting this issue, and finding this little bit of info was rather hard.  I think that revisiting the error message is a valid expenditure of effor

[2017-03-08 08:44] Lukasa commented on #39
@mansweet Fab, I'm looking forward to seeing a PR from you then. :smile:

(All joking aside, I think it's valuable too, but telling people what is a valid use of their time is not the most polite thing to do in the whole world. In this case, given that this issue has been closed for more than 5 years, you'll probably do best to open a new issue treating your case as a new bug report, providing all

[2017-03-09 10:53] Lothiraldan commented on #1104
I encountered this error this week by updating urllib to 1.20. I am in a case where we are importing and doing some HTTP requests before gevent is even imported. (For details, I am executing code in a sitecustomize.py module before a gunicorn server starts a gevent worker).

It would be very difficult for me to delay our urllib calls after gevent has patched half of the world.

What would be the b

[2017-03-09 11:17] Lukasa commented on #1104
@Lothiraldan Please see #1128 for a proposed fix.

[2017-03-10 14:26] baztian opened #1133 "ImportError during install of urllib3[secure] on Jython"
I'm getting a ImportError during `pip install urllib3[secure]` with Jython 2.7.0.

    Downloading/unpacking urllib3[secure] Running setup.py egg_info
      for package urllib3

        warning: no previously-included files matching '*' found under
      directory 'docs/_build' Installing extra requirements: 'secure'
      Downloading/unpacking pyOpenSSL>=0.14 (from urllib3[secure])
      Running

[2017-03-10 14:38] Lukasa commented on #1133
This looks like you have some unresolved dependencies. Try doing `pip install -U setuptools six`.

[2017-03-10 14:49] baztian commented on #1133
I'm running this on a fresh virtualenv. Anyway I tried to run `pip install -U setuptools six` and am getting this:

    Could not fetch URL https://pypi.python.org/simple/setuptools/: There was a problem confirming the ssl certificate: <urlopen error [Errno 1] Illegal state exception>
    Will skip URL https://pypi.python.org/simple/setuptools/ when looking for download links for setuptools in ./d

[2017-03-10 14:55] Lukasa commented on #1133
Sure, but I can't see what that other error is. So we need to go down the chain of errors, fixing them one at a time, until we have resolved them all.

[2017-03-10 15:07] baztian commented on #1133
I had to install

    pip install six
    pip install appdirs
    pip install packaging

Now when I install `urllib3[secure]` I'm getting this:

     Downloading/unpacking urllib3[secure]
      Downloading urllib3-1.20.tar.gz (201kB): 201kB downloaded
      Running setup.py egg_info for package urllib3

        warning: no previously-included files matching '*' found under directory 'docs/_build'

[2017-03-10 15:07] baztian commented on #1133
BTW pip freeze shows:

    appdirs==1.4.3
    packaging==16.8
    pyparsing==2.2.0
    six==1.10.0
    wsgiref==0.1.2

[2017-03-10 15:13] haikuginger commented on #1133
@baztian, it looks like you need to install libffi using the relevant package manager for your system - `brew` or `ports` on MacOS, or `apt`, `pacman`, or something else on the various Linux variants.

[2017-03-10 15:15] Lukasa commented on #1133
It's not entirely clear to me that cffi will work for Jython.

[2017-03-13 14:53] SethMichaelLarson commented on #1104
Hello all, #1128 has been merged. Please test the latest if you can GitHub version if you have time and report back. :tada:

[2017-03-13 14:59] sigmavirus24 commented on #1104
@SethMichaelLarson worth noting that some people on this thread will require an updated version of Requests to test this (e.g., 2.14.0 of Requests)

[2017-03-15 12:54] kissgyorgy opened #1135 "Cannot verify website with valid certificate"
I cannot verify the https://anteus.hu website certificate (https://tls-observatory.services.mozilla.com/static/certsplainer.html?id=9486863) with urllib3 in any way. The Exception is always:
`SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)`
Every other method says it's valid (Google Chrome, CURL, [oscrypto.tls.TLSSocket](https://github.com/wbond/oscrypto), Mozilla

[2017-03-15 12:59] Lukasa commented on #1135
The server is sending an incomplete cert chain, [as you can see here](https://www.ssllabs.com/ssltest/analyze.html?d=anteus.hu&hideResults=on). The other methods you tested all avoid using OpenSSL to validate the certificates, which means they use AIA-chasing and other techniques to locate intermediate certificates. OpenSSL doesn't do that, so urllib3 in its default configuration doesn't do it eit

[2017-03-15 12:59] #1135 closed

[2017-03-25 14:32] alex commented on #497
To keep this updated, the next Chrome release drops support for CN.

[2017-03-30 01:47] whipermr5 opened #1138 "Should not be error: "urllib3 is using URLFetch on Google App Engine sandbox instead of sockets""
This warning shows up as an error in App Engine logs viewer whenever a new process is started for the application. However, using `URLFetch` is perfectly acceptable - [`urllib3`'s own documentation](https://urllib3.readthedocs.io/en/latest/reference/urllib3.contrib.html) lists it as the first option, and [one of Google's own example applications](https://github.com/GoogleCloudPlatform/python-docs-

[2017-03-30 07:25] Lukasa commented on #1138
Thanks for this report!

Firstly, let's note that it's not logged at error level: it's raised as a warning. Warnings are generally appropriate things to fire off when you're using a behaviour that may be subtly different from what you're expecting.

In this case, there are some behaviours that urllib3 cannot control when using URLFetch. It's probably fine, but not necessarily, and because it's a b

[2017-03-30 07:25] #1138 closed

[2017-03-30 14:12] edmondsw commented on #497
Before doing anything here, urllib3 should finish adding support for SubjectAltName. I'm seeing this warning in cases where there IS a SubjectAltName, but it is in the IP form rather than the DNS form. See RFC 5280 section 4.2.1.6. It is relatively common to not have DNS setup in certain internal enterprise environments. If there is no DNS, obviously it doesn't make sense to put a hostname in Subj

[2017-03-30 14:22] Lukasa commented on #497
If you install the ipaddress module or upgrade to a version of Python that includes it you'll find that IP SAN fields work just fine.

[2017-03-30 14:24] dstufft commented on #497
@Lukasa Maybe urllib3 should have a conditional dependency on the ipaddress on 2.x?

[2017-03-30 14:36] Lukasa commented on #497
@dstufft It's made us a bit nervous because urllib3 needs to be able to tolerate its absence for the purposes of things like Requests, and in general because urllib3 wants to be safe to bundle. See #922 for more.

[2017-03-30 14:41] dstufft commented on #497
@Lukasa Seems like it shouldn't be very hard for requests to bundle ipaddress too, but *shrug* not my project :P

[2017-03-30 14:42] Lukasa commented on #497
Sooooo the general rule for Requests is that we vendor dependencies with *no patches of any kind*, not even import rewriting. That would mean we need to perform sys.path hacks to get this to work, and at a certain point we're trying very hard to resolve a problem that doesn't affect that many people.

[2017-03-30 14:45] dstufft commented on #497
Not doing import rewriting seems like a bad rule to me, but okay!

[2017-03-30 14:46] edmondsw commented on #497
I need IP SANs working in requests as much as in urllib3. Are you saying that's not going to happen, or should installing this ipaddress module fix requests as well?

[2017-03-30 14:47] Lukasa commented on #497
It'll fix requests as well.

[2017-03-30 14:47] edmondsw commented on #497
Cool, I'll give it a shot. Is https://github.com/shazow/urllib3/pull/846 unnecessary, then? Should it be invalidated?

[2017-03-30 14:50] Lukasa commented on #497
Yup, just closed it.

[2017-04-13 13:00] tuukkamustonen opened #1147 "status_forcelist specific retry counter"
`read`, `connect` and `redirect` have separate counters but poor `status_forcelist` only counts on `total`. Would it be possible to add similar counter for `status_forcelist`, e.g. `status=3`?

I may try to sketch something up, if this doesn't feel too stupid.

Use case: I want to all one retry for read/connect/status-retry, but if I do `Retry(total=3, connect=1, read=1, status_forcelist=[...])` t

[2017-04-13 13:46] Lukasa commented on #1147
That sounds like a reasonable enhancement. I'd be happy to review a patch like that.

[2017-04-13 17:17] nh2 commented on #746
http://stackoverflow.com/questions/1615447/disable-tcp-delayed-acks

[2017-04-16 18:23] Genestealer commented on #800
Is this issue still outstanding?

[2017-04-17 01:09] Lukasa commented on #800
As far as I know, yes.

[2017-04-19 18:23] KyleWpppd commented on #702
Thank you for your responses and feedback.

One way I've seen this done is the way Google's projects do it, by having a "[google_imports.py](https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/master/ndb/google_imports.py)" file, and anything that could be imported from multiple places seems to do done that way.

Would that be an acceptable solution for urllib3?

[2017-04-19 18:49] Lukasa commented on #702
Maybe? Right now this is not a major issue for urllib3, as it doesn't do `isinstance` checks or anything like that on vendored modules, so import rewriting should be basically transparent. So I suspect that this boils down to us carrying code to support downstream patches, which seems unnecessary.

[2017-04-21 14:11] haikuginger opened #1149 "sync_connection does not correctly handle SSLWantRead and SSLWantWrite"
If either of `SSLWantRead` or `SSLWantWrite` are raised in the context of `sync_connection._receive_bytes()` on the V2 branch, the error is raised, rather than being interpreted and handled with appropriate action.

[2017-04-21 14:12] Lukasa commented on #1149
Yup, so this is broader than that. Anywhere we call `socket.recv()` or `socket.send` we need to be able to tolerate getting either of these errors and handling them appropriately. This shouldn't be too hard, but requires some careful refactoring, I think. I'll tackle this by next week if no-one beats me to it.

[2017-04-22 12:51] sigmavirus24 commented on #702
So just to add some information about why `try/except` blocks aren't acceptable, this project used to do similar things for stdlib modules that were *renamed*. In that case, when others installed libraries like python-future or the myriad of other poorly considered and poorly implemented solutions, we were broken and it took hours to determine the cause. So if we accept anything, we really do want

[2017-04-25 14:04] Lukasa opened #1153 "SecureTransport backend can lead to long pauses on Python 3."
Spotted by someone testing out pip with SecureTransport backing via the new urllib3.

The symptom is this: if you take pip from the branch on pypa/pip#4454, install it on Python 3, and run `pip install -I --no-cache-dir django` you'll find it takes a surprisingly long time. If you do the same on Python 2, it takes something around 7 seconds, while on Python 3 it can take more than 40! This is clea

[2017-04-25 16:47] JayCeeJr opened #1155 "1.21 fails to build"
Collecting urllib3==1.2.1
  Downloading urllib3-1.2.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-DBcrHA/urllib3/setup.py", line 25, in <module>
        tests_requirements = requirements + open('test-requirements.txt').readlines()
    IOError: [Errno 2] No such file or

[2017-04-25 16:51] Lukasa commented on #1155
That's not 1.21, that's 1.2.1, which is *ancient*. Your pip command is wrong. ;)

[2017-04-25 16:51] #1155 closed

[2017-04-25 19:53] tangb opened #1156 "Import InsecureRequestWarning problem"
Hi

I'm using gTTS package for sometime now and I got an exception after installing fresh latest raspian release.
Here the exception:
[code]

It works well with urllib1.3 but since 1.9.1 (maybe before) it is broken.

Can you confirm me the way to load exceptions have changed ?
Or it is a bug :p ?

Thank you.

Tang

[2017-04-25 21:22] Lukasa commented on #1156
No, it's [right there](https://github.com/shazow/urllib3/blob/master/urllib3/exceptions.py#L166). Can you show me the *entire* traceback and the error message at the bottom please? I think you have stripped some important context.

[2017-04-25 21:42] tangb commented on #1156
The full traceback:
[code]

[2017-04-25 21:47] SethMichaelLarson commented on #1156
While you're at it you should include a `pip freeze` as well.

[2017-04-25 21:59] tangb commented on #1156
I didn't know freeze command :sweat:

Here the result of pip freeze:
Pillow==2.6.1
RPi.GPIO==0.6.3
argparse==1.2.1
astral==1.4
bottle==0.12.13
chardet==2.3.0
colorama==0.3.2
decorator==3.4.0
gTTS==1.2.0
gTTS-token==1.1.1
gevent==1.2.1
greenlet==0.4.12
html5lib==0.999
ndg-httpsclient==0.3.2
numpy==1.8.2
passlib==1.7.1
psutil==5.2.2
pyOpenSSL==0.13.1
pyasn1==0.1.7
pygame==1.9.2a0
pyraspiot==0.0.6
py

[2017-04-25 22:11] SethMichaelLarson commented on #1156
I replicated your environment as close as I could barring a few dependencies that don't seem to have those versions available on PyPI anymore. (Are you running your own PyPI server, or where are you getting your dependencies?)

After replicating your environment I was not able to reproduce this issue.
Here is what my replicated environment looks like:

appdirs==1.4.3
astral==1.4
bottle==0.12.13
ch

[2017-04-25 22:17] haikuginger commented on #1156
It would be good to have a sample of the minimum set of code you can reproduce this with. Some libraries will trample the namespaces of others, so that could be what we're seeing here.

[2017-04-26 05:37] tangb commented on #1156
@SethMichaelLarson
Here is the trace of the same code execution:
[code]
I don't run my own PyPi server. But pyraspiot is my own package.
These are the steps to reproduce my environment:
1. - Install raspbian jessie lite (I downloaded this weekend this version 2017-04-10-raspbian-jessie-lite.zip)
2. - aptitude install python-pip, python-dev, python-pygame, python-spidev, python-scipy, python-simple

[2017-04-26 07:09] Lukasa commented on #1156
So, the relevant hint here is probably that your Requests is in `dist-packages`. That means it was not installed via `pip`, but via `apt-get` (or more likely, was installed when you installed your OS as its a critical component of your OS). The problem here is likely to be that Debian "unbundles" Requests when it does this, which means it no longer uses a vendored copy of urllib3 but instead uses

[2017-04-26 11:12] tangb commented on #1156
I tested directly on my current env.
I upgraded requests package (pip install requests --upgrade) and you're right, now I have no error with this _"python -c 'from requests.packages..."_ command :smile:

But now pip is broken. It's not a problem I can't create again my env but what is the good way to install clean python environment ?
According to this experience, using raspbian packages it's not

[2017-04-26 11:14] Lukasa commented on #1156
Using raspbian packages to fix your default environ is the right thing to do. From then on, you should *always* create and use virtual environments in order to use pip. Inside virtual environments you should only ever use pip, outside them you should only ever use apt-get.

[2017-04-26 11:20] masteralves opened #1158 "Retry when status is in status_forcelist and don't use the same connection"
Hey folks,

I am trying to use urllib connectionpool.request so that when we get a status code that is in the status_forcelist, the same connection isn't reused for the retries. I tried using `release_conn=False` and then calling `.release_conn()`, but by inspecting the code, it looks like this is only releasing the last used connection.
Assuming that we fail the 1st try and then we succeed the 2n

[2017-04-26 11:23] tangb commented on #1156
Ok, it what I usually do, but when I started my project last year (not on raspbian jessie version) the raspian repo bottle version was too old (0.10) and I needed a feature implemented in 0.12.
It seems in jessie bottle 0.12 version is available, so i can make a try.

Thank you.

[2017-04-26 11:46] Lukasa commented on #1158
So, I wrote a test script:

[code]

Produces the following tcpdump output:

[code]

You'll notice in this tcpdump output that no second connection is created: that is, there is only one SYN -> SYN+ACK -> ACK handshake at the top, and no second handshake, despite that both requests are clearly visible.

So, I guess my question is: what does your code look like, and are you *sure* you're getting two

[2017-04-26 12:36] SethMichaelLarson commented on #1156
Just as I suspected! Thanks for handling the end of this @Lukasa :)

[2017-04-26 12:40] Lukasa commented on #1156
Always happy to help. =)

[2017-04-26 12:40] #1156 closed

[2017-04-26 14:42] masteralves commented on #1158
Thanks for the fast response! So, you're right. I missed the `self.release_conn()` in response.py. That's where connections are being released back to the pool before the retry. I didn't actually test my code to check if I was getting two different connections, I did so now and in fact it is only one - your script produces the same output.

Having said that, then is there any way I can change your

[2017-04-26 14:47] Lukasa commented on #1158
Yeah, set `release_conn=False` and call `close` and then `release_conn` on the response. That *should* force the TCP connection closed, though you should validate it via tcpdump.

[2017-04-26 15:04] masteralves commented on #1158
You mean something like this?
[code]
It is still using the same connection for all tries... I'm not sure where I should be calling close.

[2017-04-26 15:10] Lukasa commented on #1158
No, just `resp.close()`.

[2017-04-26 15:17] masteralves commented on #1158
Oh, yeah... but the problem is still there. It is still using the same connection for the 2 tries. Then I would have to implement my own retry logic and not use the `Retry` object at all to make it work. It could be done, but I'd rather have the solution come from within urllib.

[2017-04-26 15:20] Lukasa commented on #1158
Hrm. This ends up being a really tricky thing for urllib3 to handle. We could, I suppose, add logic to the retry handler to allow closing the connection but at a certain point the retry handler becomes just absurdly complex, and it's already pretty damn complex. This may ultimately have to be flagged as beyond the scope of urllib3.

[2017-04-27 07:00] #1153 closed

[2017-04-27 11:32] Lukasa opened #1160 "Abandon nosetests."
Sadly, nosetests appears to be abandonware according [to their documentation](https://nose.readthedocs.io/en/latest/):

Given that we will now need to migrate our testing infrastructure away from nose, we should consider where we need to move. My suggestion would be to move to `py.test`: writing tests for `py.test` is generally a nicer experience than writing traditional unittest style tests, and

[2017-04-27 14:04] SethMichaelLarson commented on #1160
I would love to see a move to `py.test`. Seems to be the best way to go.

[2017-04-27 14:05] haikuginger commented on #1160
I'm a fan of `py.test`. It makes it a lot easier to just `assert var is None` instead of having to figure out the specific assertion method to call.

[2017-04-27 14:11] nateprewitt commented on #1160
I'm definitely in favor of moving to `py.test` and would be happy to help with any of the migration work that needs to be done.

[2017-04-27 14:14] SethMichaelLarson commented on #1160
The nice thing about this migration is it can be done in chunks because `py.test` supports `unittest` and `pytest` styled tests.

[2017-04-27 14:54] SethMichaelLarson commented on #1160
So far the biggest blocker I've found is our use of `nose.plugins.skip.SkipTest` at the module level, something that `pytest` I don't think supports in a 1-to-1 fashion.

[2017-04-27 20:39] SethMichaelLarson opened #1164 "TestHTTPS.test_ca_dir_verified skipped on Python 2.7.8 or older"
[`TestHTTPS.test_ca_dir_verified`](https://github.com/shazow/urllib3/blob/master/test/with_dummyserver/test_https.py#L150) has the `@onlyPy279OrNewer` decorator to skip on Python 2.7.8 or older. However the test contains logic which checks the Python version and then does different verifications based on whether `sys.version` is greater or equal to `(2, 7, 9)`. See below:

[code]

Was it intention

[2017-04-28 05:20] Netherdrake opened #1165 "urllib3==1.21: TypeError: unhashable type: 'list'"
There seems to be a regression from `1.20` to `1.21`.

[code]

Code:
https://github.com/Netherdrake/steem-python/blob/master/steembase/http_client.py

[2017-04-28 05:31] SethMichaelLarson commented on #1165
Could you provide a minimal reproducible example? You link to code but there's no mention of how you're using the code to cause this error.

[2017-04-28 05:37] Netherdrake commented on #1165
Any attempt to do a http request will do.

A simple example:
[code]

[code]

Steem in this case wraps `http_client.py` (code link above).

My speculation is that something changed in PR 1016, which breaks backwards compatibility.

[2017-04-28 05:44] SethMichaelLarson commented on #1165
Looks like it's `socket_options` that needs to be converted into a tuple to be used as a part of a `PoolKey` because lists aren't hash-able? It's quite late, but I do believe this is a regression. Nice catch, I will comment again when I've had a chance to sleep. (1 AM currently)

[2017-04-28 05:49] SethMichaelLarson commented on #1165
Yeah that's it, here's a minimal verifiable example for maintainers that read this tomorrow:

[code]

Goodnight :sleeping:

[2017-04-28 07:13] Lukasa commented on #1165
Yeah, that looks like a correct analysis. We definitely regressed that. Looks like we have a 1.21.1 release in our future folks!

[2017-04-28 07:39] Lukasa commented on #1164
Hrm, probably not? Let's try removing it and see what happens. :wink:

[2017-04-28 12:35] SethMichaelLarson commented on #1164
My favorite way of debugging. :)

[2017-04-28 12:35] #1165 closed

[2017-04-29 22:02] mattbillenstein commented on #1158
Possibly related:  https://github.com/kennethreitz/requests/issues/3993

[2017-04-29 22:05] mattbillenstein opened #1167 "Deadlocks with a blocking connection pool and retry"
I started digging through this in requests via this issue:  https://github.com/kennethreitz/requests/issues/3993

Testcase here:  https://github.com/mattbillenstein/requests-retry-pool-hang

urllib3 seems to be leaking requests in this case and with a blocking connection pool, this causes a deadlock.

[2017-04-30 10:35] Lukasa commented on #1167
So the specific issue here is that urllib3 can leak connections during retry or redirect. For situations where we exceed our retry count, we manually release the connection because we aren't returning it, but we *do not* do that if we didn't exceed the count, even though in that situation we also aren't returning the connection. That seems obviously wrong.

This should be a nice fix, with a few te

[2017-04-30 10:44] mattbillenstein commented on #1167
Here is what I've been testing with as a fix:  https://github.com/mattbillenstein/requests/commit/524b43154553489bf60216acb9030ce5b36f7215

This seems safe, since at these points, we'd never return that response anyway, so freeing anything the response relies on should be safe.

I will also say, it feels a bit weird to me that urlopen recurses in these cases -- and it is a pretty gnarly function -

[2017-04-30 12:07] Lukasa commented on #1167
It's not *necessarily* safe: if the response body hasn't been consumed then that might cause the loss of a TCP connection we could keep. Some thought needs to go into that.

As to the urlopen recursion, it's not really an issue: the retry count is never going to be large enough to cause a problem with the stack. However, the complexity of the code is a concern and there are some minor refactorings

[2017-04-30 16:03] mattbillenstein commented on #1167
Yeah, it had occurred to me that perhaps we were putting a dirty connection back to the pool -- maybe it's just safer to close the connection in case of a retry anyway -- a redirect, maybe that isn't desirable.

[2017-05-05 16:44] edmondsw commented on #497
@Lukasa I have python-ipaddress 1.0.16-2 installed (from RHEL) but urllib3 is still ignoring IP addresses in subjectAltNames. Tried with urllib3 version 1.16. Do I need a newer version of ipaddress, of urllib3, of both, something else... ?

[2017-05-05 17:13] edmondsw commented on #497
I was actually using requests 2.10.0 if that matters

[2017-05-05 17:18] SethMichaelLarson commented on #497
@edmondsw Could you open a separate issue along with your environment (`pip freeze`) etc and all the other details to replicate the issue you're experiencing? You can link to this issue in your new issue.

[2017-05-05 21:37] edmondsw commented on #497
@SethMichaelLarson I think I figured it out, and I don't think it's a urllib3 bug, so I won't bother y'all with an issue. I had a requests rpm that had requests/packages/urllib3 setup as a link back to ../../urllib3 instead of bundling it, and in that case you appear to need at least urllib3 version 1.17 for IP SANs to work. Things work fine with current versions, or with any pip combination that

[2017-05-06 05:50] mattbillenstein commented on #1167
fyi, been running a version of this in prod that discards the connections before recursing -- at least for me, that seems to work pretty well -- ymmv

[2017-05-06 12:46] Lukasa commented on #1167
Yup, still totally happy to accept a patch to resolve this in the form of a PR. :smile:

[2017-05-06 20:58] mattbillenstein commented on #1167
Created https://github.com/shazow/urllib3/pull/1171

Not sure to craft a test for this...

[2017-05-08 05:47] tuukkamustonen opened #1172 "Allow adjusting request on retry"
What would you think about allowing to manipulate the outgoing request within `Retry`?

*Use case:* I am calling an API that requires a valid authentication token. If token is not valid, API returns 401 as usual.

The problem is that our identity provider reserves right to flush all existing tokens at any point of time. Or maybe the token gets revoked (for reason X). So, the client may face a situ

[2017-05-08 07:40] Lukasa commented on #1172
So, we certainly could, but at this point I'm getting very worried about the sheer amount of complexity involved in the `Retry` class. It handles a number of disparate concerns and has a lot of responsibilities, and as a result keeps appearing as the natural place to insert most new enhancements.

As a first instance, I think the biggest problem is the fact that retries and redirects are on the sa

[2017-05-12 17:15] theonewolf commented on #1060
@lukasa you mostly want contributor help in creating the test case?

Just so I'm clear, we can do a one line change and then add a test case and that would basically be merge ready (after review of course)?

[2017-05-12 17:31] theonewolf commented on #1060
Also @Lukasa just as an FYI (@kennethreitz) this causes `requests > 2.11.0` API to break.

Here is a simple snippet of what I did to track down why `requests` is now broken (from before) if upgrading past `2.11.0`:

[code]

where `test.crt` is two PEM-encoded certificates concatenated together (leaf + intermediate), and the result is:

[code]

[2017-05-12 17:36] theonewolf commented on #1060
@Lukasa ah!  You already know the offending commit :laughing:

Guess we just need a merge request here :smile:

[2017-05-12 19:25] Lukasa commented on #1060
@theonewolf Yup, this is a really nice straightforward patch for someone who wants it!

[2017-05-12 22:26] theonewolf commented on #1060
@Lukasa do I need to do anything special to have PyOpenSSL tested?

Here's what I've done so far:

1. Created an intermediate CA
2. Created a client certificate off of that intermediate
3. Modified `dummyserver/server.py` to take certificates with `CERT_OPTIONAL`
    - Pre-existing test cases run unchanged
    - Test cases presenting validating certificates pass that along into the request handler

[2017-05-12 22:32] theonewolf commented on #1060
@Lukasa disregard, running `tox` or `make test-all` successfully bubbles up the PyOpenSSL error :smile:.

[2017-05-12 22:33] theonewolf commented on #1060
This is what it looks like when it fails:

[code]

[2017-05-12 23:13] theonewolf commented on #1060
@Lukasa pull request in :smile:.

[2017-05-15 11:22] piquadrat commented on #1112
I'm currently trying to implement this as proposed by @Lukasa, basically like this:

    diff --git a/urllib3/connectionpool.py b/urllib3/connectionpool.py
    index b4f1166..031df4c 100644
    --- a/urllib3/connectionpool.py
    +++ b/urllib3/connectionpool.py
    @@ -622,26 +622,16 @@ class HTTPConnectionPool(ConnectionPool, RequestMethods):
                 # Timed out by queue.

[2017-05-15 11:51] Lukasa commented on #1112
Yup, but that's ok: urllib3 does not have backward-compatibility guarantees on minor releases, so I'm not too fussed about it. :grin:

[2017-05-15 11:53] piquadrat commented on #1112
Sweet! I'll open a PR later today then!

[2017-05-15 12:34] luxrck opened #1176 "SSL infinity recursion error when using this with gevent."
#### reproduce
[code]

[2017-05-15 12:38] Lukasa commented on #1176
Sorry, but I can't reproduce: running your code on my machine produces no problem whatsoever. Can you provide the output of `pip freeze` and `python --version`?

[2017-05-15 12:40] luxrck commented on #1176
os: archlinux
python: 3.6.1
gevent: 1.2.1
requests: 2.14.2

[2017-05-15 12:42] Lukasa commented on #1176
Based on the fix you provided in #1177, it seems that gevent is monkeypatching the `SSLContext` object. It is *vitally important* when you use gevent that you apply the monkeypatch *before* you import any other code. Code frequently will use `from` imports to bring objects into their own namespaces, and monkeypatching after doing that will cause code to break.

Rather than force every library in t

[2017-05-15 12:42] #1176 closed

[2017-05-15 12:59] luxrck commented on #1176
sure it is.

[2017-05-17 09:44] neiljerram commented on #1104
I believe this issue can be closed now.  The immediate problem was fixed in my networking-calico project by doing

    import eventlet
    eventlet.monkey_patch

as early as possible, and IIUC there also upstream improvements to eventlet/urllib3/requests to prevent this from being a problem in future releases.

[2017-05-17 09:44] #1104 closed

[2017-05-22 09:42] gromgull opened #1179 "not fork safe on osx"
This is actually a OSX "feature", and not a urllib3 bug - but I sank a lot of time into debugging it, and maybe it could be detected and a warning could be logged, or at least it could be documented?

The underlying problem is that proxy settings are looked up using some system api, which in turn uses libdispatch, which is not fork-safe. This can lead to segfaults.

My bug report: http://bugs.pyth

[2017-05-22 14:55] haikuginger commented on #1179
@gromgull, I wasn't able to reproduce using your sample script on macOS 10.12.4, pyenv-installed Python 3.6.1, and the following pip freeze:

[code]

Can you paste a pip freeze output? Additionally, if you could clarify the version of MacOS you're using, that'd be great - the upstream bug says "MacOS 16.4.0", which I'm pretty sure isn't right. 😉

I also wasn't able to reproduce the issue with the

[2017-05-22 15:43] Lukasa commented on #1179
Yeah, I think we don't want to consider this a urllib3 bug. urllib3 does not support being actively initialized and then forked, and it can break urllib3 in a surprisingly large number of ways. Short of decorating every entry point into the codebase to do fork detection I don't think we've got a reasonable chance of spotting this. 😦

[2017-05-22 15:43] #1179 closed

[2017-05-24 22:35] jvanasco commented on #1071
bumping this back up as I'd like to stop using janky workarounds and try to sketch out the first draft of a PR

1. what if the object were `ConnectionInformation` (instead of `DebugInformation`) and an attribute was `connection_info`?  That would cover @glyph's concern, while still abstracting this stuff enough away from the core attributes.

2. The data we're talking about preserving is:

* remot

[2017-05-25 14:54] rhmoult opened #1180 "Failure to match hostname and IP address in Subject Alternate name"
Bottom line upfront:
urllib3.exceptions.SSLError: hostname '192.168.187.150' doesn't match either of 'customhostname.mydomain', '192.168.187.150'

Details:

import urllib3
import certifi
https = urllib3.PoolManager(cert_reqs='CERT_REQUIRED',ca_certs="/etc/ssl/certs/ca-certificates.crt")
URLGET = "https://192.168.187.150"
https.request('GET', URLGET)

Traceback (most recent call last):
  File "<std

[2017-05-25 15:50] Lukasa commented on #1180
Please install the `ipaddress` module from PyPI: this will allow us to parse IPAddresses safely and so will let us validate the cert.

[2017-05-25 15:50] #1180 closed

[2017-05-28 16:31] alexwlchan opened #1182 "requests/dev version of urllib3 don't play nice together in tox"
Working with a local clone of current master (ae4adde):

[code]

[2017-05-28 16:33] Lukasa commented on #1182
This seems like a problem with our tox installation, possibly the results of a dependency issue? Seems like it must be pretty recent given that it hasn't happened in CI. @jonparrott, again, any thoughts here?

[2017-05-28 16:38] alexwlchan commented on #1182
The `docs` issue looks like a problem with yesterday’s decision to unbundle dependencies from requests – suddenly urllib3 is presenting a version number "dev", which is confusing [the requests code for parsing urllib3](https://github.com/kennethreitz/requests/blob/master/requests/__init__.py#L50). @Lukasa As a requests maintainer, where would be the best fix for that? Change the way urllib3 presen

[2017-05-28 16:39] Lukasa commented on #1182
Oh god. Why are we importing Requests in the docs build?

[2017-05-28 16:40] alexwlchan commented on #1182
You’re not, Sphinx is.

[code]

[2017-05-28 16:40] Lukasa commented on #1182
Oh lol because Requests is required by Sphinx, that's why. Goddamn it, this is a Requests bug.

[2017-05-28 16:43] Lukasa commented on #1182
Actually it's worse than that. Sphinx requires Requests, and Requests requires a specific version of urllib3 that *may not be the development release*. I'm genuinely unsure of how to resolve this issue.

[2017-05-28 16:43] alexwlchan commented on #1182
(This seems unrelated to the `gae` failure, so I’m going to split that out into a separate issue.)

[2017-05-28 16:44] alexwlchan opened #1183 "Running `tox -e gae` is broken on current master"
Extracted from #1182:

[code]

[2017-05-28 16:46] alexwlchan commented on #1183
Hmm. I found [the most recent successful Travis job](https://travis-ci.org/shazow/urllib3/jobs/236341107), and pinned based on the requirements reported by tox:

[code]

Same issue.

[2017-05-28 16:47] Lukasa commented on #1182
As an example of what the above means, it becomes impossible for us to build docs for urllib3 v2.0 until after it's released, because it cannot possibly work with the Requests that's in Sphinx.

[2017-05-28 16:49] Lukasa commented on #1182
This is a surprisingly profound problem. There's a very real chicken-and-egg issue here: tox needs to import urllib3 to correctly autodoc it, but the act of doing so breaks the unvendored Requests. I guess for the moment we can add a docs dependency to pin to a vendored Requests release, which is pretty silly.

[2017-05-28 16:51] Lukasa commented on #1182
This will still leave us with a real problem down the line, both because Requests' is doing insufficiently sensible checking of urllib3 and because if Requests never widens its pins we'll run into real trouble in v2.

[2017-05-28 16:53] alexwlchan commented on #1182
Should Requests be doing any checking at all of the urllib3 version? Or is that something that should be trusted to setup.py/pip?

[2017-05-28 16:54] alexwlchan commented on #1183
Interesting, this passes on Travis, with a matching set of versions – see https://travis-ci.org/shazow/urllib3/jobs/236925046 – but not on my local machine.

[2017-05-28 16:55] jonparrott commented on #1182
The problem is that even if we remove Request's version range, it's possible for us to break Requests (and therefore Sphinx) by installing our dev version.

[2017-05-28 16:56] alexwlchan commented on #1183
But it doesn’t pass in Travis on my fork – https://travis-ci.org/alexwlchan/urllib3/jobs/236924925 – I wonder, is there something dodgy about the Travis cache for urllib3 that’s masking the bug?

[2017-05-28 17:03] jonparrott commented on #1183
@alexwlchan yes, sending a PR to fix shortly.

[2017-05-28 17:16] jonparrott commented on #1182
@Lukasa looks like it's time for us to release urllib4! 🤣

[2017-05-28 17:48] Lukasa commented on #1182
Ultimately as long as pip has no dep solver we're at risk of having a bad urllib3 version for Requests, and at least in principle this should reduce the amount of time we spend debugging that for Requests. However, as @jonparrott notes, this doesn't avoid our core problem which is actual compat problems!

[2017-05-28 18:03] #1182 closed

[2017-05-29 12:50] #1183 closed

[2017-05-30 10:12] alexwlchan commented on #1160
I think you can use:

[code]

[2017-05-30 11:38] JordanP commented on #1160
py.test is nice but did we consider using the good old `unittest` package ? It's part of the stdlib, brings 0 external lib and should be known by most (all ?) Python developer.

py.test has some learning curve. Just asking, what is in py.test that can't be done with unittest ? With setup() and setupClass(), and 2/3 helper functions, my experience tells me we can do a lot.

[2017-05-30 11:42] Lukasa commented on #1160
My experience has been that py.test has a number of major advantages. Most notable, though, is that because it is *not* in the standard library it does not have a feature set that varies based on Python version. I count the presence of `unittest` in the standard library as a downside, not an upside, because it leads to either conditional code, conditional imports, or being unable to use useful fea

[2017-05-30 11:50] sigmavirus24 commented on #1160
I'll add less objective items as well:

Writing py.test tests are a joy because:

- You can still use unittest if you want

- You don't need to remember which assertFoo methods actually exist on your version of Python and which don't (for that, you need unittest2)

- You don't need to go through inheritance hell to figure out what is setting up `self.frob` on your class that you're using when it t

[2017-05-30 16:07] jonparrott opened #1191 "Move GAE tox env to use the pytest runner"
Context: https://github.com/shazow/urllib3/pull/1187#issuecomment-304813261
Related: https://github.com/shazow/urllib3/issues/1160

[2017-05-30 17:12] Lukasa opened #1193 "AppEngineManager should provide an _original_response object."
See the rationale on kennethreitz/requests#4044.

[2017-05-31 14:05] shawndream opened #1194 "SSL errors ambiguous - requests/urllib3/certifi/ssl"
Lost a whole day+ struggling with vague cert errors before having to give up with no more leads to chase, and held my nose to slap a verify=False and disable_warnings() in my code.

I can't seem to get a self signed cert accepted by urllib3, either by providing the single cer directly to verify (tried exporting it in a variety of formats), or by appending it to the pem downloaded by certifi.

I'm

[2017-05-31 14:23] Lukasa commented on #1194
Assuming you're trying to verify a server cert, then there is only really one acceptable format for a PEM file. It looks like this:

[code]

This is a base64-encoded blob of binary data, between two delimiters. This *is* the PEM file format.

`ssl.get_server_certificate` provides the leaf cert for a server. Assuming the server *really is* serving a self-signed cert, then that will be the root you

[2017-05-31 15:02] shawndream commented on #1194
By raw I mean that the output of the ssl.get_server_certificate has endlines every 80 chars or so, and no poundsign extra data before it, unlike the pem files used by certifi.

I just windcertstore.get_pem()  in case the begin cert block it provided was more PEMmy than ssl.get_server_certificate, but it behaved exactly the same (and looked similar - the file exported had \n every 80 chars or so an

[2017-05-31 15:04] Lukasa commented on #1194
Those are irrelevant. The PEM files used by certifi still line break, and the pound signs are a PEM comment character. No meaningful difference there. :smile:

As to your code, it'd be great to see what the contents of the PEM file you wrote are. Do you mind sharing? If you want to share it with me privately for any reason you can mail me: my email is on my GitHub profile.

[2017-05-31 15:15] shawndream commented on #1194
I just generated it (and can generate a new one), although it was more fiddly than I thought it should be to get one that passed muster for modern browsers in terms of signing method and subject alt names.

here's the current one, pass for private key is (required for export from windows, although I know it's annoying to retrieve in python):   thankslukasa

I'd love to be able to test it through t

[2017-05-31 15:17] Lukasa commented on #1194
Wait, is this really the contents of the PEM file you wrote using the code above? Because it's not PEM formatted.

[2017-05-31 15:18] Lukasa commented on #1194
To be clear, when I say "the code above" I mean the result of `liststore("CA", "Trusted Root Certification Authorities")`.

[2017-05-31 15:20] shawndream commented on #1194
Sorry, no that's the full thing, let me get you the ones I was using.

[Alpha-OCR-pems.zip](https://github.com/shazow/urllib3/files/1042029/Alpha-OCR-pems.zip)

These are the ones from wincertstore (the code above) - the trim one is with endlines removed.

[2017-05-31 15:31] Lukasa commented on #1194
Hrm. Initially `openssl verify` does not seem to believe that this cert is the correct issuer. I'll try to dig into why.

[2017-05-31 15:53] Lukasa commented on #1194
So you've got a key usage extension that is problematic. Here's the textual representation of your cert:

[code]

Note the Key Usage extension:

[code]

This extension is marked "critical", meaning that it must guide the OpenSSL cert chain validation logic. Put another way, an X.509 certificate with this extension marked critical *must only* be used for purposes allowed in this field. This field o

[2017-05-31 15:53] #1194 closed

[2017-06-01 15:43] #1164 closed

[2017-06-06 21:53] openfly opened #1210 "allow passing of cert chains as namespace rather than file path."
looking at:

urllib3/urllib3/contrib/pyopenssl.py:
[code]

should probably allow for passing of certs as namespaces as well making use of _ctx.use_certificate context.  same for privkey.  this avoids having to leave unencrypted p12 bundles lying around on filesystem where they can be purloined.

[2017-06-07 07:56] Lukasa commented on #1210
What does "passing of certs as namespaces" mean? Do you mean "as binary data in memory, rather than from the filesystem?"

[2017-06-07 12:08] #1112 closed

[2017-06-07 13:09] openfly commented on #1210
Or as a string.  I don't really care what the data type is.  I just think having to handle temp files when unpacking a p12 cert is pretty crummy.

[2017-06-07 13:26] Lukasa commented on #1210
Unfortunately, this is not a thing that is supported by the Python standard library in any form, which makes it difficult for us to support. It can be achieved using APIs in PyOpenSSL if you choose to use that TLS backend, but because there is no stdlib API we can use as a basis for a shim we'd be essentially designing our own TLS API, which we don't really want to do.

My recommendation is that y

[2017-06-07 13:29] openfly commented on #1210
there should already be a context for this in pyopenssl.  we just need to handle the object and detect if it's a filehandle or not.

[2017-06-07 13:31] Lukasa commented on #1210
@openfly I'm not saying PyOpenSSL can't handle it. I just said that it could, and told you where to get the object to call.

What I'm saying is that `urllib3.contrib.pyopenssl` should not grow an API for this, because it does not have any analogue in the standard library. The purpose of that module is to shim the external modules to the standard library and provide equivalent support, not to provi

[2017-06-07 13:38] openfly commented on #1210
which standard library are we referring to?  ( having a whose on first moment.. no coffee  etc )

[2017-06-07 13:39] Lukasa commented on #1210
Python

[2017-06-07 13:43] openfly commented on #1210
Seems overly complicated tbh.  I kinda get what you are saying.  ( my contextual knowledge of urllib3 is entirely lacking.  I really just want this to work in requests... )  Not sure I'm going to be able to power through that without doing some considerable ramp up on urllib3 itself.  Which frankly, is kind of a time sink for me at the moment.  =/

[2017-06-07 13:47] Lukasa commented on #1210
I mean, "overly complicated" is entirely a relative term. Requests does not expose anything in its API that is not supported across all TLS backends. PKCS#12 file or data support is not supported in the standard library, therefore we do not support it. We provide a supported way to get at this low-level information via the `SSLContext` API discussed above and outlined [here](https://lukasa.co.uk/2

[2017-06-07 13:55] openfly commented on #1210
For clarity.  The goal is not to pass a p12.

The goal is to avoid having to write unpacked cert files to disk to use them in a PKCS authenticated https call.   The current approach is fundamentally less secure.  As it involves forcing users to write unobfuscated, decrypted keys to disk ( usually in tmpfile pathes ).

So to say this is how TLS should operate is silly from the point of... of course

[2017-06-07 14:01] Lukasa commented on #1210
Woah, hang on. We're talking at cross purposes.

No it does not. As you can see in the function signature above, you can pass a "password" object that is allowed to be a callable to provide the decryption data. This is actually *safer* than decrypting the data in Python code, as you cannot ensure that Python will remove the data from its memory in any kind of timely fashion or at all, while OpenSS

[2017-06-07 14:05] openfly commented on #1210
I don't want tmp files.

Encrypting before placing a tmp file is a nice step up for me.  Was unaware that would work.  Kinda surprised actually.  Would still rather keep it all in memory.

[2017-06-07 14:06] Lukasa commented on #1210
Ok, so I strongly advise you not to put keying material in Python code if you can avoid it. It's vastly better to let you keep it in C code, which can accurately manage the memory. Regardless, your options are as I've laid them out above: either call into PyOpenSSL if you want no files at all, or use the API that lets you provide a password callback.

[2017-06-07 14:07] openfly commented on #1210
would you be cool with CFFI from a c level perspective?

[2017-06-07 14:09] Lukasa commented on #1210
CFFI is fine, and indeed PyOpenSSL uses it to delegate the responsibility to OpenSSL.

[2017-06-07 14:57] openfly commented on #1210
Now that I have had my coffee... thanks for putting up with me and answering questions @Lukasa

[2017-06-08 15:03] sethmlarson opened #1214 ".coveragerc removes all raise statements from coverage checks"
This was discovered in #1211 and affects a few places that ought to have coverage. See #1212 for a full list of modules that are affected. We should aim to remove `raise` from `.coveragerc` and have test coverage for all these places.

As @Lukasa said, this is a great place for a contributor to make a real difference in the quality of this code-base.

[2017-06-13 11:08] voltagex commented on #242
@Lukasa has anything changed in regards to cost in the last few years?

[2017-06-13 12:17] Lukasa commented on #242
Nope.

[2017-06-15 06:46] #1191 closed

[2017-06-19 14:00] rasa opened #1221 "KeyError using doc example: cert_reqs='CERT_REQUIRED'"
## Summary
http://urllib3.readthedocs.io/en/latest/user-guide.html#ssl says to use:
[code]
but only this worked:
[code]
## Expected Result
No error.
## Actual Result
[code]
## Reproduction Steps
See above.
## System Information
[code]

[2017-06-19 14:02] Lukasa commented on #1221
Can you please fill out the System Information section? I do not reproduce this on my system.

[2017-06-19 14:44] rasa commented on #1221
Done. See above.

[2017-06-19 14:49] Lukasa commented on #1221
Ok, so there were a number of things missing from your report, but the most important one is this: you're on Python 2, and passing a unicode string. Because the string acts as an identifier (that is, because it's not being printed or sent but is purely being used as part of the program), you need to use a native string, not a unicode one. Remove the `u''` from in front of the string and it'll work

[2017-06-19 14:49] #1221 closed

[2017-06-19 15:04] rasa commented on #1221
Got ha, thanks, and sorry for the noise!

[2017-06-20 05:29] friedbutter opened #1222 "HTTP CONNECT missing brackets when connecting to IPV6 host via IPV6 proxy"
Currently, I am trying to connect to an https IPv6 host via IPv6 proxy. Here is my example:

[code]

I got this error:

[code]

Digging through the logs and pcap, I found that the brackets are missing in `CONNECT`. Here is the output of tshark:

[code]

Notice, the HTTP CONNECT is invalid

[code]

[2017-06-20 05:31] friedbutter commented on #1222
pull request https://github.com/shazow/urllib3/pull/1223

[2017-06-21 23:15] andamian commented on #1060
Are there any plans for releasing this any time soon? As a work around to it, is it possible to make urllib3 used by requests not use pyOpenSSL even if it's installed? Thanks

[2017-06-22 04:57] Lukasa commented on #1060
There is: run `requests.packages.urllib3.contrib.pyopenssl.extract_from_urllib3`.

[2017-06-26 10:51] kobeyu opened #1224 "when connecting to https by IP address, client hello message has a server_name SNI block with literal ip address"
I originally opened this in [requests](https://github.com/requests/requests/issues/4178), but was asked to raise it here.

When connecting to a machine over https using an IP address, the SSL client hello includes a server_name extension with the ip address listed as the server name. This is not allowed in the [SNI spec](https://tools.ietf.org/html/rfc3546#section-3.1), and it should not include t

[2017-06-26 11:40] Lukasa commented on #1224
Ok, so this is a thing that's bothered me for a while. SNI absolutely should not have IP addresses in it, but spotting an IP address is a tricky thing to do. I think our best bet is to optionally attempt to import the `ipaddress` module to do IP address detection.

Failing that, if we want an internal utility for this we can write one: it just turns out to be moderately tricky.

Anyone got opinion

[2017-06-28 18:00] ya-isakov opened #1225 "urllib3 should do nothing on import contrib/pyopenssl in Python>=2.7.9 or 3.4"
If I understand correctly, recent Python versions support all functional provided by contrib/pyopenssl.py. Some third-party libs are uncoditionally trying to inject pyopenssl, so my opinion is that urllib3 should just do nothing, or fail with ImportError in recent Python

[2017-06-28 18:07] Lukasa commented on #1225
Nope.

PyOpenSSL is frequently linked against a newer copy of OpenSSL than the Python it is installed against, especially on macOS. This means it continues to provide useful benefits. It is up to projects that use urllib3 to decide when to inject PyOpenSSL, not for urllib3 to refuse to do it.

[2017-06-28 18:07] #1225 closed

[2017-07-01 12:36] sigmavirus24 commented on #1222
#1223 has merged and thus I am closing this. 🎉

[2017-07-01 12:36] #1222 closed

[2017-07-01 20:42] kislyuk opened #1227 "When sending chunked requests, allow chunk body iterator to format chunks on its own"
I'm working with a service that wants me to upload chunked requests with chunk extensions -
 appending a signature for each chunk in the chunk header, e.g.
[code]
I think the easiest way to accommodate this would be with a kwarg like `PoolManager.request(body=chunk_iterator, raw_chunks=True)`. This would optionally delegate the responsibility for formatting the chunks to the body iterator.

[2017-07-01 21:13] Lukasa commented on #1227
Thanks for this suggestion!

Chunk extensions are comfortably the least-deployed part of HTTP/1.1: they are so infrequently used that there is no specified way to translate them into HTTP/2, which had a mandate to represent everything representible in HTTP/1.1.

This makes me *extremely* disinclined to add a top-level API hook for this: you may literally be the only person in the Python community

[2017-07-02 06:29] kislyuk commented on #1227
From what I can tell, the `read()` buffer size is hardcoded to 8192 in https://github.com/python/cpython/blob/master/Lib/http/client.py#L961. I need chunks of a larger, configurable size.

While HTTP 2 drops chunked encoding, it does replace it with data frames, which seem very similar and more configurable. The application I'm talking to doesn't (yet?) support HTTP 2, but it does use chunk extens

[2017-07-02 06:43] Lukasa commented on #1227
Your chunk size is orthogonal to the `read()` size. You can just read out the partial chunk data as you go. There is no requirement that one `read()` call provide a  complete chunk.

[2017-07-02 06:44] Lukasa commented on #1227
As to the idea that DATA frames are "similar but more configurable", they are not. They are exactly the same as a single block of chunked encoding, with no room for chunk extensions. To define chunk extensions requires defining an extension to HTTP/2 itself, and once you do that you need to get all other implementations to agree to implement it.

Put another way, chunk extensions in HTTP/1.1 are p

[2017-07-02 07:00] kislyuk commented on #1227
OK, I see what you mean with the `read()` solution. Yeah, that sounds like it should be more straightforward.

I guess I wasn't very clear with what I was saying about data frames. I'm not an HTTP 2 expert, but I was thinking that by making data frames the default way to send request/response bodies, HTTP 2 is promoting streaming to a higher support status than HTTP 1.1 (where many servers and cli

[2017-07-02 07:02] Lukasa commented on #1227
So to be clear, I am 100% in favour of streaming and chunked encoding. The Python client tools have had much stronger support for chunked encoding for longer than in most language communities. My objection is *specifically* to chunk extensions, which have barely been deployed anywhere and are not present in their same "metadata" role in HTTP/2. I'd encourage anyone with APIs that use them to struc

[2017-07-02 07:02] #1227 closed

[2017-07-02 18:04] mattbillenstein commented on #1167
Fixed in #1174

[2017-07-06 23:05] jaddison commented on #859
I found this issue because I ran into a triple http slash when handling redirects with `requests`.
 Apologies for the noise, but I thought I'd add in a `requests`-specific way to address this issue - for the sake of others who might run into this issue:

[code]

[2017-07-14 18:49] jegoul commented on #857
That change would help solve some problems I had with ssl.

If you do a GET with a small read timeout value,  `connectionpool._make_request` will set the socket timeout to that value before receiving the response.  If you follow this GET with a POST that sends lots of data, you will get an exception with message `'The write operation timed out'`.  That's because ssl uses the socket timeout value (

[2017-07-15 04:20] merrellb opened #1228 "Urllib3 with h11 and trio"
I've been following trio development these last few months and asynchronous HTTP requests are unsurprisingly high on my wish list.  @njsmith suggested urllib3 was probably the best way to robustly achieve this (https://github.com/python-trio/trio/issues/105).  I've noted that removing httplib has been closed (https://github.com/shazow/urllib3/pull/1067) and that the v2 branch hasn't been updated s

[2017-07-15 04:44] njsmith commented on #1228
#1067 was closed in favor of #1068, which is still open.

I've had some discussions with @Lukasa about this; my understanding is that he's dubious about providing pluggable network I/O in urllib3, but willing to discuss it. I don't think the v2 branch is abandoned, just that @Lukasa is a man with approximately 7 full-time jobs. And possibly part of the issue is that there's some unresolved questio

[2017-07-15 06:34] Lukasa commented on #1228
Basically what @njsmith said. 😉

[2017-07-15 06:34] #1228 closed

[2017-07-16 06:54] merrellb commented on #1228
I definitely would like to find a good way to contribute although your secret plan does sound rather ambitious (especially if it has already proven difficult for @Lukasa!).  Is your branch publicly available?  I would certainly be happy to take a look and see if it is something that could be in my wheelhouse (although with no twisted experience it may be a bridge too far)

[2017-07-17 12:25] ml31415 commented on #1160
Love to see that happen!

[2017-07-18 06:31] alexwlchan commented on #1100
One observation from my testing: I’ve seen some FDs that leak intermittently. This can make it harder to tell if a patch succeeded in cleaning it up, or that was just a lucky run.

[2017-07-19 18:02] ginward opened #1232 "Concurrency Issues on poolmanager.py and _collections.py"
Dear urllib3 developers,

After reading the source code, I have some questions on the thread-safety of the poolmanager.

This code:

[code]

It seems that it only locks the pool operation. However, it does not lock between after the pool is created and before the connection is made. During this gap, the connection could be closed by the following code:

[code]

The RLock will be released after the

[2017-07-19 20:04] Lukasa commented on #1232
This appears to be a possible risk. More generally it seems that objects contained in the LRU cache cannot safely be used ever: if they are in the process of being evicted that eviction may occur while they are being used for some other purpose.

The risk does appear to be vanishingly low: it requires that more than `maxsize` connection pools are in use at once in very rapid succession such that t

[2017-07-20 02:28] #1232 closed

[2017-07-21 07:29] timuralp opened #1234 "HEAD response with chunked Transfer-Encoding does not release the connection"
Amazon S3 sets "Transfer-Encoding: chunked" in the response even for a HEAD request. For example:
[code]
This causes the connection to not be returned to the pool after calling `stream()` or `read_chunked()` (which `stream()` is a thin wrapper for in this case). This is due to the following conditional in the `read_chunked()` method: https://github.com/shazow/urllib3/blob/master/urllib3/response.p

[2017-07-22 17:09] #1234 closed

[2017-07-25 15:09] jminuscula commented on #855
Hey there,

I'm still experiencing this, although it looks like related issues were solved long ago. I'm also using elasticsearch to upload a bunch of documents; decreasing the number of documents in the batch definitely improves the error rate.

Is there anything I can do to help debug this?
Thanks.

[code]

[2017-07-25 15:14] Lukasa commented on #855
Are you experiencing it using Requests or urllib3?

[2017-07-26 07:27] jminuscula commented on #855
@Lukasa I'm using Requests through the elasticsearch library. Here's the full stacktrace:

[code]

[2017-07-26 07:35] Lukasa commented on #855
Your Requests version is probably too old to have this fix. Can you try updating it?

[2017-07-26 07:48] jminuscula commented on #855
@Lukasa thanks for looking into this. I've also tried with the latest Requests, but the stacktrace only changes the line numbers slightly:

[code]

[code]

[2017-07-26 07:52] Lukasa commented on #855
Hrm, this should be fine. Can you use pdb to catch this and check what the type of `data` is in `_send_until_done`?

[2017-07-26 07:59] haikuginger commented on #855
If this is the same issue as before, I believe the fix we did in Requests was only for JSON generated by Requests; if the ES lib is generating its own Unicode body, then we weren't doing anything about it. Let's start throwing an appropriate warning when receiving a Unicode body and think about killing this footgun altogether in v2.

[2017-07-26 08:02] Lukasa commented on #855
`pyopenssl` should be emitting this warning.

[2017-07-26 08:09] jminuscula commented on #855
Here's what I got from the debugger

[code]

[2017-07-26 08:54] Lukasa commented on #855
Ok, yeah, this seems like an elasticsearch problem. You should be getting warnings from PyOpenSSL, why aren't you?

[2017-07-26 09:03] jminuscula commented on #855
hmm… I'm unsure about what's wrong with the unicode data. What warning should I be getting? @haikuginger could you please point me to the fix? I can try to fix this from within the ES library

[2017-07-26 10:04] Lukasa commented on #855
Sending data of type `unicode` behaves badly: it'll get automatically encoded to some random encoding you don't get to choose. All data should be encoded manually by the user before it's passed to Requests.

[2017-07-27 08:03] jminuscula commented on #855
There's something weird going on here. After inspecting the ES library, I see they are correctly encoding the body before performing the request:

https://github.com/elastic/elasticsearch-py/blob/5.0/elasticsearch/transport.py#L310
[code]

At this point in the stacktrace, body is indeed `<type: str>`
[code]

Following the same trace, I see where the document is being converted to unicode again:
[c

[2017-07-27 08:14] Lukasa commented on #855
You are probably providing a `Unicode` header somewhere, which is causing Python to automatically promote all the strings to `Unicode`. Want to check if you or ES are doing that?

[2017-07-27 09:34] jminuscula commented on #855
you're definitely right @Lukasa; the auth headers set by `requests-aws4auth` are provided as `unicode`, which causes the buffer to be joined as such. I've found some related issues:

https://github.com/requests/requests/issues/3573
https://github.com/sam-washington/requests-aws4auth/issues/24

I'll take the issue there. Thanks so much for your support!

[2017-07-27 11:26] cmin764 commented on #1193
Did someone take care of this issue above (https://github.com/requests/requests/issues/4039)? It's still present in `requests` library due to a missing attribute in urllib3 through GAE.

[2017-07-27 11:28] sigmavirus24 commented on #1193
@cmin764 this issue is still open because this hasn't been fixed.

[2017-07-27 15:48] jonparrott commented on #1193
I just haven't had time to take this on as some other projects have been encroaching on my OSS time. If someone else wants to grab it before I can get to it, go ahead - I'll be happy to review the PR. :)

[2017-07-28 07:05] njsmith commented on #1228
I found a chance to poke at my branch a bit more, pushed it to my fork, and wrote some notes here so we don't keep cluttering up the urllib3 notifications with this wacky experiment: https://github.com/njsmith/urllib3/issues/1

It's definitely in a state where it could do with some relatively mechanical assistance – certainly there's plenty to do without touching twisted code :-).

[2017-07-31 16:56] ginward opened #1238 "Does Urllib3 support rate limiting?"
I am about to interact with a RESTful API with a rate limit of 5 requests/second. I was wondering if the urllib3 connection pool has some sort of mechanism to limit the HTTP request rate? An  [example](http://code.activestate.com/recipes/511490-implementation-of-the-token-bucket-algorithm/) is the token-bucket algorithm.

I read briefly through the source code and it seems that I couldn't find any

[2017-07-31 16:57] Lukasa commented on #1238
urllib3 does not provide any particular hook for implementing this. If you'd like to do so, you would need to do it yourself.

[2017-07-31 16:57] #1238 closed

[2017-08-08 08:27] tuukkamustonen commented on #1147
This has been implemented. Closing.

[2017-08-08 08:27] #1147 closed

[2017-08-22 20:43] itziakos opened #1247 "test_selectors.py tests fail with python 2.6 64bit and 27 64bit on windows"
I have noticed that there are a number of tests like the `test_selectors.py::BaseSelectorTestCase::test_register` fail when run against python 2.6 64 bit and python 2.7 64bit. (see appveyor builds,
https://ci.appveyor.com/project/itziakos/urllib3/build/1.0.7/job/m0xhyhhl05xdcmxi and https://ci.appveyor.com/project/itziakos/urllib3/build/1.0.7/job/i23k8bf88787c199)

The error is due to the fact tha

[2017-08-23 06:06] Lukasa commented on #1247
That would be fantastic, thanks!

[2017-08-24 10:22] jonathan-zageno opened #1249 "raise_on_status in Retry"
I've been playing with the Retry class while using requests. And setting `raise_on_status=True` I was expecting an exception to be raised. That didn't seem to happen.

Here is the code in its entirety.

[code]

[2017-08-24 14:49] jcapayne opened #1250 "use client cert from keychain in contrib.securetransport"
There doesn't appear to be a method of signaling urllib3.contrib.securetransport to use a client certificate and key that's stored in keychain as opposed to passing one in parameters.   One of the benefits of using securetransport should be to use the keychain to store secrets including the client cert/key.

[2017-08-24 16:50] haikuginger commented on #1250
I'm +0 on this; it would be nice to have, but I'm not sure what an implementation that provides it but retains the overall goal of the current implementation (API compatibility between different SSL backends) would look like.

@jcapayne, I guess one starting point would be to ask how you would expect to indicate to urllib3 that it ought to use a certificate and key found in the keychain, rather th

[2017-08-25 03:03] jcapayne commented on #1250
In order to keep compatibility, maybe signal in the filename being passed for cert and key? Start it with an invalid filename character ('*') and then the CN of the cert desired?

[2017-08-25 07:24] Lukasa commented on #1250
@jcapayne I completely agree, this was always intended to be something we would end up supporting.

For now, I think the best thing to do is to use our nascent support for `ssl_context`. When you call `urllib3.contrib.securetransport.inject_into_urllib3` we create a custom `SSLContext`-alike class that has a number of methods on it. These methods must cover the uses of `SSLContext` that urllib3 it

[2017-08-25 07:30] Lukasa commented on #1249
`raise_on_status` is documented to apply only to the `status_forcelist`, which you haven't provided. Try providing that (including 500).

[2017-08-25 07:30] #1249 closed

[2017-08-25 20:43] jcapayne commented on #1250
That sounds perfectly reasonable to me.

[2017-08-27 05:15] reversefold opened #1252 "PoolManager is not thread-safe"
See, for reference this issue on the requests library:
https://github.com/requests/requests/issues/1871

In looking into the issue, which appears to happen when too many hosts are connected to through the same PoolManager in parallel, the issue appears to be with PoolManager's use of an LRU cache for the connection pool instances within it. A pool is pulled from the cache but within the time it ta

[2017-08-27 07:18] Lukasa commented on #1252
Yes, this is a known issue. An abortive attempt to resolve it was made in #1237 but was eventually abandoned when the scope of the change came into the open. As I noted in #1232, the window of this concurrency problem is very small and in reality I think it can be fairly easily managed from outside urllib3, so it's not high up my priority list. However, if anyone else wanted to tackle this we'd ha

[2017-08-27 18:43] aiosin commented on #950
anyone still encountering this issue can use python3 to circumvent this error
 https://stackoverflow.com/questions/45905775/

[2017-08-28 17:15] reversefold commented on #1252
@Lukasa I think that the risk is a little higher than previously thought. Since HTTPConnectionPool.urlopen can end up recursing, the same pool can be used after network IO, potentially multiple times. This is a much larger window than from urlopen being invoked to the first _get_conn call as it involves actual network IO.

[2017-08-28 17:55] Lukasa commented on #1252
The recursion is moderately risky, but in practice I'm still not convinced that the risk is that high. In the absence of data suggesting otherwise it's still unlikely to become a high priority for me.

[2017-08-29 14:51] saikrishnaradarapu opened #1253 "Verifying SSL Server Certificate instead of root CA Certificate"
Hi,

Is there any way of verifying server certificate instead of root CA certificate.

Thanks & Regards,
Saikrishna

[2017-08-29 15:39] Lukasa commented on #1253
Sorry, but you'll need to be more clear: *how* would you like to verify it?

[2017-08-29 16:04] saikrishnaradarapu commented on #1253
Hi Lukasa,

Thank you for the quick response. For suppose ssl certificate of the server is 'A' and root certificate is 'R'. At present I am able to make HTTPS calls if I have 'R', but not If have only 'A'. If there are two servers which have the same root certificate, both of them will be verified if we use only 'R' but if take 'A' in to consideration we can reject the calls to others.

Thanks & R

[2017-08-30 09:04] #1247 closed

[2017-08-31 21:10] karteek opened #1254 "Match_hostname: hostname 'github.com.' doesn't match 'github.com' or 'www.github.com'"
I'm getting hostname mismatch error when I try to access a domain with a trailing dot.

Example:

Version of urllib3 I'm using

[code]

[code]

Similar request using curl seems to go fine.

[code]

Also, going to similar URL https://github.com./robots.txt on browsers Firefox and Chrome doesn't show any SSL errors (They get redirected to https://github.com/robots.txt)

[2017-09-01 00:14] haikuginger commented on #1254
This is an interesting issue! Looking at how cURL does it, it seems like it's internally setting the Host header to remove the trailing dot, as well as removing the trailing dot when doing hostname validation on the cert.

I did some quick checking on `getaddrinfo` (which we use for DNS resolution), and it seems like it does both check my system's search domain list when the dot isn't present, and

[2017-09-01 00:25] karteek commented on #1254
I have workaround for this in [my repo](https://github.com/karteek/urllib3/commit/c0bb308e393c47b44885b91eb69a86a8d6f58a59)

[2017-09-01 06:22] Lukasa commented on #1254
Probably we should almost unconditionally do the dot-ectomy. It is likely to confuse most people to see it and also to cause latent bugs down the line, so probably after DNS resolution it should just be stripped.

[2017-09-01 14:08] haikuginger commented on #1254
@Lukasa, sounds good. I'll get to work on that; the unfortunate part is that we'll probably need to store the domain twice (once for DNS purposes; once for everything else).

[2017-09-01 14:12] Lukasa commented on #1254
Nah, let's just create a property that does the transformation for us when we need it. 😁

[2017-09-01 14:13] haikuginger commented on #1254
LAZY EVALUATION FOR THE LAZY DEVELOPMENT GOD

[2017-09-02 17:40] reversefold opened #1256 "Random test failures on some tests on master"
I've been working on a patch and was trying to get a baseline for the test suites using tox on the master branch. I'm getting random hangs and test failures with the dummyserver tests. They will sometimes pass and sometimes fail. Here's an example of a failure:
[code]
I'm also seeing random failures with test/contrib/test_securetransport.py and some of the other ssl based tests.

[2017-09-02 17:57] Lukasa commented on #1256
Yup, sadly this is a bit of a known problem. It's particularly common with slower test environments because several of the tests run with short timeouts or are expected to run in a fairly straightforward environment.

These are tricky to fix. Because they're timing related, the only way to get them to behave the way we actually want in a reliable manner is to write a complete harness for the test

[2017-09-02 18:20] reversefold commented on #1256
Ok, thanks for the explanation. I'm surprised that I'd be running into these failures, though. I'm running on a MacBookPro 2.8Ghz i7. I'm also doing some other things on the machine, but it's usually fine for development.

I've also been testing in a xenial vagrant box and am seeing similar issues.

One last thing I've noticed is that the pypy tests seem to crash during the ssl tests. The last lin

[2017-09-02 19:18] Lukasa commented on #1256
Interesting. I haven't been able to reproduce this at all. What PyPy are you using?

[2017-09-02 20:26] reversefold commented on #1256
pypy2-5.7.1 installed by pyenv. I also had to install cryptography specially to have it able to include opensslv.h from macports:
[code]

[2017-09-02 21:21] reversefold commented on #1256
I switched to pypy-5.4.1, installed by pyenv, and the crash doesn't happen, so it seems it's an issue with the newer pypy.

[2017-09-03 18:37] reversefold commented on #1252
Only after I had done most of the initial work to potentially fix this issue did I realize that PoolManager forces redirect=False on the urlopen call to HTTPConnectionPool. This reduces the risk to the time period between the pool being acquired in PoolManager and the _get_conn call in HTTPConnectionPool (very small) and the case where a Retry-After header is returned. If the Retry-After logic was

[2017-09-06 03:04] reversefold opened #1258 "Defaults in dummyserver will fail to decode on Python3"
I found this while working on https://github.com/shazow/urllib3/pull/1257

Most of the defaults given to request.params.get() are strings rather than bytes. Some of these then have decode() called on them, which fails as you can only decode bytes, not strings. These function work fine if a value is passed in but if no value is passed in they will error out with
[code]

[2017-09-06 03:11] reversefold opened #1260 "tox does not allow passing of parameters to the tests"
To, for instance, run only certain test files, ala:
[code]
From work on PR https://github.com/shazow/urllib3/pull/1257

[2017-09-06 04:31] reversefold opened #1262 "A pool can be evicted from PoolManager before a connection is acquired"
This is the smaller of the potential race conditions but is fixable fairly simply, although a little hackily.

Part of PR https://github.com/shazow/urllib3/pull/1257

[2017-09-06 20:09] reversefold opened #1264 "gae tests are failing on travisci due to missing sandbox module"
The error from travis-ci is
[code]

[2017-09-06 22:38] amarchandole commented on #311
If we are not throwing any exception for incomplete reads, what would be a way to catch such a case? In my case, I do not want to go ahead if the fetched content is incomplete.

[2017-09-07 05:28] Lukasa commented on #311
If chunk encoding is present you should get errors if it is incomplete.

[2017-09-09 18:34] davit555 opened #1266 "When running lib under PyPy -X track-resources WARNING about unclosed socket object raised"
Closing this socket object further passed to pypy garbage collector.
What I found from PyPy documentation is

To the best of our knowledge this problem has no better solution than fixing the programs. If it occurs in 3rd-party code, this means going to the authors and explaining the problem to them: they need to close their open files in order to run on any non-CPython-based implementation of Pyth

[2017-09-10 06:55] Lukasa commented on #1266
So I don't understand how this can be leaking. The code in question is here: https://github.com/shazow/urllib3/blob/master/urllib3/util/connection.py#L107-L127

There should be no way for this socket to fail to be closed. There's an explicit close directly below it. So I don't understand how this can be happening.

[2017-09-10 09:08] davit555 commented on #1266
Yes you're exactly right.

Found out that the issue is connected with monkey patched gevent lib.
thank you for your time efforts

[2017-09-10 09:08] #1266 closed

[2017-09-11 03:59] #1260 closed

[2017-09-11 16:40] lslebodn opened #1267 "ConnectionPool should not lowercase all hostnames"
This is kind of follow up issue to:
* https://github.com/shazow/urllib3/issues/1080
* https://github.com/requests/requests/pull/3713
* https://github.com/kennethreitz/requests/pull/3738

Even though that #1080 was fixed in #1089 there was another commit which introduced a small regression 9ff2ccc9a9265436889a14726e9b010ae91b0e68. (I now it is there since 1.20 but I didn't have a time to investigat

[2017-09-11 16:44] lslebodn commented on #1267
Following diff fixes issue for me and should not break 9ff2ccc9a9265436889a14726e9b010ae91b0e68
[code]

I am just not sure how to reasonably write a test for it. Because there could be uni test for this but
it would be good to also rewrite a test from description info pure python in https://github.com/requests/requests to cover use case there.

[2017-09-11 17:29] Lukasa commented on #1267
A straightforward unit test is fine for now. 🙂

[2017-09-14 08:19] maingoh opened #1268 "Gevent + fork + google.cloud.storage + urllib3/requests gives "'module' object has no attribute 'epoll'""
Hello,

I am using the latest version of requests (and urllib3 1.22). I need to fork and monkey patch the child process (the parent has to stay unpatched). I also need to instantiate a google cloud storage client before forking and this gives me this traceback when downloading a page in the child:

[code]

The smallest code I can give you is :
[code]

I have tried :
- urllib3 1.19.1 with requests

[2017-09-14 12:08] haikuginger commented on #1268
@maingoh, can you test with an application design that imports and calls the gevent monkey patch method before importing anything else?

[2017-09-14 13:06] maingoh commented on #1268
If I do :

[code]
=> It works

But then If I fork again after, then it fails. I just figured out that since, my process is forked, then all modules are also imported in the child ..

Also If I monkey patch directly in the parent, at the beginning it works, but I don't want the parent to be monkey patched.

The problem is that I am making tests and need to fork between each tests. Would deleting al

[2017-09-14 13:59] maingoh commented on #1268
It seem to fail only with https (replace the url by `http://google.com` and it works)

[2017-09-14 15:31] maingoh commented on #1268
I managed to make it working by creating my child process using `subprocess.Popen` which is a little less convenient as I need to pass variables to the shell. But at least I have a fresh new process without module imported before.

It would be better If the first method was working though. Not sure if you can do something about it.

[2017-09-14 17:22] haikuginger commented on #1268
Yeah, this is tricky. We've run into this before with gevent patching; essentially the selector environment we end up working with can be different than the selector environment we initialize in. Generally, we've recommended ensuring that importing urllib3 (including through a module that uses us) happens after any monkeypatching.

Pinging @SethMichaelLarson for his thoughts, since he's worked a l

[2017-09-14 17:38] SethMichaelLarson commented on #1268
I personally don't have an issue with that change. If I'm understanding correctly (haven't had time to actually process everything in this thread) the part that's tripping up our current logic is the fact that it's being forked? Because the original reason we moved to this logic was so users could run:

[code]

and the world wouldn't end.

[2017-09-14 17:47] haikuginger commented on #1268
@SethMichaelLarson, I'm not sure if the issue is related to the fork or not - I think that's a red herring. It looks like it's that we're making a call (in `cloud_storage.upload()`) that uses a selector (which causes `_DefaultSelector` to be set to the best available choice from the stdlib) _prior_ to the monkey patch; a choice that might not be valid after the monkeypatch. Basically, the above is

[2017-09-14 18:19] haikuginger commented on #1268
Hrmm, I suppose that since we're declaring class conditionally, the above could run into issues if the monkey-patched `select` module had _more_ selector options available than the stdlib module.

[2017-09-14 19:07] SethMichaelLarson commented on #1268
I think that we're trying to do too much if we try to solve *that* issue as well. Either monkey patch or don't. Monkey-patching away features of a module in the middle of a script is bound to break more things than urllib3 eventually. I would recommend moving the monkey-patch to the beginning of the script.

[2017-09-15 13:15] maingoh commented on #1268
So just to explain a little more what I was trying to do. I am making a worker which I want to be monkey patched for network concurrency. But the main app (which can be anything) is not necessarily gevent friendly, so I don't want my worker to break the current app.
I wanted the main app to launch the gevent worker, so I used `subprocess.Popen` but using `multiprocessing.Process`/`gipc.Process`/`f

[2017-09-15 13:39] maingoh commented on #1268
It looks like it may be a gevent feature to add more than something to hack in urllib3.
Also not sure if it is technically possible for gevent to monkey patch inside the children only even after some modules are already imported.

[2017-09-15 13:40] SethMichaelLarson commented on #1268
If you want to go down this route you can try doing this:

[code]

This should reset urllib3s memory of what our default selector is by the time we get there and cause a retrial of all selectors post-patch in the forked process. I haven't tested this code so use at your own risk.

[2017-09-15 14:42] maingoh commented on #1268
Just tried and it works ! I will stick with subprocess for now as it is safer ;)
Thanks !

[2017-09-15 14:43] haikuginger commented on #1268
Okay; I'm going to close this out, as I think we can agree that no action ought to be taken as a result of this issue.

[2017-09-15 14:43] #1268 closed

[2017-09-15 19:36] cristianocca commented on #717
I'm having the exact problem, using python elasticsearch, and requests_aws4auth, any work around or expected fixes?

[2017-09-15 19:38] Lukasa commented on #717
@cristianocca Yes: stop sending unicode objects as request bodies. :grin:

[2017-09-15 19:39] cristianocca commented on #717
I have tried that but it doesn't seem I actually have control, somewhere in requests, requests_aws4auth or python-elasticsearch sends unicode. Guess I might have to report on those instead

[2017-09-15 19:43] Lukasa commented on #717
It won't be requests. I have a fuzzy recollection that python-elasticsearch has had a tendency of doing this.

[2017-09-15 19:46] haikuginger commented on #717
Yeah - a past version of requests _could_ cause this issue, but I think we've only really seen it in the context of python-elasticsearch, when that library attempts to send unicode.

[2017-09-15 19:48] cristianocca commented on #717
The issue seems to come from requests_aws4auth:

https://github.com/sam-washington/requests-aws4auth/issues/24

[2017-09-16 19:38] jschneier commented on #1088
I was about to go and fix this -- shouldn't we just `return` so that `StopIteration` is raised instead of returning `b''`?

[2017-09-19 12:20] jharbott opened #1269 "Connection fails via https when certificate contains IPv6 address in SAN"
The URL is `https://[2001:db8::17]/`, the server is running with a certificate that includes both `DNS:2001:db8::17` and `IP:2001:db8::17` as `alt_names`. Accessing that URL with e.g. `curl` works just fine, when using urllib3 I am seeing this error instead:

[code]

[2017-09-19 18:07] Lukasa commented on #1269
Can you please try installing the `ipaddress` module to see if that resolves your issue?

[2017-09-20 11:13] jharbott commented on #1269
That module is installed. Actually this seems to be an issue with the `cryptography` module that can be avoided by omitting the `DNS:2001:db8::17` part and is fixed in master there otherwise.

[2017-09-21 15:01] eladbitton opened #1271 "Timeouts not happening on linux"
Hi guys,

I wanted to check how my code behaves on this slow loading url. I want the ReadTimeoutError error to occur in this situation...

So i made this code to check how urllib handles it:
`from urllib3 import PoolManager, Retry, Timeout`
`p = PoolManager(retries=Retry(0, redirect=0), timeout=Timeout(connect=1.0, read=1.0))`
`r = p.request('get', 'http://kj-art.hs.kr/xboard/board.phpmode=view&nu

[2017-09-21 17:34] Lukasa commented on #1271
What *does* happen on Linux? Does it complete, or just block forever?

[2017-09-21 18:09] eladbitton commented on #1271
Its finished after a minute and a half with status 200.

[2017-09-21 18:37] SethMichaelLarson commented on #1271
Can you do this on your Linux machine in a Python console:

[code]

[2017-09-21 18:52] eladbitton commented on #1271
Output:
<urllib3.util.selectors.EpollSelector object at 0x7fd69243eb38>

[2017-09-21 19:49] Lukasa commented on #1271
Is the server just very slow?

[2017-09-21 19:51] Lukasa commented on #1271
I ask because the timeout isn't a *total* timeout, it applies per socket operation. If the server is constantly drip feeding data, and we are getting each byte within a second of the last, this may never time out.

[2017-09-22 08:39] eladbitton commented on #1271
Probably my pc's internet is the one that is slow, because probably the interval between drips of data is longer on the PC which cause the timeout to occuer.

Is there a way to set a total timeout using urllib3 or should i implement it myself?

[2017-09-22 16:35] Lukasa commented on #1271
You'll need to do it yourself I'm afraid.

[2017-09-27 11:12] jharbott commented on #1269
Reopening since even after fixing https://github.com/pyca/cryptography/issues/3943 I'm still seeing another traceback within `urllib3` now:

[code]

[2017-09-27 11:56] nateprewitt commented on #1269
This looks like it's in the same vein as our idna issues in Requests. Running IP addresses through the encoder is going to cause issues. That's why we ended up only running the idna portion on names that contained Unicode characters. It's possible a minor tweak to idna_encode in the pyopenssl module is necessary for IPv6 IPs in the Subject Alt Name field.

[2017-09-27 11:58] jharbott commented on #1269
This is a crude hack, but enough to get things working for me with py27 at least. Feel free to reuse/improve.

[code]

[2017-09-29 18:00] hwdavidward commented on #583
Any news on this?

[2017-09-29 18:17] sigmavirus24 commented on #583
@hwdavidward this has been part of the contrib sub-module for quite some time.

[2017-10-02 03:57] bosihu opened #1272 "Add functionality to get the final request URL after redirects, like the function urllib2.urlopen().geturl()."

[2017-10-02 18:14] Lukasa commented on #1272
You cannot: this functionality is not supported at this time. Patches to add it would be welcome. :smile:

[2017-10-02 19:44] rabbbit commented on #850
For completeness, this has bitten me severely when using Requests and Celery.

I've raised https://github.com/requests/requests/issues/4323 to discuss.

[2017-10-02 21:20] hwdavidward commented on #583
@sigmavirus24 could you tell me why I get "InsecurePlatformWarning" messages when I use the python datadog api on GAE then? I was under the impression that this issue related to this ticket.

`/base/data/home/apps/s~/1-8-6.404526562025782184/lib/urllib3/util/ssl_.py:137: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and

[2017-10-03 13:14] rotemvilsa commented on #1193
Is there anything new with that?
I'm an AppEngine standard environment user which uses requests over multiple projects and for now 'all' I have is this patch: https://github.com/requests/requests/pull/4044/files being copied to my lib directories every time, and when I don't do that my code fails due to the cookies issue :(
I'm looking for a more stable solution, is this fix anywhere soon on your

[2017-10-03 14:58] cmin764 commented on #1193
It is still on hold and should be solved by urllib3 I guess. Anyway,  a
more stable way to do that is to make a live monkey patch into the
appengine_config.py file as in the following files:

1.
https://raw.githubusercontent.com/Skillin/skillin/master/appengine_config.py?token=AArRvV2IGFG9uD6x9W471_x9Owhx_psKks5Z3N8ywA%3D%3D
2.
https://raw.githubusercontent.com/Skillin/skillin/master/skillin/patch

[2017-10-03 15:59] sigmavirus24 commented on #583
I don't believe they are related. If they were related you wouldn't be able to make any connection. In this case you're being warned that your version of Python doesn't make an SSLContext object available to us. The documentation linked from the warning you pasted explains this quite clearly, I thought.

[2017-10-03 19:06] lslebodn commented on #1267
@Lukasa May I know when do you plan to release next upstream version.
I would like to know how to prioritize this bug in my TODO list :-)

[2017-10-04 17:58] Lukasa commented on #1267
Not for a little while: I will be travelling for work for the next few weeks so I will be aiming not to release during that time.

[2017-10-06 06:19] horacio9a opened #1273 "Problem with connectionpool.py"
I am using Python 2.7.13 on Windows 7 and have several scripts which they use urllib3.
Until about 7 days ago, everything worked well but now I get error messages in the lines 706 and 552 of connectionpool.py
An error occurs in my scripts in the line it contains:

r = http_pool.urlopen('GET',url)

before that is line:

http_pool = urllib3.connection_from_url(url)

How to fix this?
Many thanks in a

[2017-10-06 09:29] haikuginger commented on #1273
@horacio9a, can you post the full error, please?

As a general note, it's preferred to create a PoolManager, and then use `PoolManager.request()` to automatically handle connections for different hosts.

[2017-10-06 15:00] horacio9a commented on #1273
Thanks for suggestion @haikuginger . I replaced the lines in the script with this:

and everything is doing OK again :)

[2017-10-06 15:16] haikuginger commented on #1273
Glad to hear it!

[2017-10-06 15:16] #1273 closed

[2017-10-11 22:36] horacio9a opened #1274 "How to get real data, not the data from the cache?"
I cann't get fresh data for a particular model using this script.
Using this link (url) with browser I get real data but while using the bottom script every time I get some other non-real data that is already downloaded from a cache.
I guess the problem is the 'xml' structure of this page.
Is there a way to get real data with the script using some urllib3 method?

[2017-10-12 00:50] haikuginger commented on #1274
urllib3 does not cache results, nor does what it hand back generally depend on the content type of the response.

It's possible that the site you're attempting to access may be doing some sort of user-agent discrimination and providing "real" data to browsers but not to scripts. However, determining that is outside the scope of what we can help you with.

Please let us know if you need further ass

[2017-10-12 00:50] #1274 closed

[2017-10-12 04:22] aiguofer opened #1275 "Make sure PyOpenSSLContext.load_cert_chain sets password as byte string"
I ran into an issue creating a TransportAdapter using an SSL Context with a passpharse due to the fact that pyopenssl expects a byte string and not unicode (see https://github.com/pyca/pyopenssl/issues/701).

Apparently, they have a reason for not casting it, so it would be nice if `urllib3` did the type check and casting instead. I'd be happy to submit a PR but just wanted to run the idea by you

[2017-10-12 04:31] Lukasa commented on #1275
Why should the cast come in urllib3 and not in user code? I’m not opposed to adding the cast but the downside of adding it is the possibility of subtle errors due to the encode.

[2017-10-12 05:18] horacio9a commented on #1274
I made a mistake because the previous script works ok but it does not provide all the necessary data.
This script does not work properly although I have tried various user-agents:

So for the same input model I get expired results each time from different models.
Only once I get the fresh data from the required model and on that occasion I should have waited quite long time for the result.

[2017-10-12 13:58] haikuginger commented on #1274
@horacio9a, as mentioned, urllib3 _does not perform any caching_. Any responses you receive that are "expired" are received from the server on each request.

Additionally, as mentioned previously, we recommend you use the `.request()` method, not `urlopen`.

[2017-10-12 14:05] aiguofer commented on #1275
Mainly for convenience. It works fine passing unicode to the built in SSL library, but not to pyopenssl; it seems a little unexpected to have to worry about what type of string you're passing in to `load_cert_chain` as an end user when the backend is 'magically' chosen for you. It was also kind of hard to debug what was happening since the error was coming from outside of python.

[2017-10-13 07:24] horacio9a commented on #1274
Thanks @haikuginger for the information and sugestion.
I see that urllib3 is not guilty, but I was hoping that someone would show me who is guilty ;)
Where is right place for this question?

[2017-10-13 13:17] haikuginger commented on #1274
@horacio9a, I'd suggest contacting the website host to determine what additional parameters their API might require that you're not passing.

[2017-10-16 13:22] jakubvedral commented on #242
Hi everyone, we have the same problem at our company... As a workaround we user cURL with PyCurl, but it is not a good solution in the long run (PyCurl is not as actively maintained as requests). Also it is difficult to use it for webscraping....

Any updates on this issue?

[2017-10-17 02:17] Lukasa commented on #242
Nope.

[2017-10-22 00:06] sigmavirus24 commented on #1267
I started writing a long response to this about how hosts aren't case-sensitive and then I realized how truly tiny the patch you've provided is (and how it's technically better) and am fully on board. Either way @lslebodn I would suggest you submit a patch for this sooner rather than later so we can help you write the test and get it into the next release.

[2017-10-23 07:22] lslebodn commented on #1267
@sigmavirus24 the patch in https://github.com/shazow/urllib3/issues/1267#issuecomment-328588075 is not correct. I have different one but I need to find a time to write unit test :-)

[2017-10-29 16:15] mosegontar opened #1280 "request_encode_url gives InsecureRequestWarning and hangs indefinitely"
I'm experiencing the following issue.

I am making GET requests  using the `request_encode_url` PoolManager method to two sites that do not have SSL: mose.io and mattbruenig.com

The following request (to https://mose.io)  gives the InsecureRequestWarning but still returns a response:

    /venv/lib/python3.6/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS req

[2017-10-29 17:33] Lukasa commented on #1280
Yes: you can turn off retries.

This is not actually hanging. The server is returning a 503 Service Unavailable response with a Retry-After header set to 3600 seconds (a.k.a. one hour). urllib3 by default respects these responses, so we stop and hold-off until the retry-after time has passed.

In general if you want to do only exactly the request you ask for, you'll need to set retries=0, or more

[2017-10-29 17:33] #1280 closed

[2017-10-29 18:05] mosegontar commented on #1280
thank you!

[2017-11-09 08:48] software-opal opened #1282 "Functions inside `urllib3.util.ssl_` are not using monkeypatched values."
I am experimenting with trying to remove the warnings by monkey-patching `pip` code and I've run into a situation where the library itself is monkey-patched correctly; however `pip` uses both `ssl_.create_urllib3_context` and `ssl_.ssl_wrap_socket` which are using the old, un-monkeypatched values.

To fix this I append a `from urllib3.util.ssl_ import <variable>;` to the start of each line which u

[2017-11-09 19:55] Lukasa commented on #1282
I’d be happy to accept a patch to fix this.

[2017-11-20 15:27] erlichmen commented on #1193
I just added  #1283 which suppose to handle this.

[2017-11-28 04:05] cpfs-clustertech opened #1285 "GzipDecoder assume the input contains only one member"
gzip files have a property that if you concatenate two gzip files, the result is still considered a gzip file:
[code]
Since they are still considered a correct gzip file, we should expect such files of "multiple members" to be returned by web requests.

When you use zlib to decompress the result, you need special precaution:
[code]
The result is 6 bytes, i.e., only contains the "hello" part, witho

[2017-11-28 14:14] yan12125 commented on #776
Hello, is there any further plan or progress on this topic? I'm looking forward to an urllib3 not depending on Python's built-in http.client so that more features are possible. An example is https://github.com/requests/toolbelt/issues/136.

[2017-11-29 00:31] nitzmahone commented on #1224
We're hitting this in pywinrm/Ansible as well if SNI is enabled. I'd be +1 for a lightweight dep on `ipaddress`- we can make it a hard dep for pywinrm just to make sure it's always there for our fairly common use case of someone hitting a WinRM endpoint by IP (in the off chance SNI is enabled on that host)...

[2017-11-29 01:11] beruhan opened #1286 "IndexError when handle malformed http response"
I use urllib3 receive a http response like this,
[code]
it throws a IndexError,I print the traceback,
[code]
how can I deal with this issue?

[2017-11-29 08:10] tiran commented on #1224
This is a known bug in Python's ssl module. I'll fix it for 3.7 as soon as I can drop support for OpenSSL < 1.0.2.

[2017-11-29 08:22] tiran commented on #1254
The same issue came up on Python's bug tracker, https://bugs.python.org/issue31997 . TL;DR and IMHO urllib3 is the correct place to resolve the issue. You should use the FQDN + trailing dot for DNS lookup, then strip the trailing dot and use the clean FQDN for SNI, HTTP Host header, and hostname matching.

[2017-11-29 12:35] haikuginger commented on #1254
@tiran yep! I've got an open PR to do that; time has just been a bit tight lately. It's on my list of things to get done very soon.

[2017-11-29 12:41] haikuginger commented on #776
@yan12125, I think a lot of the people who work on the project have had other commitments so work has somewhat slowed down a bit. Obviously we all want to get there, but unless I'm mistaken, we don't currently have anyone on the team working on OSS full-time like we've been lucky enough to have in the past.

[2017-11-29 12:53] haikuginger commented on #1285
@cpfs-clustertech, thanks for bringing this up! We'd welcome a PR to handle this edge case in combination with the appropriate regression tests.

[2017-11-29 12:57] haikuginger commented on #1286
I'll see if I can replicate soon and figure out the right strategy. In the original, are those header fields spaced out with `\t`, or individual space characters?

[2017-11-29 13:14] beruhan commented on #1286
the source response is
[code]

[2017-11-29 15:51] haikuginger commented on #1286
Okay, so we're correctly dropping those "headers" because they're not actually headers (tab character is disallowed in header field names). This results in a response that has no headers, but we have a piece of logic that expects at least one. I'll need to dig in and see if there are any other places that would be unhappy with a headerless response and if so, what kind of effort would be involved

[2017-11-29 17:44] sigmavirus24 commented on #1286
@haikuginger we're not correctly dropping them necessarily. We're expecting valid headers. The server is wrong and I think we should raise an InvalidHeader exception of sorts in this case, especially when we can't just try to add it onto the previous header.

[2017-11-30 13:12] sigmavirus24 commented on #1285
I absolutely agree with @haikuginger. This is something I wasn't aware of, and definitely not something I'd have known to check for otherwise. Thanks for writing this up in a comprehensible way with a minimal reproducible example to toy with. 💯

[2017-11-30 17:08] steveoh opened #1288 "ImportError: No module named utils"
It appears that on osx after the recent root user patch that urllib3 is having issues or maybe the timing is convenient... either way

[code]

[2017-11-30 18:07] nitzmahone commented on #1224
@tiran done: https://bugs.python.org/issue32185 - I see it's already been default-assigned to you :D

[2017-11-30 18:26] sigmavirus24 commented on #1288
I don't think this is a problem for urllib3. I think your system is broken. If you do

[code]

You should see this regardless of urllib3. For me, this works in Python 3.6 and Python 2.7 so I suspect that the upgrade caused you some distress with whatever Python you're trying to use. Try reinstalling python to fix your issue.

[2017-11-30 18:26] #1288 closed

[2017-11-30 18:36] steveoh commented on #1288
sheesh, you're right. I had an email.py file in the cwd. 🤦‍♂️

[2017-11-30 18:44] tiran commented on #1224
@nitzmahone Yeah, I'm the poor soul that has to fix all SSL/TLS issues. :)

[2017-11-30 19:51] Lukasa commented on #1286
In this instance I think the error is coming from httplib, so we may not be able to raise that error easily.

[2017-12-01 02:08] cpfs-clustertech commented on #1285
After a second thought, the second "if" in my fix really needs to be a "while".

[2017-12-02 08:26] isaacto commented on #1285
See https://github.com/shazow/urllib3/pull/1289.

[2017-12-10 20:32] shazow opened #1290 "Announcement: @haikuginger is the lead maintainer until further notice"
Hi everyone who watches urllib3 issues. 👋

As you may recall from #909, @Lukasa has been the lead maintainer of urllib3 for the past year and a half. I am very grateful for Cory's commitment of time and effort, he has done an excellent job pushing urllib3 forward. As employment arrangements change and life marches on, Cory informed me that it's time for a new lead maintainer to take the torch.

##

[2017-12-10 20:33] shazow commented on #909
A huge thanks for @Lukasa. Consider yourself honourably discharged! 💜

[2017-12-10 20:33] #909 closed

[2017-12-10 20:42] Lukasa commented on #1290
Very excited to embrace our new world with @haikuginger running the show!

[2017-12-10 21:06] haikuginger commented on #1290
Okay, first thing we do is throw out all the existing code and start over...

Kidding. I'm very excited to be taking over the leadership of urllib3, and look forward to working with the existing team to get where we're going (wherever that is).

First things first, I'll be going through existing code and issues to make sure my 10,000-foot view of the project is fully up-to-date. Once I've gotten t

[2017-12-11 16:41] haikuginger commented on #1290
@shazow, I'm not sure if Github admin has been transferred correctly - I don't have access to the Admin tab for this repo that I do for my own.

[2017-12-11 19:04] shazow commented on #1290
@haikuginger You're a collaborator on the repo. Is there something more aside from a permanent ownership transfer? Looking around, don't see what there is to do. We can also transfer urllib3 to an org which I think would allow for better permission handling if anything is missing.

[2017-12-11 21:18] Lukasa commented on #1290
Yeah, we discussed this when I took over: repos under user namespaces cannot have full admin privileges for anyone other than the person whose namespace they’re in.

[2017-12-12 19:42] haikuginger opened #1296 "No User-Agent header by default"
It appears that, by default, urllib3 does not send a `User-Agent` header.

By a plain reading of [RFC-7231](https://tools.ietf.org/html/rfc7231#section-5.5.3), it appears that user agents SHOULD generally set such a header unless specifically overridden or suppressed:

I couldn't find prior discussion on this, so it does seem worth talking about. Should we send a User-Agent header by default, and

[2017-12-12 21:58] sigmavirus24 commented on #1296
So I think it's good for us to set a user-agent. I believe the standard library sets a default as well. That said, I suspect there's a case to be made for not adding a default. Either way, I'm :+1: on adding a `python-urllib3/1.21.2` sort of string. When Requests had the extra system information in there, it was rebuked thoroughly because we had too much detail.

[2017-12-13 15:10] shazow commented on #1290
Anyone know if it's possible to add team members to public projects on AppVeyor and TravisCI?

[2017-12-14 00:39] trickidicki commented on #1193
Running into this issue with current gCloud appengine SDK...

[2017-12-14 13:05] haikuginger commented on #1296
Okay! `python-urllib3/version` sounds good to me, so unless there's some other objection from the team, I'm going to mark this as Contributor Friendly.

[2017-12-14 13:26] haikuginger commented on #1286
Okay, I'm just getting back to this. This is our code, not httplib, and what's happening is that we're interpreting a line that starts with `\t` or ` ` as a line continuation for the last header - and then getting the last header with the `-1` index. It looks like this is obsoleted with RFC-7230, but user agents may still accept it by replacing the whole thing with a single space (not the current

[2017-12-14 14:33] haikuginger commented on #1290
I've added "release process documentation" to the list of TODOs; based on a quick read, it seems like the process would be to checkout the `release` branch, then update the version at the top of the `CHANGES` file, but confirmation on that would be... good.

[2017-12-14 15:15] shazow commented on #1290
@haikuginger Good idea. Once upon a time, I wrote [release.sh](https://github.com/shazow/urllib3/blob/master/release.sh) which handles the release process. I'm not sure if @Lukasa still uses it?

[2017-12-15 13:17] #1254 closed

[2017-12-15 14:03] haikuginger commented on #883
@sigmavirus24 @Lukasa, it looks like pip has dropped support for Python 2.6. How does the Requests team feel about doing so as well in coordination with urllib3?

[2017-12-15 16:26] nateprewitt commented on #883
@haikuginger the current decision was to drop Python 2.6 with Requests 3.0 and we have a PR doing so merged into that branch. I think some of the changes slated for Requests 3.0 were dependent on urllib3 2.0 though.

I'm not sure what the decision is for the future of the urllib3 2.0 branch, but once that's figured out, we can probably start to roadmap out related Requests 3.0 changes. If urllib3

[2017-12-16 07:47] Lukasa commented on #1290
I do still use it!

[2017-12-18 17:38] sprat commented on #1062
Please note that `cgi.FieldStorage` don't support `filename*` form (in Python 2 at least), so all servers using the standard library's `cgi` module are actually broken. It's a bit annoying!

[2017-12-19 14:14] sigmavirus24 commented on #1062
@sprat Pull requests to rectify this would be happily reviewed and accepted. Complaining gets us nowhere. Feel free to send a pull request to fix this.

[2017-12-19 20:29] alanhamlett opened #1297 "idna encoding UnicodeError when opening connection"
Looks like `urllib3/util/connection.py`, line 60 isn't correctly catching `UnicodeError` when calling `socket.getaddrinfo`?

## System Info

Platform: Windows-10-10.0.16299-SP0
Python: 3.5.1.final.0
Urllib3: 1.22

## Traceback

[code]

[2017-12-19 21:04] haikuginger commented on #1297
@alanhamlett,

Thanks for putting this in front of us. Since the host in question is failing during DNS resolution, which we pretty much entirely defer to the Python standard library on, I think the appropriate thing to do is to allow the standard library's IDNA-encoding routine to raise the exception it thinks is appropriate.

Usually this happens when the requested URL is malformed in some way.

[2017-12-19 21:04] #1297 closed

[2017-12-19 21:50] alanhamlett commented on #1297
The url being requested is: `https://api.wakatime.com/api/v1/users/current/heartbeats.bulk`

[2017-12-20 07:01] jichao-zhang opened #1298 "IP shouldn't be set as SNI"
## Summary
According to RFC 6066, https://tools.ietf.org/html/rfc6066#section-3,
Literal IPv4 and IPv6 addresses are not permitted in "HostName".

However, when I send requests like resp = s.get('https://192.168.1.140', verify=False), requests will put 192.168.1.140 in SNI.

## How to reproduce
* Use tcpdump to collect network packets. `sudo tcpdump -X -S -s 0 -i eth0 -w wireshark.log`
* Run below

[2017-12-20 08:45] tiran commented on #1298
Duplicate of #1224

[2017-12-20 15:51] haikuginger commented on #1297
@alanhamlett, can you run these commands and let me know what the results are?

[code]

[2017-12-20 19:58] gpiani opened #1300 "urllib3 wrong computation of 'Content-Length' for file upload"
Hi! This is my first posting ever on this site. I hope to have come to the right place.

System: Ubuntu 16.04, Python 3.5.

I need to upload a simple text file to Internet servers. With "curl" the operation goes smoothly, both with http and https protocols, both up/downloads. With urllib3 and other TCP-IP handlers (e.g., requests)  file downloads work correctly, also when authentication is necessa

[2017-12-20 20:18] haikuginger commented on #1300
@gpiani, one thing to be aware of is that we don't currently allow uploading file-like objects directly. You'd need to read the contents of the file into an in-memory buffer, explicitly encoded as bytes (for example: `open('fname', 'rb').read()`, which explicitly opens a file in binary mode). Can you verify that?

[2017-12-20 22:21] alanhamlett commented on #1297
`importing getproxies` results in an `ImportError`, but adding debug output to `urllib3/util/connection.py` we found `getaddrinfo` was using a misconfigured proxy setting instead of the correct url:

`socket.getaddrinfo('.wakatime.cfg', 80, <AddressFamily.AF_UNSPEC: 0>, <SocketKind.SOCK_STREAM: 1>)`

I'll catch the error outside of urllib3 and show an informative error message including the proxy

[2017-12-20 22:45] SethMichaelLarson commented on #1300
See #1030 for an implementation that was deferred to v2.

[2017-12-20 23:45] gpiani commented on #1300
Thank you Jesse and Seth! I shall try your suggestion in about one week
from now. In fact, uploading a binary-coded string of text would be a
perfect solution for my application. Shall do some tests with this
approach and let you know.
On ons, 2017-12-20 at 22:45 +0000, Seth M. Larson wrote:

[2017-12-21 13:55] friscoMad commented on #1087
I came across this issue today, and looking around found this benchmark and it seems there are real gains in the switch https://stackoverflow.com/a/20330499/454332

[2017-12-21 13:59] friscoMad opened #1301 "Connections kept forever in connection pool"
Maybe this is intended as otherwise it would add complexity to the connection pool but connections are never removed from the pool, so long lived apps with a burst of requests will keep those connection objects in memory forever.
The solution could be adding a stale timeout parameter to the connection pool and removing the connections from the pool after that timeout.

[2017-12-21 14:44] haikuginger commented on #1301
Adding actual removal of connections would be a pretty substantial change to the codebase. I would consider a PR to add the feature if it could be done in a minimally-invasive manner, without creating additional threads inside urllib3, and without causing too much extra work to normally-processed requests, but don't believe that it would justify major changes, especially when a pool's maximum numb

[2017-12-21 19:13] friscoMad commented on #1301
It does not need to use threads but at least we will need to do a check for all connections in the pool when a connection is requested, that will add some work and probably will need to add some locking to keep it thread safe.
Otherwise we can change it to be FIFO and just discard expired connections until we get a recent one, that will keep more connnections than needed unless a really low expira

[2017-12-22 15:07] sigmavirus24 commented on #1301
LIFO is far more optimal for what we want. Most HTTP usage will make repeated requests to the same host and that means the last connection in will most likely be the next one needed. That said, if we get one and it is expired, we do discard it.

[2017-12-25 14:37] Madhu94 commented on #1296
@haikuginger I will take a shot at this.

[2017-12-26 05:45] Suman5051 opened #1302 "SSLError: HTTPSConnectionPool(host='www.quandl.com', port=443): Max retries exceeded"
I am facing an issue. Kindly help me

Here's the code:

import pandas
import quandl
import time

df = quandl.get('FINRA/FNSQ_GOOGL')
print(df.head())

and the error which i am facing is:

Traceback (most recent call last):

  File "C:\Users\Desktop\My Folder\test.py", line 5, in <module>
    df = quandl.get('FINRA/FNSQ_GOOGL')

  File "C:\Python27\lib\site-packages\quandl\get.py", line 48, in get

[2017-12-26 17:15] sigmavirus24 commented on #1302
Hi there! Thanks for opening this issue. Unfortunately, it seems this is a request for help instead of a report of a defect in the project. Please use [StackOverflow](https://stackoverflow.com) for general usage questions instead and only report defects here.

Further more, it appears as if this is not actually related to urllib3. The exception looks familiar but there's no `urllib3` files in the

[2017-12-26 17:15] #1302 closed

[2017-12-26 17:16] sigmavirus24 commented on #1300
Since this isn't an actual defect in the library, I'm closing this issue. For future assistance using urllib3, I suggest using [StackOverflow](https://stackoverflow.com) to receive answers to your questions.

[2017-12-26 17:16] #1300 closed

[2017-12-26 17:18] sigmavirus24 commented on #1286
@haikuginger yeah, 2 is what we're missing and definitely seems reasonable. 👍

[2017-12-28 07:39] parity3 commented on #1065
Simply having this issue public on github goes quite far in explaining away my confusion. Thanks all, and thanks google search!

[2017-12-31 10:25] DimStar77 opened #1303 "RECENT_DATE needs to be bumped"
Test suite started failing, as RECENT_DATE is not recent enough:

[code]

[2017-12-31 12:58] sigmavirus24 commented on #1303
https://github.com/shazow/urllib3/blob/da05fe2497e18b367cab159195a1ace9a74119e3/urllib3/connection.py#L59..L62

[2017-12-31 14:14] DimStar77 commented on #1303
I can provide a patch - but what date should I pick? Preferably I'd go with 2018-01-01, but that means the test suite will only start passing tomorrow

Alternatively, 2017-01-01, but that is against the rule outlined in the file (within the last 6 months) - or we pick a date mid-year

[2017-12-31 14:15] Lukasa commented on #1303
The rule is *not* within the last 6 months. I appreciate that the wording could be clearer there. So the newest date you can pick is 2016-06-30.

[2017-12-31 14:17] DimStar77 commented on #1303
[code]

2016-06-30 is earlier than 6 months ago - so the wording is definitively not what I would understand there. Looking at the current date, minus 6 months, would give us 2017-06-30 then though

[2017-12-31 14:19] Lukasa commented on #1303
Agreed, but the reason it cannot mean that is that the requirement is redundant with "within two years of the current date": if "no earlier than 6 months ago" means "within 6 months of today" we don't need the two year admonition, and in fact may as well just write "set it to yesterday". As a result, I have to assume that the author (who may well have been me) meant "no more recent than", and swap

[2017-12-31 14:27] DimStar77 commented on #1303
The wording was changed with https://github.com/shazow/urllib3/commit/5f093e00ead09b1302d2e12dc4f4db5f4825c4f5 - but indeed did not really make it much less confusing :)

[2017-12-31 15:45] SethMichaelLarson commented on #1303
Sorry for the terrible wording, thanks for fixing it. :)

[2018-01-02 16:16] MarSoft opened #1305 "HTTPResponse.read() closes the response causing problem with io.BufferedReader"
In the following text I mostly refer to python2 for clarity, but the problem also happens on py3.
From some library I get an active streaming `urllib3.HTTPResponse` with `preload_content=False`. That response refers to a very large CSV file, so I want to read it line-by-line passing it through `csv.reader`.
`csv.reader` requires `unicode` objects. `HTTPResponse` returns `bytes` objects, so I use `

[2018-01-03 08:18] JoveYu opened #1306 "SSLError: [PEM: NO_START_LINE] no start line (_ssl.c:1751)"
i use urllib3 with gevent in my project, recently, i found many ERROR in my log.

my httpclient raise a exception, but my server has received this request,

this is traceback

[code]

 `pip freeze`
[code]

`uname -a`
[code]

[2018-01-03 13:40] sigmavirus24 commented on #1306
To be clear this is coming from gevent:

[code]

That means that gevent is raising the exception (or gevent-openssl). You should be raising this issue with them. urllib3 does not specify its own certificate bundle, so the problem either lies in gevent or in the bundle you're passing. Either way, with the available information, this seems to almost certainly not be an issue in urllib3.

[2018-01-03 13:40] #1306 closed

[2018-01-03 13:59] haikuginger commented on #1305
Looking into this @MarSoft. Thanks for putting this in front of us.

[2018-01-03 14:12] #1303 closed

[2018-01-03 17:51] haikuginger commented on #1305
Okay, so what we have here is an API mismatch. An HTTP response body can generally be treated as a file which...
* Is read-only
* Is not seekable
* Closes itself immediately upon reading the last byte (signaled to the `io` module via the `.closed` property)

Most of these attributes are perfectly normal and expected for a file-like object. However, self-closing is not.

|         | Behavior if rea

[2018-01-03 18:14] haikuginger commented on #1296
Thanks, @Madhu94! Let me know if you get stuck, but I believe this should be pretty straightforward.

[2018-01-03 21:49] SethMichaelLarson commented on #1305
Lots of good information and investigation here, nice work @haikuginger. You know when tables are used in a GitHub issue comment that shit's getting serious. :)

[2018-01-04 09:03] nateprewitt commented on #1305
@haikuginger yeah, this is part of one of Python's dark rabbit holes I went down while putting together #978. I'm onboard with the proposed functionality, but I don't know if it's worth doing much before we drop Python 2. Especially since this would be a breaking change.

We currently only have a couple ways to have `closed` behave consistently between Python 2 and 3 without building out extra inf

[2018-01-05 03:18] minusdavid commented on #1224
As a user, I can confirm that this SNI IP address issue seems to be a problem when using pywinrm with Windows Server 2012.

I was using IP addresses for two Windows Server 2012 boxes. One was connecting and one was failing with a SSL handshake error. I look at the packets, and when my client sent the IP address, the server rejected the packet. (Same thing worked on the other box though.)

When I h

[2018-01-05 03:44] minusdavid commented on #1224
While using IP addresses, client would send a SYN, server would send a SYN-ACK, client would send an ACK, and then the client would send a push packet containing the IP addresses and the server would send a reset packet.

As soon as I switched to using hostnames, instead of a reset packet, I would get a packet that appeared to contain the SSL certificate or at least some details about it.

Note th

[2018-01-05 03:49] minusdavid commented on #1224
Ahh... I take it that both IIS and WinRM use http.sys...

[2018-01-05 05:36] nitzmahone commented on #1224
ayup

[2018-01-05 05:41] minusdavid commented on #1224
Still no idea what the difference between those machines was as I think http.sys has SNI enabled by default? The client was exactly the same so I don't see how that could have impacted it.

I'm guessing maybe it had to do with some IIS sites and differences in configuration there between the servers?

[2018-01-05 06:04] nitzmahone commented on #1224
It doesn't, but it's global- if one site enables the SNI extension, http.sys will accept/process it on all of them- otherwise it just ignores it.

[2018-01-09 04:48] minusdavid commented on #1224
Hmm, that doesn't seem to be the case here. It looks like there is one site on the 2nd server with SNI enabled, but I wasn't having any problems with WinRM just using an IP address on that server :/.

[2018-01-09 21:04] haikuginger commented on #1305
@nateprewitt, understood. In general, though, since we don't ourselves rely on the property, do actively close the connection ourselves, and provide `.closed` as a convenience for compatibility with `io`, I'm leaning towards not worrying about that potential at the moment.

I'm adding two issue labels - "solution proposed" and "proposed solution accepted" and tagging this issue with the first; if

[2018-01-09 21:07] haikuginger commented on #1224
@Lukasa, given that this appears to be something that'll be fixed in Python 3.7, do you think we should proceed with a fix for this in our own code? I agree that if so, a soft dependency on `ipaddress` makes sense.

[2018-01-09 21:10] haikuginger commented on #1298
Closing as dupe.

[2018-01-09 21:10] #1298 closed

[2018-01-11 14:13] haikuginger commented on #497
@sigmavirus24 @Lukasa @shazow,

Chrome 58 removed Common Name support as of April 19 2017. I would like to propose that we define the remainder of our deprecation process as such:

1. On or about April 19, 2018, we will release a version of urllib3 that will disregard Common Names unless a method to specifically enable support is called:
    `urllib3.enable_temporary_rfc2818_variance_certificate_c

[2018-01-11 14:34] sigmavirus24 commented on #497
Step 1 I'm on board with but I think it should not be a global function like that. Instead I think it should be part of an SSLContext set-up that the user passes in that way it's *per-connection*.

[2018-01-11 14:39] alex commented on #497
👍 to everything. For historical reference, Firefox also requires a SAN https://hg.mozilla.org/mozilla-central/rev/dc40f46fae48

[2018-01-11 15:16] tiran commented on #497
@alex Is this also true for private CAs? Firefox used to require SAN only for public CAs in the public trust store (``libnssckbi.so`` PKCS\#11 provider), but not for private CAs.

[2018-01-11 15:47] alex commented on #497
For Chrome: By default: all. But there's an enterprise option to allow CNs (the option is being removed shortly).

For Firefox: Public and issued in 2016+ only.

[2018-01-11 18:17] Lukasa commented on #497
+1 about changing. It does seem this should be scoped more tightly than global.

[2018-01-11 19:00] haikuginger commented on #497
Okay, we'll scope it to `SSLContext` and require the manual creation of same along with passing it explicitly to the PoolManager. I'm fine with that; every bit of additional cognitive load that we add for this is a Good Thing IMO.

[2018-01-11 19:01] alex commented on #497
Cool, are you interested implementation this?

[2018-01-11 19:06] haikuginger commented on #497
Unless another maintainer has time on their hands, I assumed I would be handling it. I'll want a couple reviews, though, to make sure we're not breaking anything in a hidden way.

[2018-01-11 19:10] alex commented on #497
Awesome, please CC me on the PR and I'll take a look

On Jan 11, 2018 2:06 PM, "Jesse Shapiro" <notifications@github.com> wrote:

[2018-01-11 19:24] tiran commented on #497
Sounds like I should expose ``X509_VERIFY_PARAM_set_hostflags()`` and ``X509_CHECK_FLAG_NEVER_CHECK_SUBJECT`` in 3.7, too.

[2018-01-11 19:27] alex commented on #497
@tiran yes! If you CC me on the PR I can review

[2018-01-11 21:48] tiran commented on #497
**Good news:** OpenSSL 1.1.0 has ``X509_CHECK_FLAG_NEVER_CHECK_SUBJECT``.

**Bad news:** It's only ``OpenSSL`` && ``1.1.0+``. If you are running LibreSSL or < OpenSSL 1.1.0, then the flag is not available. This affects Alpine, BSD, RHEL 7, Ubuntu LTS, Apple's macOS builds, and everybody else who thinks that LibreSSL is better than OpenSSL. [It's not.](http://press-release.levchinprize.com/)

[2018-01-12 06:25] YODABear opened #1310 "How to handle authentication with urllib3"
Nevermind

[2018-01-12 06:26] #1310 closed

[2018-01-12 06:27] tysondogerz opened #1311 "Using app pass as authentication"
How do I authenticate with urllib3?  Trying to access private repo on bitbucket for updater (though this does not work at all) - https://github.com/JMSwag/PyUpdater/blob/master/pyupdater/client/downloader.py

[code]

Now that that is done...

Updater...

[code]
Tried a few workarounds but cannot workout how.

[2018-01-12 14:00] haikuginger commented on #1311
While we can't necessarily assist with the full stack of operations, I can provide some pointers.

1. Pass your headers into the `PoolManager` constructor to avoid extra code
2. Manually construct an Authorization header yourself and pass it as a header, checking to see if your request works that way.
3. Using the same manually constructed Authorization header, verify that it matches that produced

[2018-01-12 21:15] sigmavirus24 commented on #1311
Hi there! Thanks for opening this issue. Unfortunately, it seems this is a request for help instead of a report of a defect in the project. Please use [StackOverflow](https://stackoverflow.com) for general usage questions instead and only report defects here. It seems that @haikuginger has set you on the right path. If you need further help, please use StackOverflow.

[2018-01-12 21:15] #1311 closed

[2018-01-13 08:11] tysondogerz opened #1312 "Url lib not accessing link as expected getting 'HTTP/1.1 400 Bad Request\r\n' after initial grant"
To summarise in 3 sentences. This is what happens to all my calls.  Url lib3 works fine initially but then things don't work all of a sudden.  Possible workaround?  It authenticates initially but then it looks like it gets redirected.

1) 'HTTP/1.1 302 Found\r\n'
2) Server header: Vary header.........
3) 'HTTP/1.1 400 Bad Request\r\n'

Full error:
https://pastebin.com/V9ibxTRX

[code]

I tried to

[2018-01-13 13:45] haikuginger commented on #1312
This is something that you'll need to figure out on a higher level. If a server is returning 200 to one request and 400 to another, then it is likely that you're missing a core piece of application-layer logic that makes one of those requests sufficient and the other insufficient. If you can isolate a specific way that urllib3 is failing to work correctly (by which I mean failing to execute a prop

[2018-01-13 13:45] #1312 closed

[2018-01-13 17:21] tiran commented on #1224
@haikuginger I'm planning to backport the fix to 2.7 and 3.6, too. It will work with most common setups, that is either OpenSSL >= 1.0.2 or LibreSSL >= 2.5.3 or or platforms with ``inet_pton()`` in libc.

You don't need the ``ipaddress`` module. You can simply use the socket module to detect if a string is an IPv4 or IPv6 address. It's faster, too. I proposed a solution on another PR or issue.

[2018-01-14 13:49] asaf244 opened #1314 "raising the signleton NotImplemented raises TypeError and not NotImplementedError"
This can confuse people who want to use this method and cause incorrect exception handling.
In the pull request all I did was changed the raise to NotImplementedError
https://github.com/shazow/urllib3/pull/1313

[2018-01-15 13:54] GHXST01 opened #1315 "Disabling default headers."
Hey,

I'm wondering if it's possible to disable default headers.
The one in specific I would like to disable is Accept-Encoding.

This is not my decision so please no arguing about it being pointless.
I know 😛.

[2018-01-15 14:06] sigmavirus24 commented on #1315
Hi there! Thanks for opening this issue. Unfortunately, it seems this is a request for help instead of a report of a defect in the project. Please use [StackOverflow](https://stackoverflow.com) for general usage questions instead and only report defects here.

[2018-01-15 14:06] #1315 closed

[2018-01-15 14:33] GHXST01 commented on #1315
Hey @sigmavirus24 I noticed the actual issue is that `skip_accept_encoding=True` isn't being utilized.

[2018-01-17 01:02] YODABear opened #1316 "Auth header remains during redirects"
Requests does it: https://github.com/request/request/pull/1184

[2018-01-17 03:30] sigmavirus24 commented on #1316
Except urllib3 doesn't directly handle authentication the way Requests does. I don't disagree, but there are fundamentally different layers of concern here.

[2018-01-17 04:40] haikuginger commented on #1316
I tend to agree with @sigmavirus24. Our header handling is much more agnostic to what those headers actually are. If we implemented authentication directly, that'd be one thing, but we don't.

I would be interested to see what cURL does here in the specific case where it's given `-H "Authorization: Basic xxxxxxxxx"` as compared to `-U "username:password"`. If it's the case that cURL strips a manua

[2018-01-17 05:09] tysondogerz commented on #1316
@haikuginger  @sigmavirus24  That makes sense, but lets say you had bluehost with auth and wanted to connect to another host in a redirect, urllib3 is pretty much at the mercy of using auth again creating errors.

[2018-01-17 20:51] sigmavirus24 commented on #1316
@haikuginger actually, cURL preserves authentication on redirect in the face of leaking credential. But it also doesn't automagic redirects like requests does. To do that you need to specify `-L` so sending auth in the header or with `-u` won't automatically give away credentials unless you manually follow it or specify `-L`.

[2018-01-17 20:51] sigmavirus24 commented on #1316
(Since you said you'd be interested)

[2018-01-17 21:35] shazow commented on #1316
urllib3 redirects across hosts by default these days, doesn't it? Sounds like a pretty scary surprise-footgun to have.

At minimum, sounds like the redirect feature needs a big fat warning that all headers including authentication headers will be forwarded along. Ideally it feels like request-specific headers need to be stripped for cross-host by default (maybe a `urllib3.Retry` object param?).

(

[2018-01-17 21:44] shazow commented on #1316
Btw if we decide it's a good idea and nobody wants to do it, I'll put together a quick PR. Should be 4-5 lines of changes in urlopen and Retry.

[2018-01-17 23:49] haikuginger commented on #1316
I agree this is a potential footgun. I'd almost be tempted to turn off redirect following by default.

[2018-01-18 00:03] YODABear commented on #1316
If I turn off redirect, the script breaks.  It needs to redirect just not with auth.  This is a big problem if you use say a webhost server and then have to redirect to Amazon.  A workaround for now is to use a monkey patch to remove auth.

[2018-01-18 14:15] tiran opened #1317 "LibreSSL is lacking host and IP verify parameters"
Wrong project, sorry for the noise

[2018-01-18 14:16] #1317 closed

[2018-01-18 14:23] haikuginger commented on #1316
@YODABear, understandable, but our concerns are for all users, not just for one specific use case. I'd welcome feedback from @Lukasa, @sigmavirus24, and @shazow as to what the Right Thing to Do is considering that we don't have an end-to-end API for HTTP auth. Reopening this issue for that discussion of the broader case.

[2018-01-18 14:28] tiran commented on #497
More bad news, LibreSSL doesn't even support the necessary APIs.

[2018-01-18 14:31] sigmavirus24 commented on #1316
@shazow there is more discussion of potential problems with this over on the relevant Requests issues and I agree with you that it's a problem. I thought urllib3 had redirect handling off-by-default.

I can also toss together a PR for this.

That's surprising but I suspect that if you asked for help on [StackOverflow](https://stackoverflow.com) they would help you understand why its breaking and h

[2018-01-18 16:52] haikuginger commented on #1316
@sigmavirus24, please go right ahead.

[2018-01-18 17:40] shazow commented on #1316
@sigmavirus24 Right, IMO any changes we make should be configurable back to what we have today via the Retry object. I was imagining something like `retries=Retry(forward_headers_across_hosts=True)` in the spirit of keeping scary flags annoyingly long and explicit.

[2018-01-19 04:54] YODABear commented on #1316
I doubt I'm the only one who has come across this issue.  Anyone who uses a host with auth and has to redirect with no auth has likely encountered this (so likely issue will be asked by someone else in the future if not fixed). I had a look at some SO posts.   In the mean time, the only viable method seems to be using monkey patches.  Can get quite length depending on how many different hosts you

[2018-01-22 15:01] alex commented on #497
For future reference: https://twitter.com/sleevi_/status/955454614354235392

[2018-01-23 08:37] Madhu94 commented on #1296
What is the best way to get the version of a module from inside the module ? [Stackoverflow](https://stackoverflow.com/a/29770964) suggests checking in sys.modules, would that be right ?

[2018-01-23 16:54] scottbarron1313 commented on #497
Hi,
I'm using requests to make some api calls, and as of about a week ago, I get this warning message in terminal every time I make a call:

WARNING:requests.packages.urllib3.contrib.pyopenssl:A problem was encountered with the certificate that prevented urllib3 from finding the SubjectAlternativeName field. This can affect certificate validation. The error was Codepoint U+002A at position 1 of u'

[2018-01-23 17:34] haikuginger commented on #497
@scottbarron1313, can you open a new issue with details about the specific version of requests and pyopenssl you have installed? Thanks!

[2018-01-23 18:03] scottbarron1313 commented on #497
@haikuginger sure thing.

[2018-01-23 18:56] scottbarron1313 opened #1319 "Getting WARNING:requests.packages.urllib3.contrib.pyopenssl when using python requests"
Hi,
I'm using python's requests module to make some API calls. Starting about a week ago, I get this warning message related to urllib3 every time I make a call:

WARNING:requests.packages.urllib3.contrib.pyopenssl:A problem was encountered with the certificate that prevented urllib3 from finding the SubjectAlternativeName field. This can affect certificate validation. The error was Codepoint U+00

[2018-01-23 20:20] haikuginger commented on #1319
@scottbarron1313, can you test with the most recent `requests`, `urllib3`, and `pyOpenSSL`? We fixed a bug similar to this in our own package a while back, but it seems like this might be coming from lower down. I took a quick peek at the `cryptography` source code (which PyOpenSSL depends on) and it seems like they might have fixed it as well, but I'm not positive.

[2018-01-23 20:35] scottbarron1313 commented on #1319
That seems to have done it! Thanks for the help!

[2018-01-23 20:35] #1319 closed

[2018-01-24 09:00] GHXST01 opened #1321 "Have accept_encoding=False behave like httplib skip_accept_encoding."
Currently when accept_encoding is set to "False" it will set it's value to 'identity'.
I'd like to be able to omit the 'accept_encoding' header entirely like the httplib module offers.

Due to project limitations I am not able to modify server behavior.
If anyone has an alternative, I'd like to hear it.

Thanks everyone for their amazing work.

[2018-01-24 14:39] haikuginger commented on #1321
I'd accept a PR to implement this. [This code block](https://github.com/shazow/urllib3/blob/d6bf2e32686954c7da7031647674ef38957f1520/urllib3/util/request.py#L48-L55) is the region that'll need modification; note that we don't seem to be setting the header ourselves if `accept_encoding` is falsey, so that might be getting set lower down in the stack.

[2018-01-24 14:40] haikuginger commented on #1314
Closed by #1313

[2018-01-24 14:40] #1314 closed

[2018-01-30 13:07] #1286 closed

[2018-01-30 15:23] haikuginger commented on #1286
@beruhan, we've pushed a change to master that will result in a more comprehensible error for a response that's malformed in this way. Thanks for putting this in front of us!

[2018-01-30 17:15] rustyonrampage opened #1322 "'ProxyManager' object has no attribute 'host'"
I am testing the ProxyManager but it's giving the error. It is working fine if I directly call Request method of Proxymanager instead of passing it to Pool Manager. Even though the proxy server is inaccessible/ wrong, different exception needs to be thrown.

` import urllib3

proxy = urllib3.ProxyManager('https://myproxy.com:8080/')

http = urllib3.PoolManager(_proxy=proxy)

r = http.request("Get"

[2018-01-30 18:06] haikuginger commented on #1322
@rustyonrampage, `ProxyManager` should not be passed to `PoolManager`, but should be instantiated itself and used in an identical manner to a `PoolManager`.

`ConnectionPool` does not expect to receive a `ProxyManager` in the `_proxy` keyword argument; it expects a parsed URL object, which is created and passed automatically when using the `ProxyManager` object directly.

Please note for the futur

[2018-01-30 18:06] #1322 closed

[2018-02-01 08:43] njsmith opened #1323 "RFC: what do you think of this branch adding async support to urllib3?"
We (mostly @pquentin and I) [have been working on a proof of concept for adding pluggable async support to urllib3](https://github.com/python-trio/urllib3/issues/1), with the hope of eventually getting this into the upstream urllib3. It's reached the point where there's still lots of missing bits, but there's an end-to-end demo working and we don't see any major obstacles to getting everything els

[2018-02-01 08:50] njsmith commented on #1323
I should probably also note that it's easy to add more backends; we only started with trio and twisted because we figured if we could get those working then we were flexible enough to handle anything else. (And we're using twisted instead of asyncio because to handle proxies we need starttls support, which is possibly in asyncio right now but requires gross hacks.)

[2018-02-02 06:01] 1st1 commented on #1323
This is all you need to implement starttls on asyncio 3.6:

[code]

(This is a bit simplified version of my start-tls 3.7 commit: https://github.com/python/cpython/commit/f111b3dcb414093a4efb9d74b69925e535ddc470)

[2018-02-02 06:03] 1st1 commented on #1323
So it would be interesting to see if this works with asyncio too.

[2018-02-02 06:28] njsmith commented on #1323
I'm sure it can, though it might be better to wait a bit to make sure the internal APIs have stabilized -- the twisted and asyncio backends will probably be very similar, and the twisted version is by far the most non-trivial (because it has to invert the inversion of control), so maintaining two similar versions for now might be churn-y. OTOH if you want to do the maintaining I guess that'd be fi

[2018-02-02 13:26] csabella opened #1324 "Deprecation Warning on collections import in _collections.py"
/pip/_vendor/requests/packages/urllib3/_collections.py:2:
DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Mapping, MutableMapping

[2018-02-02 13:35] haikuginger commented on #1324
@csabella, is this in the Python 3.7 beta?

[2018-02-02 13:41] csabella commented on #1324
@haikuginger   Yes, sorry.  I created a venv under the 3.7 beta and got the message when using pip.

[2018-02-02 13:53] haikuginger commented on #1324
Okay, let's get this fixed up for 3.8 before we officially add support for 3.7. I recommend the following construct:

[code]

[2018-02-02 15:55] 1st1 commented on #1323
It's really up to you ;)  I just wanted to note that "which is possible in asyncio right now but requires gross hacks" is a bit exaggerated and shouldn't be a showstopper for having asyncio support from the beginning if this gets merged.

[2018-02-02 16:42] njsmith commented on #1323
@1st1 yeah, I only knew of the trick aiohttp uses. Does the `await waiter` there cause it to wait for the handshake to finish?

[2018-02-02 16:46] 1st1 commented on #1323
Yes.  I was going to write a few more tests before beta-2 to see if the cancellation is handled correctly (IOW if we need try..except around that await).  In any case, if this gets a green light, I'd appreciate this snippet being used to enable asyncio support in urllib3 so that we can test how well it works before 3.7 is released.

[2018-02-06 15:00] bmwiedemann opened #1326 "certificate verify fails in 2030"
For [reproducible builds](https://reproducible-builds.org/) we need to test if software builds still produce the same result when building it later. However, for pyOpenSSL this is currently not possible, because parts of the testsuite fail with
[code]

failing tests are
TestX509StoreContext.test_valid
TestX509StoreContext.test_reuse
TestX509StoreContext.test_modification_pre_verify
TestContext.tes

[2018-02-06 15:02] bmwiedemann commented on #1326
oops. somehow filed in the wrong project. moved to https://github.com/pyca/pyopenssl/issues/735

[2018-02-06 15:02] #1326 closed

[2018-02-09 12:49] vfaronov commented on #425
I think this was done in #955.

[2018-02-09 13:27] haikuginger commented on #425
So we have! Thanks @vfaronov!

[2018-02-09 13:27] #425 closed

[2018-02-10 04:21] thomas-neva opened #1327 "Not handling RemoteDisconnected exceptions"
EDIT: I found a workaround, but it's ugly. Nested try statements to handle a single RemoteDisconnected exception is no bueno. 👎

So I've been having trouble getting urllib3 to handle RemoteDisconnect exceptions. There's a urllib3.exceptions.ProtocolError raised in handling http.client.RemoteDisconnect type exceptions that I've come across using Python-3.6.3 on Mac OS installed with Anaconda.

I've

[2018-02-10 13:06] sigmavirus24 commented on #1327
Hi there, what you're seeing is a feature in Python 3. In short, urllib3 has code that looks like this (but which I'm writing from scratch so probably won't match the actual source)

[code]

Python 3 sees this and says

You shouldn't have to have

[code]

You should only need

[code]

[2018-02-10 13:06] #1327 closed

[2018-02-12 00:06] thomas-neva commented on #1327
Okay. Thanks!

[2018-02-14 03:38] njsmith commented on #1323
Ping!

[2018-02-14 12:28] sigmavirus24 commented on #1323
I'm generally wholly in favor of this, but it's harder to review without a pull request, which is why I haven't.

[2018-02-15 08:30] njsmith commented on #1323
That's great to hear!

Well, this is why I'm asking about process above :-). The problem is that this is touching a huge proportion of the code. @Lukasa's v2 branch is already "2,431 additions and 2,193 deletions", and then this is a bunch more stuff on top of that. And unfortunately, the files have to be renamed in a way that confuses git. E.g. `urllib3/connection.py` is moved to `urllib3/_async/

[2018-02-17 20:54] sigmavirus24 commented on #1285
Closed by #1289

[2018-02-17 20:54] #1285 closed

[2018-02-20 14:04] haikuginger commented on #1324
Fixed in #1325.

[2018-02-20 14:04] #1324 closed

[2018-02-20 14:44] haikuginger commented on #1323
Sorry for the late response. I've been pondering this for a while, but should have posted an initial comment sooner.

I'm -1 on the code generation approach. While async IO is gaining in popularity, especially in situations where scalability is paramount, most of our users are still going to be using the synchronous API. By doing code generation, we're demoting that API, which most users use, to b

[2018-02-20 14:45] haikuginger commented on #1316
@sigmavirus24, were you still planning on handling this? If not, I can make the change myself.

[2018-02-21 00:33] shazow opened #1330 "[Ignore] Testing Gitter integration"
Also, to anyone watching who doesn't know: We have a gitter room now at https://gitter.im/python-urllib3/Lobby, come join.

[2018-02-21 00:33] shazow commented on #1330
Looks like it works!

[2018-02-21 00:33] #1330 closed

[2018-02-21 06:42] njsmith commented on #1323
@haikuginger Thanks for the reply! I totally understand needing time to think things over for something like this...

This is a long comment so I'm going to use headlines to break it up!

# What exactly the technical consequences of this approach would be

The way the prototype works, the synchronous code is auto-generated when running `setup.py` to install or create a wheel, so there's no extra s

[2018-02-21 13:37] ncoghlan commented on #1323
A question regarding the code generation approach: I understood @haikuginger's main concern as being with the source tree containing only the async code by default, and generating the sync code from that, even though it's the async version that's new, and the vast majority of library clients will still be relying on the generated synchronous code.

So my question would be whether or not the code g

[2018-02-21 15:04] haikuginger commented on #1323
I would certainly be more comfortable with an explicit pragma, as suggested by @ncoghlan, which preserves the synchronous API as the first-class citizen. I'd still like to see if we can arrive at a solution that avoids codegen in general, though.

The way I see it is that if the constraints of the Python language syntax make it difficult or impossible to use the same code for both synchronous and

[2018-02-21 20:48] njsmith commented on #1323
@ncoghlan It's not clear to me how your pragmas know where to insert the `await`s? It's part of the expression syntax, not the statement syntax, so you can have things like `print(await get_value())`, or even (a random example from treq's test suite) `await treq.content(await treq.get(page))`.

It seems like we're worried that not enough people know about Python's async/await syntax, so we're cons

[2018-02-21 21:10] 1st1 commented on #1323
I think there's almost zero chance that a simple PEP-able solution exists for this problem, so I wouldn't expect anything to happen in 3.8.

I propose a different approach.  Instead of changing everything to use async/await and having a tool to convert it to a synchronous code, why don't we design a tool to produce async/await code from synchronous code.

Let's call this new hypothetical tool "mir

[2018-02-22 01:49] ncoghlan commented on #1323
@njsmith My simple example pragmas would require that all await expression be either standalone expression statements or else the RHS of an assignment statement, so your print example would need to be written as:

    value = get_value() # add-await
    print(value)

That said, I do agree that having the async version be the "source of truth" is a better option, specifically due to the fact that i

[2018-02-22 07:16] smurfix commented on #1323
Hmm. The "where should the await go" question could be solved easily:
[code]

Thus python 2 compatible code
[code]
would easily and bidirectionally(!) transform into an async version without further mangling.

Bidirectionality is important. When working on an async bug I don't want to have to replicate my fixes into the sync version. That's tedious and error prone.

[2018-02-22 13:28] haikuginger commented on #1323
@smurfix makes an extremely interesting syntax suggestion which could form the basis for a code transformation process I'd be comfortable with. Doing it this way could create an extremely distinctive token for replacement while preserving the synchronous API as a first-class citizen. Combined with @ncoghlan's suggestion of having CI autofail if codegen modifies anything, I think we're getting some

[2018-02-22 14:18] kennethreitz commented on #1323
So, I'm not sure if Requests' plans influence any decisions here or not, but the tentative plans for Requests 3.0 are:

 - Python 3 only.
 - Support for async/await (via the work being done here)
 - Type annotations.

Just wanted to throw that out here. Potentially not supporting 2 would make this work a lot easier.

[2018-02-22 14:29] smurfix commented on #1323
@haikuginger `**` has the advantage that (a) it's right associative and (b) it binds (almost) as tightly as "await". `12+await+foo()+10` would not work. The power operator works even if you do something silly like `2**await**foo()**2`.

I also agree that we should use something other than "await", for the simple reason that the sync version would still work with Python3.

[2018-02-22 16:45] ncoghlan commented on #1323
Using `await_**` as a no-op prefix operator to mark blocking operations in the synchronous code is a neat idea.

The `#@async` marker might look a little odd in the `with` and `for` statement case, though. Since it's a code transformation directive, one possibility would be to use `#=> async` to indicate "make this async when converting it", giving:

    #=> async
    def foo(cm):
        #=> asyn

[2018-02-23 09:23] cjw296 opened #1331 "Retry not being applied to ECONNRESET in pyopenssl"
We have this retry policy in a requests usage of urllib3:

[code]

However, `ECONNRESET` such as the following don't appear to be retried:

[code]

Are we doing something wrong or is this a bug somewhere?

[2018-02-23 11:36] pquentin commented on #1323
I'm glad to see out of the box thinking! I would never have thought about those options. `await_**` is an interesting hack. But it still has issues:

 * it's also an awkward syntax that nobody knows
 * you need to import await_ before using it
 * tooling is ready for async/await, but not for `await_**` - two examples:
    * if I forget one `*` it won't be a syntax error,
    * flake8 won't like `#

[2018-02-23 12:43] smurfix commented on #1323
@pquentin Well …
* probably, but you get used to it.
* true that, but a one-time effort (and you need to set up a bunch of other imports anyway)
* fixable once we agree to go forward with this idea
  * no, but a runtime error. Also, we can teach tooling to catch it
  * fixable
* ?? The fake await will *not* show up in any tracebacks. Why should it?
It's two additional `return` keypresses when sing

[2018-02-23 17:01] pquentin commented on #1323
For the last point, you're right, it looks like I don't fully understand what your `_await**` proposal involves.

[2018-02-24 02:12] njsmith commented on #1323
@kennethreitz It turns out that not supporting py2 doesn't help as much as you might think. If we only care about py35+, then it's possible for the sync and async versions to share their internal implementation. But, the whole public API still needs to be duplicated, which is a job for a computer rather than a human, and once you've got tools to do that, supporting py2 isn't much harder...

[2018-02-24 11:09] njsmith commented on #1323
Lots of interesting ideas here!

It sounds like there are two orthogonal decisions. One is whether to write async and generate sync or write sync and generate async -- I'm going to call these "a2s" and "s2a" respectively so my fingers don't get tired. The other decision is whether to check the generated code into git.

# use async to generate sync (a2s), or vice-versa (s2a)?

I think the s2a propo

[2018-02-24 12:15] sigmavirus24 commented on #1331
So we [import `socket.error` as `SocketError`](https://github.com/shazow/urllib3/blob/db1c1b6ade859120469c45de479bcac758ab173e/urllib3/connectionpool.py#L7) and then [catch it](https://github.com/shazow/urllib3/blob/db1c1b6ade859120469c45de479bcac758ab173e/urllib3/connectionpool.py#L628) to handle retries with. In our pyopenssl compatibility, we [raise SocketError](https://github.com/shazow/urllib

[2018-02-24 12:15] #1331 closed

[2018-02-24 13:53] sigmavirus24 commented on #1071
Yeah, I like the idea of a separate object that contains much of this information. I'm still nervous, however, about how this will interact with/affect v2 and the async working that @njsmith and others are working on.

[2018-02-24 13:55] smurfix commented on #1323
Well … partly. I _am_ proposing bidirectionality (i.e.. either version may serve as the "source") because that's the way I work. "Hack, save source, go to other window, run testcase", no matter whether I'm working on the sync or async version. No converter involved. And let's face it, `pdb`'ing the sync side is easier – at the very least, you don't have to deal with other threads doing interesting

[2018-02-24 20:25] njsmith commented on #1071
It sounds like some coordination would be good, but there's nothing fundamentally difficult about pulling out the IP and certificate on our branch. The main thing is that we'd need to add some method to the abstract backend interface to expose the IP, and then implement it on the different backends. The urllib3 core already needs access to the raw cert information, in order to implement cert pinni

[2018-02-25 07:44] njsmith commented on #1323
If your "run testcase" script is smart enough to regenerate things automatically, then you can use this workflow anyway :-). Of course you're right about pdb. (Though note that single-stepping through sync code with async annotations will also be sorta annoying, because of the extra no-ops scattered around to act as annotations; if we go with the a2s strategy, the generated sync code ends up clean

[2018-02-26 20:50] zigarrre commented on #303
Will this ever be fixed?

Over 4 years have passed and HTML 5 isn't a draft anymore but an official standard.

All major browsers now do it this way and most servers cannot handle the `filename*` field with RFC2231 encoding.

But urllib3 is still using the RFC2231 encoding which not only doesn't work in the real world but is also a clear violation of current standards.

[2018-02-27 13:35] haikuginger commented on #303
@sigmavirus24, would like your thoughts on this.

[2018-02-28 16:07] cjw296 commented on #1331
@sigmavirus24 - thanks for looking into this, and apologies for not including the version information:

[code]

As best I can tell, those are either the latest versions or, in the case on pyOpenSSL, new enough that it shouldn't make a difference. I'll try and dig more if I can reproduce...

[2018-03-01 15:55] cancan101 opened #1334 "timeout does not apply to name resolution"
This may be a re-post of https://github.com/shazow/urllib3/issues/423:

Right now it looks like [`timeout` is not applied to name resolution (`getaddrinfo`)](https://github.com/shazow/urllib3/blob/fe918c67359876dc9ff600e10be6103c64b0b7d4/urllib3/util/connection.py#L60). This means that the connection open can hang far FAR longer than timeout.

There is some indication that this requires using a si

[2018-03-03 01:03] zefoo commented on #1088
Any updates on this? I'm getting a ton of these in a recent project. Thank you!

[2018-03-07 03:16] quecholac14 commented on #556
tenia el mismo problema mostraba error caba ves que entraba al admin y entraba a la base de dato me des lo sosucione canviando una letra de cada modelo  y usaba el manage.py makemigrations y el migrate  eso como que destrabo a django y lla caja yo tengo la version 1.11.4

[2018-03-14 18:02] andyljones opened #1337 "Proxying FTP requests"
Proxying schemes other than HTTP will return a 400 error.

[code]

The code responsible is [here](https://github.com/shazow/urllib3/blob/master/urllib3/poolmanager.py#L318-L321):

[code]

where if the URL scheme is other than http, the URI is used instead of the URL. In the case of `ftp://speedtest.tele2.net/` that's simply `/` .

I'd submit a pull request to fix this, but I don't know enough abou

[2018-03-15 21:54] cjw296 commented on #1331
Still seeing these, and looking more carefully at the traceback I posted above, I'm correctly ending up inside the block for `_is_read_error` at line ~354, but either `_is_method_retryable` is returning `False` or `read` is `False`. I can't follow how either of those case be true given `Retry` instantiation above, any ideas?

I can't actually see how `read` could be `False` unless it was explicitl

[2018-03-16 13:33] krukas opened #1338 "Retry.get_retry_after does't respect time-out"
Maybe a weird case but if a website gives back an Retry-After that is higher then given timeout it will accept that.

In my case some website gives back a retry of 3600 and so my checkup tasks was waiting for 1 hour to try it one more time.

Maybe ignore large values or at least if Retry-After is bigger then timeout then use timeout or ignore Retry-After

[2018-03-16 17:50] SethMichaelLarson commented on #1338
Could you recreate a testcase using httpbin so we can verify this? :)

[2018-03-17 14:09] sigmavirus24 commented on #1338
`timeout` is not a wall-clock timeout. `timeout` applies to time it takes to connect to the server and time it takes to read the contents.

The logic you're asking for could instead be implemented in a subclass of `Retry`, if I remember correctly. It's not inherently correct when you consider what `timeout` does for the library.

[2018-03-19 06:33] njsmith opened #1340 "Latest cryptography release breaks urllib3 test suite"
cryptography 2.1.4 was OK with the urllib3 test suite certs, but cryptography 2.2 (released early today) isn't.

I don't know which side the fix should be on, but filing this anyway to track it.

Cryptography version of this bug: https://github.com/pyca/cryptography/issues/4154

[2018-03-19 06:38] njsmith opened #1341 "urllib3.contrib.pyopenssl refers to cryptography.x509.UnsupportedExtension, which was removed a few months ago"
There's a problem here:
https://github.com/shazow/urllib3/blob/d5c8c68a8df0cb864d44a5ad00cb8f2ffc60bab8/urllib3/contrib/pyopenssl.py#L202-L203

The `x509.UnsupportedExtension` class was removed in cryptography 2.1, released 2017-10-11 ([changelog](https://cryptography.io/en/latest/changelog/#v2-1)). Apparently the urllib3 test suite doesn't normally exercise that `except` block, so this went unnot

[2018-03-19 07:36] njsmith commented on #1323
- In the beginning there was urllib3

- Then @Lukasa forked urllib3 to the v2 branch to add h11 support

- Then we forked the v2 branch to the bleach-spike branch to add async support

- Now @kennethreitz has gotten impatient and has forked the bleach-spike branch to make [requests-core](https://github.com/kennethreitz/requests-core/) so he can use it in requests 3 (and from I understand, is plann

[2018-03-19 12:32] kennethreitz commented on #1323
Agreed, `requests_core` is ideally just two functions (and a pool class), I don't care where the dependency for them to be implemented comes from — ideally it's from urllib3 proper :)

[2018-03-19 18:11] haikuginger commented on #1338
I agree with @sigmavirus24. I would consider a pull request that adds an additional kwarg (something like `max_retry_wait_length`) that raises an exception (with sufficient information to allow retrying the request after the server-given interval) when the response wants to wait longer than a specified interval.

[2018-03-19 22:09] njsmith commented on #1340
@reaperhulk says that the problem is that some of urllib3's testing certs are actually not valid according to the RFCs, due to the empty issuerAltNames. It sounds like they might make cryptography more forgiving here, but it's not clear if/when, so probably if we can fix the certs on urllib3's side that'd be a good idea.

If it was just the main `server.crt` affected, this would be easy: just swit

[2018-03-19 22:16] njsmith commented on #1340
Did a little more digging:

[code]

Regenerating `server.crt`, `server.combined.pem`, `server.ip_san.crt` is pretty easy. And I think the other certs here shouldn't go through `urllib3.controb.pyopenssl.get_subj_alt_name`, which is the thing that's crashing... so that might be all that's required?

[2018-03-21 05:44] njsmith commented on #1340
Cryptography 2.2.1 was released today and accepts these certs again, so I guess this can be closed!

[2018-03-21 05:44] #1340 closed

[2018-03-24 14:45] sigmavirus24 commented on #1337
Does urllib3 even handle FTP without proxies? I'd be shocked if it did.

[2018-03-24 14:54] sigmavirus24 commented on #303
Some thoughts on this:

1. RFC2231 does work in the real world, but in spite of being a standard, it's not implemented in every http server
1. We have built into this library a whole separate library for dealing with multipart/form-data, instead any future improvements should be developed as an external library (in my opinion) and (maybe) vendored in.
1. Unfortunately, a quick search of pypi indic

[2018-03-24 15:37] zigarrre commented on #303
RFC2231 is the completely wrong standard here and does not apply. The HTML5 spec has a description of how to properly encode multipart/form-data: https://www.w3.org/TR/html52/sec-forms.html#multipart-form-data

RFC7578 (which is referenced by the HTML5 spec) also very clearly states that the current way urllib3 does it (using the `filename*` field) is wrong:

   "filename*" parameter to the Conten

[2018-03-24 19:11] sigmavirus24 commented on #303
This is not actually our experience, otherwise we wouldn't have gone through the trouble to implement RFC2231.

@zigarrre you seem passionate about this and seem to have time on your hands. We'd be open to using a library that you would produce that would do the correct thing per the HTML5 spec.

[2018-03-25 19:17] alanhamlett opened #1344 "Support DNS queries over HTTPS (DoH)"
https://datatracker.ietf.org/doc/draft-hoffman-dispatch-dns-over-https/

[2018-03-25 20:00] haikuginger commented on #1337
I would likewise be shocked. IMO, if FTP without a proxy does somehow work, I'd be more inclined to explicitly deprecate it than to add formal support for what's obviously an accidental feature that doesn't have any sort of testing or guarantees.

[2018-03-26 15:48] shazow opened #1347 "Announcement: @theacodes is the lead maintainer until further notice"
Hi everyone who watches urllib3 issues. 👋

As you may recall from #1290, @haikuginger has been the lead maintainer of urllib3 since December. I am very grateful for Jesse's commitment of time and effort. Jesse has left a strong positive mark on the project, and will continue to do so as time permits, but it's time for a new lead maintainer to carry on the torch.

## New maintainer

@theacodes is t

[2018-03-26 16:32] SethMichaelLarson commented on #1347
Thank you @haikuginger for your work! Good luck to @jonparrott as lead! :tada:

[2018-03-26 18:15] jonparrott commented on #1323
Hi folks - just a heads up that I'm getting up to speed on this and plan to spend some time looking over it this Friday during my dedicated OSS time.

Please feel free to reach out to me if you want to chat before then. Thanks!

[2018-03-26 23:08] shazow commented on #1347
@jonparrott @SethMichaelLarson FYI added a few more suggested items for getting relevant project alerts:

- Setup alerts:
  - [_Watch_ the `urllib3` repo](https://github.com/shazow/urllib3/subscription)
  - [Subscribe to `urllib3` Stackoverflow tag](https://stackoverflow.com/questions/tagged/urllib3) (add email alerts or subscribe to RSS)
  - [Join the `python-urllib3` Gitter](https://gitter.im/py

[2018-03-26 23:11] shazow commented on #1347
Also, one more thing: Please let me know if it would be better to migrate urllib3 to a stand-alone Github org (rather than have it live under my name).

I've offered this with every transition, but so far the sentiment has been that migrating URLs would be a bigger headache than it's worth. I just want to make sure it's clear that this is always on the table. :)

[2018-03-26 23:15] jonparrott commented on #1347
I think so. :)

GitHub should automatically redirect. :)

[2018-03-26 23:20] shazow commented on #1347
Will all the build services etc continue working? If you can ping me again after Thursday to remind me, I'll setup a new org.

[2018-03-27 00:58] njsmith commented on #1323
@jonparrott Hi Jon -- great to hear! I'm happy to chat on IRC/voice any time, if you'd find it useful -- let me know.

[2018-03-27 17:59] jonparrott commented on #1347
We'll need to re-enable travis/appveyor but the configs should mostly work. It might take a little tweaking.

[2018-03-28 04:36] SethMichaelLarson commented on #1344
This would require some re-writing of logic within `create_connection()` into a more abstract construction to accommodate for different DNS-querying methods. It could probably be accomplished already by using Requests and writing your own Adapter class, relying on urllib3 to fetch DNS for the ConnectionPool to bind to and also to complete the HTTP request?

[2018-03-29 00:55] SethMichaelLarson commented on #1321
This issue requires a bit of work. Surprisingly `Connection.request_chunked()` is actually easier to change to get this to work already, `Connection.request()` has more work to do, we'd have to override the method most likely.

Here's my thought process of how this might be implemented:
- Add a kwarg in `PoolManager.request` called `accept_encoding`, forwards the value to `ConnectionPool.urlopen`

[2018-03-29 02:25] SethMichaelLarson commented on #1060
This was merged in #1246

[2018-03-29 02:25] #1060 closed

[2018-03-29 14:49] #1088 closed

[2018-03-29 15:02] jcalabro commented on #1319
@haikuginger

Hi there, I'm also seeing a similar issue. Upgrading to latest hasn't helped me unfortunately. From `pip list`:

pyOpenSSL (17.5.0)
requests (2.18.1)
urllib3 (1.22)

I'm running python 3.6 in this case.

Here is some sample code that reproduces the it:

[code]

With all the cert paths and urls in place, I get:

[code]

Any advice you can offer would be much appreciated. Thanks! 😄

[2018-03-29 15:15] SethMichaelLarson commented on #1319
Hey @jcalabro, thanks for reporting this! Can you open a separate issue with your exact Python version and the contents of `python -m pip freeze` for your minimal-reproducing case?

[2018-03-29 15:43] jcalabro opened #1351 "SubjectAltNameWarning"
#1319

@SethMichaelLarson

Hi there, I'm seeing a similar issue to the one linked above. The solution in that issue was to upgrade pyOpenSSL, requests, and urllib3 to latest and retry, unfortunately, upgrading to latest hasn't helped me.

I'm running python 3.6 in this case.

`python -m pip freeze` yields:

[code]

Here is some sample code that reproduces the it:

[code]

With all the cert paths a

[2018-03-29 18:33] jcalabro commented on #1351
Ah, you're exactly correct, it's not in there. We're good to close this; thanks for your prompt response!

[2018-03-29 18:33] #1351 closed

[2018-03-29 20:02] SethMichaelLarson commented on #1007
:tada:

[2018-03-29 20:02] #1007 closed

[2018-03-29 20:06] #471 closed, assigned to nobody

[2018-03-29 20:07] #487 closed, assigned to nobody

[2018-03-29 20:07] #472 closed

[2018-03-30 00:49] SethMichaelLarson commented on #1264
Issue is fixed in #1265

[2018-03-30 00:49] #1264 closed

[2018-03-30 00:49] #1258 closed

[2018-03-30 13:58] corehack opened #1352 "Incomplete chunked responses are not retried"
I am using Retry helper with requests library session. It looks like IncompleteRead which is a read error is not retried as I would expect.

Fetch the following URL:
https://httpbin.org/response-headers?Content-Type=text%2Fplain%3B+charset%3DUTF-8&Transfer-Encoding=chunked&Server=httpbin

You get:
[code]
Instead of max retries exception.

[2018-03-30 14:25] corehack commented on #1352
Hmm, if I use urllib3 directly I can see the request is being retried. Could be a requests bug