[2021-05-20 04:19] #2222 closed

[2021-05-21 03:50] ubdussamad opened #2235 "Map all keyword arguments to the top level `request` wrapper."
Right now, only a small number of keyword arguments are supported in the top-level wrapper `urllib3.request` function.
It wraps the `poolManager.request()` function by creating a default `poolManager` instance.
It was added to make the interface even simpler for users.

Currently supported kwArgs are: `body=None, fields=None, headers=None`.

The ones which are **not** supported: `preload_content,

[2021-05-21 03:51] sethmlarson opened #2236 "Document HTTPResponse cleanup scenarios"
Document the following methods within the Advanced Usage page when using `preload_content=False`

- `HTTPResponse.close()` (Closes the connection, doesn't return it to the pool, throws away data still on wire)
- `HTTPResponse.drain_conn()` (Throws away data still on wire, call before release_conn if there is unread data)
- `HTTPResponse.release_conn()` (Releases the connection back into the pool,

[2021-05-21 03:55] ubdussamad commented on #2235
@sethmlarson Should it be labeled contributor friendly? It'll attract more people.

[2021-05-21 08:17] mrx23dot opened #2237 "Request ignores KeyboardInterrupt"
### Subject

Request ignores CTRL+C KeyboardInterrupt when it does it's timeout.

### Environment

[code]
!Doesn't happen on linux.

### Steps to Reproduce
[code]

### Expected Behavior

It should give up waiting when requested and exit immediately.

### Actual Behavior

What happens instead.
Keeps doing it's timeout until elapse then exits.

[2021-05-21 11:33] ctheune opened #2238 "No released version supporting Python 3.10"
### Context

What are you trying to do?

I'm trying to start porting my code to Python 3.10. One of the issues is that some `pkg_resources` stuff has changed and there's been an update of six.

I saw that the currently unreleased `master` branch has removed the dependency on six. However, there have been maintenance releases of the 1.26 branch in between and I wonder whether it would be possible t

[2021-05-21 11:50] sethmlarson commented on #2238
We're not planning on releasing `main` soon, there's still a good amount of work to do for v2.0. Python 3.10 support will be coming to v1.26.5 with an updated version of six.

[2021-05-21 11:54] sethmlarson commented on #2237
Pulling a direct quote from Nate in the previous issue:

The issue is in `socket.connect`, not in urllib3. You can try opening an issue on the Python issue tracker.

[2021-05-21 11:55] #2237 closed

[2021-05-21 12:12] efraim-lima commented on #1653
I'm with same trouble, but I tried in another application with another code and it run, when I came to the main application it runs the error again.

I had tried some soluctions from from here: use sleep code after request webdriver, change the URL parameter, change for slice and nothing else works.

I managed to solve this error in my code just finding a line that was out of a indented block, I t

[2021-05-21 13:02] ctheune commented on #2238
Great, thanks! Do you need help with that?

[2021-05-21 14:35] sethmlarson commented on #2238
@ctheune Question, where are you seeing breakage with regards to urllib3's vendored `six` package? I ran our test suite on Python 3.10 and it's passing except for the additional TLS deprecation warnings we've already identified in https://github.com/urllib3/urllib3/pull/2209.

[2021-05-21 14:41] ctheune commented on #2238
Here's the issue that I see:
https://github.com/flyingcircusio/batou/runs/2638868539?check_suite_focus=true#step:6:245

[2021-05-21 15:25] derekhiggins opened #2240 "Cert verify on subjectAltName->"IP Address" not working when doing IPv6 via a proxy"
### Subject
Verifying a https certificate by the subjectAltName->"IP Address" fails when the accessing a server by IPv6 address through a Proxy

in the case where a proxy is used the Host IP used for comparison is wrapped in square brackets

### Environment

[code]

### Steps to Reproduce

This works (without a proxy)
[code]
Accessing the same URL via a proxy doesn't
[code]

[2021-05-21 16:37] tirkarthi commented on #2238
Six related issue was fixed in https://github.com/benjaminp/six/pull/352

[2021-05-22 04:48] jkupferer opened #2242 "Support repeated request headers using HTTPHeaderDict"
### Context

What are you trying to do?

I am trying to pass repeated headers such as the `Impersonate-Group` header used by the kubernetes API. (https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation)

How do you expect to do it?

I would like to be able to call the urllib3 request method and pass the parameter `headers` as an HTTPHeaderDict.

Is it something y

[2021-05-22 16:42] shazow commented on #2242
+1, I believe this used to be a feature we supported at one point! Specifically, you could pass in a list of tuples which `dict.update(...)` accepted.

If the only thing blocking this is the new type annotations, makes sense to fix that. Let's wait for Seth/Quentin to give guidance on the best way to move forward though. :)

[2021-05-22 17:18] #1214 closed

[2021-05-22 17:20] sethmlarson commented on #2238
Closed in #2239, will release likely early next week.

[2021-05-22 17:20] #2238 closed

[2021-05-22 19:23] sethmlarson opened #2243 "Proposal: Improve support for JSON"
Many APIs are simply JSON bodies over HTTP, it'd be nice if we could make that experience more enjoyable for most users.

On the request side:

- Raise a `ValueError` if `body` is given or if `fields` is given when within `request_encode_body`
- Set `Content-Type: application/json` via `headers.setdefault()` to avoid stepping on custom Content-Types.
- Encode the JSON to bytes and set as the `body

[2021-05-22 22:54] sethmlarson commented on #2242
So `HTTPHeaderDict` for requests is an interesting one, because it makes total sense to use but it really wasn't meant to be a public API in v1.x. Users are still able to import it from `urllib3.connection` and `urllib3.response` and use it without knowing it isn't a public API though. But now when you try to pass that `HTTPHeaderDict` as request headers in v1.x it... almost works? And that's an u

[2021-05-23 02:19] pquentin commented on #2243
This looks great! I have two thoughts.

I don't think we should expose an `encoding` parameter: since Python 3.6, `json.loads` supports all standard JSON encodings automatically. If you're handling JSON that is not UTF-8, UTF-16 or UTF-32, then you're on your own.

Regarding alternative JSON packages, I think the cool kid is orjson, especially for encoding to bytes: https://pythonspeed.com/article

[2021-05-23 02:27] pquentin commented on #2242
(Are we sure this works correctly in the main branch? We didn't add tests when documenting it as supported.)

[2021-05-23 02:34] sethmlarson commented on #2242
@pquentin Doesn't work in the main branch, just signaled the intent but should probably also create an issue to track it too :)

[2021-05-23 02:37] sethmlarson commented on #2242
For now going to use this issue as it contains all the discussion, I'll rename and add to the v2 milestone.

[2021-05-23 02:40] sethmlarson commented on #2243
@pquentin Oh nice, today I learned! Begone, `encoding`! And sounds good, we'll use `orjson` as an example.

[2021-05-23 16:30] justlund commented on #2243
Hi, I'd like to work on this issue!

[2021-05-23 16:45] sethmlarson commented on #2243
@justlund Sounds good, let me know if you have questions :)

[2021-05-24 03:33] V1NAY8 commented on #2243
@sethmlarson  I'll try to work this as well. I am understanding the repository. I am ok if this gets implemented before I do

Can you give me an example like, what would it look like a sample request and response and calling of this method or a use case ?

So, I can understand where to implement it.

[2021-05-24 13:17] jkupferer commented on #2242
Thank you for your attention on this issue.
@sethmlarson I tried using commas in my values, but unfortunately the kubernetes API (and many others it seems) do not follow RFC 7230 https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2

"A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined a

[2021-05-24 23:19] ahills commented on #1682
This appeared again on Python 3.8.6 with OpenSSL 1.1.1g (el8):

[code]

And on Python 3.9.5 with OpenSSL 1.1.1k (Fedora 34):

[code]

[2021-05-25 02:21] sethmlarson commented on #1682
@ahills Can't help but notice both of those OpenSSL versions you posted are FIPS, could that have something to do with it? Also it looks like `conn.ssl_context` is None in those examples too, wonder how that happened?

[2021-05-25 16:23] el-deano opened #2244 "Hostname matching doesn't strip trailing '.' when connecting with proxy"
### Subject

Same issue as https://github.com/urllib3/urllib3/issues/1254 / https://github.com/urllib3/urllib3/pull/1255 only when using a proxy.

### Environment

[code]

### Steps to Reproduce
Substitute "someproxy-server.com:8080" with a real proxy server to test this.
Just like https://github.com/urllib3/urllib3/issues/1254 the connection works with github.com but fails with github.com. (trail

[2021-05-29 12:29] lbt commented on #437
Is this still active? It's certainly still seems to be a problem when trying to move to urllib3 and the "Backwards-compatible with http.client.HTTPResponse" (quote from the docs) can't be passed to libraries that took http.client.HTTPResponse because of this issue.

[2021-05-29 13:23] sethmlarson commented on #437
@lbt see https://github.com/urllib3/urllib3/issues/2128

[2021-05-29 23:03] #2195 closed

[2021-05-29 23:04] sethmlarson commented on #2195
Closing since we can't reproduce this without a pcap.

[2021-05-30 18:27] harshakhmk commented on #2236
I would like to work on this issue

[2021-05-30 18:39] sethmlarson commented on #2236
@harshakhmk Sounds good, let us know if you need help or have questions.

[2021-06-01 09:19] matee911 opened #2248 "Misleading deprecation warning in 1.26.X"
### Subject

While using `Retry.DEFAULT_METHOD_WHITELIST` warning message asks to use `Retry.DEFAULT_METHODS_ALLOWED` which does not exist. The proper attribute name is `DEFAULT_ALLOWED_METHODS`.

### Environment

Issue seems to be platform-agnostic.

OS macOS-10.15.7-x86_64-i386-64bit
Python 3.9.0
urllib3 1.26.5

### Steps to Reproduce

[code]

output:

[code]

### Expected Behavior

Message shou

[2021-06-01 14:45] #2248 closed

[2021-06-01 17:48] sethmlarson commented on #2243
Answering questions raised by @V1NAY8 on Discord:

Yeah, all `request*` methods in `RequestMethods` like `request`, `request_encode_url`, and `request_encode_body` along with the top-level `urllib3.request` function should handle `json=` but the parameter should not be anywhere else.

If the `json=` parameter is specified there should be errors in the follow scenarios:
- `body` is non-None
- `fiel

[2021-06-02 01:38] minipuppy commented on #2116
according to the regex defined here
https://github.com/urllib3/urllib3/blob/main/src/urllib3/util/url.py#L15
and the parse code  here
https://github.com/urllib3/urllib3/blob/main/src/urllib3/util/url.py#L386
the param `path` never change
1. the str is not valid uri. Users should follow RFC 3986
2. Shall we add some validation code to raise Exception or `Url()`

[2021-06-02 14:52] harshakhmk commented on #2236
Should I add document the same in ```advanced-usage.rst ```? Do I need to add any code snippets?

[2021-06-02 15:14] sethmlarson commented on #2236
Yep that file is good, and should include short code examples.

[2021-06-02 21:07] sethmlarson commented on #1985
FYI: Need to go back and look at the changes made in https://github.com/urllib3/urllib3/pull/2251 after this lands to update usages of `HTTPConnection` to `BaseHTTPConnection`.

[2021-06-03 21:22] sethmlarson opened #2252 "Investigate removing `object` from the `Union[...]` of many `timeout` types"
`object` is only there because of the `socket` module "default" sentinel value which is kind-of an unfortunate hack if you ask me.

It's causing a lot of problems type-wise when going from urllib3 timeout to http.client timeouts, let's take a peek if we can instead remove `object` and add `type: ignore` only where the socket default timeout sentinel is used.

[2021-06-04 08:39] victornoel commented on #383
As a workaround to problems such as https://bugs.python.org/issue41345 caused by the use of a connection pool, I do: `session.headers.update({"Connection": "close"})`.

It ensures all my connection are closed as soon as possible so that the pool does not keep connections for too long but it's not ideal since it still re-creates the connections early…

This is really painful not to be able to disab

[2021-06-04 10:09] pquentin commented on #2252
Related discussion: https://github.com/encode/httpx/issues/1384

[2021-06-05 21:12] sethmlarson commented on #2221
We should also be consistent ie `_TYPE_PEER_CERT` instead of `PeerCertType`.

[2021-06-06 10:42] bluetech opened #2254 "Allow specifying pool headers which are not overridden by request-specific headers"
This is a feature request + proposal for a small thing that tripped me.

### Context

I have a service which creates a service-scoped `PoolManager` and uses it for all external requests. I set some headers when I create it, for example

[code]

Generally, I want these headers to be used in all requests. (So far so good).

Now I have a specific request which requires an extra header or overrides so

[2021-06-07 16:16] #2200 closed

[2021-06-09 18:52] davidism commented on #1062
Started doing some research. Created a Werkzeug application to echo the submitted `Content-Disposition` header.

[code]

When a file named "basic.txt" is submitted from Firefox or Chromium, it prints:

[code]

When a file named "ski ⛷️.txt" is submitted from Firefox or Chromium, it prints:

[code]

Browsers are providing one filename, with non-ascii characters replaced with HTML character entity r

[2021-06-09 19:00] davidism commented on #1062
Using urllib3 to upload the file, the name is not encoded.

[code]

[code]

[2021-06-09 19:35] davidism commented on #1062
[WHATWG HTML Standard, section 4.10.21.8, Multipart form data:](https://html.spec.whatwg.org/multipage/form-control-infrastructure.html#multipart-form-data)

[RFC 7578, section 4.2, Content-Disposition Header Field for Each Part:](https://datatracker.ietf.org/doc/html/rfc7578#section-4.2)

The WHATWG HTML Standard says to follow RFC 7578 to encode `multipart/form-data`. The RFC states that *only*

[2021-06-09 19:45] davidism commented on #1062
Turns out urllib3 is already encoding values using `fields.format_header_param_html5`, which uses percent encoding, but only on control characters 0x00 - 0x1F, not arbitrary characters. It references the same multipart-form data standard above, but oddly, it says it "matches the behavior of curl and modern browsers". Not sure about curl, but browsers at least are not using percent encoding.

[2021-06-09 20:47] davidism commented on #1062
Did some more investigation and discussion on Discord.

* After adding `<meta charset=utf-8>` to the test HTML, the browser began passing through the name unchanged like curl did. Seems the a legacy behavior when no encoding is set is to using char ref replacement.
* Neither browsers nor curl do anything special with control characters, all bytes are passed through unchanged.
* urllib3 percent enc

[2021-06-09 21:33] davidism commented on #1062
Did more digging. #1492 https://github.com/urllib3/urllib3/pull/1492/commits/131d0d5b14aede8d061e916e765866dee9eef9e5 added the control character quoting behavior, after @sethmlarson https://github.com/urllib3/urllib3/pull/1492#discussion_r264646123 noted that the WHATWG standard said to. This was a bit confusing, since the standard no longer mentions that. I tracked that down to https://github.co

[2021-06-09 21:36] davidism commented on #1062
I think since we're at a major release point, we should consider dropping the escape character quoting to match the current standard. I can make that change, or I can change the docs only. Note that users can always provide a more constrained file name, and that servers should always be treating the given name as untrusted and do processing on it regardless of what the client sends.

[2021-06-10 07:03] pquentin opened #2256 "Advertise Python 3.10 support in setup.py classifiers"
For both the 1.26.x and main branches, update setup.py to include the Python 3.10 classifier. (The badges in the README will be updated with our next release.)

[2021-06-10 14:06] sethmlarson commented on #2243
Mentioning @V1NAY8 to see if I can assign them to this issue :)

[2021-06-10 14:30] V1NAY8 commented on #2243
Yeah, I will do this :)

[2021-06-10 19:55] #1062 closed

[2021-06-10 20:48] hugovk commented on #2256
Please see PRs https://github.com/urllib3/urllib3/pull/2258 and https://github.com/urllib3/urllib3/pull/2259.

[2021-06-10 21:14] sethmlarson commented on #2256
Thanks @hugovk!

[2021-06-11 20:32] sethmlarson opened #2263 "Tolerate the strict parameter being passed via connection_from_context()"
If we test Requests against urllib3 `main` branch we receive the following:

[code]

This started in https://github.com/urllib3/urllib3/pull/2064. One of the goals of v2 is to be mostly API compatible so downstream projects can immediately start using v2. Should we add the following within `PoolManager.connection_from_context`?

[code]

to maintain API compatibility with Requests and other librari

[2021-06-11 20:58] hramezani commented on #2263
Yes, if we are going to be mostly compatible.

Good point :+1:

I can work on this.

[2021-06-12 11:50] kloczek opened #2264 "1.26.5: pytest warnings and errors"
Just normal build and test cycle:
- "setup.py build":
- "setupy install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to setearch and sitelib inside </install/prefix>

pytest finishes with exit 0 buut it is a lot of warnings and some errors.
BTW: how to disable flaky report about sucessfuly finished units?
[code]

[2021-06-12 13:17] kzlucas commented on #1518
[code]
Fix the issue for me on centOS

[2021-06-14 15:01] #2264 closed

[2021-06-14 15:28] sethmlarson commented on #2254
The `**pool.headers` construction interests me, maybe we can document that? Does that work with `HTTPHeaderDict`?

[2021-06-14 16:28] pquentin commented on #2264
For reference, the errors are expected. We are using threads for launching servers and are submitting various incorrect requests with our client. The output coming from those threads isn't caught reliably by pytest, unfortunately.

The important part is for pytest to report success, which it does, as you've noted.

[2021-06-15 23:57] sigmavirus24 commented on #2254
So you want to merge request headers into the pre-existing headers. That's how Requests works today and how other clients work too so the ergonomics make sense

[2021-06-16 09:53] kozlovalex opened #2268 "MaxRetryError instead of ConnectTimeoutError"
I request the HEAD of a site that doesn't respond.

I get the MaxRetryError error instead of the TimeoutError that is specified in the error text.

[code]

and in general, I get MaxRetryError for ANY error.

[code]

how do I intercept the initial error?

[code]

[code]

[2021-06-16 12:59] sigmavirus24 commented on #2268
You get that exception because you're using retries. If you don't want that error and instead want the original error raised, don't use retries. I believe the retry object also knows what the underlying exception is and can be checked that way

[2021-06-16 13:23] ubdussamad commented on #2131
So, is this feature going to be implemented @sethmlarson? Maybe `redirect` instead of just being a `boolean` can also be a simple class that could have a switch to purge the content incase of 303s?

[2021-06-16 14:01] sethmlarson commented on #2131
@ubdussamad Definitely would like to get this issue implemented. However it'd require the retry/ redirect flow to be able to communicate changes about the request which currently isn't implemented.

There's another issue on the v2 tracker about this, might be worth a look.

If you wanted to start gathering requirements for this issue you should learn about our existing redirect and retry logic bot

[2021-06-16 14:37] #2263 closed

[2021-06-16 14:43] kozlovalex commented on #2268
I specifically use retries to get the final server response after all redirects. Without retries, I will only get the response from the first server and this will in most cases be the 301/302 status.

[2021-06-16 14:50] hramezani opened #2269 "Deprecate urllib3.request module"
### Context
After adding the top-level `request()` method, We have a function named `request` in `urllib3.__init__.py` and a module named `request`(`urllib3.request.py`). It changes the `from request import request` behavior.
* Old behavior: importing `request` module.
* New behavior: importing `request` function.

### Possible Solution

- We could rename the `request` module to `urllib3.request_m

[2021-06-17 12:29] bluetech commented on #2269
IMO it would also be good to deprecate or remove `RequestMethods` itself.

Reasons:

1. It is currently public API (appears in the API reference), but I somewhat doubt any external user is using it directly (please correct me if I'm wrong!). It might be done just to have the methods documented, but in this case I'd suggest using Sphinx `:inherited-members:` on the subclasses, so that the methods s

[2021-06-17 16:48] pquentin commented on #2269
This is all very true, unfortunately urllib3 painted itself into a corner by documenting its internals as public APIs.

[2021-06-19 14:31] sethmlarson commented on #1520
Closing this issue via https://github.com/urllib3/urllib3/pull/1923

[2021-06-19 14:31] #1520 closed

[2021-06-19 15:08] OmriBaso commented on #1520
Google ״Omri Baso besocurl״
I wrote a library for that guys

בתאריך שבת, 19 ביוני 2021 ב-17:31 מאת Seth Michael Larson <
***@***.***>:

[2021-06-20 15:18] sethmlarson opened #2281 "Change all Readthedocs URLs in 1.26.x branch to reference 1.26.x documentation"
Many URLs in the urllib3 1.26.x release stream reference `/en/latest` in their documentation URLs. However `latest` is actually the documentation for v2.0 development. There is a chance that the documentation isn't relevant anymore or that additional features have been added that aren't released.

To avoid confusing users, let's change all the URLs that look like this: `https://urllib3.readthedocs

[2021-06-20 18:06] bluetech commented on #1985
- There are also `set_tunnel` and `tls_in_tls_required` (for `HTTPSConnection`), or are they intended to be encapsulated in one of the other methods?

- You wrote `def getresponse(self) -> BaseHTTPResponse: ...`, but  currently `getresponse` returns an httplib `HTTPResponse` and the connection pool converts it to urllib3 `HTTPResponse`. Is the idea to change it such that the `getresponse` implemen

[2021-06-20 20:35] sethmlarson opened #2282 "Deprecate NTLMConnectionPool in 1.26.x"
As was mentioned in https://github.com/urllib3/urllib3/pull/2278#issuecomment-864414599 and https://github.com/urllib3/urllib3/pull/2278#issuecomment-864450016 we're moving to remove `NTLMConnectionPool` and the `urllib3.contrib.nltmpool` module from urllib3 in v2.0 if we don't find a new maintainer for the module (perhaps as a third-party package ie `urllib3-ntlmpool`?)

- The module is not cover

[2021-06-20 20:46] sethmlarson opened #2283 "Make top-level request() function parameters keyword-only"
- Make all parameters after `method` and `url` for `urllib3.request()` keyword only by adding `*,` (see [PEP-3102](https://www.python.org/dev/peps/pep-3102/))
- Add a test case for the error that's raised when a parameter isn't used as a keyword

[2021-06-20 21:13] aitoehigie commented on #2283
I think I can handle this.

[2021-06-20 21:39] fvlima commented on #2283
I was doing this, but I had doubts about the best place to put the test case

[2021-06-20 21:41] aitoehigie commented on #2283
There is a test directory. I believe you will need to create a test_request.py file in it. Going by the convention in that directory

[2021-06-20 21:46] fvlima commented on #2283
yep, but I thought that would be strange to have just one test case in this `test_request.py`. It was exactly what I was doing...

[2021-06-20 22:09] fvlima commented on #2283
I'm pushing the PR and we can discuss there

[2021-06-20 22:22] fvlima commented on #2283
https://github.com/urllib3/urllib3/pull/2284

[2021-06-21 00:10] #2283 closed

[2021-06-21 00:56] csurfer commented on #2221
@SethMichaelLarson I can try working on this if no one else has picked it up already. Is there a comprehensive list of aliased types that I can index on? Also I am thinking of raising one alias change per commit. WDYT?

[2021-06-21 00:59] sethmlarson commented on #2221
@csurfer Happy to hear you're interested! Unfortunately there isn't a defined list, you'd have to take a peek into all the files under `src/urllib3` and see what you find. They should all be in the global scope so easy to spot.

Everything would be squashed to one commit so I'm fine with it all be submitted as one big commit.

[2021-06-21 01:44] imkaka commented on #2282
I will try to work on this.

[2021-06-21 02:13] sethmlarson commented on #2282
Sounds good @imkaka, let me know if you have questions.

[2021-06-21 03:40] csurfer commented on #2221
@sethmlarson Have raised https://github.com/urllib3/urllib3/pull/2286 for the same.

[2021-06-21 04:36] sethmlarson opened #2287 "Transfer-Encoding: chunked header can be sent twice if specified in headers w/ chunked=True"
https://github.com/urllib3/urllib3/blob/1.26.x/src/urllib3/connection.py#L252 should be checking `header_keys` not `headers`.

Reproducer (notice the casing of `transfer-Encoding`):

[code]

If you check Wireshark there are two `Transfer-Encoding` headers sent:

[code]

should be:

[code]

This issue effects v2.0 and v1.26.x

[2021-06-21 05:40] csurfer commented on #2287
IMO tests of form `test_preserve_user_agent()` and `test_preserve_transfer_encoding()` are missing from `test_chunked_transfer.py` which would have otherwise caught the above issue. If you think this approach is ok, I can fix the issue and add the two tests I have mentioned earlier.

[2021-06-21 08:45] bluetech commented on #2152
I don't know what `SSL_KEYWORDS` is, but here is my use case:

I have a `PoolManager` which handles connections to several hosts. One of these hosts uses SSL client certs, so I need to pass the `cert_file` and `key_file` arguments. However, `urlopen` doesn't accept these arguments. So instead of this:

[code]

I need to write this:

[code]

This would have been fine, though slightly obscure, but t

[2021-06-21 12:09] DmytroLitvinov commented on #2281
Hi @sethmlarson ,
Could you please paste at least 1 URL with reference in 1.26.x branch at service readthedocs to `/en/lastest/`?

[2021-06-21 13:04] sethmlarson commented on #2287
@csurfer That sounds good to me, thanks! You can make the fix on `main` and we'll backport the commit to `1.26.x`.

[2021-06-21 13:08] sethmlarson commented on #2281
@DmytroLitvinov Sure! An example is in `src/urllib3/util/ssl_.py` there's a link to `https://urllib3.readthedocs.io/en/latest/advanced-usage.html` in a docstring.

The change on `1.26.x` branch the link should be `https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html`

[2021-06-21 14:06] #2221 closed

[2021-06-21 14:42] sethmlarson commented on #1985
Thanks for raising these questions @bluetech, despite this issue looking like it's completely fleshed out it's almost certainly not 100% covered. Lots of discovery left to do.

- Yes `set_tunnel()` is required on `HTTPConnection` and `tls_in_tls_required` for `HTTPSConnection`.
- I think that `getresponse()` definitely needs to change to return `BaseHTTPResponse` instead of `http.client.HTTPRespon

[2021-06-21 16:37] bluetech opened #2291 "[v2] Use httplib's chunked encoding support?"
`urllib3.HTTPConnection` has a method [`request_chunked`](https://github.com/urllib3/urllib3/blob/89ca490bfc15b7b4762676b5b51bf57e8912d80f/src/urllib3/connection.py#L287) which sends the body with chunked encoding. [Since Python 3.6](https://github.com/python/cpython/commit/3c0d0baf2badfad7deb346d1043f7d83bb92691f), httplib supports this directly, with very similar-looking code. Since v2 now requi

[2021-06-21 17:17] sethmlarson commented on #2282
Closed via https://github.com/urllib3/urllib3/pull/2289

[2021-06-21 17:17] #2282 closed

[2021-06-21 17:18] #2287 closed

[2021-06-21 17:46] csurfer commented on #2235
@ubdussamad Looks like your recent PR takes care of all the requisites. Is something left to be done for this issue?

[2021-06-21 17:52] sethmlarson commented on #2235
I think there are still more to work on here, might take a bit of discovery! One I can think of is `chunked`, I'm sure there are plenty more.

[2021-06-21 17:54] ubdussamad commented on #2235
Hi @csurfer , yes there are a couple more, some of them are mentioned in my PR, for others you might have to a bit of digging.

[2021-06-21 22:54] djrobstep commented on #2123
Hey, just wondering about the status of this one? It sounds like v2 is not far away, now might be an opportune time to incorporate changes on this (assuming this hasn't been fixed already)?

[2021-06-22 14:48] sethmlarson commented on #2291
Kind-of related to this, I was wondering if we should instead add a `chunked` parameter to `HTTPConnection.request()` and shim `.request_chunked()` to simply call `return self.request(..., chunked=True)`. Reasoning being that the rest of our API looks like this, seems more natural to have `.request(..., chunked=True)` everywhere instead of at every level until you get to `HTTPConnection` and sudde

[2021-06-22 14:49] sethmlarson commented on #2291
The above change would also bring us closer to the stdlib's implementation but keep things urllib3-flavored, we're already married to the `chunked` parameter (and I like it better than `encode_chunked` tbh)

[2021-06-23 21:03] KOLANICH commented on #2233
TLS 1.1 and 1.2 are not broken yet.

[2021-06-23 21:23] tiran commented on #2233
TLS 1.1 has known weaknesses, e.g. it depends on SHA-1 during handshake. See RFC 8996.

[2021-06-23 23:07] KOLANICH commented on #2233
Thanks for the info.

[2021-06-24 02:10] #2223 closed

[2021-06-24 14:22] pquentin commented on #2281
Done in #2298, closing

[2021-06-24 14:22] #2281 closed

[2021-06-24 20:59] atodorov commented on #2269
Probably it's the same issue but following the instructions from the website:

[code]

Not a good first-user experience. At least update the documentation.

[2021-06-24 22:30] sethmlarson commented on #2269
@atodorov Sorry that happened! Where did you find the link to those docs btw?

We just recently fixed URLs on the 1.26.x Github branch to point at `1.26.x` on readthedocs instead `latest` because as you've found it has features documented that aren't released yet.

[2021-06-25 05:39] atodorov commented on #2269
https://urllib3.readthedocs.io/en/latest/index.html

[2021-06-25 05:47] pquentin commented on #2269
@atodorov As mentioned by @sethmlarson above, we know that the `latest` points to the unreleased v2, while https://urllib3.readthedocs.io/en/stable/ and https://urllib3.readthedocs.io/en/1.26.x/ will show you the docs of the current released version.

Where did you get your link?

[2021-06-25 09:51] atodorov commented on #2269
Not really sure. I see that when I google "urllib3" the link goes to the docs for the stable version. IDK how I ended up on the documentation for the devel version. The only thing I remember was that it didn't take me long. I see that the website URL in GitHub repo settings points to the devel version. Badge icons in README do too.

[2021-06-25 12:48] pquentin opened #2307 "Document release checklist"
### Before creating a release PR

- [x] Announce intent to release on Discord, see if anyone wants to include last minute changes
- [x] Create a `release-X.Y.Z` branch that bumps the version number and updates the changelog
- [x] Create a pull request, see if all tests, including integration, pass

### After creating a release PR

- [x] Get the release pull request approved by a [CODEOWNER](https:

[2021-06-25 13:58] pquentin commented on #2307
I had planned to include this is in the docs, but the way we can tick items directly in UI is awesome. So @sethmlarson suggested that we could add this as an issue template. Which is actually a good first issue!

The idea would be to:
 * take the source of the first comment here
 * untick all checks, eg. change from `[x]` to `[ ]`
 * add a "Open a Release issue from GitHub` step
 * add it to [the

[2021-06-25 14:40] GlenTiki opened #2308 "Add support for a minimum time between retries on the Retry utility"
### Context

I manage an integration with a brittle platform that I need to do some work on, on my side of the integration. The owners of this platform have requested that I only issue at most one request every 3 seconds to their API. I would like to configure my Retry class to have a minimum time between retries to respect this.

I would like to be able to configure a property (possibly `BACKOFF_

[2021-06-25 14:50] sethmlarson commented on #2308
Have you considered sub-classing `Retry` to return a minimum of `0.333` seconds of backoff time?

[code]

Then you can pass that object in via `retries=...`

[2021-06-25 16:15] GlenTiki commented on #2308
Ah, that's a good solution I hadn't thought of! I'll make use of that now. Feel free to close if you don't think it's needed in the library. Otherwise, I'm still happy to contribute this.

[2021-06-29 01:51] sethmlarson commented on #2308
I think given these unique requirements it's likely not necessary, going to close this. Glad we could solve the problem.

[2021-06-29 01:51] #2308 closed

[2021-06-29 08:25] ubdussamad commented on #2131
Hi @sethmlarson  , so I looked into the `urlopen` methods of both `PoolManager`& and `ConnectionPool`&.
In both (poolMgr and ConnPool) the redirect and retry objects are kind of disconnected.

The `redirect` variable is simply a boolean in both `urlopens`, which is passed to the retry
object's legacy constructor [`from_int`](https://github.com/urllib3/urllib3/blob/main/src/urllib3/util/retry.py#L2

[2021-06-29 12:14] graingert commented on #797
ah I now see this is discussed here: https://github.com/urllib3/urllib3/pull/1000

[2021-06-29 13:28] bluetech commented on #1003
A few comments on this feature as implemented by @euri10:

---

IIUC, previously if DNS resolution failed, `NewConnectionError` (subclass of `ConnectTimeoutError`, `TimeoutError`, `OSError`, `HTTPError`) was raised, now `NameResolutionError` (subclass of `socket.gaierror`, `OSError`, `HTTPError`) is raised.

My main concern here is that users who previously handles `NameResolutionError` for DNS er

[2021-06-29 13:50] bluetech opened #2313 "[v2] Chaining exceptions"
### Context

Currently urllib3 doesn't chain exceptions explicitly when wrapping exceptions (this feature wasn't available in Python 2 AFAIK). For example:

https://github.com/urllib3/urllib3/blob/1831327b881880ed871f96f56a6977d360042e1b/src/urllib3/response.py#L539-L557

If the `SocketTimeout` happens, then it renders as

[code]

Explicit chaining would be

[code]

then the error is the nicer

[c

[2021-06-30 04:03] sethmlarson commented on #2313
Thanks for opening this! Let's move towards the explicit chaining if only for the better message. This work will also expose places where maybe we do want the `from None`.

[2021-06-30 07:51] euri10 commented on #1003
I'll humbly pass on responding properly since I'm too new to have a good idea on this, but all seem to be very valid points to me

[2021-06-30 08:37] Ayke commented on #1981
I'm seeing a similar one, here's my traceback:

`Traceback (most recent call last):
  File "C:\Users\lyaul\AppData\Local\Programs\Python\Python39\lib\site-packages\urllib3\response.py", line 438, in _error_catcher
    yield
  File "C:\Users\lyaul\AppData\Local\Programs\Python\Python39\lib\site-packages\urllib3\response.py", line 519, in read
    data = self._fp.read(amt) if not fp_closed else b""

[2021-06-30 11:48] sigmavirus24 commented on #1981
@Ayke even the least charitable of reads of Seth's statement makes it clear this is a bug in urllib3. It hasn't been fixed yet. You don't need to argue the case that it's a urllib3 bug. We're aware of that

[2021-07-01 00:31] Ayke commented on #1981
Thanks for reminding me, I was just making clear that my case was identical to Dobatymo's case. You can of course safely ignore my arguments if you've already accepted my point.

[2021-07-02 16:20] ubdussamad commented on #2131
@SethMichaelLarson Is this what you wanted? Am I on the right track here?

[2021-07-03 22:35] #1897 closed

[2021-07-08 06:55] pquentin commented on #1003
@bluetech Your thoughful comments are deeply appreciated, thank you! I answered point by point, but the main takeaway is that we just have two things to do to close this issue:

 * Change the subclass from `gaierror` to `NewConnectionError`
 * Add retry (started #2312)

You're right. I thought `gaierror` was raised, but it's not the case. I think it would be better to make `NameResolutionError` a

[2021-07-08 06:58] pquentin commented on #1003
Actually, if we change the parent class to `NewConnectionError`, that will fix the retry issue! So that's the only needed change.

[2021-07-08 07:10] euri10 commented on #1003
do you want it done as a seperate PR @pquentin or part of https://github.com/urllib3/urllib3/pull/2312 is fine for you ?

[2021-07-08 07:15] pquentin commented on #1003
This is a completely different change: we can close #2312

[2021-07-08 10:59] pradyumna212 opened #2320 "Document how to use custom SSLContext objects"
### Context

What are you trying to do?
Provide an example of how to configure urllib3 to enable Partial Certificate chain validation.

How do you expect to do it? Document update with an example or Provided as a standard option/flag in Poolmanager.

Is it something you currently cannot do? Right

Is this related to an existing issue/problem? Yes. There is no option to configure enabling of partia

[2021-07-08 19:42] #1003 closed

[2021-07-10 01:34] kloczek commented on #2264
Just checked 1.26.6
[code]
I'm not sure is that what suppose to be.

[2021-07-10 02:13] sethmlarson commented on #2264
Looks like no tests failed, that's what's expected. They're will be warnings and a flaky report.

[2021-07-10 12:25] kloczek commented on #2264
OK so thoise call traces are ok (?) :)

[2021-07-10 17:02] pquentin commented on #2264
Yes.

[2021-07-12 18:28] sethmlarson opened #2325 "Add decode_content parameter to top-level APIs"
Like the title says, add `decode_content` to the top-level APIs `urllib3.request()`.

See https://github.com/urllib3/urllib3/commit/ddf7361ac0467431a2f3df6ba346c9c506c29d56 for an example.

[2021-07-12 19:07] pquentin opened #2326 "Fix `RecentlyUsedContainer` regression"
#2115 added typing to the `_collections` module. Unfortunately, it also introduced a regression that breaks `test_urllib3_pool_connection_closed` in the requests test suite, as noticed in https://github.com/urllib3/urllib3/pull/2316/checks?check_run_id=3049608329. `__setitem__` is implemented like this in 1.26.x:

https://github.com/urllib3/urllib3/blob/ba95e9eac73452d3bccfb5413b00d9a4fe3e4c31/src

[2021-07-12 21:36] haikuginger commented on #2326
@pquentin thanks for opening this! The new logic is generally easier to reason about when it comes to typing, so I'd prefer to stick with it, but fixing the bug should be relatively straightforward—I think this would do for avoiding the empty container case:

[code]

[2021-07-12 22:09] sethmlarson commented on #2326
@haikuginger That won't work as a fix, if `RecentlyUsedContainer` is given `maxsize=0` then there shouldn't be an object in the container after calling `__setitem__`.

[2021-07-12 23:10] sethmlarson commented on #2326
My proposal is this:

[code]

Passes all of our existing tests and adds a new one for an empty `RecentlyUsedContainer`. This is potentially a place where Hypothesis' state testing would come in handy.

[2021-07-12 23:24] haikuginger commented on #2326
@SethMichaelLarson ah good point; I misunderstood. That approach looks sound to me.

[2021-07-13 06:33] pquentin commented on #2326
Thank you @haikuginger and @sethmlarson! Opened https://github.com/urllib3/urllib3/pull/2327 to address this

[2021-07-13 12:02] #2326 closed

[2021-07-14 07:30] yoga-king opened #2328 "chunked encoding response content."
### Subject
In Ubuntu, it does not receive chunked encoding response content.

### Environment

[code]

### Steps to Reproduce

[code]

### Expected Behavior
run in Mac

<img width="905" alt="스크린샷 2021-07-15 오후 2 25 28" src="https://user-images.githubusercontent.com/87413415/125733535-d8ac981e-34c7-46a3-b71d-3d466ab49412.png">

### Actual Behavior
run in Ubuntu -> empty response content

<

[2021-07-14 09:00] pquentin commented on #2328
Can you please try using urllib3 1.26.6 on macOS too?

[2021-07-15 05:07] pquentin commented on #2307
Done in #2309

[2021-07-15 05:07] #2307 closed

[2021-07-15 05:27] yoga-king commented on #2328
@pquentin Yes, I updated

[2021-07-15 07:44] pquentin commented on #2328
I'm not reproducing on Docker from macOS:

[code]

You seem to be using RHEL 7, which is really old. Have you tried using another tool like curl to fetch this data? For now, closing as unable to reproduce.

[2021-07-15 07:44] #2328 closed

[2021-07-15 09:37] pghole commented on #1682
@SethMichaelLarson I still see this issue on requests version 2.20.0, urllib3 version - 1.24.2, OpenSSL 1.1.1 FIPS  and python3.6.8

[2021-07-15 17:05] sethmlarson commented on #1682
@pghole @ahills Could one of you open a separate issue for FIPS and using the latest version of urllib3? We're not going to be making releases to 1.24.x. This will take someone investigating. Until then I'm locking this issue as it's been resolved, what you're seeing is likely not the same issue.

[2021-07-18 13:27] V1NAY8 commented on #2325
I'm on it

[2021-07-18 14:05] V1NAY8 commented on #2325
I will work on this. What is the functionality of this parameter ?

[2021-07-18 14:28] sethmlarson commented on #2325
The functionality is already implemented, only needs to be forwarded to the lower levels.

[2021-07-21 06:58] ninoCan opened #2334 "Clearer formatting of warning"
https://github.com/urllib3/urllib3/blob/21945b84b0707a3143b09ade5c59e8dbf6a69a0f/src/urllib3/connectionpool.py#L781

The variables _retries_ and _err_ are returned as raw objects in the message. This makes this warning rather esoteric for the developer who is not familiar with which class these objects belong to.

If _err_ is an actual error, it would be nice to see the stack trace in a more pytho

[2021-07-21 07:59] imkaka commented on #2325
@V1NAY8 please let me know if you are working on this, else I will love to work on this.

[2021-07-21 08:42] V1NAY8 commented on #2325
@imkaka go ahead and implement it. I'll pick something else.

[2021-07-21 08:45] imkaka commented on #2325
Cool @V1NAY8, will start on this.

[2021-07-21 13:17] sethmlarson commented on #2320
How would this be implemented via `SSLContext`? If it can be implemented this way then urllib3 can do it, otherwise it's likely not going to be possible. Either way I'm not sure this information should live here, perhaps a blog post / Gist / StackOverflow question?

[2021-07-21 13:36] sethmlarson commented on #2320
Quentin highlighted to me that we don't document the `ssl_context` parameter or how you can configure a custom `SSLContext` so perhaps we can document those scenarios and that'd be sufficient for the urllib3 documentation?

[2021-07-22 07:26] yoga-king commented on #2328
@pquentin
curl doesn't work too.
What is the minimum required kernel version ?

[2021-07-23 09:44] pquentin commented on #2328
We don't use curl, no, so that proves this isn't a urllib3 bug. It's probably not kernel related, maybe the issue is the OpenSSL version? In any case, we can't help you fix this since this isn't a urllib3 bug. You can try StackOverflow or Super User.

[2021-07-23 15:43] V1NAY8 commented on #2190
@pquentin / @sethmlarson  Can you guide me on the functionality here? I'll try to implement this and to write tests.

-  I think the logic should go in `_connect_tls_proxy`.
- So, if we have the `ssl_context` already specified, we need not do anything.
- Else, the `ssl_context` is created using `create_proxy_ssl_context`, after that  we have to add logic to check `_match_hostname` with hostname an

[2021-07-24 09:14] pquentin commented on #2190
Figuring what to do is 90% of the work for me, I didn't take time to sit down and focus on this yet.

I would suggest however to start with the test from https://github.com/urllib3/urllib3/commit/8d65ea1ecf6e2cdc27d42124e587c1b83a3118b0. I would merge a PR with that test separated in two and annotated with pytest's xfail.

[2021-07-24 13:20] dmitrypolo opened #2337 "parse_url coerces upper-case letter to lower case in host name"
### Subject

`parse_url` coerces a host to lower case if there is an uppercase letter after a `-`

### Environment

OS macOS-10.14.6-x86_64-i386-64bit
Python 3.9.1
urllib3 1.26.3

[code]

### Steps to Reproduce
[code]

### Expected Behavior

`host` should remain as `service-A`

### Actual Behavior

`host` ends up being `service-a`

[2021-07-24 13:28] sigmavirus24 commented on #2337
As stated on psf/requests#5886, this is both allowed by RFC 3986 and every subsequent update to how URIs should be handled (and easily found with quick google searches) and encouraged as normalization of a URI is important. If you're relying on case-sensitivity, then you have a problem in how you're configuring your environment. All hosts are to be treated without case sensitivity.

[2021-07-24 13:28] #2337 closed

[2021-07-25 07:36] pquentin commented on #2190
(To be clear, I'm not suggesting your approach is wrong! I don't want to discourage you from implementing it, but I can't confirm or deny that it's correct.)

[2021-07-25 08:39] bluetech opened #2338 "Possible bug in securetransport _cert_array_from_pem() error handling"
While working on an unrelated change, I noticed this line, which *seems* to miss a `raise` after the free in the `except` block. I may be wrong; I didn't try at all to understand what the code does, it just looks wrong to me so thought I'd report it.

https://github.com/urllib3/urllib3/blob/21945b84b0707a3143b09ade5c59e8dbf6a69a0f/src/urllib3/contrib/_securetransport/low_level.py#L186-L206

[2021-07-25 14:33] sigmavirus24 commented on #2338
Ahh, I think we're missing `raise` in there to re-reaise the exception raised in the `try`-block. Good catch

[2021-07-25 15:54] bluetech opened #2341 "ci: putting a time limit on jobs"
Some CI runs got stuck and only failed after 6 hours, example: https://github.com/urllib3/urllib3/actions/runs/1064318368

Even though it's free it's seems like a big waste, so I propose we set a time limit on all jobs. I think 10 minutes is reasonable (from a glance it seems most jobs take 1m-2m). The `timeout-minutes: ...` directive does this.

[2021-07-25 15:55] bluetech commented on #2338
OK, I'll send a PR.

[2021-07-25 16:37] sethmlarson commented on #2341
Sounds good to me!

[2021-07-25 18:45] bluetech commented on #2268
You can do it like this:

[code]

If Python even gets [exception groups](https://www.python.org/dev/peps/pep-0654/) this is possibly a use case for it, return an exception group containing the exceptions from all retries. But that's a long way out either way.

[2021-07-25 19:08] bluetech opened #2344 "Type check tests?"
Currently the tests are not typed and not type checked. In my experience, doing so is useful, foremost as a way for testing the typing of the main code itself. But others think it adds too much friction when writing tests.

I propose we do it, as a way to gain some confidence in our own typing. There are two ways to go about it:

1. Do a sweep and add `-> None` to all test functions, and possibly

[2021-07-25 19:28] sethmlarson commented on #2344
This sounds like a good idea, maybe we can adopt a similar construction for incrementally adding types like in the package? cc @hramezani

[2021-07-25 23:18] #2341 closed

[2021-07-26 00:04] hramezani commented on #2344
Sounds good to me as well.
I can help on this topic

[2021-07-26 09:24] bluetech commented on #2344
WIP here: https://github.com/bluetech/urllib3/commits/tests-typing

[2021-07-26 13:12] zidingz opened #2345 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-26 13:55] sethmlarson commented on #2345
We have a security disclosure procedure listed in our README: https://github.com/urllib3/urllib3#security-disclosures

[2021-07-26 13:55] #2345 closed

[2021-07-26 14:09] #2338 closed

[2021-07-26 14:26] zidingz commented on #2345
Thank you very much! Email will be with you within the hour.

[2021-07-27 11:53] #2325 closed

[2021-07-27 12:28] sethmlarson commented on #2334
At that level stack traces are huge and very difficult to read. If you're trying to implement your own logging perhaps disabling retries and handling them yourself within your application is the way forward?

[2021-07-27 16:11] sethmlarson commented on #2235
I'm going to mark this as closed, I don't think there are any other parameters to be forwarded. Thanks everyone!

[2021-07-27 16:11] #2235 closed

[2021-07-27 17:46] #2334 closed

[2021-07-27 19:02] imkaka commented on #2067
I will work on this, will refer @geancarlo PR.

[2021-07-28 13:12] hramezani commented on #2252
I've tested it on my own setup. by removing `object`, we will have to add 9 `type: ignore` and 9 `type: ignore` will be removed.
I can create a PR if you agree

[2021-08-02 07:33] EnricoMi commented on #1445
The following approach allows to add this feature without breaking existing `Retry` subclasses:
- Add `is_retry_response(self, method, response)` to `Retry`
- Implement it as `return self.is_retry(method, response.status, bool(response.getheader("Retry-After"))`
- Have urllib3 call into `is_retry_response` instead of `is_retry`

Users can subclass `is_retry` or `is_retry_response`.

This potential

[2021-08-03 14:04] #2268 closed

[2021-08-03 17:59] #2085 closed

[2021-08-03 18:07] pquentin commented on #2065
We now use towncrier, so I'm going to repurpose that issue to make sure we record all noteworthy v2 changes as news fragments. That way, we won't have to track every change down when we'll actually release 2.0.

[2021-08-03 18:12] sethmlarson commented on #2065
@pquentin Agreed, would you be willing to tackle that?

[2021-08-03 18:15] pquentin commented on #2065
Yes, I'm on it! I have 167 commits to review.

[2021-08-03 19:55] pquentin commented on #2065
I've added 27 potential news fragments to the first comment. Some of them are already in the news fragments, and some of them may turn out to be irrelevant, but that's easier to work with than the original 167 commits :)

[2021-08-04 14:55] pquentin commented on #2065
Should we turn this into a good first issue? Anyone can add a few news fragments, once merged we can mark them as done above. See https://github.com/urllib3/urllib3/tree/main/changelog for the related documentation.

Or is this something that we should do ourselves?

[2021-08-04 15:05] sethmlarson commented on #2065
@pquentin We should probably do this ourselves, otherwise it'll be a lot for us to manually review anyways.

[2021-08-05 18:37] techtonik commented on #1003
So `NameResolutionError` only triggers when there is no DNS record, right? And if DNS server is not responding, a `TimeoutError` is raised. Is that it?

I wonder if `urllib3` should support detecting if DNS server is down vs main server is down.

https://github.com/psf/requests/issues/3630

[2021-08-07 20:58] inam4 commented on #1653
I got this error while using selenium. My "driver.get" was inside the loop while the driver path was outside.
The error was resolved when I place the path inside the loop.
**Error code:**
[code]

**Correct code:**
[code]

[2021-08-12 03:15] chetanugale commented on #2103
@boyuan12 @sethmlarson did we fix this issue or can I work on it?

[2021-08-12 03:16] sethmlarson commented on #2103
@chetanugale I believe this issue is available for you to work on :)

[2021-08-12 03:18] chetanugale commented on #2103
thanks @sethmlarson 👍

[2021-08-12 12:26] pquentin commented on #1003
Right! (Well technically there are other possible errors: see "Return Value" at https://linux.die.net/man/3/gai_strerror.) This was the original request from psf/requests#3630 which can now be solved. Well, or at least if could if it was not in feature freeze. Sorry for the five years delay.

I'm not sure how useful that would be, but in any case that would be a different issue.

[2021-08-12 12:57] pquentin opened #2368 "Handle `https:///`, `https:/` and `https:\` as `https://`"
### Subject

parse_url in urllib3 mishandles certain uses of extra slash or backslash (such as `https:///`, `https:/`, `https:\`) and interprets the URI as a relative path. Browsers accept extra slash or backslash after the protocol, and treat it as a normal slash, while parse_url sees it as a relative path.

Full disclosure: this was originally sent to us as a security vulnerability, but as the r

[2021-08-12 13:25] #2103 closed

[2021-08-12 15:24] chetanugale commented on #2368
@pquentin can I pick this issue?

[2021-08-12 15:31] pquentin commented on #2368
Sure!

[2021-08-15 02:23] sethmlarson opened #2373 "Set SSLContext.minimum_version to TLSv1.2 by default"
Starting in https://github.com/urllib3/urllib3/pull/2002 we deprecated negotiating TLSv1 and TLSv1.1 with the default TLS configuration. Users would have to opt-in to earlier TLS versions to not encounter a `DeprecationWarning`. Now in 2.0 we should remove the deprecation warning and instead configure TLS 1.2+ as the default minimum version.\

This has also been done to Python 3.10 with `ssl.creat

[2021-08-15 04:30] pquentin commented on #2191
We'll use version detection, https://docs.python.org/3.10/library/ssl.html#ssl.SSLContext.hostname_checks_common_name documents the version where this works.

Not sure for PyPI yet.

[2021-08-15 20:43] #2313 closed

[2021-08-17 17:14] #2110 closed

[2021-08-17 17:14] #2373 closed

[2021-08-18 07:33] pquentin opened #2377 "Collect mypy requirements in their own file"
We currently install mypy dependencies one by one:

https://github.com/urllib3/urllib3/blob/0a4839af7103e9ad71d26bf5ba7914e765577efe/noxfile.py#L162-L169

It was fine initially, but we currently install 8 dependencies that way. That's slower than necessary and isn't a format tools like dependabot can understand.

Instead, put those dependencies in a file called `mypy-requirements.txt` and install

[2021-08-18 08:05] pquentin opened #2378 "Fix missing link targets in docs"
Since the BaseHTTPResponse split in #2083, various links in the docs are broken. Here's how the [Response Content](https://urllib3.readthedocs.io/en/stable/user-guide.html#response-content) looks like:

<img width="580" alt="Screenshot 2021-08-18 at 11 34 23" src="https://user-images.githubusercontent.com/42327/129857043-3f8ddf59-fa22-4c27-b8c9-9333d4a2194c.png">

There are other cases, eg. the AP

[2021-08-18 08:07] pquentin commented on #2168
For reference, PEP 644 was accepted for Python 3.10.

[2021-08-18 11:03] #2377 closed

[2021-08-18 16:04] V1NAY8 commented on #2378
`-W` flag has to be removed in `noxfile.py` in `docs` method, otherwise it stops at the first error

[2021-08-19 11:13] achapkowski commented on #2244
I have a similar issue with proxies and connecting to any site using urllib3.  These current fixes do not resolve the issues.

Here is my full stack trace:

[code]

I've tried monkey patching the ssl and urllib hostname checking functions:

[code]

Just to see if I could get around this issue, but it still bubbles up.  It seems that when a context is given the proxy does not honor that context.  S

[2021-08-19 12:20] pquentin commented on #2244
@achapkowski Can you please open a new issue with more details about your environment? Your problem seems different, even if it's also a TLS issue involving proxies

[2021-08-20 08:10] pquentin commented on #2191
PyPy does not support this at all: https://foss.heptapod.net/pypy/pypy/-/issues/3539. So we'll continue to use our own matching there.

[2021-08-20 11:10] pquentin commented on #2191
The problem with reporting bugs to PyPy is that they get fixed quickly :D. Thanks @mattip for this! The good news is that on PyPy checking for `ssl.HAS_NEVER_CHECK_COMMON_NAME` is going to be enough, we don't have to worry about https://bugs.python.org/issue43522.

[2021-08-20 11:29] mattip commented on #2191
(PyPy already had much of the fix for the issue in re-using CPython's stdlib v3.8.10, PyPy only needed to additionally expose the `_ssl.HAS_NEVER_CHECK_COMMON_NAME` attribute which I missed when updating the code for Python3.8)

[2021-08-20 11:40] sylvainmouquet opened #2385 "builtins.TypeError in connectionpool.py (line 440)"
### Subject

Hello,

I have some errors  :

connectionpool.py
line 440 : builtins.TypeError

python 3.8

![image](https://user-images.githubusercontent.com/184874/130227760-2082b47a-e6bd-4135-b6cd-66db02b6554b.png)

i will try to get more information about it

[2021-08-20 12:11] pquentin commented on #2385
Without having at least the urllib3 version, there's not much we can do. I'll reopen when we have more info

[2021-08-20 12:11] #2385 closed

[2021-08-20 12:18] sylvainmouquet commented on #2385
__version__ = "1.26.6"

[2021-08-20 12:21] sethmlarson commented on #2385
Looks like that line is `conn.getresponse()` which is the standard library so you'll have to give us a full traceback along with the code you're using to trigger the error for us to diagnose further.

[2021-08-20 12:34] sylvainmouquet commented on #2385
ok i try to find more information about this error

[2021-08-20 13:48] sylvainmouquet commented on #2385
[code]

[2021-08-20 18:19] pquentin commented on #2385
Thanks! However, do you have an actual traceback instead of those lines of code?

[2021-08-22 17:30] pquentin opened #2386 "Fix socks.py coverage drop"
We use codecov to make sure we stay at 100% coverage, which is incredibly valuable to catch bugs and maintain high code quality. This means that each line needs to be covered by at least one run. And this is no longer the case for this line:

https://github.com/urllib3/urllib3/blob/25ed51f319a3c6920bb5bd959924ca80925ee120/src/urllib3/contrib/socks.py#L144-L146

This looks like defensive code and a

[2021-08-24 11:18] bluetech commented on #2386
I figured we need to find the test which is supposed to cover this line. So I pulled your revert PR #2388 which reports 100% coverage and added a `breakpoint()` above the uncovered line, but it didn't trigger. So I'm not sure how it's covered - maybe some test that's skipped here.

If you don't mind, I'll use your PR to try to figure it out, namely I'll add some `raise BaseException('BOOM')` and s

[2021-08-24 18:45] pquentin commented on #2386
I don't mind, otherwise I wouldn't allow other maintainers to modify my PRs. :)

That sounds like a great plan!

[2021-08-24 19:56] bluetech commented on #2386
That didn't work either - 100% and all CI tests green. I will look at this more tomorrow.

[2021-08-28 16:12] jaraco opened #2396 "Invalid file object in urlopen on Jython"
In psf/requests#3992, the user reports an issue where `urlopen` fails with a `ValueError: Invalid file object`.

If the issue is not going to be fixed, it would be nice to at least exclude `Jython` from the supported Python implementations in the package metadata so that `pip install requests` will only pick up viable versions of requests on Jython.

[2021-08-29 03:18] #2065 closed

[2021-08-29 19:55] #2067 closed

[2021-08-29 20:00] sethmlarson commented on #2396
Hmm, we haven't tested against Jython is a really long time. I wonder if we lost compatibility after https://github.com/urllib3/urllib3/commit/9782e1f866aa6d0d176dce8678aee448aeb492dd which was first released in 1.23.

[2021-08-29 20:07] sigmavirus24 commented on #2396
Jython is also only supporting Python 2.7 iirc and barely maintained last I checked. I don't think anyone should be spending significant time supporting it at this point - especially since it's the implementation that doesn't behave according to the reference implementation (CPython) or any other implementation (PyPy for example).

[2021-08-29 20:08] sigmavirus24 commented on #2396
This bit doesn't belong on urllib3. It's hard to know when compatibility broke and there have likely been many many releases of both urllib3 and requests since then, none of which we can update after-the-fact to indicate that they don't support Jython

[2021-08-29 20:41] sethmlarson commented on #2396
Yeah I don't think there's much we can do, Python 2.7 is not going to be supported in v2.0 and if we lost compatibility that long ago and this is the first we're hearing of it I'm not sure the reward vs. effort is worth it. Going to close this one.

[2021-08-29 20:41] #2396 closed

[2021-08-30 06:46] #2269 closed

[2021-08-30 09:56] Foorack commented on #843
#904 has been merged, does that resolve this Issue? @haikuginger

[2021-08-30 11:03] Foorack commented on #843
#904 was merged, but what happened with this? It was merged into branch "sessionmanager", but that doesn't exist anymore. Was it dropped?

[2021-08-30 11:07] Foorack commented on #1944
Any reason SessionManager was dropped? We are currently in a situation where we need the PoolManager to have global cookie state, and this would have been incredibly easy way to achieve that.

[2021-08-30 12:32] pquentin commented on #2396
Not only I don't know how to do that, but how would it help? Many released versions are already broken

[2021-08-30 15:56] notatallshaw commented on #2282
FYI I do work use Python with sites that use ntlm authentication. But historically I've used, and the only library other ntlm users have recommended, https://github.com/requests/requests-ntlm which is also no longer maintained and stopped working from urlib3 1.25.4 onwards anyway.

So as someone who still occasionally uses ntlm for legacy sites I wasn't even aware urllib3 had a corresponding modul

[2021-08-31 09:34] abitrolly commented on #1944
1. API for working with DNS queries during requests
  - intuitive exception hierarchy
  - step by step execution (like do DNS lookup + certificate check only)
  - detect DNS problems
    - no connection to DNS servers
    - no DNS record (the same response if the domain is expired?)
    - DNS server returned error
  - information about domains
    - if certificate is valid, when it expires
    - d

[2021-09-01 11:44] janemba opened #2400 "TLS-in-TLS not working with IP proxies"
### Subject

I'm trying to send a GET HTTP request to an HTTPS website through a secure proxy. The proxy only allows TLS connection with basic authentication.

To achieve this, I use a `ProxyManager`.

As result the following exceptions is triggered:
[code]

### Environment

[code]

### Steps to Reproduce

You need an HTTPS proxy with basic authentication and an HTTPS website as an example:

[code

[2021-09-01 11:51] sethmlarson commented on #2400
TLS-in-TLS proxy support was added in urllib3 v1.26.0, could you upgrade and try again?

[2021-09-01 12:08] janemba commented on #2400
I tried with version `1.26.6` and I got the same result.

[code]

[2021-09-01 12:19] janemba commented on #2400
Is there any way to get some log related to the TLS certificate processing from urllib3 ?

[2021-09-01 12:22] pquentin commented on #2400
Is your proxy configures as an IP address?

[2021-09-01 13:04] janemba commented on #2400
Yes, I'm using the following format `https://1.2.3.4:443`

[2021-09-01 14:38] pquentin commented on #2400
Congratulations, you just found a bug! We send SNI even though we should not when the proxy is an IP. (That's what the error message says.)

A workaround would be to use an hostname if you have one or just stop using TLS-in-TLS. (This has nothing to do with basic authentication.)

[2021-09-01 15:24] janemba commented on #2400
Oh thank you :-(

Well I will wait for an update :-D

[2021-09-07 12:30] Kcam9908 commented on #2400
Hi there, I'm currently working on a project that relies on a vulnerability fixed in v1.26.5, but this issue keeps me from using our proxies correctly. I have a deadline to meet this week, and was wondering if there is an estimated release that fixes this bug, or possibly a workaround?

[2021-09-07 15:22] sethmlarson commented on #2400
@Kcam9908 TLS-in-TLS proxies were added in 1.26.0 and if I'm understanding correctly this issue has always been in the TLS-in-TLS proxies. You should be able to use HTTPS-to-HTTP and HTTP-to-HTTPS proxies which have "always" been available in urllib3 just fine. What I'm saying is you probably aren't "newly" impacted by this issue if you've recently upgraded to 1.26.x?

Does this make sense? Let me

[2021-09-07 15:43] Kcam9908 commented on #2400
No, it is not a new problem, version-wise. All current 1.26.x versions are not working. My team was using an out of date version (1.25.8), and until recently we didn't have to update. We found a vulnerability that required updating, which then broke it.

[2021-09-07 15:50] sethmlarson commented on #2400
Could you share your configuration? There was an unfortunate situation in urllib3 where we never documented support for TLS-in-TLS proxies pre-1.26.0 but trying to use it didn't fail with an error it instead "kinda worked" by doing HTTP on the proxy and HTTPS for the target.

Basically your "solution" may be to use a proxy with `http://` and target `https://` for the website you're visiting which

[2021-09-08 02:27] jaraco commented on #2396
I was thinking you could (a) re-release a few older versions with an 0.0.1 bump and including the exclusion followed by (b) yank the older versions (such that they only get installed when specifically requested).

But I realized the feature I was thinking of (`python_implementation` marker) only applies to dependencies and not `python_requires`, so you're right, I'm also not aware of any way to ac

[2021-09-09 06:26] VaniKulkarni commented on #2244
Any updates on this issue, we are using python 3.9.7 and with proxy server, we are not able to build \ pip install packages

[09:39:21]Traceback (most recent call last):

[09:39:21] File "C:\Program Files\Python39\lib\site-packages\pip\_internal\cli\base_command.py", line 173, in _main

[09:39:21] status = self.run(options, args)

[09:39:21] File "C:\Program Files\Python39\lib\site-packages\pip\_i

[2021-09-09 08:07] bluetech commented on #2386
I found the problematic branch (see current PR diff). But when I change it to BOOM it's covered by a bunch of tests so I'm pretty confused.

Since I don't have more time to investigate it, I suggest we remove the `from e` from this branch with a comment referring to this issue and leave it at that.

[2021-09-09 08:15] pquentin commented on #2386
Ok, let's do that for now. 👍

[2021-09-09 12:30] achapkowski commented on #2244
I am using fiddler to monitor some traffic locally on windows 10 machine.

So to mimic my setup:

1. Install fiddler 4
2. Setup to capture the HTTPS traffic
3. Use an IP Address for the Proxy: 127.0.0.1:8888 is the default
3. Send a GET/POST to your favorite website
4. Get the hostname mismatch error (or as I like to say despair lol)

[2021-09-09 12:46] pquentin commented on #2244
@achapkowski @VaniKulkarni You're getting hit by #2400, can you please stop commenting about it here?

[2021-09-10 09:21] mejuhi opened #2408 "While making a request to a server (supporting HTTP/2.0 ) it receives HTTP status code 503 with response body as "upstream connect error or disconnect/reset before headers. reset reason: remote refused stream reset""
### Subject

While making a request to HTTP/2.0 server, some requests end up with `503` with response body as `upstream connect error or disconnect/reset before headers. reset reason: remote refused stream reset`

It feels like connection gets closed even before whole request is sent and hence it is unexpectedly terminated for few requests and we receive this error.
### Environment

Describe your

[2021-09-10 11:24] mejuhi commented on #2408
Do you thing is it due to streaming? and will [`preload_content=False `](https://urllib3.readthedocs.io/en/latest/advanced-usage.html?highlight=stream#streaming-and-i-o)help us in this issue?

[2021-09-10 13:00] sethmlarson commented on #2408
So we'll likely not be able to diagnose "why" you're seeing this error, you'll likely have to know the HTTP server being used and do your own research. urllib3 uses HTTP/1.1 only so there's no HTTP/2 component to this issue, the server likely supports multiple HTTP versions if you're using urllib3 successfully.

Using `preload_content` likely won't solve your issue, this only changes whether we re

[2021-09-10 13:00] #2408 closed

[2021-09-10 14:38] Kcam9908 commented on #2400
I noticed there was a PR opened. Do you guys have a timeline for when the fix for this issue will be released? My team and I are trying to make a decision moving forward.

[2021-09-10 14:41] sethmlarson commented on #2400
@Kcam9908 Did you read [my reply to you directly above](https://github.com/urllib3/urllib3/issues/2400#issuecomment-914423605)?

[2021-09-10 15:02] Kcam9908 commented on #2400
Thanks for the response, I will look into the workaround. For management purposes, could you please let me know when this fix will be released?

[2021-09-10 15:04] sethmlarson commented on #2400
@Kcam9908 There is no set timeline, we'll start the release process when the PR is merged.

[2021-09-11 18:44] jalopezsilva opened #2409 "Add support for assert_proxy_cert_fingerprint and assert_proxy_hostname"
For v2, it would be nice if we expand the ways we can match an HTTPS proxy certificate. After #2407  is merged, we'll only have hostname verification but it would be ideal to be consistent in what we support for HTTPS destinations.

### Minimum requirements

:moneybag: **You can get paid to complete this issue! [Please read the docs for more information](https://urllib3.readthedocs.io/en/latest/co

[2021-09-11 19:54] jalopezsilva opened #2410 "Add a dummy HTTPS proxy that can be used for debugging / development"
HTTPS proxies are not that common and setting one up through nginx or squid is not trivial. We need an easy way for the core team to be able to run an HTTPS proxy, test new features, debug, etc.

I'll aim to create a ``dummyserver/https_proxy`` that can be run locally with minimal set up.

[2021-09-14 12:02] pquentin commented on #2386
Closing as we're unlikely to investigate the root cause now. If someone wants to do it it's always possible, even with this issue close. :)

[2021-09-14 12:02] #2386 closed

[2021-09-16 06:51] yangxiaoyu2020 commented on #1366
Still not fix? Does anyone have some solution to this issue?

[2021-09-17 02:49] #2240 closed

[2021-09-17 07:40] pquentin commented on #2378
@V1NAY8 Do you still intend to work on this?

[2021-09-17 08:30] V1NAY8 commented on #2378
Nope. It's good for anyone else to pick :)

[2021-09-17 12:33] V1NAY8 commented on #2378
@pquentin I did some work on this. This is still open for anyone else to contribute for other missing links

[2021-09-17 14:48] #2320 closed

[2021-09-17 16:15] #2243 closed

[2021-09-22 16:55] sethmlarson opened #2423 "Remove integration tests for Botocore with Python 2.7"
Botocore dropped support for Python 2.7 in July so we don't have to do integration testing with Botocore+Python 2.7 on the 1.26.x branch any longer.

Reference: https://github.com/urllib3/urllib3/pull/2422

[2021-09-22 18:08] imkaka commented on #2423
I will work on this.

[2021-09-24 09:23] pquentin commented on #2400
This was fixed in https://github.com/urllib3/urllib3/pull/2419 and released as part of 1.26.7.

[2021-09-24 09:23] #2400 closed

[2021-09-24 23:31] #2423 closed

[2021-09-29 12:23] sethmlarson commented on #2410
Closed in https://github.com/urllib3/urllib3/pull/2435

[2021-09-29 12:23] #2410 closed

[2021-09-29 22:52] kloczek opened #2437 "1.26.7: pytest is failing"
### Subject
Looks like few test units are failing
### Environment
Linux/x86_66. Python 2.8.12
### Steps to Reproduce
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib in

[2021-09-30 00:11] sethmlarson commented on #2437
You have a [history of opening issues](https://github.com/urllib3/urllib3/issues/created_by/kloczek) when your local run test suite fails. As you can find yourself our [1.26.x branch is passing on Linux+Python 2.7](https://github.com/urllib3/urllib3/runs/3701763775?check_suite_focus=true), so the issue is not with our test suite.

Do not open issues like this any longer as they've all been a waste

[2021-09-30 00:11] #2437 closed

[2021-09-30 14:56] sethmlarson opened #2438 "Add support for public key pinning"
In Python 3.10 there were private APIs `SSLObject.get_verified_chain()` and `_ssl.Certificate.public_bytes(_ssl.ENCODING_DER)` methods added. In theory this means we can support pinning any certificate within the chain instead of only the peercert. This is great news as pinning only the peercert wasn't as useful as it doesn't allow for certificate rotation or for multiple leaf certificates to be v

[2021-09-30 22:59] AdamWill commented on #2200
I'm still seeing two deprecations with Python 3.10 rc2 and urllib3 1.26.7:

    /usr/lib/python3.10/site-packages/urllib3/connection.py:542: DeprecationWarning: ssl.match_hostname() is deprecated
      match_hostname(cert, asserted_hostname)
    /usr/lib/python3.10/site-packages/urllib3/util/retry.py:38: DeprecationWarning: Using 'Retry.DEFAULT_METHOD_WHITELIST' is deprecated and will be removed i

[2021-09-30 23:02] AdamWill commented on #2200
oh, the second one is probably a deprecation warning in the app I'm running, ignore that. But the `ssl.match_hostname()` one is in urllib3 itself.

[2021-10-01 06:06] pquentin opened #2439 "Vendor ssl_match_hostname to avoid Python 3.10 deprecation warning"
As reported by @AdamWill in https://github.com/urllib3/urllib3/issues/2200#issuecomment-931759912, we're issuing deprecation warnings for using `ssl_match_hostname` on Python 3.10:

[code]

We should probably fix that as we're relying on users fixing 1.26.x deprecation warnings before moving to 2.0. In that case, the fix is vendoring `ssl_match_hostname` as `SSLContext` alternatives does not suppo

[2021-10-01 06:06] pquentin commented on #2200
Right, only the `ssl.match_hostname` are our faults. Opened https://github.com/urllib3/urllib3/issues/2439 to fix it.

[2021-10-01 12:45] Pradhvan commented on #2439
I can give it a shot. 😄

[2021-10-01 17:54] srl295 opened #2440 "unclear which certificate failed"
### Subject

SSL failures don't say which cert expired

### Environment

Python 3.8.8 Windows 10 (Anaconda)

### Steps to Reproduce

I actually can't repro this on my own system, but others have. Here is some sample code that failed in one environment

[code]

### Expected Behavior

successful run

### Actual Behavior

On some systems, a failure similar to the following.

[code]

So the root (haha

[2021-10-01 18:40] AdamWill commented on #2439
Thanks! I would've sent a PR but it was a bit tricky to figure out how to attack it with no prior knowledge of the project's architecture, sorry :)

[2021-10-01 20:50] sethmlarson commented on #2440
Unfortunately we don't get any visuals into the certificate chain, we only get the error (the error and message originate from OpenSSL, not even from Python) so I'm unsure if there's anything urllib3 can do here yet? Maybe with certificate chain support we can give a slightly better error message but even that's down the road from now.

[2021-10-01 21:03] srl295 commented on #2440
@sethmlarson I wondered if this would be the case. Basically, it sounds like urllib3 doesn't have any further details at that point, and one would have to do a separate diagnostic inquiry *with different API calls* to try to reproduce why the failure occurred. Am I right?

I got as far as `ssl.get_server_certificate((hostname, port))` before, and that just returned the cert I expected to see (whic

[2021-10-01 21:08] #2440 closed

[2021-10-02 00:13] sigmavirus24 commented on #2440
@srl295 I suspect you're bitten by https://github.com/certifi/python-certifi/pull/162 (not the fact that you're using certifi exactly so much as the certificate that has expired) and that `openssl s_client -showcerts` isn't even giving you exactly what you think it might be or isn't the same openssl that your Python is linked against. I don't know about anaconda but on Python, I believe we use the

[2021-10-03 16:53] pquentin commented on #2439
This is up for grabs again :)

[2021-10-05 13:19] chetanugale commented on #2439
@pquentin can I pick this issue?

[2021-10-05 13:44] sethmlarson commented on #2439
@chetanugale It's yours!

[2021-10-05 13:52] RatanShreshtha commented on #2378
I can pick this up

[2021-10-05 15:19] pquentin commented on #2378
@RatanShreshtha It turns out @V1NAY8 opened https://github.com/urllib3/urllib3/pull/2416, so if he's still interested please focus on a different file

[2021-10-07 14:18] sethmlarson commented on #2439
@chetanugale @Pradhvan Because there's some time sensitivity to this PR I'd recommend both of you work on this and whoever has a PR that's ready to merge first will be merged. Not trying to turn this into a race, I just know that I'm also guilty of committing to an OSS contribution but not quite sure when it'll get done due to real life concerns.

Thank you both for being interested in this, it's

[2021-10-07 15:54] sethmlarson commented on #2236
@Pradhvan You definitely can!

[2021-10-08 09:33] pquentin opened #2449 "[1.26] Remove Python 3.5 support"
See https://github.com/urllib3/urllib3/pull/2012 from @hramezani for inspiration. (Yay, this work will end up being useful.)

[2021-10-08 11:23] chetanugale commented on #2449
@pquentin @sethmlarson can I try this ?

[2021-10-08 20:47] #2191 closed

[2021-10-09 01:08] sethmlarson commented on #2105
This has been solved in https://github.com/urllib3/urllib3/pull/2434

[2021-10-09 01:08] #2105 closed

[2021-10-09 06:36] pradyunsg commented on #2105
Neato! Imma be annoying and ask: when's the release? 🙃

[2021-10-09 13:08] sethmlarson commented on #2105
@pradyunsg if no blockers are found then next week is the plan.

[2021-10-09 19:48] #1256 closed

[2021-10-09 19:58] #1337 closed

[2021-10-09 19:58] #1334 closed

[2021-10-09 19:59] sethmlarson commented on #1321
This can be accomplished via sending `:Accept-Encoding": urllib3.SKIP_HEADER`

[2021-10-09 20:00] #1321 closed

[2021-10-09 20:03] sethmlarson commented on #886
Since SessionManager isn't being worked on currently we're going to decline this for now.

[2021-10-09 20:03] #886 closed

[2021-10-09 20:18] sethmlarson commented on #746
After reading https://github.com/python-trio/trio/issues/1792#issuecomment-723389327 I think we'll stick with NODELAY only instead of setting QUICKACK. Seems to be the best choice for a general-case library like urllib3.

[2021-10-09 20:18] #746 closed

[2021-10-09 20:35] #527 closed, assigned to nobody

[2021-10-11 10:26] pbasista opened #2457 "Add a possibility to log the body of an HTTP response"
If I understand correctly, this library currently does not provide a way to log HTTP response body. It seems like it has been the case for years now:

_Originally posted by @ssbarnea in https://github.com/urllib3/urllib3/issues/107#issuecomment-16168466_

Is it still true? If yes, would it be possible to add a way to log the body of all processed HTTP responses?

[2021-10-11 11:14] sigmavirus24 commented on #2457
I would be strongly opposed. The body of a response can contain very sensitive information (e.g., JWT secrets) and allowing users to log that without klaxons going off would be wildly irresponsible.

[2021-10-11 13:53] sethmlarson commented on #2457
Agree that we shouldn't be logging the HTTP response body, going to close this for the above reasoning.

[2021-10-12 00:14] sigmavirus24 commented on #2457
Ah yes, so we should provide the many millions of people who might unknowingly turn on logging a giant security hole to place right beneath them.

There are utilities for requests that could make this simpler, but it takes a lot of assumptions about how the libraries are used and those assumptions are flat out wrong.

It can be done in a way that is opt-in with the utmost understanding of what's h

[2021-10-14 07:43] pquentin opened #2459 "[CI] Switch to the new codecov uploader"
As announced in https://about.codecov.io/blog/introducing-codecovs-new-uploader/, the Bash uploader that we currently use is deprecated. It will stop working on February 1, but [15 minutes brownouts are already happening](https://about.codecov.io/blog/codecov-uploader-deprecation-plan/).

Here's the file that needs to change: https://github.com/urllib3/urllib3/blob/main/ci/upload_coverage.sh (we'l

[2021-10-14 09:24] imkaka commented on #2459
I will work on this.

[2021-10-17 01:47] wyhhyw123 opened #2461 ""Connection broken: InvalidChunkLength(got length b'', 0 bytes read)", InvalidChunkLength(got length b'', 0 bytes read)"
I tried to download a large file (70GB+) in the format of stream, and then read the content from response using iter_content, but i got this error, how can solve it? thanks a lot.

[2021-10-20 03:45] VeNoMouS opened #2467 "urllib3.response.HTTPHeaderDict does not merge Set-Cookie correctly"
### Subject

Describe the issue here.

### Environment

Describe your environment.
HTTPHeaderDict does not merge `Set-Cookie` correctly, it duplicates the first item for each item..

[code]

### Steps to Reproduce

Refer code snippet

### Expected Behavior

Each cookie value should be represented..

### Actual Behavior

`Set-Cookie` becomes a duplicated mess of the first cookie..

[code]

[code]

[2021-10-20 05:32] pquentin commented on #2459
Please go ahead :) You don't need permission to work on it, declaring intent (as @imkaka did) is enough, and even that is not mandatory

[2021-10-23 11:27] meetdash opened #2471 "Noxfile.py: Add @nox.session to tests_impl and change all 'session: Session' to 'session'"
### Subject

On running the testsuite, nox throws AttributeError: module 'nox' has no attribute 'Session'

### Environment

OS Linux-5.13.0-7614-generic-x86_64-with-glibc2.33
Python 3.9.5
urllib3 1.26.2

### Steps to Reproduce

I was trying to execute the parse_url test:
nox --reuse-existing-virtualenvs --sessions test-3.9 -- test/test_util.py::TestUtil::test_scheme_host_port
But simply running th

[2021-10-23 16:56] #2471 closed, assigned to nobody

[2021-10-26 12:08] pquentin opened #2472 "[1.26] ssl_match_hostname is not fully covered"
The 1.26.x branch no longer has 100% coverage since we merged https://github.com/urllib3/urllib3/pull/2448.

https://app.codecov.io/gh/urllib3/urllib3/blob/bb3c2942702b84a9a86057044e61d7b885028471/src/urllib3/util/ssl_match_hostname.py

The main branch does not have this problem, so it could make sense to see if we have the same lines or not there, and try to trigger a test failure in those in the

[2021-10-26 12:13] #2459 closed, assigned to nobody

[2021-10-29 18:25] stephan-hof commented on #1252
I had the same question and did an investigation by looking at the code.
I simplified it to the following:
[code]

I basically repeat what @reversefold already said (thanks), just in different words.

Even more simplified:
If you have many threads, opening connections to more hosts than configured in `num_pools`, urllib3 is not safe.

As already correctly analysed by @reversefold (really - you did

[2021-10-30 09:05] vbarbaresi opened #2475 "PoolManager retries argument is not passed down to requests"
### Subject

The documentation states that `retries` argument can be passed to a `PoolManager` to be used as default in pool requests:
https://urllib3.readthedocs.io/en/latest/reference/urllib3.util.html#utilities

It seems that `retries` is actually ignored in the pool requests

### Environment

[code]
Also reproduced in development mode in `urllib3` `main` branch

### Steps to Reproduce

[code]

[2021-11-01 15:08] #2252 closed

[2021-11-02 04:49] 89z commented on #2101
The issue is that Google employs TLS fingerprinting for certain requests, namely the `EncryptedPasswd` request to the `/auth` endpoint. What interesting is other request on the same endpoint work fine, for example this request:

[code]

I fixed this in my own case by capturing and reusing the Client Hello from Android. If any interested the JA3 is:

[code]

So any package that can handle JA3 shoul

[2021-11-02 08:46] bennylut commented on #1252
@stephan-hof,

Does it means that this subclass is a thread safe alternative? ( in my tests it seems to work but I am sure I didn't cover many scenarios )

[code]

[2021-11-02 10:07] jkuebart commented on #2101
@89z this sounds interesting, thank you for the pointer.

Could you elaborate a little on how this could be used to set up a working `HTTPAdapter`? In [my comment above](https://github.com/urllib3/urllib3/issues/2101#issuecomment-774416304) I used certain ciphers and SSL options to produce working requests. Is it possible to do this automatically given a JA3 fingerprint? If so, how?

[2021-11-02 10:29] stephan-hof commented on #1252
@bennylut I would say yes, since you delay the close and let the garbage collector trigger it.
This time via `__del__` and not weakref.

Just for completeness, this class is not enough. This change is also needed to make it thread safe.
[code]

[2021-11-02 10:36] Merkus622 commented on #869
ФАФАФАФААФ

[2021-11-02 12:28] sethmlarson commented on #1252
@stephan-hof Thanks for suggesting a method to solve this issue, could you open a PR with your patch to `main` and we can discuss+refine your solution? Then you won't need the `finalize` backport since it's Python 3.7+

[2021-11-02 13:35] 89z commented on #2101
You need a package that can do the following:

1. Parse JA3 into a TLS Client Hello object
2. Create an HTTP transport object using the client hello object
3. Make a request using the HTTP transport object

I wrote [my own][1] for this purpose, but I think the link in my previous comment has a Python implementation.

[1]://pkg.go.dev/github.com/89z/parse/crypto

[2021-11-04 07:44] eighthave commented on #1898
Another detail to keep in mind: TLS Sessions can be used like a cookie.  In TLSv1.2, that cookie is plain text, so any network that the packet passes through can see it.  It is encrypted in TLSv1.3, but the server can still use it as a cookie.

* https://www.theregister.com/2018/10/19/tls_handshake_privacy/
* https://gitlab.torproject.org/legacy/trac/-/issues/4099

[2021-11-04 12:45] pquentin commented on #1991
Here's an example where this would have helped: https://discuss.elastic.co/t/esrally-could-not-connect-to-your-elasticsearch-metrics-store/288403

[2021-11-05 13:20] sethmlarson opened #2477 "Understand OpenSSL 3.0 failures"
OpenSSL 3 is supported by Python, we should try running urllib3's test suite against Python using OpenSSL 3.

Easiest route might be to use Docker in GitHub Actions with Fedora's "rawhide" image:
- https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#runs-for-docker-actions
- https://hub.docker.com/_/fedora

### Minimum requirements

:dollar: **You can get paid to

[2021-11-08 17:41] maxyousif15 opened #2480 "Unable to import reraise from `util/util.py`"
### Subject

Unable to import `reraise` function from `urllib3/util/util.py`. The test file https://github.com/urllib3/urllib3/blob/main/test/test_util.py#L38 indicates that utilities from that file are being tested, but not the `reraise` method.

### Environment

[code]

### Steps to Reproduce

[code]

### Expected Behavior

To be able to import the utility functions defined in `util/util.py`

##

[2021-11-09 03:09] pquentin commented on #2480
`urllib3.util.util` is a new module in the main branch for the upcoming 2.0 release. It doesn't exist in the 1.26.x branch which was used for the 1.26.7 release.

We don't test reraise directly (maybe we could) but we test it indirectly as we maintain 100% test coverage.

[2021-11-09 03:10] #2480 closed

[2021-11-09 03:15] pquentin commented on #2480
By the way, those utilities were never part of our public API, please install and use the six package if you need them!

[2021-11-09 17:14] leoalonso3053 opened #2481 "HTTPConnectionPool - unable to limit queue time in pool using "timeout""
### Subject
I have been unable to find a combination of Timeout settings that will constraint the amount of time a request will wait in-queue awaiting an opportunity to send in request.

Setting the timeout generally (i.e. timeout=10) is suppose to reflect both queue time plus read time but doesn't appear to work as expected it instead only times out if read time exceeds this value. I have also tr

[2021-11-11 18:09] misha778 commented on #2475
Thank you! it's a pity that doesn't help for requests, it doesn't seem to be using the poolmanager urlopen method.

[2021-11-11 19:38] misha778 commented on #2475
with a timeout error, retry is working fine
`retry = Retry(total=5)
http = urllib3.PoolManager(retries=retry, timeout=2)

r = http.request("GET", "https://httpbin.org/delay/10")`

[2021-11-12 10:02] pquentin commented on #2477
I haven't worked on the GitHub Actions part (this part is still up for grabs!), but came up with a Dockerfile:

[code]

Just run it using `docker build .`. To compare with OpenSSL 1.1.1, just use "fedora:35" instead. This is useful because there are errors with the Python shipped by Fedora that are not about the switch to OpenSSL 3.0.0. Here are the six errors that are specific to OpenSSL 3.0.0:

[2021-11-12 13:46] vbarbaresi commented on #2475
Indeed, for timeouts it goes through a different codepath in `connectionpool.urlopen()`

It default on `self.retries` when `retries` is not passed as keyword argument:
https://github.com/urllib3/urllib3/blob/fac7db19a1e8e15e5b302e2203ce35cd0485bc88/src/urllib3/connectionpool.py#L642-L643

So this only affects other type of errors like redirects (in `poolmanager.py`)

[2021-11-12 23:25] sethmlarson opened #2486 "Try our test suite against PyPy 7.3.6 (Python 3.8 beta)"
We currently test against pypy-3.7 but last month PyPy 7.3.6 added beta support for Python 3.8. @pquentin psubmitted an issue](https://foss.heptapod.net/pypy/pypy/-/issues/3539) that was fixed and released in this beta version, we should test the beta version before a stable release to see if the fix was successful.

We don't necessarily need to run this test suite on every PR yet (although that i

[2021-11-12 23:43] hugovk commented on #2486
PyPy 7.3.7 is also out now:

* https://www.pypy.org/posts/2021/10/pypy-v737-release.html

(There's no mention of beta in the 7.3.7 release, and [7.3.6](https://www.pypy.org/posts/2021/10/pypy-v736-release.html) said 'Since this is our first release of the interpreter, we relate to this as "beta" quality' so maybe 7.3.7 isn't beta?)

[2021-11-13 14:33] sethmlarson commented on #2344
Closing this issue as we've completed type hints on all tests!

[2021-11-13 14:33] #2344 closed

[2021-11-13 14:42] sethmlarson commented on #1974
I think for now we're setting translations aside.

[2021-11-13 14:42] #1974 closed

[2021-11-13 14:48] sethmlarson commented on #1825
Closing this issue as we're exploring OpenSSL 3 separately.

[2021-11-13 14:48] #1825 closed

[2021-11-13 14:49] sethmlarson commented on #1501
We haven't had this reported to us again in some time, going to close this as potentially a transient issue with App Engine? Without more information it's tough to know the root cause. (Plus App Engine isn't getting special attention in v2.x+)

[2021-11-13 14:49] #1501 closed

[2021-11-13 14:50] sethmlarson commented on #1476
Not sure what was causing your issue, the pastebin appears to have expired. Please reopen a new issue if you're still experiencing this.

[2021-11-13 14:50] #1476 closed

[2021-11-13 15:46] sethmlarson commented on #888
Since SessionManager isn't currently being developed I'm going to close this issue.

[2021-11-13 15:46] #888 closed

[2021-11-13 15:47] sethmlarson commented on #868
Going to close this as `SessionManager` isn't being developed currently.

[2021-11-13 15:47] #868 closed

[2021-11-13 15:49] sethmlarson commented on #702
We've now eliminated `urllib3.packages` and therefore no unbundling should happen in 2.0 and beyond. For 1.26.x OS packagers should continue to do what they've been doing.

[2021-11-13 15:49] #702 closed

[2021-11-13 15:50] sethmlarson commented on #694
We now only use `time.monotonic` when it's available. Closing this issue.

[2021-11-13 15:50] #694 closed

[2021-11-16 00:31] vitaly-krugl commented on #1172
I would like to propose for consideration a more general solution that does not involve making changes to the `Retry` class. I think that it may be possible to implement the other scenarios on top of this proposed solution.

This request is borne of the following scenario: The Authorization header required by the server infrastructure contains a timestamp (as well as a security token that incorpor

[2021-11-19 15:31] joaoheron commented on #1612
I'm facing the same issue on Selenium==3.141.0 and urllib3==1.25.4.

[2021-11-19 19:23] AdamWill commented on #2057
Just wanted to chip in that I just ran slap bang into this same problem. Saw the deprecation warning when testing on urllib 1.26 (Fedora 35), switched to the recommended new method, then things started blowing up when deployed on a slightly older system that has urllib 1.25 (Fedora 34).

This does seem like a really aggressive deprecation schedule. It would've been nice if it had been smoothed out

[2021-11-19 21:43] menty666 commented on #1612
Same, with 3.1.4.0 and urlib3 1.26.7 as well as 1.25.11

This was with 1.25.11 in place:

`        Traceback (most recent call last):
          File "C:\Program Files\Python310\lib\site-packages\getgauge\executor.py", line 33, in execute_method
            step.impl(*params)
          File "c:\githubfiles\ecp\test_automation\step_impl\shared_impl\drivers\eg_drivers.py", line 154, in get_ecp_driver

[2021-11-22 17:21] felix-hilden opened #2491 "Automatic links from code examples to reference documentation"
### Proposal
Hi! I'd like to propose an improvement to urllib3's documentation. The change would make urllib3's functions and classes in code examples clickable to take the user to their reference documentation entries. I've built the documentation locally for a proof of concept, so here's the home page example:

![home page links](https://user-images.githubusercontent.com/25202257/142902973-70bac

[2021-11-22 18:48] arossert commented on #1071
I also need this ability in my line of work, as @andreabisello mentioned, I'm using this (Python3 only, can be adjusted to work with Pyhton2)

[code]

[2021-11-23 11:51] sigmavirus24 commented on #2491
How does this help when the rest of the code base is typically documenting things referenced on the exact same page, if not immediately before? Does this not create yet more confusion as the user hovers over it and wonders "Where does this take me?" when it just takes them a few paragraphs up?

[2021-11-23 12:02] felix-hilden commented on #2491
Do you mean the examples in reference documentation? Sure, that could be another case of slight indirection. I think most of the value would be in "User guide" and "Advanced usage".

[2021-11-23 15:39] sigmavirus24 commented on #2491
So your image is from the home page which is meant to illustrate super basic usage. It's front-page advertising. It's like showing how a child might play with a toy that requires assembly on the outside of a box. I don't think that code sample needs this treatment because it bypasses where we _want_ users to go (the User Guide to start with) who are new to urllib3 and passes them directly into the

[2021-11-23 16:12] felix-hilden commented on #2491
Entirely fair! As I said, the simple examples and relatively short documents could mean that urllib3's case is hurt more than aided by removing the prose links.

Noted, I appreciate the feedback 👍

[2021-11-23 16:24] sethmlarson commented on #2491
First off, this plugin is really awesome. Excellent work on it! :clap:

As much as I love magical plugins, I'm leaning towards what @sigmavirus24 said in that we want users to end up in "User Guide" instead of "API reference". However the links themselves are fairly unassuming and don't pull your eyes into them. If you had time I'd love to see a PR adding the plugin if only to see it in action wit

[2021-11-23 16:33] felix-hilden commented on #2491
I think the ping missed me, but anyways, thank you for the kind words!

With his well-thought-out explanation, I think I agree too. But I'd love to help if I can! Your theme is Furo already, so what do you mean? Or simply submitting a PR to see it in action fully?

[2021-11-23 16:34] sethmlarson commented on #2491
@felix-hilden Yeah! We build our docs on every PR and they can be viewed in a staging environment on RTD.

[2021-11-23 18:42] felix-hilden commented on #2491
I'm sure you got the notification anyway, but the PR is now live!

[2021-11-24 23:35] #2491 closed

[2021-11-29 17:21] ragazzojp commented on #1366
I confirm this behavior with 1.26.7 also when using _urllib3_ via _requests_. Passing two different timeouts makes it visible. If the connect timeout is large enough for the TCP connection to be established, but short enough for the TLS handshaking to fail, you get a `ReadTimeout` with the timeout value in its description matching the connection timeout specified, not the read timeout.

It's all a

[2021-12-01 20:22] 89z commented on #2101
https://github.com/ytdl-org/youtube-dl/issues/30296

[2021-12-06 08:41] valerio-bozzolan commented on #556
Just to say that this workaround was a good fix and that in Centos 7 that file is placed here:

[code]

Moreover, the root cause of the `certificate verify failed` can be fixed updating your CA certificates. For example in Centos 7 you can update them using:

[code]

[2021-12-07 20:07] garrettheel opened #2498 "Support for connection idle timeout"
### Context

What are you trying to do?

Timeout idle connections after a given period of time automatically.

How do you expect to do it?

I'd expect to be able to pass in a kwarg when creating a `ConnectionPool`, such as `idle_timeout=600` to timeout idle connections after 10 minutes.

Is it something you currently cannot do?

Correct, I read the docs/source and cannot find any functionality to

[2021-12-09 15:09] ragazzojp commented on #857
Is this problem still applicable after so many years? I'd say yes because I can reproduce cases where uploading large files using _requests_ and therefore _urllib3_ fails with `Time write operation timed out`.

[2021-12-10 01:32] sigmavirus24 commented on #857
No one was saying it wasn't applicable. That's why the issue is still open. As the constructive comment here says "We all agree on the usefulness of the change, we just need someone to do the work. =)"

[2021-12-10 08:07] ragazzojp commented on #857
I'm sorry, sometimes problems are fixed and issues left pending, especially if very old.

I can try to contribute with a fix, but before coding it I would specify better the overall behavior that is wanted, because IMHO it's this lack of specification that is causing the problem. I would specify explicitly that that `connect_timeout` is only the max time to establish a TCP connection, including TL

[2021-12-10 12:37] EnricoMi commented on #1445
A possible workaround **without changing urllib3** is to implement your own `Retry`, add the error code to `status_forcelist` and handle the response in `increment` instead of `is_retry`:

Here is a sketch, not actually tested code:
[code]

Not pretty but works.

[2021-12-10 12:44] EnricoMi commented on #1445
@sethmlarson is it worth providing a PR for the non-breaking solution proposed in https://github.com/urllib3/urllib3/issues/1445#issuecomment-890794221?

[2021-12-10 13:49] sethmlarson commented on #1445
@EnricoMi I think so! We can discuss the intricacies with code in front of us :) Thanks!

[2021-12-11 16:00] sethmlarson commented on #2498
Currently we don't have active idle connection cleanup as doing so would likely require background work (ie threads). Instead we have passive idle connection cleanup where a TCP connection naturally gets closed as a part of TCP_KEEPALIVE. When a connection is pulled from the pool it's checked to see if the underlying socket is still open and if not the connection is reopened.

Are there additional

[2021-12-11 20:23] EnricoMi commented on #1445
@sethmlarson ok, let's talk code: #2500. @Mr0grog do you think this would work for you?

[2021-12-11 22:55] Mr0grog commented on #1445
Yep, the approach in #2500 would certainly work for my case.

[2021-12-15 19:27] medihack commented on #1172
And another use case: I query the Github GraphQL API for commits of several repositories. Sometimes I get a sporadic 502 response because of a [maximum query time](https://github.community/t/persistent-502-when-querying/14374/4). Simple retries often don't help here, but it can be fixed by using a smaller page size. A page size of 100 works in most cases, so I want to make the default query by req

[2021-12-20 14:46] kloczek opened #2507 "1.26.7: sphinx errors"
### Subject
Looks like sphinx on rendering documentation hows some errors. However despite those errors it finishes with exit 0

### Environment

Describe your environment.
[code]
sphinx 4.3.1
### Steps to Reproduce
- `python3 -sBm build -w`
- `python3 setup.py build_sphinx -b man --build-dir build/sphinx`

### Expected Behavior
sphinx should render documentation without errors or warnings

### Ac

[2021-12-20 16:01] sethmlarson commented on #2507
We have a file who's sole purpose is to describe how to build our docs at `readthedocs.yml`.

I've warned you multiple times in the past to not waste maintainer time debugging setups that are clearly incorrect. In the interest of protecting maintainer time and patience you will lose the ability to open issues on GitHub.

[2021-12-20 16:01] #2507 closed

[2021-12-23 02:02] justlund commented on #2233
I will take a look at this issue!

[2021-12-23 15:32] jco-odoo opened #2508 "_is_key_file_encrypted tracebacks if keyfile param is not a filename"
### Subject
From v1.25, _is_key_file_encrypted is introduced to be able to use encrypted key files. However, if we do not want
_is_key

### Environment

As there is no way to set a Session.cert which is not a file and we want to avoid it for security reasons, we added a custom HTTPAdapter which made it possible to use the actual contents instead of the keyfile itself.  (for reference: https://gith

[2021-12-23 15:44] sethmlarson commented on #2508
The result of `_is_key_file_encrypted` is passed to [`SSLContext.load_cert_chain(keyfile=...)`](https://docs.python.org/3/library/ssl.html#ssl.SSLContext.load_cert_chain) which only accepts file paths, not key data. Which TLS backend are you using?

[2021-12-23 15:57] jco-odoo commented on #2508
Unless we override it...  Using the file system can be a security issue and it would be cool if the library could be improved to support passing the contents immediately.  And just putting the try...except might allow us to do it already without having to monkey-patch.

[2021-12-23 16:04] jco-odoo commented on #2508
Another way might be to put the method in a class, so it is easier to override.

[2021-12-30 18:27] rakitaj commented on #2449
Is this already complete? I grabbed main and I don't see any references to Python 3.5, and it looks like most or all of the work in #2456 is also done in main.

[2022-01-02 05:21] sethmlarson opened #2512 "Change set_file_position() type to use proper sentinel with _FAILEDTELL"
Currently `_FAILEDTELL` in `urllib3.util.request` uses `object` as a sentinel type, we should give this object the same treatment as `_DEFAULT_TIMEOUT` and switch to a `Final[Enum]`. This type should be used wherever `body_pos` is used.

cc @hramezani

[2022-01-02 15:55] imkaka commented on #2512
I will work on this.

[2022-01-02 16:45] sethmlarson commented on #2512
@imkaka Sounds good, I await a PR! 🙇‍♂️

[2022-01-02 17:41] sethmlarson opened #2513 "OverflowError: signed integer is greater than maximum"
Both of the below calls result in an `OverflowError` being raised because the `Content-Length` is longer than 3GB. OpenSSL only supports reading (2**31)-1 bytes in a single read call.

[code]

[code]

The fix would likely need to go into `urllib3.response.HTTPResponse` to limit the amount of data requested in a single call to `http.client.HTTPResponse.read(amt)`.

Originally reported in https://gi

[2022-01-03 13:58] sethmlarson commented on #1047
This problem is removed in v2.0 after dropping Python 2.7, going to close this issue.

[2022-01-03 13:58] #1047 closed

[2022-01-03 14:00] sethmlarson commented on #681
Since there has been no new reports of this issue in some time, I'm going to close this as resolved / wontfix? We can open a new issue if it arises again.

[2022-01-03 14:00] #681 closed

[2022-01-03 14:02] sethmlarson commented on #107
Since there's a work-around that mostly works in addition to this not being requested any other times I think we're going to pass on anything urllib3-specific to enable the stdlib debug logging.

[2022-01-03 14:02] #107 closed

[2022-01-03 14:05] #712 closed

[2022-01-03 21:17] sethmlarson opened #2515 "Transfer-Encoding: chunked chunk lengths uppercase and lowercase depending on where chunking happens"
Related to https://github.com/urllib3/urllib3/issues/2291, urllib3 currently sends both uppercase or lowercase hexadecimal characters for chunked encodings depending on if the chunking is handled by urllib3 or http.client. We should standardize on one casing and use that everywhere.

Chunked transfer encoding defined here: https://www.rfc-editor.org/rfc/rfc7230#section-4.1

[2022-01-05 13:26] #2512 closed

[2022-01-06 04:22] tomers opened #2523 "Parsing localhost with port using parse_url"
### Subject
When parsing URL which if of the pattern `localhost:<port>`, then `localhost` is parsed as `scheme` instead of `host`, and the port is parsed as `path` instead of `port`:
[code]

### Environment
OS Linux-5.4.0-92-generic-x86_64-with-glibc2.29
Python 3.8.10
urllib3 1.25.11

### Expected Behavior
[code]

### Actual Behavior

[code]

[2022-01-06 08:22] pquentin commented on #2523
Thanks for the clear bug report! As you mentioned in the requests issue, `parse_url` is not expected to work without a scheme, the current behavior is expected.

[2022-01-06 08:22] #2523 closed

[2022-01-09 22:20] sethmlarson commented on #2477
According to Christian, OpenSSL 3.0 support added in Python 3.10 is experimental: https://mail.python.org/archives/list/python-dev@python.org/thread/ATO4DM6QYZGLSGGDZ3TRN5X3QDD5OHOE/

[2022-01-10 13:15] pquentin commented on #2508
What are you suggesting to override?

I'm confused: what are you asking for exactly?

If someone passes `key_file`, isn't it expected that it gets read? We would also prefer to have an API that accepts file contents, but OpenSSL does not support it, so we need to have the contents on the file system.

[2022-01-13 16:22] bucibucii opened #2527 "Can upload bandwidth be limited to 50kb/s?"
### Context

I want to limit the upload bandwidth up to 50kb/s

Is it possible to do it?

[2022-01-13 16:49] sethmlarson commented on #2527
Yes, you'd have to create your own mechanism to slowly feed request body data to urllib3 with a moving window. Here's an example that shows urllib3 is a capable of streaming from a generator which can be tweaked to make this a 50KB/s moving window:

[code]

The above isn't your solution, that will be up to you to write, but urllib3 is capable of this. Closing this issue as the question is answered

[2022-01-13 16:49] #2527 closed

[2022-01-14 16:46] #2192 closed

[2022-01-14 16:46] #2486 closed

[2022-01-16 00:59] sethmlarson commented on #2190
Other PRs we may need to forward-port:
- https://github.com/urllib3/urllib3/pull/2407
- https://github.com/urllib3/urllib3/pull/2419

[2022-01-16 19:56] sethmlarson opened #2530 "Synchronize proxy features and test suite for v1.26.x and v2.0"
There were some PRs that landed in the 1.26.x branch that either aren't in `main` or are partially in `main`. Need to ensure all of these PRs are in main as well, especially the test suite:

- [x] https://github.com/urllib3/urllib3/pull/2407
- [x] https://github.com/urllib3/urllib3/pull/2419
- [ ] https://github.com/urllib3/urllib3/pull/2499

[2022-01-17 16:08] sethmlarson opened #2532 "Stop checking IP addresses in commonName"
From https://www.openssl.org/docs/man3.0/man3/X509_check_ip.html:

Our current `match_hostname` function is able to verify a commonName as an IPv6 address, however OpenSSL on its own doesn't do this.

[2022-01-17 19:38] sethmlarson commented on #2532
Doh, we already have this. Our `match_hostname` implementation has a `host_ip is None` line that I just visually missed. Sorry for noise everyone!

[2022-01-17 19:38] #2532 closed

[2022-01-18 05:13] kajinamit opened #2534 "PoolManager.urlopen fails with TypeError for http connection if the PoolManager is instantiated with server_hostname"
### Subject

PoolManager.urlopen fails with TypeError for http connection if the PoolManager is instantiated with server_hostname

### Environment

[code]

### Steps to Reproduce

Create a PoolManager with server_hostname and call urlopen method of the instance.
[code]

### Expected Behavior

TypeError should not be raised and a request is sent

### Actual Behavior

TypeError is raised and a reque

[2022-01-18 05:14] kajinamit commented on #2534
FYI: This was initially reported in https://github.com/cdent/gabbi/issues/309 .

[2022-01-18 08:00] kajinamit commented on #2534
Just adding some more results...

TypeError is not raised when I use https. This is because HTTPSConnection DOES accept the server_hostname argument.
(Connection refused is expected because I haven't start up any process listening on that port)
[code]

If create a PoolManager without server_hostname, urlopen works for both http and https without TypeError.
(again Connection refused error is expect

[2022-01-18 09:36] AndreiPy13 commented on #1612
When i change http://selenium:4444/wd/hub on http://X.X.X.X:4444/wd/hub it working

[2022-01-18 19:32] elijahbenizzy commented on #2513
Thanks for bringing this up! Excited to see a solution, we've been hitting this as well. In the meanwhile does anyone happen to have any reasonable workarounds?

[2022-01-18 21:10] sethmlarson commented on #2513
The best solution is to stream the response data instead of loading all at once. You'll likely want to do this anyways (even with the fix here) as loading 3GB into memory all at once isn't likely to be performant.

[2022-01-18 23:19] sethmlarson opened #2538 "Use static build system and reproducible builds"
- [x] Switch to a build system that supports PEP 517 (I'm leaning towards Flit)
- [x] Change our long description to be simpler and static inside of `pyproject.toml` instead of based on README.rst. Keep existing README.rst as-is but don't distribute with the source (ie remove from MANIFEST.in)
- [x] Start setting `SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)` when building wheels. Add this recomme

[2022-01-20 03:09] #2534 closed

[2022-01-20 13:37] pquentin opened #2543 "[1.26] Coverage dropped below 100% when vendoring ssl_match_hostname"
https://github.com/urllib3/urllib3/pull/2540 shows that in the 1.26.x branch, the following lines are not covered:

https://github.com/urllib3/urllib3/blob/b1f60e44d43b13e5272d5b6003f125af9c25c8ad/src/urllib3/util/ssl_match_hostname.py#L118-L122

This was never covered, we just notice it now because we vendored that code. We need a test.

https://github.com/urllib3/urllib3/blob/b1f60e44d43b13e5272

[2022-01-20 13:49] hramezani commented on #2543
Thanks @pquentin for the issue.
I will check later uncovered line in  `ssl_match_hostname.py`
 https://github.com/urllib3/urllib3/blob/b1f60e44d43b13e5272d5b6003f125af9c25c8ad/src/urllib3/util/ssl_match_hostname.py#L150

Sound good to me for now!

[2022-01-21 10:52] hramezani commented on #2543
To cover `UnicodeError` except:
https://github.com/urllib3/urllib3/blob/b1f60e44d43b13e5272d5b6003f125af9c25c8ad/src/urllib3/util/ssl_match_hostname.py#L118-L122

As [UnicodeError  is a subclass of ValueError](https://docs.python.org/3.8/library/exceptions.html#UnicodeError), and in both `except` blocks we have `host_ip = None`, I would suggest to merge this two blocks:

[code]

Or remove `Unicode

[2022-01-24 04:19] #2190 closed

[2022-01-26 13:37] pquentin opened #2551 "Stop linking to codecov in README"
We currently have a coverage badge in our README:

![image](https://user-images.githubusercontent.com/42327/151172735-3686867c-d312-4d08-9d18-9e7bdce1d99f.png)

We're very proud that we had 100% coverage for years. Not only it's very useful to us, but it highlights that urllib3 has high code quality and exhaustive tests. However, this badge currently links to codecov. We stopped using codecov, tho

[2022-01-26 14:06] imkaka commented on #2551
I will pick this one.

[2022-01-26 18:33] sethmlarson commented on #2538
@shazow and I have independently built commit https://github.com/urllib3/urllib3/commit/8ab5eb83a0bf359f5372a8eff2b07f46fe34203d using the provided release instructions and received a SHA256 of:

`96b40223c768231969979ec1a7afade8dca7d34ccff3b55fc172a59bfbea3487  dist/urllib3-2.0.0.dev0-py3-none-any.whl`

Success! Closing this now.

[2022-01-26 18:33] #2538 closed

[2022-01-27 09:02] geoexploring opened #2553 "Can't connect to HTTPS URL because the SSL module is not available."
[code]
My environment is as shown above. When I use C++ to call Python code, urlib3 will have an error: `Can't connect to HTTPS URL because the SSL module is not available.`, but run the Python code directly without error.

Could you give some advice? thanks!

[2022-01-27 09:46] pquentin commented on #2553
We're sorry that you have issues interfacing C++ with Python, but this is not an urllib3 issue as it runs correctly when you run your code directly. The error message means that `import ssl` does not work, so you're probably not using the same Python installation when calling from C++.

In any case, this is not actionable for us, consider a forum like Stack Overflow instead. Thanks!

[2022-01-27 09:46] #2553 closed

[2022-01-27 14:54] #2551 closed

[2022-01-28 00:25] pquentin commented on #2242
I've discussed the issue of allowing multiple headers with a few maintainers. There's no question that this is something we want to support, given the real-words use cases that need it.

We currently have two proposals, both handling overwrite, sending multiple headers, and folding. Suppose we want to send those headers:

[code]

It seems to me that neither of those proposals is breaking, so this

[2022-01-28 01:00] sigmavirus24 commented on #2242
So I agree that these are both backwards compatible. I do think @sethmlarson had a good point about `__setitem__` already works to be `add(header_name, header_value, on_duplicate="overwrite")` but here's the thing, I think `__setitem__` could be confusing to have to switch to. I agree, one obvious way to do something is great, and I'm also a fan of "Oh shit, I didn't realize I was doing the wrong

[2022-01-29 06:49] pquentin commented on #2138
I opened a pull request to fix the recent build failures: https://github.com/google/oss-fuzz/pull/7205

[2022-01-30 21:58] hramezani commented on #2543
@pquentin I think we can close this now!

[2022-01-31 00:06] sethmlarson commented on #2543
Yes we can! Thanks @hramezani

[2022-01-31 00:06] #2543 closed

[2022-01-31 19:39] pquentin commented on #2242
@haikuginger @shazow What are your thoughts on those APIs?

[2022-01-31 20:45] shazow commented on #2242
One suggestion I would consider is changing the term "fold" to "combined", since that's the term RFC 7230 uses and I think "fold" is not very beginner-programmer friendly (more of a functional programming term?).

If I was picking terms from scratch, my gut is to go with "replace", "combine", "separate".

If we wanted to go with UPSERT terminology, it's ignore/insert/update/merge. (Worth adding a

[2022-01-31 20:58] sethmlarson commented on #2242
Using `combine=False` instead of `fold=False` works for me too. This is the verb that RFC 7230 uses so is consistent there too. Great suggestion, @shazow!

[2022-01-31 23:54] haikuginger commented on #2242
Haha, ended up going down a rabbit hole on this one trying to find an interface that suits the more complicated cases that `Dict` and `List[Tuple[str, str]]` are insufficient for. If I were doing it from scratch (which we can think about for 2.0, because we're breaking a lot of stuff!), I might consider something like this:

[code]

I think the trick here is that for the case where we're adding va

[2022-02-07 15:18] #2472 closed, assigned to nobody

[2022-02-07 18:43] dmc5179 commented on #1518
For me the issue was that I install the pip modules as root without noticing it. I pip uninstalled six urllib3 and then reinstalled them as my normal user. Solved the issue right away

[2022-02-08 20:31] jgstew commented on #1394
@ivknv do you have examples that use this?

I am also having this issue and wanting to change the default block size when uploading a large file, but using `requests`

I'm going to have to try this.

Related:
- https://docs.python-requests.org/en/latest/user/advanced/#transport-adapters
- https://docs.python-requests.org/en/master/_modules/requests/adapters/

[2022-02-10 02:56] sethmlarson commented on #2498
Going to close this as it's not clear what this brings over our current scheme.

[2022-02-10 02:56] #2498 closed

[2022-02-10 02:56] sethmlarson commented on #2508
Going to close this, for now we'll stick with what we have.

[2022-02-10 02:56] #2508 closed

[2022-02-10 03:00] sethmlarson commented on #2152
For now we have no plans to support per-request differences to TLS options. This likely won't change without a new API entirely (PoolManagerManager?) Going to close this one.

[2022-02-10 03:00] #2152 closed

[2022-02-10 03:01] sethmlarson commented on #2043
Going to close this one, we're not on Travis any longer.

[2022-02-10 03:01] #2043 closed

[2022-02-10 03:02] sethmlarson commented on #2116
Our URL parser isn't set up to deal with this as it's not super handy as a strict URL validator. If you need that we suggest using the rfc3986 or checking the values returned from our parser directly.

[2022-02-10 03:02] #2116 closed

[2022-02-10 03:04] sethmlarson commented on #2073
Since this hasn't moved in some time I think we're going to close this one for now. I think having some sort of "[Python PSR-17](https://www.php-fig.org/psr/psr-17/)" would be helpful, if anything it'd be interesting to standardize the `request(method, url, headers, body) -> resp(status, headers, body)` type signature.

[2022-02-10 03:04] #2073 closed

[2022-02-10 03:05] sethmlarson commented on #1973
This doesn't seem realistic right now, going to close this one until we can get volunteers.

[2022-02-10 03:05] sethmlarson commented on #2100
Since we haven't heard anything in some time I'm going to close this one, let me know if we need to reopen.

[2022-02-10 03:05] #2100 closed

[2022-02-10 03:06] sethmlarson commented on #1883
I haven't seen this test being as flaky lately (at least any more than any other timeout test?) so I'm going to close this. Let me know if this is still a problem that I'm missing.

[2022-02-10 03:06] #1883 closed

[2022-02-10 03:11] sethmlarson commented on #1124
I think we're going to rely on how OpenSSL is configured and evolves here, there's not much we can do to configure this since it was opened and still aren't any options.

[2022-02-10 03:11] #1124 closed

[2022-02-10 05:59] pquentin commented on #1883
I think it's still flaky but this issue isn't helping.

[2022-02-10 06:00] pquentin commented on #1973
I do think we need something like that, but it can live in the breaking section of the changelog

[2022-02-10 08:22] jco-odoo commented on #2508
Thanks for the comments and the closing.  We could go around it by passing the contents in cert_file instead of key_file.  And we patch load_cert_chain indeed which is probably not the best idea doing in this library.  Putting methods like _is_key_file_encrypted in a class would just make it more override-friendly.

[2022-02-10 09:27] tomchristie commented on #2073
Yes good call Seth, thanks.

[2022-02-10 13:03] sethmlarson commented on #1973
Always read issue titles closely before closing. Thought this was the docs translation issue.

[2022-02-11 06:06] pquentin commented on #2508
Can you please share what patching you're doing?

[2022-02-11 08:04] jco-odoo commented on #2508
https://github.com/odoo/odoo/blob/15.0/addons/l10n_es_edi_sii/models/account_edi_format.py#L46

[2022-02-12 16:56] #2233 closed

[2022-02-12 23:43] nyuszika7h opened #2564 "Incorrect "Your proxy appears to only use HTTP and not HTTPS" error message during connection errors to HTTPS websites using a HTTP proxy"
### Subject

I'm 100% certain I'm using `http://` for my proxy, however I receive warnings like this which are due to the proxy being unstable:

[code]

The warnings miraculously go away after a few retries, which proves what urllib3 is saying is not the issue.

### Environment

[code]

### Steps to Reproduce

1. Use a HTTP proxy to connect to a HTTPS website. I'm using [windscribe-proxy](https://

[2022-02-13 00:20] sethmlarson commented on #2564
Thanks for reporting this, I agree that we should only be giving this error message on HTTPS proxies. Would you be up for contributing a fix with a test case for this?

[2022-02-13 21:54] sethmlarson opened #2566 "Create changelog entry for pyOpenSSL dropping SSLv3"

[2022-02-25 16:44] graingert opened #2570 "socket leaked when ssl_wrap_socket fails"
### Subject

socket leaked when ssl_wrap_socket fails

### Environment

[code]

### Steps to Reproduce

[code]

### Expected Behavior

no ResourceWarning

### Actual Behavior
[code]

[2022-02-27 02:10] DManowitz opened #2574 "Start using brotlicffi on non-CPython implementations on 1.26.x"
I would like to make a suggestion regarding the use of the brotlipy package.  I see that there has already been a fix made for urllib3 v2 to use the official brotli package for cpython, and that it has been marked as a breaking change.  However, since urllib3 v2 has not yet been released, and it may take some time for this version to be released and even more time for it to be picked up by the oth

[2022-02-28 07:59] pquentin commented on #2574
@sethmlarson would you accept a pull request that backports #2099 to 1.26.x?

[2022-03-01 10:21] jackzhao12345 commented on #1518
Lower version 1.24.1,Can solve this problem.
It is estimated that your version is 1.26

[2022-03-01 13:58] sethmlarson commented on #1518
That version is vulnerable to multiple CVEs. Instead use latest versions of urllib3 and other packages.

[2022-03-02 09:48] pquentin commented on #1675
We're focusing on the 2.0 milestone to ship urllib3 2.0 as soon as possible, but we do accept pull requests for 2.x issues.

[2022-03-02 10:04] sonmezonur commented on #1675
I appreciate it if you can add this feature to v2.0. Currently, we are using our fork to handle this use case. Happy to re-open issue/pr for milestone v2.0 if this approach makes sense to you.

[2022-03-02 13:27] #2570 closed

[2022-03-05 02:17] sethmlarson opened #2577 "Proxies should use proxy_ssl_context when connecting via ProxyConfig.use_forwarding_with_https = True"
This was discovered in https://github.com/urllib3/urllib3/pull/2558 and discussed with @jalopezsilva  on Discord. The gist is it appears that we're using `HTTPSConnection.ssl_context` to connect to HTTPS proxies when using `use_forwarding_with_https = True` mode. This is likely caused by us treating the proxy like it's the origin when we have proxies in "forwarding" mode and previously we didn't h

[2022-03-05 21:06] #2530 closed

[2022-03-07 00:59] sethmlarson commented on #1917
This has been completed for v2.0 so we can close this issue! :tada: Errors are wrapped in a `ProxyError`.

[2022-03-07 00:59] #1917 closed

[2022-03-07 01:00] sethmlarson commented on #2160
This has been resolved in the 2.0 branch, errors that occur during the proxy connect step are now always wrapped in `ProxyError`. Going to close this one.

[2022-03-07 01:00] #2160 closed

[2022-03-07 16:22] sethmlarson commented on #1493
@shubsaini09 can you open a separate issue with a full traceback and a filled out issue template?

[2022-03-08 11:13] Valdegg opened #2578 "Installation instructions on your websites are outdated"
It says:

"Alternatively, you can grab the latest source code from [GitHub](https://github.com/urllib3/urllib3):

$ git clone git://github.com/urllib3/urllib3.git
$ python setup.py install"

While the python command doesn't work any more. The correct version is on the readme on your github page though. Just wanted to let you know - I needed to reinstall urllib3 and this was a problem.

[2022-03-08 12:44] pquentin commented on #2578
Thanks for the report!

We fixed that already: https://github.com/urllib3/urllib3/commit/d662fcd9301b94a413a0d21c6c287268cd082da1 but it was not released yet.

However, when following those instructions you're installing the 2.0 development which is not ready for public use yet. I guess we should add a note in the 1.26.x docs to checkout the 1.26.x branch before installing.

[2022-03-08 18:14] Kache commented on #1944
Add jitter to `utils.Retry`? e.g. https://github.com/invl/retry/blob/master/retry/api.py#L45-L48

Also fix how [`status_forcelist` works asymmetrically to using the default list](https://github.com/urllib3/urllib3/blob/9f4d05c11eb2f80682c1b7a2671b0636292ef932/src/urllib3/util/retry.py#L392-L400), though already addressed more generally via: https://github.com/urllib3/urllib3/issues/1944#issuecomme

[2022-03-10 08:27] pradyunsg opened #2580 "Allow tweaking the presentation style of logged errors"
### Context

**What are you trying to do?**

I've been trying to improve pip's output (hopefully, you've noticed!) and our networking-related output seems like a really good candidate to try to improve. This includes various kinds of errors originating from urllib3 and especially the presentation when there's going to be a retry.

[code]

**How do you expect to do it?**

Would it be OK to change t

[2022-03-10 08:27] pradyunsg commented on #2580
x-ref https://github.com/pypa/pip/issues/10421

[2022-03-10 12:13] sigmavirus24 commented on #2580
(Not speaking with my maintainer or pip user hat on) As someone who relies on these logs in a very different (service oriented context) trying to search/aggregate across multiple log lines would be a nightmare.

Genuinely, the _best_ solution in my opinion would be for urllib3 to use structlog by default because then you could use a processor to break things up easily and render them nicely for pi

[2022-03-10 14:50] hramezani commented on #2564
Hey @sethmlarson, I can work on this. my plan is to pass the proxy scheme to the `_wrap_proxy_error` and then check it there.
something like:

[code]

What do you think?

For testing, I think it we can add a new test like https://github.com/urllib3/urllib3/blob/f0dffb4e2437cb2da2ba0a6bbea6211f6fd0fa4b/test/with_dummyserver/test_socketlevel.py#L1163

with `http` proxy but I am not sure.

[2022-03-11 07:17] pradyunsg commented on #2580
I don't feel strongly about what specific approach is used here -- I trust that y'all know better than me that a hacky solution would be suboptimal.

My motivation is pretty straightforward: Make the presentation of the warnings and errors coming out of pip better; and this is one of those warnings. Anything that moves toward a better presentation (even a rewording of the existing log message) wou

[2022-03-11 13:49] sethmlarson commented on #2564
@hramezani That solution works for me!

[2022-03-11 20:41] pradyunsg commented on #2580
A better error for this example:

[code]

[2022-03-15 12:34] cdent commented on #2534
As far as I can tell a new version of urllib3 including this fix has not yet been released. 1.26.8 is the latest on pypi. Are there plans for a new release?

[2022-03-17 16:19] scottwallacesh commented on #2534
The released [v1.26.9](https://github.com/urllib3/urllib3/releases/tag/1.26.9) yesterday!  Your message must have prodded them.

[2022-03-22 09:01] bluetech opened #2583 "Demote `Retrying .. after connection broken by ..` log warning to info"
### Subject

When `urlopen` retries a request, it issues a warning log:

https://github.com/urllib3/urllib3/blob/37a67739ba9a7835886555744e9dabe3009e538a/src/urllib3/connectionpool.py#L819-L824

I have things set up such that when a warning (or above) is emitted, I get notified.
In my opinion, a request being retried does not warrant a warning, because it is *expected* - network conditions are not

[2022-03-22 14:37] sigmavirus24 commented on #2583
Yes, it's true that maybe that shouldn't be a warning but sadly many consumers rely on that.

Namely pip relies on this behavior to give users additional information for debugging without overwhelming them

[2022-03-22 15:09] bluetech commented on #2583
I kinda figured that such a change is a no-go for 1.26.x, but maybe for 2.x?

Regarding pip, IIUC its default logging level without any verbose/quiet flags is INFO:
https://github.com/pypa/pip/blob/b2b7aefe2f4a40fb34039adaab39897e80df687c/src/pip/_internal/utils/logging.py#L239
so the message will still be displayed, though with INFO instead of WARNING, which seems good to me.
BTW,I found this iss

[2022-03-22 15:13] bluetech commented on #2583
Correction: reading that pip function further, it seems that for vendored libs like urllib3 they filter at WARNING:
https://github.com/pypa/pip/blob/b2b7aefe2f4a40fb34039adaab39897e80df687c/src/pip/_internal/utils/logging.py#L253-L255
so if we change to INFO it *will* be filtered out.

[2022-03-22 19:00] pradyunsg commented on #2580
Well, if you want to go down the route of a hook, some sort of callback mechanism where pip provides a function that gets called when a retry happens would work, in this case. The deafult implementation could then be the existing logger. :)

[2022-03-23 05:36] nvakhilnair opened #2584 "Getting partial content from the website"
### Subject

Getting partial content from the website after sending the requests with the requests module (urllib3 version 1.26.9). But after downgrading the urllib3 to version 1.22 the issues are being resolved.
Does anyone have any idea why this is happening?

### Environment
Install packages: Same for both versions of urllib3
[installed package.txt](https://github.com/urllib3/urllib3/files/8329

[2022-03-24 16:15] nateprewitt commented on #2584
I took a quick look at the actual output. I think we may be conflating different files sizes with incomplete responses. You'll see both pages begin and end with the same header/footer (implying the page is in fact complete). However, likely due to fingerprinting or some other mechanism, the server is responding with significantly truncated content in the body.

While it does appear this is related

[2022-03-24 17:05] nvakhilnair commented on #2584
It makes sense but what I don't understand is why this is consistently working in version less than 1.24.3.

[2022-03-24 17:10] #2584 closed

[2022-03-24 20:22] pquentin commented on #2583
I'd be happy to change to INFO in 2.x, but would not want to break pip. This is timely as @pradyunsg is trying to improve pip's message, including the one from urllib3: https://github.com/urllib3/urllib3/issues/2580, so maybe there's a way to fill two needs with one deed.

[2022-03-24 20:38] pradyunsg commented on #2583
:)

FWIW, I'd be fine with changing this to a info log in urllib3 in a 1.x release, as long as the same release also adds some mechanism that pip can use to present those messages. But I don't make the calls on version numbers here.

[2022-03-27 20:13] pquentin commented on #2574
Can this issue be closed now?

[2022-03-27 22:10] sethmlarson commented on #2574
Yes! Closed in #2579

[2022-03-27 22:10] #2574 closed

[2022-03-29 13:29] jmwielandt opened #2588 "Importing urllib3 changes behavior of hypercorn+ASGI app"
### Subject

Importing urllib3 destroys my hypercorn ASGI.

### Environment

- OS Linux-4.4.0-19041-Microsoft-x86_64-with-glibc2.31
- Python 3.10.4
- urllib3 1.26.9

### Steps to Reproduce

[code]

Call `localhost:7999/ping` on your browser and see the console output. Call it again (F5).

### Expected Behavior

Comment the urllib3 import line. Now run the code again and call the endpoint: that's w

[2022-03-29 15:24] jmwielandt commented on #2588
The issue must be with hypercorn.

[code]

[code]

[2022-03-29 15:35] sethmlarson commented on #2588
Very interesting! I'm able to reproduce the issue you describe.

[2022-03-29 15:36] sethmlarson commented on #2588
@jmwielandt Removing the `import fastapi` also seems to work?

[2022-03-29 16:15] graingert opened #2589 "Retry retries on fruitless ssl ImportError"
### Subject

Describe the issue here.

### Environment

Describe your environment.
At least, paste here the output of:

[code]

### Steps to Reproduce

[code]

### Expected Behavior

only one attempt

### Actual Behavior

^

[2022-03-29 16:39] sethmlarson commented on #2588
So just given how this issue looks there's something weird happening with side-effects somewhere. Could be in urllib3, hypercorn, fastapi, or some other module. I don't think we're going to keep this open as an issue until we can point to a very specific thing that urllib3 is doing that's causing this. Without that there's nothing to go on here, let us know if you figure out anything more specific

[2022-03-29 16:39] #2588 closed

[2022-04-02 05:34] ranjit-git opened #2590 "Potential security Vulnerability"
A potential security vulnerability has been disclosed for this repo https://huntr.dev/bounties/b94dbb2c-0875-4316-b2fc-81d2d32cc8fa/ 3 months ago .
But i see it still not addressed .
Kindly validate the bug

[2022-04-02 08:02] sathieu commented on #2583
What about adding a param to the Retry `__init__()`  and passing it in `increment()`?

Proposal: `loglevel=logging.WARNING`.

[2022-04-02 08:43] pradyunsg commented on #2583
A different approach would be having a callback instead. The default value/implementation for that callback would do the same `logger.warning` call, as is being done currently.

The main point is allowing users to swap it out, which would enable users to do things differently based on their use case. If we want to make it possible to log at the info level, then the callback can be changed to be so

[2022-04-02 08:44] pradyunsg commented on #2583
FWIW, this is also roughly what I'd proposed in #2580 -- so, yea, I think we'd be able to solve both needs in a single shot. :)

[2022-04-02 12:43] sethmlarson commented on #2590
If you'd like to report a vulnerability you should do so via our [documented security disclosure contact](https://github.com/urllib3/urllib3/blob/main/.github/SECURITY.md) including all information about the potential issue. We don't use third party services that require personal information.

[2022-04-02 12:43] #2590 closed

[2022-04-02 13:12] ranjit-git commented on #2590
@sethmlarson huntr.dev team already sent you the report details to provided email in https://github.com/urllib3/urllib3/blob/main/.github/SECURITY.md .
You should have received the report details in mail already . In that mail there is a magick unique link , by using this you can view the report details without signup . In mail just search for "https://huntr.dev/" .
I will ask the admin to resend

[2022-04-02 15:26] sigmavirus24 commented on #2583
I really dislike that for changing the logging level, etc. Here's why:

I have an application, it has many integrations all of which use urllib3 at some layer of the stack _and_ I have `WARNING` logging enabled for urllib3 purposefully to see Retry errors and build alerting around it. Now, I can't rely on that behaviour because each of the N different libraries have patched that out differently to

[2022-04-02 21:24] timmc commented on #2368
While some browsers do "fix up" URLs in that way, that is contrary to [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986), which makes no such allowance. Adding such variations increases the chance of a parser mismatch vulnerability as seen in Claroty's excellent [paper on URL parser confusion](https://claroty.com/wp-content/uploads/2022/01/Exploiting-URL-Parsing-Confusion.pdf).

The WHATWG

[2022-04-03 01:32] sethmlarson commented on #2368
Yeah, this issue+PR being around for so long are mostly due to me not wanting to merge this change. This came in as a security issue iirc, but I'm not even sure it's a "bug" that we're strictly following RFC 3986. I think we're going to decline this change unless stronger evidence comes around in the future.

[2022-04-03 01:32] #2368 closed

[2022-04-03 12:39] andy-maier opened #2591 "socket.timeout from _validate_conn() is re-raised as ReadTimeoutError"
### Subject

I am experimenting with different cases of broken connections in order to figure out how to handle the exceptions from the "requests" package, and found a case where a broken connection causes requests `session.post()` to raise `urllib3.exceptions.MaxRetryError` with text saying this was caused by:

ReadTimeoutError("HTTPSConnectionPool(host='localhost', port=5989): Read timed out. (r

[2022-04-11 15:16] motod opened #2593 "SSLError with Subject Alternative Name (SAN)"
We have an internal web page, which has a certificate with a CN like 'internal-page.com' and an SAN like 'page.com'

Connecting to the CN works without problems, for the SAN, which i am forced to use, i get a SSLError ( see bottom).

Can you confim problems connecting to a SAN ?

### Environment

OS Linux-4.19.0-18-amd64-x86_64-with-debian-10.12
Python 3.7.3
urllib3 1.26.9

### Steps to Reproduce

[2022-04-12 06:02] pquentin commented on #2593
This does not appear to be a urllib3 bug, it's OpenSSL that cannot verify the certificate. Can you try to reproduce with `openssl s_client -connect page.com:443`?

What usually happens though in corporate environments is that the root certificate is not public, so `certifi.where()` won't include it. Here is how to check that with Firefox: https://support.mozilla.org/en-US/kb/secure-website-certifi

[2022-04-12 09:58] pquentin commented on #2593
Unfortunately without having a way to reproduce your issue I don't know what can be done. urllib3 uses the Python standard library that uses OpenSSL under the hood.

Also, I wrote a test to prove that urllib3 handles SAN correctly even with CN is different:

[code]

Can you share the certificate chain? Have you double checked there's no typo in your SAN?

[2022-04-13 17:36] sethmlarson commented on #2449
Completed in https://github.com/urllib3/urllib3/pull/2456 for 1.26

[2022-04-13 17:36] #2449 closed

[2022-04-14 03:43] Pavocracy commented on #1323
Curious to know if this has been discussed in the last few years? Is this something that will get added to urllib3 or is it likely to wait for a urllib4 or something similar?

[2022-04-14 05:18] pquentin commented on #1323
I've been meaning to close this issue for a while now. To be clear, the https://github.com/python-trio/hip effort had made great progress:
 * all sync tests were passing
 * we could make async requests
 * we had figured out how to run each test in sync and async (trio, anyio, asyncio)

But then making each test to pass in async was going to be yet another slog, and after that I would have to tackl

[2022-04-14 05:18] #1323 closed

[2022-04-14 05:46] #2593 closed

[2022-04-14 10:27] sathieu commented on #2583
Proposed backward compatible PR: #2595.

[2022-04-15 16:35] sethmlarson commented on #2564
@hramezani I'm not sure the new test function is correct to reproduce this error. I think it needs to have an HTTP proxy that succeeds to connect and then after creating the CONNECT tunnel to the website the HTTPS handshake starts and then fails because the website sends an HTTP response. Does that make sense?

[2022-04-21 00:24] danielhoherd opened #2597 "Add a simple CLI tool to download files"
### Context

It would be great if urllib3 came with a simple CLI tool for downloading files. I'm thinking of something equivalent to the reduced functionality `wget` included with busybox.

The reason for this is that urllib3 is pure-python, and can be installed without root permissions, and it would be great to have that available in different build environments that have python available. EG: wh

[2022-04-21 01:23] sigmavirus24 commented on #2597
Why not use something like httpie? It has the same properties and does exactly what you ask

[2022-04-21 01:42] sethmlarson commented on #2597
Thanks for opening, unfortunately this isn't in the scope for our project. I recommend checking out curl, wget, httpie, or another tool for this.

[2022-04-21 01:42] #2597 closed

[2022-04-21 19:56] danielhoherd commented on #2597
@sigmavirus24 httpie is actually almost exactly what I was looking for, and I completely forgot about it, but it didn't show up in searches for "alternatives to curl" and "pure python downloader"

[2022-05-03 06:48] pquentin opened #2602 "Python 3.11.0 alpha 7 times out in CI"
<details>
<summary>On April 14th, 3.11-dev finished in 3m17s: <a href="https://github.com/urllib3/urllib3/runs/6022395444?check_suite_focus=true">https://github.com/urllib3/urllib3/runs/6022395444?check_suite_focus=true</a> </summary>

[code]

</details>

<details>
<summary>On April 20th, 3.11-dev timed out after 19m20s and times out ever since around 90%: <a href="https://github.com/urllib3/urlli

[2022-05-05 12:22] Eandrju opened #2603 "Differentiate between timeout and http errors in Retry mechanism"
### Context

I'm writing a client for a service that might response with 503 to a POST request. If it do so I'm supposed to retry after 0.1s. That's kinda achievable with backoff_factor, no problem here. However, I'd like to have a timeout set for this request, let's say 3s. Problem is that I don't want to retry on timeout, because the server might still process the request without an error.

Curr

[2022-05-05 15:37] sethmlarson commented on #2603
For customized retry behavior we recommend disabling our automatic retries and using a library like "tenacity" to implement the retry behavior you're interested in.

[2022-05-06 14:42] #2603 closed

[2022-05-11 17:50] burns534 commented on #1366
I also have this issue and I was really confused trying to determine what was going on. Thanks @ragazzojp for clarifying the scenario that is causing this, you saved me a lot of trouble.

[2022-05-12 15:04] liRONCO11 opened #2606 "Bug when using requests on del hook"
### Subject

When using requests on __del__ hook it throws:
ImportError: sys.meta_path is None, Python is likely shutting down

### Environment

[code]

### Steps to Reproduce
[code]
### Expected Behavior

It should execute the request.

### Actual Behavior
[code]
with this code change, everything works well - https://github.com/urllib3/urllib3/pull/2605

[2022-05-12 18:51] sigmavirus24 commented on #2606
Using `__del__` for behavior like this will always result in bugs and is not how you should be handling things like this. You're running code on garbage collection which can have any number of bugs that any underlying library can't arbitrarily fix. We might rely on other modules which have been gc'd and this having already imported them we'll have other issues. Same goes for every other dependency

[2022-05-13 23:36] #2606 closed

[2022-05-14 07:53] liRONCO11 commented on #2606
Let's simplify the problem
[code]
[code]
I know it is not a urllib3 bug...
I hoped to have a workaround, do you have any suggestions?
Sorry, and thanks for the quick reply.

[2022-05-17 07:57] liRONCO11 opened #2607 "is_time_off warning on __del__ event"
### Context

I'm trying to use urllib3 on ```__del__``` event
[code]
Can we make that warn check optional?
currently throws [Python ImportError: sys.meta_path is None, Python is likely shutting down](https://stackoverflow.com/questions/72238460/python-importerror-sys-meta-path-is-none-python-is-likely-shutting-down)

### Alternatives

Find another package that doesn't try to get today's date using

[2022-05-17 09:20] pquentin commented on #2607
We already explained you why using urllib3 inside `__del__` is a bad idea: https://github.com/urllib3/urllib3/issues/2606#issuecomment-1125318527. We won't make changes to try supporting it. Please stop!

[2022-05-17 09:20] #2607 closed

[2022-05-17 10:30] liRONCO11 commented on #2607
`RECENT_DATE = datetime.date(2020, 7, 1)
is_time_off = datetime.date.today() < RECENT_DATE
if is_time_off:
    warnings.warn(
        (
            "System time is way off (before {0}). This will probably "
            "lead to SSL verification errors"
        ).format(RECENT_DATE),
        SystemTimeWarning,
    )`
Why is that warning so important? how about just removing it?

Please help me find

[2022-05-17 12:06] NonameASecret opened #2609 "### Porxy Not Working"
### Porxy Not Working

**_My Code Is Below_**

[code]

Above Code is Output is my  ip. why output is not given proxy server ip.

`sys.stdout.write("My public IP address is: %s => Thread #%d | %d - %s \n"%(self.ip,self.num,code,error))` Code is Given My Ip. i use proxy. but proxy not working.

###  How To Slove In  This Problem??

[2022-05-17 12:12] pquentin commented on #2609
This issue tracker is for urllib3 bugs and feature requests. Not only this is a usage question, but it's also about urllib, which is different from urllib3. Consider trying a forum like StackOverflow or any other place where you can ask Python questions.

[2022-05-17 12:12] #2609 closed

[2022-05-17 12:15] #2378 closed

[2022-05-17 12:50] NonameASecret commented on #2609
oh.thank you

can do it using urllib3?

### i ask syntax for urllib3 using get request with proxy & headers

[2022-05-22 13:01] nurbekdev opened #2610 "Nurbek"
### Context

What are you trying to do?
How do you expect to do it?
Is it something you currently cannot do?
Is this related to an existing issue/problem?

### Alternatives

Can you achieve the same result doing it in an alternative way?
Is the alternative considerable?

### Duplicate

Has the feature been requested before?
If so, please provide a link to the issue.

### Contribution

Would you be

[2022-05-22 15:02] #2610 closed

[2022-05-27 11:24] Pradhvan commented on #2578
@pquentin Hey 👋🏾  in the docs section of the branch`1.26x`

How about adding a step to switch to `1.26x` branch instead of a note?

In the [installation section](https://github.com/urllib3/urllib3/blob/1.26.x/docs/index.rst#installing)

[code]

[2022-05-27 11:29] pquentin commented on #2578
Yes, that would be a good idea!

[2022-05-27 11:52] Pradhvan commented on #2578
@pquentin cool 👍🏾 will add a PR for this. Do you want the exact instructions in any other branch or just branch `1.26.x` is fine?

[2022-05-27 11:53] pquentin commented on #2578
It's fine, 1.26.x and main are the only branches we care about.

Thank you!

[2022-05-27 13:46] #2564 closed

[2022-05-27 16:20] sethmlarson opened #2614 "Backport #2613 to 1.26.x"
This is a tracking issue for backporting #2613 to the 1.26.x branch.

[2022-06-01 18:44] sethmlarson commented on #2602
Did a bit of work on this and it looks like I can reproduce the locking behavior with:

`$ nox -rs test-3.11 -- -vvv test/with_dummyserver/test_proxy_poolmanager.py::TestHTTPProxyManager --log-level=DEBUG --log-cli-level=10`

using the latest Python 3.11.0-beta3. Hangs on the test `test_cross_host_redirect` but when run alone the test doesn't hang. Looking at Wireshark captures it appears that the

[2022-06-01 19:00] sethmlarson commented on #2602
Currently running a `git bisect` on CPython with the following to see if I find any hints:

[code]

[2022-06-01 19:04] pquentin commented on #2602
Thanks! To be clear what I've seen on CI was not hanging, just everything was slow. Bumping the timeout to 30mn would allow tests to finish I believe.

Your test hanging is interesting but probably a different issue?

[2022-06-01 19:07] nateprewitt commented on #2602
I actually tried this last night funny enough, and 30 minutes does not fix the issue. It hangs on this test indefinitely and won't progress farther ([ref](https://github.com/nateprewitt/urllib3/runs/6684080658?check_suite_focus=true)).

[2022-06-02 02:47] pquentin commented on #2602
Thanks, sorry for the confusion.

[2022-06-02 03:26] sethmlarson commented on #1394
@ivknv Since we allow setting `blocksize` now at least in the `main` branch are we okay to close this issue? Or is there more we need to do?

[2022-06-02 12:16] sethmlarson commented on #2602
Closed in https://github.com/urllib3/urllib3/pull/2620

[2022-06-02 12:16] #2602 closed

[2022-06-02 16:26] #1394 closed

[2022-06-06 12:28] sethmlarson commented on #2477
We've decided to deprioritize OpenSSL 3.0 support as it's still "experimental" in Python 3.11 and there isn't an indication it will be stable in 3.12.

[2022-06-09 15:19] rlamy commented on #2513
I've looked a bit into the issue and IMHO changing the logic of `HTTPResponse.read()` would be wrong.

First, it's currently possible to call `.read()` with `amt` larger than `2**31` - if you're using HTTP instead of HTTPS. For instance, if you replace the URL in the OP with `url = "http://speed.hetzner.de/10GB.bin"`, things seem to work as intended. And `HTTPResponse.read()` has no way of guessin

[2022-06-09 17:05] illia-v commented on #2477
#2626 makes tests run on Ubuntu 22.04, tests succeed on Python 3.9 and 3.10.

---

I ran tests on Fedora 36 locally too, and found timeouts similar to https://github.com/urllib3/urllib3/issues/2477#issuecomment-966975130 there, but increasing `LONG_TIMEOUT` to 0.05 fixed them.
https://github.com/urllib3/urllib3/blob/9fbab29644bfc8068eb2082d0f25726c91813337/test/__init__.py#L80

---

Also, three ot

[2022-06-09 17:13] sethmlarson commented on #2477
@illia-v Thank you for your analysis! This is all looking great.

Your observation about default minimum TLS version being a compile-able option is true, we should open a separate issue for this so when platforms inevitable bump to TLS 1.3+ we don't start seeing failures.

[2022-06-09 18:20] tiran commented on #2477
No, it's not a compile-time option. It's actually more complicated and depends on several things like downstream patches and system-wide settings.

- With upstream OpenSSL 3.0.x, the call ``SSL_CTX_ctrl(ctx, SSL_CTRL_GET_MAX_PROTO_VERSION, 0, NULL)`` returns ``0``, which Python maps to ``TLSVersion.MAXIMUM_SUPPORTED``
- Downstream OpenSSL in Fedora, Ubuntu, and other distros are patched and use cu

[2022-06-09 21:39] sfreilich opened #2628 "PyOpenSSLContext.load_cert_chain raises OpenSSL.SSL.Error unwrapped"
### Subject

PyOpenSSLContext.load_cert_chain raises OpenSSL.SSL.Error instead of the expected c. This causes urllib3 to return OpenSSL.SSL.Error in a situation where the client is looking for urllib3.exceptions.SSLError. (The logic one layer up in urllib3 wraps ssl.SSLError with urllib3.exceptions.SSLError.)

This was discovered due to a failure in this test for pytest_httpbin:
https://github.com

[2022-06-10 01:57] delroth commented on #1641
I looked into this issue and found a few surprising things. Long story short, 1.25 broke this with 5d523706c7b03f947dc50a7e783758a2bfff0532 (#1531), but 1.25.4 accidentally (?) fixed this already with 5b047b645f5f93900d5e2fc31230848c25eb1f5f (#1647), and thus this issue report is obsolete. The breakage was actually very short lived.

However, I've still sent PR #2629 to improve the testing situati

[2022-06-10 03:11] sethmlarson commented on #1641
Thanks @delroth for all this context and investigation! I don't think we need to change the bounty amount if you're interested in being paid for the work you've done, let me know if you're interested and eligible! :)

[2022-06-10 04:05] delroth commented on #1641
I mean, I'm not going to complain :) I should be eligible. This ended up being less work than expected though, so I really wouldn't mind it moved one bucket down to $300 for fairness with other contributors.

[2022-06-10 04:49] pquentin commented on #1641
I think the system is working as intended: you tested the code, were surprised that it worked, tried various commits, made some research, took the effort to present it clearly, opened a PR, answered to comments, etc. Even with your efficiency, this is still hours of effort! And we don't want to punish contributors for being efficient.

Shut up and take our money when #2629 lands :)

[2022-06-10 14:08] graingert opened #2636 "urllib3 v2 (unreleased) negotiates the wrong version of TLS when used with OpenSSL 1.0.2"
### Subject

urllib3 v2 negotiates the wrong version of TLS when used with OpenSSL 1.0.2

Note: I secretly reported this issue, but was asked to make a public issue instead because this is in an unreleased version

### Environment
Python 3.7 on centos 7 dockerfile here: https://gist.github.com/graingert/5013c338991753b059424d1d7a41b875

### Steps to Reproduce

[code]

### Expected Behavior
[code]

[2022-06-10 14:38] sethmlarson commented on #2636
Thanks for opening this @graingert. As we discussed, this isn't a security issue as the code in question hasn't been released. I'll add this to the v2.0 milestone to ensure we don't cut a release without addressing this first.

[2022-06-10 14:52] sethmlarson commented on #1641
This issue has been closed in https://github.com/urllib3/urllib3/pull/2629 and and #2635. Thanks @delroth! I look forward to seeing your invoice to collect the bounty :)

[2022-06-10 14:53] #1641 closed

[2022-06-10 15:35] sethmlarson opened #2637 "IPv6 zone ID shouldn't be used during certificate hostname matching"
### Subject

Certificate hostname matching includes the IPv6 zone ID when matching the certificates subjectAltName fields. Zone ID should be omitted from this check as zone IDs are machine-specific so certificates shouldn't include the information.

Curl implements the correct behavior:

[code]

### Environment

[code]

[code]

### Steps to Reproduce

[code]

### Expected Behavior

Same behavior a

[2022-06-10 16:59] illia-v commented on #2513
When CPython is used, the error should only happen since 3.8.0a4 (https://github.com/python/cpython/issues/80231, https://github.com/python/cpython/commit/d6bf6f2d0c83f0c64ce86e7b9340278627798090), it was fixed in 3.9.7 (https://github.com/python/cpython/issues/87019, https://github.com/python/cpython/commit/153365d864c411f6fb523efa752ccb3497d815ca), the fix was not backported to 3.8.

In the cour

[2022-06-10 17:00] delroth commented on #2637
I actually think the bug is in OpenSSL or CPython, though it could be worked around in urllib3. My reasoning below.

RFC 6125 defines how to compare SANs for TLS, but it explicitly lists IPs as something that's out of scope. I don't know whether another normative document exists which covers how implementations should behave here.

      IP addresses, but preliminary evidence indicates that such

[2022-06-10 17:15] delroth commented on #2637
x-link: openssl/openssl#18530

[2022-06-10 17:57] sethmlarson commented on #2637
@delroth Thanks for digging through all the standards for this, I wasn't able to find a reference myself that mentions the IP address comparison so this is great. Your suggestion on how we can work-around this issue makes sense to me.

[2022-06-10 18:42] delroth commented on #2637
Actually RFC 9110 seems to properly define this for HTTP over TLS too:

   verification process defined in Section 6 of [RFC6125].  The client
   MUST construct a reference identity from the service's host: if the
   host is a literal IP address (Section 4.3.5), the reference identity
   is an IP-ID, otherwise the host is a name and the reference identity
   is a DNS-ID.

   field of an "https" UR

[2022-06-10 19:33] illia-v commented on #2513
Perhaps, it should never result in a call without `n` too because the overflow can still happen when `n` is not provided and a resource is huge.

I tried writing a fix in https://github.com/illia-v/urllib3/commit/2d6cf6c6f2714e5ad6455c1e665af83e9af9293f, but a few existing tests became broken on 3.8 and 3.9.2. `http.client.HTTPResponse.read` seems to behave differently in terms of raising `Incompl

[2022-06-11 13:50] sethmlarson commented on #2513
@illia-v Hmm! Could you create a PR with your changes so we can see test results? Would be good to understand all the cases where IncompleteRead are raised too.

[2022-06-11 15:47] ValdikSS commented on #2164
This finally has been fixed in Python 3.10.5. All previous versions (in all branches) are still affected.
This should be workarounded in urllib3, as even pip uses this library and it fails to work right after the installation if proxy is configured.

[2022-06-11 16:52] sethmlarson commented on #2164
@ValdikSS  Sounds good, if you open a PR with the feature and tests we would consider it!

[2022-06-12 14:50] sethmlarson commented on #1992
Tagging @mamico here so I can assign this issue to you.

[2022-06-12 17:22] pquentin commented on #2602
For what it's worth, what I was observing was real too, coverage is much slower on 3.11: https://github.com/nedbat/coveragepy/issues/1287

[2022-06-12 19:41] #2477 closed

[2022-06-13 11:23] graingert commented on #2168
how about requiring OpenSSL 1.1.0g or newer? This would fix https://github.com/urllib3/urllib3/issues/2636

[2022-06-13 20:56] graingert commented on #2168
requiring 1.1.1+ will also allow dropping of pyopenssl inject_into_urllib3 https://github.com/psf/requests/search?q=inject_into_urllib3&type=code and if urllib3 drops ssl 1.0.1 then SecureTransport can go too: https://github.com/pypa/pip/blob/bf91a079791f2daf4339115fb39ce7d7e33a9312/src/pip/_internal/utils/inject_securetransport.py#L24

[2022-06-15 13:49] #2614 closed

[2022-06-16 06:39] imba-tjd opened #2641 "[FR] Make HTTPHeaderDict support pipe operator"
### Context

Support https://docs.python.org/3.9/whatsnew/3.9.html#dictionary-merge-update-operators

Currently it says `TypeError: unsupported operand type(s) for |: 'HTTPHeaderDict' and 'dict'`

[2022-06-18 13:08] Pradhvan commented on #2578
@pquentin sorry for the delay and the some git mess above. But finally created the PR. 😄

[2022-06-18 14:11] sethmlarson commented on #2641
We're actually trying to move away from using `dict`'s write semantics as they unambiguous when it comes to duplicates and multiple values. Given this it's unlikely we'll implement the pipe operator. Instead you should use `.extend()`, `.add()` or `__setitem__`.

[2022-06-18 14:11] #2641 closed

[2022-06-19 11:21] pquentin commented on #2578
No worries, thanks for stepping up to fix this!

[2022-06-19 12:29] #2291 closed

[2022-06-19 12:29] #2515 closed

[2022-06-19 16:30] Pradhvan commented on #2578
@pquentin no problem. Thank you for helping out updating a change for readme. I had forgotten about it. 😄

[2022-06-19 16:38] sethmlarson commented on #2578
Closed in #2643

[2022-06-19 16:39] #2578 closed

[2022-06-19 21:24] #2637 closed

[2022-06-19 23:32] Ryangwaite opened #2645 "Connect timeout does not apply to underlying socket when reusing a connection from the pool"
### Subject

When making an HTTP(s) request to a host for which a connection has already been established, this connection is reused from the pool however the timeout provided is only applied to the HTTPSConnection/HTTPConnection object but not it's underlying socket (the original requests timeout remains). Therefore, if the initial request has a short timeout and a subsequent request is initiated

[2022-06-21 15:09] sethmlarson commented on #1985
Removing the bounty from this parent issue and going to create sub-issues so this work is easier to scope for individuals.

[2022-06-21 15:21] sethmlarson opened #2648 "HTTPConnection should return urllib3.HTTPResponse instead of http.client.HTTPResponse"
Part of https://github.com/urllib3/urllib3/issues/1985

Currently our `urllib3.connection.HTTPConnection` classes return directly a `http.client.HTTPResponse`. This ties our APIs directly to `http.client` which isn't desirable for future additions of new HTTP protocol implementations.

Instead our `HTTPConnection` APIs should return an instance of `urllib3.response.HTTPResponse` directly and shoul

[2022-06-21 16:44] sethmlarson commented on #2648
@shadycuz It sounds like you're on the right path!

[2022-06-21 16:53] sethmlarson commented on #2168
It'd be interesting to see which flavors of Linux are both using OpenSSL <1.1.1 and likely to update to urllib3 v2.0 as a part of their system libraries specifically. I suspect the list is extremely small. Given that information I'd like to consider only supporting OpenSSL 1.1.1+

[2022-06-21 17:04] sethmlarson commented on #2168
From this link: https://repology.org/project/openssl/versions

Linux flavors of interest:
- AlmaLinux 8 (OpenSSL 1.0.2 / 1.1.1)
- AlmaLinux 9 (OpenSSL 3.0)
- Alpine 3.8 (OpenSSL 1.0.2)
- Alpine 3.9+ (OpenSSL 1.1.1+)
- Amazon Linux 1 (OpenSSL 1.0.2)
- Amazon Linux 2 (OpenSSL 1.0.2/1.1.1+) :warning:
- Arch (OpenSSL 1.1.1)
- CentOS 6 (OpenSSL 1.0.1)
- CentOS 7 (OpenSSL 1.0.2)
- CentOS 8+ (OpenSSL 1.1

[2022-06-21 19:39] sethmlarson commented on #2168
@pquentin Brought up the case where a downstream packaged pip unbundles urllib3, if the user were to upgrade their system's installation of urllib3 they'd essentially brick their system and not be able to downgrade urllib3 using pip alone.

I'm not sure there's a way we can both use static build system and disallow users from installing urllib3 v2.0 on a system with OpenSSL <1.1.1 so any guard rai

[2022-06-21 19:51] graingert commented on #2168
The system unbundled pip is usually on a very old python version

[2022-06-21 20:47] winterqt commented on #2636
This seems reasonable to me, I don't see a (good) reason why a client would want to force a maximum version, if a server supports a version that's >= ssl_minimum_version, anyways.

I'm not sure if this is a good idea, though. Wouldn't this break compat with legacy servers unconditionally?

[2022-06-21 20:49] baverman commented on #2128
Does it really need to return at least n bytes? Or use a more usual socket behavior: return at least 1 byte?

[2022-06-21 22:13] sethmlarson commented on #2636
I think we should keep `ssl_maximum_version` for now if only to allow pairing with `ssl_minimum_version` to target a specific TLS version.

wrt forcing TLS 1.2+ always, the new default value is `ssl_minimum_version=TLSv1_2` so almost all users will be getting the behavior we desire, I think it's valuable to allow an escape hatch when users are connected to a legacy server.

[2022-06-21 23:53] winterqt commented on #2636
Doesn't this functionality already exist as `ssl_version`?

[2022-06-22 05:26] rtpg commented on #2242
I tried to the API described [in this comment](https://github.com/urllib3/urllib3/issues/2242#issuecomment-1023764816) in the PR #2652.

The biggest messiness comes from backwards compatibility for the object. In particular, around the `items` method. I ended up with just one toggle to get this work, but we could go for zero if we are OK with the break on that specific method.

I would appreciate

[2022-06-22 14:03] sebfournier95 opened #2653 "ssl.SSLError: [SSL: UNSAFE_LEGACY_RENEGOTIATION_DISABLED] unsafe legacy renegotiation disabled (_ssl.c:1131)"
### Subject

Error on SSL Connection

### Environment

OS Windows-10-10.0.19044-SP0
Python 3.8.12
urllib3 1.26.8

### Steps to Reproduce

[code]

### Expected Behavior

### Actual Behavior

[code]

[2022-06-23 15:04] graingert commented on #2653
see also https://github.com/python/cpython/pull/93927

[2022-06-23 18:38] #1992 closed

[2022-06-24 07:54] pquentin commented on #2653
What is the output of `python -c 'import ssl; print(ssl.OPENSSL_VERSION)'`? https://stackoverflow.com/a/71646353 suggests that this happens with OpenSSL 3.0 on legacy US government websites that disable [secure renegotation](https://www.ssllabs.com/ssltest/analyze.html?d=nomads.ncep.noaa.gov).

To solve the issue, you need a custom SSL context (again the StackOverflow answers explains how to do it

[2022-06-24 07:54] #2653 closed

[2022-06-24 09:28] sebfournier95 commented on #2653
python -c 'import ssl; print(ssl.OPENSSL_VERSION) = OpenSSL 3.0.3 3 May 2022

Do I need to pass in Python 3.12, I am under Python 3.9 ?

[2022-06-24 10:06] pquentin commented on #2653
Python 3.12 will be released in October 2023, I just mentioned for future readers. You can downgrade to OpenSSL 1.1.1 or use the following code:

[code]

[2022-06-24 10:57] sebfournier95 commented on #2653
Thank you that works well.

[2022-06-24 14:08] salahbsmdz opened #2654 "Problem with urllib3.HTTPResponse.geturl() type hint"
### Subject

Why the return type hint for `urllib3.response.BaseHTTPResponse.geturl()` is `Optional[Union[str, "Literal[False]"]]` but not `Optional[str]` ?

[2022-06-25 08:14] pradyunsg commented on #2580
Hiya folks, anything I can do to help move the discussion on this forward?

I'd really like to improve the error presentation of pip in this area (see https://github.com/urllib3/urllib3/issues/2580#issuecomment-1065507210), and it's unclear to me if there's any interest in doing anything for this. If so, if someone can help figure out actionable steps here, that'd be great. :)

[2022-06-25 17:09] illia-v commented on #2513
I created #2657. I've made some changes since the comment to keep having `IncompleteRead` raised.

[2022-06-25 18:37] AllMight2099 commented on #2409
Hey there!
I'm Nishanth, and I was hoping I could work on this issue, I had a few doubts I was hoping that could be clarified:
1. I'd like to get more clarification on what you mean by parameter. Does it mean a function parameter when we initialize a proxy object or is it something else?
2. Are there example tests that I could look at? I did look at the test folder, but wanted to confirm if I'm go

[2022-06-26 13:58] hramezani commented on #2654
Fixed by https://github.com/urllib3/urllib3/commit/ff402b824d5c35325625c4abfdcdf584ee3f3cb5

[2022-06-26 13:58] #2654 closed

[2022-06-27 01:07] jschneier commented on #2636
Happy to submit a PR to fix this given the prior art of `httpx` linked by @graingert. Is the work to integrate that + test?

Too bad the `HTTPHeaderDict` task was claimed, I believe I am the original author of it (nee `CaseInsensitiveDict` iirc?) heh.

[2022-06-27 06:57] graingert commented on #2636
Here's my first proposal at building a thing that would work with all versions:

https://gist.github.com/graingert/1e7ecb4e7cecf95972e574b904350515

The trouble is you can't support flags like `tls_max_version=TLSVersion.MINIMUM_SUPPORTED`

My fix in distributed was possible only because the flags supported are 1.2 and 1.3 https://github.com/dask/distributed/pull/6562

[2022-06-27 07:02] graingert commented on #2636
I think people needing this option should mutate the SSLcontext themselves rather than use the urllib3 wrapper

[2022-06-27 11:23] Bobronium commented on #624
I'd like to work on this.

I'll start from defining the scope and coming up with the strategy today.

Looks like there were multiple attempts to address this. @sethmlarson, could you give some insights on why #1030 was closed?

[2022-06-27 12:27] pquentin commented on #624
It was closed because we wanted to save it for the [v2 branch](https://github.com/urllib3/urllib3/tree/v2) that has died five years ago now, not because of anything specific in #1030 itself.

[2022-06-27 12:29] pquentin commented on #624
However the preferred path now is getting https://github.com/urllib3/urllib3/pull/2331 merged. It's very close but not quite there yet. I think @sigmavirus24 can't accept the bounty, so we might be okay to award a part of it to whoever gets that PR merged.

[2022-06-27 12:33] furkanonder commented on #2236
[PR](https://github.com/urllib3/urllib3/pull/2659) is ready to review.

[2022-06-27 12:52] pquentin commented on #624
Please open a new pull request with "Closes #2331, Cloess #624" in the description.

I'm not 100% sure about the bounty, so if that's an issue you may prefer to wait for @sigmavirus24 and @sethmlarson to confirm.

[2022-06-27 15:55] Bobronium commented on #624
Getting bounty is certainly desirable :)

[2022-06-28 00:24] sethmlarson commented on #2168
Probably not. Outside of anyone else bringing a good reason for us to support OpenSSL 1.1.0 or earlier we're going to drop support of OpenSSL <1.1.1. Going to update this issue appropriately.

[2022-06-28 01:01] sethmlarson commented on #2636
Now that we've changed https://github.com/urllib3/urllib3/issues/2168 to drop OpenSSL <1.1.1 I'm not sure this will be needed for v2.0.

[2022-06-28 01:13] pquentin commented on #2168
@mgorny Is requiring OpenSSL 1.1.1+ for urllib3 2.0 going to be a problem for Gentoo?

[2022-06-28 03:59] mgorny commented on #2168
Not at all, Gentoo stable is at 1.1.0o already.

[2022-06-28 03:59] mgorny commented on #2168
(Thanks for asking)

[2022-06-28 05:14] pquentin commented on #2168
Amazon Linux 2 has an openssl11 package but comes with OpenSSL 1.0.2 preinstalled:

[code]

But then it's also preinstalled with Python 2.7:

[code]

Updated the list above with that information. I don't think that changes our plans.

[2022-06-29 01:41] #2236 closed

[2022-06-29 13:57] #2589 closed

[2022-07-02 22:01] sethmlarson commented on #2628
Closed in https://github.com/urllib3/urllib3/pull/2627

[2022-07-02 22:01] #2628 closed

[2022-07-03 21:15] hodbn commented on #2580
Hi,

Integration of `structlog` to `urllib3` [via logging's formatters](https://www.structlog.org/en/stable/standard-library.html#rendering-using-structlog-based-formatters-within-logging) is [pretty simple](https://gist.github.com/hodbn/56d56b2529a5a3c54cfc6b4d999f9d7c#file-urllib3_structlog-py).
But for that to be useful, we need to clean up the formatted strings and embed more context to `urlli

[2022-07-05 10:42] jannielove opened #2668 "requests dependency for gdata and pandas"
this error return in pycharm CE i tried a few work arounds to no avail. any ideas?
requests 2.21.0 requires urllib3<1.25,>=1.21.1, but you have urllib3 1.26.9 which is incompatible.

[2022-07-05 12:04] pquentin commented on #2668
The urllib3 issue tracker is meant for urllib3 bugs, not general questions about using pip, so I'll have to close this, sorry.

See https://pip.pypa.io/en/stable/topics/dependency-resolution/#dealing-with-dependency-conflicts for more details about this issue.

[2022-07-05 12:04] #2668 closed

[2022-07-05 23:18] sethmlarson commented on #2636
Closing as superseded by https://github.com/urllib3/urllib3/issues/2168.

[2022-07-05 23:18] #2636 closed

[2022-07-07 17:12] graingert opened #2675 "document `sigstore verify` workflow"
the current documentation here https://twitter.com/sethmlarson/status/1545072787638870023 is missing the "--cert-email" flag and so would allow anyone with github OIDC to forge a urllib3 wheel

[2022-07-11 01:02] sethmlarson commented on #2409
The parameters would go on `ProxyManager.__init__` and get put into the `ProxyConfig` object with other proxy HTTPS config parameters.

For finding tests you can search for `assert_hostname` and `assert_cert_fingerprint` in the `test/` folder and see what's already there.

[2022-07-13 13:01] nmweizi opened #2677 "httpx how to add openssl parameters --groups X25519"
- https://kjt.hebei.gov.cn/ need to use parameters --groups X25519 to be able to connect ssl.
- example
   openssl s_client -connect kjt.hebei.gov.cn:443 --state **--groups X25519**
- urllib3 how to add openssl parameters **--groups X25519**

[2022-07-13 14:07] sethmlarson commented on #2677
There's no native urllib3 parameter for configuring your curve, but there may be for Python's `SSLContext` if I remember correctly? You can pass a configured SSLContext object via the `ssl_context` parameter to urllib3:

[code]

Hope this helps!

[2022-07-13 14:07] #2677 closed

[2022-07-14 15:53] illia-v commented on #1153
@Lukasa I uncovered a side effect of disabling buffering while I was working on fixing #2513. `http.client.HTTPResponse` cannot read more than 16 KiB at a time via SecureTransport. I provided a test and a possible fix in #2674. Could you please take a look?

BTW, I think the bug does not concern pip because it reads only 10 KiB at a time.

[2022-07-15 13:48] nmweizi commented on #2677
@sethmlarson thx

[code]

[code]

[2022-07-15 14:34] sigmavirus24 commented on #2677
The openssl your python is linked against doesn't support the curve you require.

[2022-07-15 17:10] sethmlarson opened #2680 "Deprecate [secure] extra"
## Are you seeing a DeprecationWarning?

Hello! If you're seeing one of the below messages in `DeprecationWarning` you're in the right place:

These warnings mean you're using deprecated code. But no worries! You can stop the deprecation warnings by following these steps:

- **If you're using Python 2.7.10 or later and OpenSSL 1.1.1+** (this is almost everyone) then you won't need the `urllib3[sec

[2022-07-15 20:52] sethmlarson opened #2681 "Deprecate the SecureTransport TLS implementation"
The SecureTransport implementation was added to support OpenSSL versions that didn't support TLS 1.2 and later on macOS. Python on macOS has been improved greatly over time that we're now in a place to force OpenSSL 1.1.1+ in Python and urllib3.

Now that there's little upside to using SecureTransport it's hard to justify the maintenance burden.

My proposal for now is:

- Create documentation for

[2022-07-19 20:50] #2513 closed

[2022-07-20 19:07] sethmlarson opened #2686 "Ensure urllib3 can operate without ssl features removed in Python 3.12"
Python 3.12 is removing many deprecated features of the `ssl` module:

- `PROTOCOL_TLSv*` (TLSv1, TLSv1_1, etc)
- `PROTOCOL_TLS`
- `SSLVersion.SSLv3`
- `SSLVersion.TLSv1`
- `SSLVersion.TLSv1_1`

See: https://github.com/python/cpython/pull/94599 cc @tiran

[2022-07-20 20:40] graingert commented on #2680
You can make `urllib3[secure]` depend on `urllib3-deprecated-secure` and then raise a DeprecationWarning if you see that module installed

[2022-07-27 16:48] kenyee opened #2690 "docs should mention Python 3.6 support was removed"
### Subject

The last update mentioned only Python 3.5 support was removed, but it's actually Python 3.6 that was removed because of:

urllib3/_collections.py:16, <module>
      from typing import OrderedDict as OrderedDictType

From https://docs.python.org/3/library/typing.html
class typing.OrderedDict(collections.OrderedDict, MutableMapping[KT, VT])
A generic version of [collections.OrderedDict]

[2022-07-27 18:16] hramezani commented on #2690
Actually, we are preparing urllib3 for version 2 and the code that you tested is from [main](https://github.com/urllib3/urllib3).
We've dropped Python3.6 from main.

On the other hand, we are still updating [1.26.x](https://github.com/urllib3/urllib3/tree/1.26.x). The latest release was `1.26.11`. And we support Python3.6 on `1.26.x`

[2022-07-27 18:16] #2690 closed

[2022-07-27 18:20] kenyee commented on #2690
ahh...thanks for the clarification :-)

[2022-07-28 02:01] sethmlarson opened #2691 "Add deprecation warnings for urllib3.contrib.pyopenssl"
#### Minimum requirements

- [x] Create a newsfragment about the deprecation
- [x] Add deprecation warning section to the pyOpenSSL docs
- [x] Emit a `DeprecationWarning` for urllib3's pyOpenSSL support when importing the `urllib3.contrib.pyopenssl` module. The deprecation should point to the new docs.
- [x] Add the `urllib3-secure-extra` dependency to the `secure` extra
- [x] Emit a `DeprecationW

[2022-07-28 02:02] sethmlarson opened #2692 "Add deprecation warnings for urllib3.contrib.securetransport"
#### Minimum requirements

- [ ] Create a newsfragment about the deprecation
- [ ] Add deprecation warning section to the SecureTransport docs
- [ ] Emit a `DeprecationWarning` for urllib3's SecureTransport support when importing the `urllib3.contrib.securetransport` module. The deprecation should point to the new docs.

[2022-07-28 02:25] butogon commented on #2168
Thank you

[2022-07-29 06:43] jeff-xiao-2021 opened #2694 "ProxyManager has memory leak"
hi, all. I find a bug in urllib3. When I use ProxyManager, I find my application memory leak. how to solve it? thanks.
Do i need close or release ProxyManager?

[2022-07-30 15:26] shadycuz commented on #2648
@sethmlarson

Do you want this research before or after my refactor? Please don't say both!

[2022-08-01 16:44] IvanLauLinTiong commented on #2691
Hi @sethmlarson,  quick question for task 5:
``Emit a DeprecationWarning for urllib3[secure] when it's detected that the urllib3-secure-extra package is importable. The deprecation should point to the new docs.``

Perhaps I miss out something, but I don't see the `urllib3-secure-extra` package resides here. Thus how do I add the `warnings.warn()`  method on the file ?

[2022-08-01 16:45] sethmlarson commented on #2691
@IvanLauLinTiong I uploaded the package `urllib3-secure-extra` to PyPI not long ago: https://pypi.org/project/urllib3-secure-extra

You'd add this package to our `[secure]` extra and then if it's importable (via `import urllib3_secure_extra`) then you know that the `[secure]` extra was used somewhere.

[2022-08-02 01:50] shadycuz commented on #2648
@sethmlarson

I'm too lazy to do the reaserch on the exceptions... so I spent the entire weekend building tools (yes plural) to do it for me...

[code]

The call to `http.client.HTTPConnection.getresponse()` results in 24489 visited AST nodes. It's possible for the following exceptions to be thrown and in this order:

[code]

The unique exceptions are:
[code]
The `EmptyRaise` is a bug from:

[code

[2022-08-04 17:20] IvanLauLinTiong commented on #2691
Hi @sethmlarson,  I managed to add `urllib3-secure-extra` to `secure` extra under `pyproject.toml`. However, I don't understand, how could we yank `urllib3-secure-extra` with the `DeprecationWarning` message if we  `import urllib3_secure_extra` ?  That's because from file `urllib3_secure_extra.py` it does not have `warnings.warn()` implemented or does it?:
![image](https://user-images.githubuserco

[2022-08-04 17:29] sethmlarson commented on #2691
@IvanLauLinTiong We wouldn't yank the package, it would only serve as a marker to show that the `[secure]` extra was installed. Instead of the warning being inside of `urllib3_secure_extra` module we'd have something like this within `urllib3/__init__.py`:

[code]

Let me know if this makes sense. Thanks for looking into this!

[2022-08-04 17:37] IvanLauLinTiong commented on #2691
@sethmlarson  I never thought that we can do it in this try-catch testing way.. Thanks for the pointer.

[2022-08-04 19:33] sethmlarson opened #2700 "Notify packages using urllib3[secure] about it's deprecation"
:dollar: **You can get paid to complete this issue! [Please read the docs for more information](https://urllib3.readthedocs.io/en/latest/contributing.html#getting-paid-for-your-contributions).**

### Packages to notify

- [x] selenium
- [x] scout-apm
- [x] cpp-coveralls
- [x] sentry
- [x] awscurl
- [x] mastercard-api-core
- [x] mastercard-oauth1-signer
- [x] cloud-files
- [x] google-assistant-sdk

[2022-08-06 17:14] jschneier commented on #2409
I've opened a PR that I believe implements this feature but need to add tests, however I could use some guidance since I'm not that familiar with proxy functionality.

I found the tests in `with_dummyserver/test_https.py` that can serve as a model for new ones in `with_dummyserver/test_proxy_poolmanager.py` but my confusion is about _what_ am I validating. Is it the connection to the proxy or the

[2022-08-06 18:25] jalopezsilva commented on #2409
@jschneier Good progress so far!

Your goal with the tests is to validate that the following [code](https://github.com/urllib3/urllib3/blob/d7378a1a3a0546409eab63a4e0c864774a4b6525/src/urllib3/connection.py#L649-L672) is executed when you are performing a TLS connection to the proxy. Both options ``assert_fingerprint`` and ``assert_hostname`` allow you to customize the SSL certificate verification

[2022-08-06 18:35] jschneier commented on #2409
@jalopezsilva thanks, and potentially. I believe you are saying that it is the proxy connection itself that we are testing because the destination is handled by the already existing (non-proxy) `assert_(hostname|fingerprint)`, right?

[2022-08-06 18:36] jalopezsilva commented on #2409
Exactly. We don't have any way to assert hostname/fingerprint for HTTPS proxy connections today and that's what this issue aims to resolve.

[2022-08-06 22:00] jschneier commented on #2409
@jalopezsilva I think this is now complete / ready for review!

[2022-08-07 22:59] macro1 commented on #383
What if `maxsize=0` disabled pooling?

With requests it would look something like:
[code]

It won't disable the connection pool today because `maxsize` is passed directly to [queue.LifoQueue](https://docs.python.org/3/library/queue.html#queue.LifoQueue) which basically makes it unbounded.

[2022-08-08 12:18] achapkowski opened #2704 "v2 and psf requests"
I hope this is the best place to ask this, but with v2 getting closer to release, is the urllib3 team working with the `requests` team to sync up the breaking changes?  I know they are different packages, but they do go hand in hand.

thanks

[2022-08-08 12:30] sethmlarson commented on #2704
Great question. We run the test suites of our two biggest dependencies (Requests and botocore) on each PR against the `main` branch: https://github.com/urllib3/urllib3/blob/main/.github/workflows/integration.yml

Does this answer your question?

[2022-08-08 12:59] achapkowski commented on #2704
@sethmlarson yes thank you!

[2022-08-08 12:59] #2704 closed

[2022-08-09 13:14] amitcs100 commented on #28
I am seeing this error with urllib3==1.26.9 as well.

[2022-08-09 13:53] pierky commented on #2055
I agree with this.

To not break backward compatibility, an extra argument (`max_connect_timeout` or whatever) could be introduced and eventually passed to [`create_connection`](https://github.com/urllib3/urllib3/blob/5862fe49b380671bb18d5f88674b870370de1ac5/src/urllib3/util/connection.py#L29), where it could be used in its loop over the results of [`getaddrinfo`](https://github.com/urllib3/urllib

[2022-08-09 14:05] shubham-yewalekar opened #2707 "parse_url() is not working for ipv6 hostname"
parse_url is not working for ipv6 hostname in the URL because it is unable to parse square brackets for the ipv6 hostname

urllib3 v1.24.3 used to work fine for ipv6 hostnames, but it is breaking from v1.25

[2022-08-09 14:17] sethmlarson commented on #2707
You'll have to give an example, otherwise this will be impossible to reproduce. Our test suite includes many instances of IPv6 working properly with `parse_url` so maybe you're hitting an edge-case?

[2022-08-10 10:14] umarfarouk98 commented on #2700
Created a Pull Request to https://github.com/scoutapp/scout_apm_python
https://github.com/scoutapp/scout_apm_python/pull/746

[2022-08-10 10:15] umarfarouk98 commented on #2700
###Created a Pull Request to Selenium
https://github.com/SeleniumHQ/selenium/pull/10932

[2022-08-10 10:22] umarfarouk98 commented on #2700
Created a Pull Request to cpp-coveralls
https://github.com/eddyxu/cpp-coveralls/pull/166

[2022-08-10 10:38] pquentin commented on #2700
@umarfarouk98 Make sure to only remove `[secure]`, not the whole urllib3 dependency!

[2022-08-10 10:41] umarfarouk98 commented on #2700
Yes i only removed secure and other modules aren't tampered with

[2022-08-10 11:10] pquentin commented on #2700
The current diff for cpp-coveralls look like this:

[code]

This means urllib3 will not be installed at all. Instead it should like this:

[code]

[2022-08-10 11:12] sethmlarson commented on #2700
When you're making changes you should start with `urllib3[secure] ` and should only remove the `[secure]` part, meaning `urllib3` and any version information will still be there.

Example: `urllib3[secure]>=1.26, <2` should get changed to `urllib3>=1.26, <2`

Also if urllib3 1.25.x or earlier is being installed you can leave the [secure] for those cases like scout_apm.

Can you fix your earlier PR

[2022-08-10 11:13] umarfarouk98 commented on #2700
noted, currently on it

[2022-08-10 11:52] umarfarouk98 commented on #2700
Created a Pull Request to mastercard-oauth1-signer
https://github.com/Mastercard/oauth1-signer-python/pull/41

[2022-08-10 11:57] umarfarouk98 commented on #2700
Created a Pull Request to cloud-files
https://github.com/seung-lab/cloud-files/pull/77

[2022-08-10 12:10] umarfarouk98 commented on #2700
Created a Pull Request to minet
https://github.com/medialab/minet/pull/446

[2022-08-10 12:16] umarfarouk98 commented on #2700
Created a Pull Request to cloud-volume
https://github.com/seung-lab/cloud-volume/pull/552

[2022-08-10 13:16] umarfarouk98 commented on #2700
Hi @sethmlarson the runway-python repo is in archive already.
<img width="1280" alt="Screenshot 2022-08-10 at 2 14 25 PM" src="https://user-images.githubusercontent.com/55334829/183910711-4d0f61d1-a718-466c-b6e1-89199a340420.png">

[2022-08-10 13:17] umarfarouk98 commented on #2700
Created a Pull Request to azure-cli
https://github.com/Azure/azure-cli/pull/23494

[2022-08-10 13:26] umarfarouk98 commented on #2700
Created a Pull Request to lyricsmaster
https://github.com/SekouD/lyricsmaster/pull/1094

[2022-08-10 13:29] sethmlarson commented on #2700
@umarfarouk98 FYI, you need to also be checking for `inject_into_urllib3` and do the other parts of this task if that's present, not only removing `[secure]`. For example in azure-cli `inject_into_urllib3` is present:

https://github.com/Azure/azure-cli/search?q=inject_into_urllib3

[2022-08-10 13:32] umarfarouk98 commented on #2700
ok i'll work on that now @sethmlarson

[2022-08-10 14:05] umarfarouk98 commented on #2700
modified inject_into_urllib3()
tunnel.py and custom.py azure-cli

[2022-08-10 14:07] umarfarouk98 commented on #2700
Created Pull Request to pyramid-oereb
https://github.com/openoereb/pyramid_oereb/pull/1598

[2022-08-10 14:16] umarfarouk98 commented on #2700
Created Pull Request to flexmeasures
https://github.com/FlexMeasures/flexmeasures/pull/473

[2022-08-10 14:24] umarfarouk98 commented on #2700
Created Pull Request to optimove
https://github.com/nicolasramy/optimove/pull/19
No "inject_into_urllib3()" used

[2022-08-10 14:36] umarfarouk98 commented on #2700
Created Pull Request to awscurl
https://github.com/okigan/awscurl/pull/145
No "inject_into_urllib3()" used

[2022-08-10 14:44] umarfarouk98 commented on #2700
Hi @sethmlarson
sentry doesn't seem to use the [secure] extra for urllib3
https://github.com/getsentry/sentry-python/

[2022-08-10 14:57] umarfarouk98 commented on #2700
Created Pull Request to google-assistant-sdk
No "inject_into_urllib3()" used
https://github.com/googlesamples/assistant-sdk-python/pull/441

[2022-08-10 15:08] umarfarouk98 commented on #2700
Created Pull Request to mastercard-api-core
https://github.com/mfuery/mastercard-core-api-python/pull/2
No "inject_into_urllib3()" used

[2022-08-10 15:23] umarfarouk98 commented on #2700
Hi @sethmlarson please could you point me to the comet-git-pure repo.
finding it hard to locate

[2022-08-10 16:25] sethmlarson commented on #2700
@umarfarouk98 If you can't locate the repo that's fine, I also can't find it so we tried our best :)

For the PRs that require a CLA like azure-cli and the Google Assistant one can you sign the CLA so the PR can be accepted? Thanks!

[2022-08-10 16:27] umarfarouk98 commented on #2700
@sethmlarson think this might be it, not sure but i created a PR to it
https://github.com/comet-ml/dulwich/pull/1

[2022-08-10 16:29] umarfarouk98 commented on #2700
Also i've signed the CLA for both azure and the google assistant-sdk

[2022-08-11 04:58] IvanLauLinTiong opened #2709 "`format` session fail to run locally on Window platform"
### Subject
When I ran `nox -rs format` to format the files,  the format process terminates due to `FileNotFoundError` reported at line 139 at file `noxfile.py`:

![image](https://user-images.githubusercontent.com/23013350/184066564-3a322445-c7b8-48ba-8ee9-4e747e964037.png)

### Environment
Window 10

### Steps to Reproduce
Just ran `nox -rs format` on Window machine.

I suspect the created `proce

[2022-08-11 06:03] pquentin commented on #2700
https://pypi.org/project/sentry/ on PyPI is the Sentry *server*, whose repo is https://github.com/getsentry/sentry. They don't require `[secure]` in their direct dependencies, but they depend on Selenium. So there's nothing to do yet.

This is only a fork, I think upstream is https://github.com/jelmer/dulwich. It has active pull requests. Can you please open a pull request there instead?

[2022-08-11 06:07] pquentin commented on #2709
Nice catch! Actually we can completely remove the call to `pre-commit run --all-files` in `format()`, since `lint()` calls it already. Can you please open a pull request to do that?

[2022-08-11 06:24] umarfarouk98 commented on #2700
ok will create the pull request to  https://github.com/jelmer/dulwich. now

[2022-08-11 06:36] umarfarouk98 commented on #2700
create the pull request to  jelmer/dulwich
https://github.com/jelmer/dulwich/pull/998
No "inject_into_urllib3()" used

[2022-08-11 10:15] ycwang-hello opened #2710 "HTTPResponse does not support "seek""
I want to read only part of a very large hdf5 file on the Internet (the file is too large so I don't want to get the full content):
[code]
However, an exception occurred:
[code]
It seems that `urllib3.response.HTTPResponse` does not support the `seek` method, so it is somewhat different from a file-like object. But `h5py.File` seems to need `seek()`.

Is it possible to support `seek()`, or are the

[2022-08-11 10:32] pquentin commented on #2710
It's not possible to support seek with streaming downloads: `HTTPResponse` with `preload_content=False` only supports reading more data. To support seek we would have to keep data in memory.

[2022-08-11 10:32] #2710 closed

[2022-08-11 11:29] IvanLauLinTiong commented on #2709
@pquentin
Ya, It seems the `lint()` calls it already. I can create the PR for that.

Before this, my another question is: what's the difference between `format()` and `lint()`?  From the code, they seems doing the same thing. Can we completely remove  `format()` function from the file  or we might add on something in this function in the future?

[2022-08-11 11:40] pquentin commented on #2709
We're using pre-commit right now, and indeed it's good practice with pre-commit to have a single command to lint and format. That way when `git commit` fails you can simply apply the resulting fixes. So we could change the body of `format()` to just call `lint()`.

Why keep `format()`, then? Four reasons:

 * `nox -rs format` is more explicit, we don't have to mention to contributors that `nox -rs

[2022-08-11 14:40] IvanLauLinTiong commented on #2709
@pquentin
I see. thanks for the explanation :)

[2022-08-11 15:14] IvanLauLinTiong commented on #1885
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:15] IvanLauLinTiong commented on #1768
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:16] IvanLauLinTiong commented on #1071
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:16] IvanLauLinTiong commented on #892
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:17] IvanLauLinTiong commented on #855
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:18] IvanLauLinTiong commented on #367
pyOpenSSL is deprecated and will be removed in future release version 2.x (https://github.com/urllib3/urllib3/issues/2691).

[2022-08-11 15:20] IvanLauLinTiong commented on #2691
All issues in the issue tracker about pyOpenSSL:
- #2168
- #1885
- #1768
- #1071
- #892
- #855
- #590
- #367

[2022-08-11 15:41] sethmlarson commented on #2691
Thanks @IvanLauLinTiong! I'll look to close these issues if they're no longer necessary.

[2022-08-11 15:49] graingert commented on #2691
ModuleNotFoundError

[2022-08-11 15:58] graingert commented on #2691
Why not?

[2022-08-11 16:38] umarfarouk98 commented on #2700
Hi @sethmlarson  @pquentin is there anything left for me to do ?

[2022-08-11 20:08] sethmlarson commented on #2700
@umarfarouk98 Let me run one more query to make sure we've got all the packages in the list. I'll let you know by the end of the day if there's any more work to do.

Thanks for all your work so far!

[2022-08-11 21:36] sethmlarson commented on #2691
Because that would break old versions' reproducibility unnecessarily? The break can happen at the time the actual code  and extra are removed just as well.

[2022-08-11 21:37] #367 closed

[2022-08-11 21:37] #855 closed

[2022-08-11 21:38] #1885 closed

[2022-08-11 21:50] graingert commented on #2691
A yank isn't supposed to do that

[2022-08-11 22:21] sethmlarson commented on #2691
Yanks won't break if you're installing via `urllib3_secure_extra==...` but that's not how the `[secure]` extra depends on the package. So if someone was installing via `python -m pip install urllib3[secure]` (or more likely, was installing a package that had `install_requires=["urllib3[secure]"]` they would start seeing an error if we were to yank.

[2022-08-11 22:26] sethmlarson commented on #2700
@umarfarouk98 Okay I checked the list again and it looks like every package is covered, thank you for doing this. You can submit the invoice to the Open Collective for $300.

I just ask that you don't close the PRs you've opened so the maintainers of those repositories can see them and if you have any time to get them across the finish line it'd be appreciated but not necessary to be paid for the

[2022-08-11 22:26] #2700 closed

[2022-08-11 22:31] graingert commented on #2691
Ah I see, I hadn't thought about it that way. I still think you should yank it one day

looking at pypistats will inform what to do, eg you could yank it on Fridays and unyank it on Mondays

[2022-08-12 02:54] umarfarouk98 commented on #2700
OK @sethmlarson thanks to you too, I'll try to do a follow up on the PRs also.

[2022-08-12 17:08] #2707 closed

[2022-08-12 17:08] sethmlarson commented on #2707
Closing for now due to lack of information. We can reopen if information is provided.

[2022-08-13 10:54] umarfarouk98 commented on #2577
Hi @sethmlarson check this patch out which i add to fix the issue on proxy_ssl_context
`if use_forwarding_for_https == True and proxy_ssl_context != None:
            if isinstance(proxy_ssl_context, ssl.SSLContext) != True:
                self.proxy_config = ProxyConfig(proxy_ssl_context, use_forwarding_for_https)

            elif proxy_ssl_context == ssl.SSLContext:
                raise Value

[2022-08-14 00:17] umarfarouk98 commented on #2681
Hi @sethmlarson i've added the deprecation warning to the inject_into_urllib3() method in the securetransport module.
Just a quick questions:

1. Hope it's fine to reference the warning to the https://urllib3.readthedocs.io/en/stable/reference/contrib/securetransport.html section of the doc as the deprecation notice will also be in this section of the doc.

[code]

[2022-08-16 13:25] pquentin commented on #2168
I totally forgot about LibreSSL here, we need to decide if we're going to remove support following PEP 644 or not. If not, we need to check things like: can we rely on the SNI TLS extension always being here?

I'm personally tempted to remove support like Python 3.10 did.

[2022-08-17 07:05] pquentin commented on #2707
Also note that we improved URL parsing various times after 1.25.0, please try our latest version.

[2022-08-17 13:41] #2709 closed

[2022-08-17 22:02] #2409 closed

[2022-08-17 22:06] sethmlarson commented on #2691
Closed in https://github.com/urllib3/urllib3/pull/2701 and https://github.com/urllib3/urllib3/pull/2713.

[2022-08-17 22:06] #2691 closed

[2022-08-17 22:13] sethmlarson commented on #2694
You're going to have to provide a lot more context, otherwise we can't help solve your problem. Things like Python version, urllib3 version, example code you're using, etc. Since you haven't followed the template I'm going to close this issue, if you provide the information requested we can reopen.

[2022-08-17 22:13] #2694 closed

[2022-08-19 05:47] pquentin commented on #2168
@sethmlarson shared some ssl stats about PyPI downloads at large. There are downloads from OpenSSL, LibreSSL, CiscoSSL and wolfSSL. The summary:

| Library  | Percentage of all PyPI downloads |
| ------------- | ------------- |
| OpenSSL 3.0.x  | 1.0%  |
| OpenSSL 1.1.1 | 76.6% |
| OpenSSL < 1.1.1 | 22.2% |
| LibreSSL  | 0.2%  |
| Others | ~0% |

(OpenSSL < 1.1.1 is still big but remember that thi

[2022-08-19 15:13] sethmlarson commented on #2168
Some more arguments for using our v2.0 boundary to drop LibreSSL ahead of the PEP 644 schedule:

- We don't test LibreSSL at all today. We're making large changes to how urllib3 uses the `ssl` module and it's hard to be confident about these changes without testing against LibreSSL. This adds additional burden to us for a very small and timeboxed benefit.
- Users will need to change to OpenSSL eve

[2022-08-19 15:14] sethmlarson commented on #2168
Given all the above reasons I'm proposing explicitly raising an error for urllib3 v2.0 when a non-OpenSSL `ssl` module is detected.

[2022-08-19 18:53] pquentin commented on #2681
Yes, links to the docs are one honking great idea -- let's do more of those!

[2022-08-19 18:54] pquentin commented on #2577
You will need a pull request with tests before we can review your code.

[2022-08-19 22:42] umarfarouk98 commented on #2681
OK nice @pquentin I'll try to work on the remaining task.

[2022-08-19 22:44] umarfarouk98 commented on #2577
OK @pquentin noted I'll work on that also